---
layout: post
status: publish
published: true
title: inet-tr 2011
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "İnet-tr'ye dair kendi adıma bir şeyler yazayım dedim:\r\n\r\n"
wordpress_id: 181
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=181
date: '2011-12-03 18:45:34 +0200'
date_gmt: '2011-12-03 16:45:34 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>İnet-tr'ye dair kendi adıma bir şeyler yazayım dedim:</p>
<p><a id="more"></a><a id="more-181"></a>- Ayşe Kaymak'ın da olduğu hukuk oturumunda bilişimciler "5651'de logları 1 yıl kaydedin demiş ama biz sürekli kaydediyoruz, devlet gelir sorar diye silmekten korkuyoruz" dediler. "Birisi 'yetkili olmadığı' bir sayfaya yanlışlıkla da girse suç mudur" gibi bir soru geldi, haneye tecavüze benzetip suçtur denildi, ama sanki bu konuya hackerlık açısından da bakmak lazım. "Hukuk"tan genelde suç tanımlamayı anlıyoruz (avukatlar da öyle anlıyor) ve "suç" ile internet yanyana gelince durmadan çelişki yaratıyor...</p>
<p>- DPI'la ilgili bilgilere hakim olmadığım için biraz spekülatif bir sunum yaptım (<a href="/images/content/dpi.ppt">ekte</a>). "Makalemizi okuyabilirsiniz, ekitap da yapacağız" dedim. Bu oturumda da "takip kötü bir şey, ama mesela müvekkilime cinsel taciz yapan kişiyi bulmak için takip sistemi lazım değil mi?" gibi çelişkiler açığa çıktı. Biraz tartışınca gözetim sistemine herkes karşı çıkıyor, ama ne yapılabileceği belli değil. (not: sunumda girmedim ama DPI'ın çok faydalı olabildiğini söylüyordu Erdem. "Açık kaynaklı, sabit konfigürasyon ve tam otomatik" olması şartıyla belllki kabul edilebilir diye düşündüm ama bilmiyorum tartışmaları.)</p>
<p>- Burak Doğu Van ve sosyal medya konulu bir sunum yaptı, yazısını da "Cesur Yeni Medya 2" ekitabı için bize gönderecek. Aynı oturumda Aslı Tunç arap baharı-iletişim-ows'den bahsetti ve "bir yanda siber-iyimserler sosyal medyaya fazla paye biçiyor, öbür yanda siber-kuşkucular 'slacktivizm' eleştirisi getiriyor" dedi. (not: 'slacktivizm' eleştirisine 'eylem kaçkınlığı' eleştirisi veya fedakarlık talebi de diyebiliriz belki ve "ne uğruna ne feda edilecek? ya bu iki şey aynıysa?" diye sorabiliriz).</p>
<p>- İnternet medyası oturumunda tasarının hem içerik hem usul bakımından olumsuz yanlarını konuştuk. Sarı basın kartının da zaten içinin boşaltılmış olduğunu, devlet onayı (akreditasyon) olmadan başbakanın yanına yaklaşılamadığını öğrendik. Katılım hiç az değildi, ama belki sabah saati olduğundan, belki de her şey ortada olduğundan ikna olma eğilimindeydiler, sakin sakin sohbet gibi oldu.</p>
<p>- "Demokrasi" oturumunda CHP, MHP gelmişti, AKP gelmemiş, BDP'yi çağırmak unutulmuştu... CHP'nin söylemi "internet kendi başına değişim yaratmaz, ancak sistematik örgütlenme ile değişim yaratılır, bir dayanak noktası olmalı ki bişeyler yerinden oynasın" mesajı verdi. (not: kulağa hoş gelebilir ama tabi burada "sistematik örgütlenme" ile kodlanan şey CHP'nin kendisinin varlık göstermesi. kendi dışını kendisinin eksik olduğu bir boşluk olarak görme, sonra da gittiği her yerde kendi sembollerini dalgalandırma çabası pek yabancı değil. sonra bayraklardan göz gözü görmüyor..)</p>
<p>- Sansür oturumunda farklı bir hava esti, canlı ve dostane bir tartışma döndü. Masanın bir ucunda "siber-kuşkuculuk" (içimize kapanıp fanus oluyoruz, bilmeyenlere ulaşmamız gerekir, çok çalışmamız gerekir...), öbür ucunda "siber-iyimserliğin" (erdem: ben özellikle çocuklardan umutluyum, durum hızla değişebilir, aynı şeylere takılıp kalmayalım, eski solcu gibi olmayalım) temsil edildiğini görmek de ilginç oldu..</p>
<p>Oturum başladıktan sonra çabucak bir paylaşım ortamına döndü (sosyal medya gibi?), yaşanan olaylar, düşünceler... arada da "şunları yapabiliriz, iyi olur" deniyordu. Bir yerde "şunu da yapmalıyız, bunu da yapmalıyız"a döndü ve yüklemin üstüne bastırdıkça içerik soyutlaşmaya başladı. Sonra nasıl olduysa "televizyon mu daha zararlı internet mi" gibi garip bir tartışmaya girdik ve hava bozar gibi oldu. Sonra bir şekilde "yararlı-zararlı kavramlarıyla tartışmak başkası adına karar vermektir, internette herkes kendi kararını verir, bu kavramları terk edelim" deyip baştaki paylaşım-anlatım ağırlıklı biçime döndük...</p>
<p>Salonun bir bütün halinde tartışması, tartışmanın farklı biçimler alması, tıkandığında da beraberce çıkılabilmesi ilginç bir deneyim oldu diyeyim.  (bir de detay: diğer oturumlarda konuşmacılar (özellikle beğenilenler, ama hürmet ister gözükenler de, alkış boşluğu hissiyatıyla belki) ayrı ayrı alkışlanarak tebrik edilirken; sansür oturumunda bütün toplantı sona erdiğinde hep beraber bir kez alkışlandı, 'iyi ki buluştuk' der gibi. zizek'in <a href="http://www.lrb.co.uk/v27/n06/slavoj-zizek/the-two-totalitarianisms">nazi/sovyet karşılaştırmasını </a>hatırlattı)</p>
<p>Orada tanıştığımız arkadaşlardan aldığımız bilgiler: Ege Üniversitesi'nde öğrencilerin yapacağı afiş-bildiri-ilan her boyuttaki bütün fotokopilerin orijinal kopyasına soğuk damga ve imza gerekiyormuş. Mesela 10 tane imzalatmak istersen "o kadar olmaz, azaltın" deniyormuş. Bilg. Müh. bölümündeki kantin "öğrenciler tartışıyor fikir sahibi oluyor" diye kapatılmış. Yakındaki bir kafeyle anlaşmalı olduğuna dair rivayetler varmış. Turnikeler yapılmış, yurtlara parmak iziyle giriliyormuş... Bizim oturduğumuz, öğrencilerin hizmet verdiği ama "sadece personel için" gibi uyarılar içeren Yeşil Köşk diye restoranımsı bir yerdi. Kampüste akşam saati açık olan başka yer de yok sanırım.. Böylece "üniversiteyle de temas kurmuş" olduk.</p>
