---
layout: post
status: publish
published: true
title: Kırmızı hapı seçmek - Sneakers (1992)
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "Bizim gibi \"televizyon çocukları\" için 90'ların hollywood filmlerini izlemek,
  kendi kafanın içine girip bakmak gibi bir şey. O zamanki özel kanallarda o kadar
  çoğunu izlemişizdir, o filmlerde yansıtılan değer ve imgelere o kadar maruz kalmışızdır
  ki, bu filmleri izlemek eski arkadaşlarla buluşmak kadar tanıdık gelir.\r\n\r\nEski
  bir filmi bugünkü aklımızla izlerken, filmdeki saçmalıkları, yanlışlıkları fark
  ettikçe, sadece o zamanki aklımızın eksikliklerine değil, o günden bugüne bilinçdışımızda
  yaşamış, belki hayal gücümüzün ve dünyadan beklentilerimizin sınırlarını çizmiş
  olan bu \"hollywood çerçevesinin\" tüm eğriliklerine şaşakalırız. Yani sahteliği
  görürüz, ama yılların şartlanmasıyla bunları beğenmekten, huzur bulmaktan kendimizi
  alamayız.\r\n\r\n[caption id=\"attachment_96\" align=\"alignnone\" width=\"462\"
  caption=\"Cosmo ve Marty\"]<a href=\"/images/content/vlcsnap-2011-07-04-00h28m27s241.png\"><img
  class=\"size-full wp-image-96\" title=\"vlcsnap-2011-07-04-00h28m27s24\" src=\"/images/content/vlcsnap-2011-07-04-00h28m27s241.png\"
  alt=\"Cosmo ve Marty\" width=\"462\" height=\"369\" /></a>[/caption]\r\n\r\nBu kısa
  girişten sonra filme gelelim. Sneakers (Şifreciler), bundan 19 yıl öncesine ait
  bir \"hacker filmi\". O günden bugüne dünya çok değişti, hatta bilişim dünyası çok
  çok değişti. Yine de değişmeyen temel şeyleri görmek ilginç, klavye, ekran gibi.
  O zamanlar fare olmasa da...\r\n\r\n"
wordpress_id: 87
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=87
date: '2011-07-04 00:00:11 +0300'
date_gmt: '2011-07-03 22:00:11 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>Bizim gibi "televizyon çocukları" için 90'ların hollywood filmlerini izlemek, kendi kafanın içine girip bakmak gibi bir şey. O zamanki özel kanallarda o kadar çoğunu izlemişizdir, o filmlerde yansıtılan değer ve imgelere o kadar maruz kalmışızdır ki, bu filmleri izlemek eski arkadaşlarla buluşmak kadar tanıdık gelir.</p>
<p>Eski bir filmi bugünkü aklımızla izlerken, filmdeki saçmalıkları, yanlışlıkları fark ettikçe, sadece o zamanki aklımızın eksikliklerine değil, o günden bugüne bilinçdışımızda yaşamış, belki hayal gücümüzün ve dünyadan beklentilerimizin sınırlarını çizmiş olan bu "hollywood çerçevesinin" tüm eğriliklerine şaşakalırız. Yani sahteliği görürüz, ama yılların şartlanmasıyla bunları beğenmekten, huzur bulmaktan kendimizi alamayız.</p>
<p>[caption id="attachment_96" align="alignnone" width="462" caption="Cosmo ve Marty"]<a href="/images/content/vlcsnap-2011-07-04-00h28m27s241.png"><img class="size-full wp-image-96" title="vlcsnap-2011-07-04-00h28m27s24" src="/images/content/vlcsnap-2011-07-04-00h28m27s241.png" alt="Cosmo ve Marty" width="462" height="369" /></a>[/caption]</p>
<p>Bu kısa girişten sonra filme gelelim. Sneakers (Şifreciler), bundan 19 yıl öncesine ait bir "hacker filmi". O günden bugüne dünya çok değişti, hatta bilişim dünyası çok çok değişti. Yine de değişmeyen temel şeyleri görmek ilginç, klavye, ekran gibi. O zamanlar fare olmasa da...</p>
<p><a id="more"></a><a id="more-87"></a>Beni filme ulaştıran, hacker grupları <a href="http://www.deathandtaxesmag.com/107061/lulzsec-and-anonymous-launch-operation-antisec-claim-secret-hacking-underway/" target="_blank">LulzSec ve Anonymous hakkında yazılmış bir yazı</a>ydı. Yazıda eski arkadaşlar olan <a href="http://www.youtube.com/watch?v=coDtzN6bXAM&amp;feature=BFa&amp;list=PLF342315CB1BB4C0F&amp;index=2" target="_blank">Cosmo ve Marty'nin karşılaştığı bir sahne</a>den bahsediliyor.</p>
<p>Filmi özetlersek, Cosmo ve Marty gençlik heyecanıyla banka sistemlerini kırıp, devletin parasını aktivist kuruluşlara aktarmanın yolunu bulurlar. Sonra polis evlerini basıp Cosmo'yu hapse atarken Marty kaçıp izini kaybettirir. Yıllarca hapishanede haset biriktiren Cosmo, kurduğu gizli örgütle Marty'yi tuzağa düşürüp esir alır ve Marty'nin elindeki elektronik maymuncuk cihazını ele geçirir. Burada yukarıda bahsettiğimiz sohbet gerçekleşir. Bu konuşmalarda Cosmo büyük fikirlerini anlatır, ama Marty de Cosmo'nun zihnini okur gibidir. Cosmo daha sonra Marty'nin eski suçunu açık ederek devlet onu hapse atsın, cezasını bulsun diye serbest bırakır. Yıllardır kendi güvenlik ekibi ve teçhizatı olan Marty de armut toplamadığını göstermek üzere müthiş bir operasyonla cihazı Cosmo'dan geri alır. Filmin sonlarında eli boş kalan Cosmo'nun "hayır ben kazanmıştım, dur gitme" diye Marty'ye hava atamadığı için üzüldüğünü görüyoruz. Ve nihayet devletle de işini bağlayan Marty, finalde Cosmo'yla olan gençlik düşlerini de gerçekleştirerek, zenginlerin parasını aktivist örgütlere aktarıyor.</p>
<p>Filmde esas oğlanın Marty olduğunu, Cosmo'nun daha akıllı ama haset duyan bir çeşit "kötü adam" olduğunu, en sonda da Marty'nin kazandığını belirtelim. Bu iki karaktere "iyi hacker" ve "kötü hacker" dersek, hollywood evreninin bu iki stereotipini süzüp çıkarmayı deneyebiliriz.</p>
<p>Tek tek farklılıklara girmeden önce şu detay önemli: Cosmo'nun düşüncesini belirttiği birkaç sahnede Marty'nin leb demeden leblebiyi anladığını görüyoruz. Yani Marty aslında içten içe Cosmo'nun fikirlerine katılmaktadır, ama şartlar gereği farklı bir inancı-düşünceyi-davranışı tercih etmektedir. Cosmo özü-sözü bir olan bir egzantrik kişilikken, Marty Cosmo'dan öğrendiklerini bastırarak "normal bir erkek" olmayı seçer, ideolojiye gömülür. Marty'nin normalleşmesinde, Cosmo hapiste her şeyden mahrumken beraber olduğu ve şimdi de yanında olan eski kız arkadaşı Liz önemli bir unsurdur.</p>
<p><strong>Dünyayı değiştirmek</strong></p>
<p>Cosmo, şirketleri, bankaları, borsaları, ülkeleri hatta tüm dünya ekonomisini çökerterek, böylece zenginlik ve yoksulluğu ortadan kaldırarak eşitliği sağlamayı tasarlamaktadır. Yani bir çeşit komünist/anarşisttir:</p>
<blockquote><p>"Bütün mülkiyet kayıtlarını yok et. Düşün Marty. Zengin insan yok, fakir insan yok. Herkes aynı. Hep istediğimiz şey bu değil miydi? Dünyayı başka kim değiştirecek Marty? Greenpeace mi?"</p></blockquote>
<p>Bu söze "Delisin sen.." deyip gülerek tepki gösteren Marty ise aksine Greenpeace, Uluslararası Af Örgütü gibi kuruluşların dünyayı değiştireceğine inanır, ya da en azından bu inanca değer verir. Final sahnesinde buralara yasadışı olarak para aktardığını görürüz.</p>
<p><strong>Dünya görüşü</strong></p>
<p>Cosmo, dünyanın yapısını elektronik bilgi akışıyla açıklar. Bu yüzden elektronik erişim, doğrudan doğruya dünyayı değiştirme gücüdür:</p>
<blockquote><p>"Dünyayı artık silahlar yönetmiyor, enerji ve para da... Dünyayı artık sıfırlar ve birler yönetiyor, küçük veri parçaları. Elektronlar sadece."</p></blockquote>
<p>Ama Marty buna karşılık gençken yaptıklarına "sadece bir oyundu" diyerek kendi geçmişini reddeder, Cosmo ile yaptıklarını hayatından dışlar. Ama finalde yaptığı yasadışı para transferleri, aslında bu ideallere gizliden sahip çıktığını, yani bir anlamda Cosmo'dan rol çaldığını gösterir.</p>
<p><strong>Mavi hap</strong></p>
<p>Taşıdığı bilgiyi tüm sonuçları ve sorumlulukları ile üstlenmeye hazır olan Cosmo, Marty'yi de yanına çağırmaktadır. Fakat Marty, bu yükü taşımak yerine, bilgiyi görünmez hale getirerek normal yaşantısını sürdürmek istemektedir. Yani bu iki tavır bir anlamda Matrix filmindeki kırmızı ve mavi haplara karşılık gelir. Fakat Matrix'in 99'daki evreninde Neo'nun tek akılcı seçeneği kırmızı hapken, Sneakers'ın 92'deki evreninde hala mavi hapı seçip normal bir yaşam sürmek mümkündür. Böylece Marty, Cosmo'nun söylediklerinin doğru olduğunu bilse dahi ancak mavi hapı seçerek "esas oğlan" olabilmektedir.</p>
<p><strong>Yıl 2011</strong></p>
<p>Günümüze dönelim. Büyük devletleri ve şirketleri hedef alan, sızdırma ve saldırı eylemleri düzenleyen Wikileaks, Anonymous ve LulzSec gibi grupların bugünkü dünyadaki rolü nedir? Hedef aldıkları white hat (yasalcı) hackerların rolü nedir?</p>
<p>Hacktivist eylemler pratik sonuçlarıyla orantısız, çok yaygın bir etki yapabiliyor. Bu durumu anlamak için günümüzün ideolojik atmosferi büyük önem taşıyor. </p>
<p>Sorumuz şu: Nasıl oluyor da önceden hiç duymadığımız birilerinin bu eylemlerine sempati duyabiliyoruz? (şayet onların ABD ya da başka "tanıdık" bir güdümde olmadıklarına ikna olmuşsak) Yoksa onları bir yerlerden tanıyor muyuz? Cosmo'nun Marty'nin "karanlık yüzü" olması gibi, Assange veya Anonymous gibi figürler ABD, Mastercard gibi büyük güçlere meydan okuyarak bizim gizli arzularımızı mı gerçekleştiriyorlar? Peki bu sempati bizi daha başka, isyancı bir yönelime mi sevkediyor, yoksa tatmin sağlayarak "normal yaşantımızı" kolaylaştırıyor mu?</p>
<p>Assange örneğinde, eyleme ancak dolaylı olarak katılabildiğimiz için gerçek politik sonuçları saymazsak, çıkardığımız tatminle kaldığımızı söyleyebiliriz. Ama Anonymous, bizi doğrudan doğruya "isyana katılmaya" çağırarak oyunun kurallarını yeniden değiştiriyor. Şirketler nasıl hizmetleri bir tık öteye getiriyorsa, Anonymous da "hacktivizmi" bir tık ötemize getirdi. Yine de eyleme katılanların kimlikleri gizli kaldığı için, hackerlığı sözlü olarak reddedip sonra sessizce yapan Marty'den öteye gidilemiyor. Yapılan şey tam olarak politik bir eylem olamıyor, yani yine bir çeşit "mavi hap" bu. Hepimiz tek tek Marty'yiz, ama gizlice Cosmo'yu da yaşatıyoruz.</p>
<p><strong>Kırmızı hap</strong></p>
<p>Peki "kırmızı hap" tam olarak nedir?</p>
<p>Öncelikle dünyanın nasıl yönetildiği, ne gibi eşitsizlik ve adaletsizliklerin olduğu, bunların nelerden kaynaklandığı gibi konular üzerine temel bir bilgiyle, bir çeşit dünya görüşüyle yola çıkmak gerekiyor. Eğer bu temel bilgiden kaçınırsak, belki belirli zevklerle kısıtladığımız hayatımızla yetinebilir, memnun bile olabiliriz, ama mavi hapı seçmiş oluruz.</p>
<p>Sahip olduğumuz bilgiyi tam anlamıyla üstlenmek, kişisel-kurumsal isimlerle, yani pratik kamusal-politik yaşam zemininde hareket etmemizi gerektiriyor. İlla yasal olmak, devletlerce tanınmak gerekir demiyorum. Ama "politik" bir eylemde bulunmak için bir çeşit kamusal meşruiyeti zemin almak gerekir. Marty gibi bildiklerimizi kendimize saklamayı, gizlice eylemde bulunmayı seçersek belki bu bilgiyle ve yaptığımız küçük şeylerle kendimizi tatmin edebilir ve doğacak büyük sıkıntılardan kaçınabiliriz, ama yine mavi hapı seçmiş oluruz.</p>
<p>Son olarak, o bilgiyi kaybetmeden taşımak ve sürekli güncel tutarak geliştirmek gerekir. Yani araştırarak öğrenmek ve başkalarına aktarmak, bilgiyi paylaşarak-dağıtarak büyütmek için sürekli çaba gösterilmesi lazımdır. Kendi bilinçli varlığımızı tüm dünyaya ilan ettikten sonra bu etkinliği geliştirmeye, başkalarını katmak için uğraşmaya üşenirsek, belki mevcut halimizden gurur duyabiliriz, ama yine mavi hapı seçmiş oluruz.</p>
<p><strong>Sonuç</strong></p>
<p>O zaman yapılacak üç temel şeyi sayalım:</p>
<ol>
<li>Bir dünya görüşüne sahip olmak, bu temel bilgiden yola çıkmak.</li>
<li>Kendini ve ait olduğun topluluğu adlandırmak, kamusal meşruiyet alanında hareket etmek.</li>
<li>Taşınan bilginin topluluğa tam olarak nüfuz etmesi, araştırma ve öğrenme ile sürekli güncellenerek geliştirilmesi.</li>
</ol>
<p>Bir filme ve çağrıştırdıklarına bakarak, bilginin kullanımı üzerine bir çeşit "politik etik" geliştirmek ne kadar mantıklı bilmiyorum. Hayal gücü hollywood evreni etkisinde kalmış (sakatlanmış?) bir televizyon çocuğu olarak elimden bu geliyor. Herkese iyi günler...</p>
<p>Işık Barış Fidaner</p>
