---
layout: post
status: publish
published: true
title: 'Hanoi yolu: Yol çukurları ve öngörüye dair - Julian Assange'
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "<a href=\"http://yersizseyler.files.wordpress.com/2013/11/pothole.jpg\"><img
  src=\"http://yersizseyler.files.wordpress.com/2013/11/pothole.jpg\" alt=\"pothole\"
  width=\"500\" height=\"303\" class=\"alignnone size-full wp-image-1234\" /></a>\r\n\r\nNeredeyse
  tanıştığım herkes genç Che Guevara'yı izlemeyi planlıyor. Gelişigüzel Latin Amerikalıların
  ayartılması ve motorsikletlerine atlayıp Güney ve Orta Amerika'nın yoksulluk ve
  zevkleri içinde maceraya atılmaları siyaseten kutsandığından beridir bu böyle. Onları
  kim suçlayabilir? Ama keşfedilecek başka topraklar var.\r\n\r\nGeçen yıl motorsikletimi
  Ho Şi Minh şehrinden (Saigon) Hanoi'e, Güney Çin denizinin kıyısındaki otoyol boyunca
  sürdüm.\r\n\r\n"
wordpress_id: 438
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=438
date: '2011-03-20 01:23:11 +0200'
date_gmt: '2011-03-19 23:23:11 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p><a href="http://yersizseyler.files.wordpress.com/2013/11/pothole.jpg"><img src="http://yersizseyler.files.wordpress.com/2013/11/pothole.jpg" alt="pothole" width="500" height="303" class="alignnone size-full wp-image-1234" /></a></p>
<p>Neredeyse tanıştığım herkes genç Che Guevara'yı izlemeyi planlıyor. Gelişigüzel Latin Amerikalıların ayartılması ve motorsikletlerine atlayıp Güney ve Orta Amerika'nın yoksulluk ve zevkleri içinde maceraya atılmaları siyaseten kutsandığından beridir bu böyle. Onları kim suçlayabilir? Ama keşfedilecek başka topraklar var.</p>
<p>Geçen yıl motorsikletimi Ho Şi Minh şehrinden (Saigon) Hanoi'e, Güney Çin denizinin kıyısındaki otoyol boyunca sürdüm.</p>
<p><a id="more"></a><a id="more-438"></a>Hanoi yolunda bir şeyler benim ve yakınımdaki tüm araçların dikkatini çekti. Sürekli yolu izlemek ve birkaç saniyede bir hareket etmek zorundaydık, yoksa hepimizi öldürecekti.</p>
<p>Hanoi yolu Vietnam'ın iktisadi bir atar damarı, ama yine de yol çukurlarının hakimiyeti altında, bomba krateri büyüklüğünde binlercesi var. Vietnam'ın her yanında 'Amerikan Savaşı'nı anımsatan şeyler görüyordum ve belki bu da dolaylı olarak onlardan biriydi.</p>
<p>Fizikçi açısından yol çukurunun ilginç bir gelişimi vardır. Birkaç gevşemiş taşla başlar. Tekerlekler üzerinden geçtikçe bu taşlar birbirini ve altlarındaki yüzeyi aşındırır. Kenarları yuvarlanır ve üzerlerindeki baskıyla birlikte etkileri de yuvarlaklaşır. Taşlar deliğin içinde havanlara dönüşür. Küçük taşlar, çakıllar büyük taşların arasındaki boşluklarda hareket eder ve aşınma etkisini güçlendirir. Delik genişler ve derinleşir. Küçük taşlar çabucak tükenir, ama süreç içinde deliğin giderek genişleyen kıyısındaki daha büyük taşları serbestleştirir. Artan derinlik ve yüzey alanının geçen tekerleklerden aldığı enerji de giderek artar. Yol yüzeyinin imhası, yol terk edilene ya da delik doldurulana kadar ivmelenerek sürer.</p>
<p>Yol bozulması, diş bozulması gibi denetimden çıkmış bir süreçtir(1). Fayda hızla küçülür ve tamir maliyeti yükselir. Aynı dişte olduğu gibi çukurları fark edildikleri zaman doldurmak en verimlisidir.</p>
<p>Ama bu verim ölçüsü siyasetin birimi değildir ve dünyadaki neredeyse bütün yollardaki çukurların doldurulması için gereken bir siyasi geri-bildirim süreci vardır.</p>
<p>Bu süreç, siyasi nüfuz sahibi yol kullanıcılarının, yol çukurlarıyla manevi olarak olumsuz karşılaşmalarının harekete geçirdiği davranışları sonucunda işler.</p>
<p>Çukurlar küçükse, sonuçta olan siyasi basınç emek ve kaynaklar üzerinde rekabet eden diğer çıkar gruplarının güçleriyle başa çıkmaya yetmez. Bunun gibi, dişleri ağrımıyorken dişçiye gitmektense yaşamda başka tutkuları ve acıları olan insanları harekete geçirmek zordur. İkisi de bilginin kısıtlılığı ve süzülmesinden kaynaklanır: Öngörü.</p>
<p>Bu neden şaşırtıcı? Bu şaşırtıcı, çünkü devlet harcamalarına ekonomik faydanın merceğinden bakmaya, siyasi süreci ikincil olarak görmeye alışığız. Bu bakış açısı, siyasi güçlerin kendi faydalarını artırmak için hazineye erişim üzerinde rekabet ettiklerini iddia eder. O zaman, askeri istihbarat ve kamu sağlığı, ödenek rekabeti içinde olduğu yol bakımının hazineden çektiği payı en aza indirmelidirler. Ama bu pay, çukurları hemen doldurarak en aza indirilir!</p>
<p>Öngörü, dünyanın şimdiki haline dair güvenilir bilgiye, tahmini çıkarımlar yapabilmek için bilişsel yeteneğe ve anlamlı bir yer olarak ekonomik istikrara gereksinim duyar. Gizlilik, süistimal ve hak eşitsizliğinin öngörünün ilk gerekliliğini ("hakikat ve bir sürü hakikat") yiyip bitirdiği tek yer Vietnam değildir.</p>
<p>Öngörü bütün büyük çıkar gruplarının durumunu iyileştirecek sonuçlar üretebilir. Bunun gibi, eksikliği de, ya da aptalca davranmak, neredeyse herkese zarar verebilir.</p>
<p>Bilgisayar bilimcilerin öngörünün bilgi güvenilirliğine olan bağımlılığı için kullandıkları eski muazzam bir deyişleri var; "çöp girer, çöp çıkar".</p>
<p>İstihbarat ajansı idaresinde "Örtülü Ödenek türküsü" vardır, ama "Fox Etkisi" dersek bu ifade Amerikalı okuyucuya muhtemelen çok daha tanıdık gelecektir.</p>
<p>***</p>
<p>1) İngilizcesinde Runaway Process. Bu bilgisayar terimi, sonsuz döngü içinde sürekli yeni programlar başlatan bir programı ifade eder.</p>
<p>kaynak: Cesur Yeni Medya</p>
