---
layout: post
status: publish
published: true
title: Telif Hakkı Meselesi
author:
  display_name: aliriza
  login: aliriza
  email: ali.r.keles@gmail.com
  url: http://alternatifbilisim.org
author_login: aliriza
author_email: ali.r.keles@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 141
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=141
date: '2011-07-31 22:41:15 +0300'
date_gmt: '2011-07-31 20:41:15 +0300'
categories:
- Kategorilendirilmemiş
tags:
- telif hakkı
- arda çetin
- fsek
- kültür endüstrisi
comments: []
---
<p>Arda Çetin kendi bloğunda güzel bir konuya değinmiş..</p>
<blockquote><p><em>Twitter’da yazdığım “twitter’da özgürlükçü geçinen, telif  haklarına karşı görünen fenomenlerin tweetleri kopyallandığı zamanki  hallerine gülmekten ölüyorum” tweet’inden sonra <a href="http://twitter.com/#%21/AylinAsLIM">Aylin Aslım</a>‘dan  gelen yanıt (tepki mi demeliydim?) üzerine mevzuyu 140 karakterle  anlatamayacağımı anlayıp aylardır uğramadığım blog’umda bi’şeyler  karalamam gerektiğini anladım.</em></p>
<p>Telif hakkı “<a href="http://www.mevzuat.adalet.gov.tr/html/957.html">Fikir ve Sanat Eserleri Kanunu</a>”  olarak geçen, telif hakkı günümüzde sanıldığının aksine üreteni,  yaratanı, sanatçıyı değil, varolan sistemi ve büyük şirketleri koruyan,  amacının dışına çıkan bir kanundur. Aynı zamanda öncelikli olarak müzik,  sinema ve yazılım sektöründe en plana çıkan bu bir kanundur.<br />
Ekşi Sözlükteki bir <a href="http://www.eksisozluk.com/show.asp?id=6363208">girdiye</a> göre Fikir ve Sanat Eserleri Kanunu’nun ortaya çıkış hikayesi şöyle;<br />
“Fransa’da bir adam bir gün bir kafeye oturuyor. Yemeğini yiyor,  kahvesini içiyor. Gazetesini okurken orkestra bir parça çalmaya  başlıyor. Parça bittikten sonra adam garsonu çağırıp hesabı istiyor.  Hesap geldiğinde adam çıkarıyor parasını veriyor ve garsona “peki siz  bana ödeme yapmayacak mısınız” diyor. Garson şaşkın gözlerle adama  bakarken adam devam ediyor: “Orkestranızın biraz önce çalmış olduğu  parça bana ait. Nasıl ben bu yemeklerin parasını veriyorsam siz de benim  paramı vermelisiniz” diyor.”<br />
Böylece reformlar ülkesi Fransa’dan bir güzellik daha çıkmış oluyor.</p></blockquote>
<p>Yazının tamamı için <a title="Telif Hakkı Meselsi  -Arda Çetin-" href="http://ardacetin.net/telif-hakki-meselesi/" target="_blank">http://ardacetin.net/telif-hakki-meselesi/</a></p>
<p>&nbsp;</p>
