---
layout: post
status: publish
published: true
title: Türkiye, AGİT bölgesinde devlet eliyle zorunlu filtre uygulamaya kalkan ilk
  ve tek ülke
author:
  display_name: ilden
  login: ilden
  email: ildendirini@gmail.com
  url: http://alternatifbilisim.org
author_login: ilden
author_email: ildendirini@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 120
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=120
date: '2011-07-20 13:04:47 +0300'
date_gmt: '2011-07-20 11:04:47 +0300'
categories:
- Kategorilendirilmemiş
tags:
- sansür
comments: []
---
<p>*Türkiye, AGİT bölgesinde devlet eliyle zorunlu filtre uygulamaya kalkan ilk ve tek ülke</p>
<p>Avrupa Güvenlik ve İşbirliği Teşkilatı (AGİT), 8 Temmuz 2010 tarihinde, “İnternette İfade Özgürlüğü: AGİT üyesi devletlerde internet ile ilgili ifade özgürlüğü, bilginin özgür akışı ve medya çoğulluğu hakkındaki yasal önlemler ve uygulamalara dair bir çalışma” başlıklı raporunu yayınladı (http://www.osce.org/fom/80735). AGİT Medya Özgürlüğü Temsilcisi Dunja Mijatoviç’in, raporun yazarı, internet hukuku ile ilgili konularda dünya çapında bir otorite sayılan, Bilgi Üniversitesi Hukuk Fakültesi öğretim üyesi Prof.Dr. Yaman Akdeniz’le birlikte Viyana’da sunduğu rapor, tüm AGİT bölgesinde internet özgürlüğünü inceleyen en kapsamlı çalışma.<br />
Raporda Türkiye ile ilgili de bir hayli malzeme olması, internet özgürlüğü konusundaki sabıkamız düşünüldüğünde normal. Nitekim rapor, “sites.google”, “last FM”, “wordpress”, “blogger” gibi popüler örneklerin yanı sıra erişime engellenen çok sayıda politik, muhalif internet sitesine de değinerek bu sabıkayı tescilliyor ve sorunun kaynağını, Avrupa Birliği başta olmak üzere uluslararası hukuk kurallarını çiğneyen 5651 sayılı internet sansür yasası ve fikri hak düzenlemelerinde görüyor.<br />
Raporun en önemli çıktılarından biri, BTK’nın 22 Ağustos’ta uygulamaya koyacağı, “güvenli internet” adı altında “sansürlü internet”i genelleştirecek filtre uygulaması hakkında. Bu uygulamanın, Avrupa Konseyi’nin Nisan 2011 tarihli “İnternetin Evrenselliğini, Bütünlüğünü ve Açıklığını Korumak ve Geliştirmek” kararı ile bir internet sansürü olarak ilan edildiğini daha önce bu köşede yazmıştım. AGİT raporu çok daha açık ve seçik bir teşhiste bulunuyor. Filtre uygulamalarının interneti sansürlemek için kullanılan yöntemlerden biri olduğunu ve dolayısıyla filtre içeriklerinin bağımsız sivil toplum örgütleri tarafından dikkatle izlenmesi gerektiğine dikkat çekiyor. Bizdeki internet kafeler ve kamusal erişim alanlarındaki zorunlu ve şeffaf olmayan filtre uygulamalarını da eleştirdikten sonra vurucu cümle geliyor: “Türkiye, 22 Ağustos’ta, 56 ülkeden oluşan AGİT bölgesinde devlet eliyle zorunlu filtre uygulayan ilk ve tek ülke olacak.”<br />
Yani BTK’nın kendisini savunmak için ileri sürdüğü, “birçok ülke filtre uyguluyor” iddiası resmen çürütülmüş oluyor. Çünkü bu ülkeler filtreyi devlet eliyle hazırlayıp, merkezi biçimde ve zorunlu olarak herkese dayatmıyor. Yani Türkiye, 22 Ağustos’tan sonra resmen Çin, İran, Suudi Arabistan liginde yer alacak…</p>
<p>Konuya ilişkin tartışmaları <a href="http://ff.im/I4eKQ">http://ff.im/I4eKQ</a> adresindeki feedden takip edebilir, görüşlerinizi yazabilirsiniz.</p>
<p>*Yazı <a title="bthaber" href="http://www.bthaber.com.tr/?p=14495">http://www.bthaber.com.tr/?p=14495</a> linkinde yayınlanmıştır</p>
