---
layout: post
status: publish
published: true
title: Türkiye'den Anonymous Geçti
author:
  display_name: aliriza
  login: aliriza
  email: ali.r.keles@gmail.com
  url: http://alternatifbilisim.org
author_login: aliriza
author_email: ali.r.keles@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 40
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=40
date: '2011-06-21 01:47:30 +0300'
date_gmt: '2011-06-20 23:47:30 +0300'
categories:
- Kategorilendirilmemiş
tags:
- anonymous
- sansür
- hacktivizm
- tib
- protesto
- anonimlik
- gayrimerkezi örgütlenme
- panoptikon
comments: []
---
<p>[caption id="attachment_54" align="alignright" width="240" caption="Çünkü hiç birimiz hepimizden güçlü değiliz"]<a href="/images/content/AnonymousBecause.jpg"><img class="size-medium wp-image-54" title="AnonymousBecause" src="/images/content/AnonymousBecause-240x300.jpg" alt="Anonymous Because" width="240" height="300" /></a>[/caption]</p>
<blockquote><p>“Anonymous, ürettiği tüm laf hezeyanlarına rağmen aslında hiç de korkunç ya da kötü yürekli değildir. Anonymous tersine kurulmuş bir panoptikondur. Herkesin görünmez olduğu ve merkezden konuşur gibi göründüğü bir gruptur. Anonymous her inancı, mezhepi, kültürel statüyü, cinsiyeti, fetişi, hobiyi, işi, beğeniyi, antipatiyi, (buraya herhangi bir nitelik yazın), vs. ortaklaşa olarak içerir. Tüm şiddet ve nezaket eylemlerini ortaklaşa tecrübe etmişlerdir. Her dili bilirler, hatta muhtemelen ölmüş olanları bile. Bilinebilecek her şeyi bilirler ve bir insanın yapabileceği her şeyi yapabilirler. Ne var ki, tersine bir panoptikonda ikamet ettikleri için yüksek sesle ya da kışkırtıcı şekilde çok "bağıran" anonim bireyler sıklıkla en çok duyulur ve hatırlanırlar. İşte bu yüzden Anonymous çok zalim ve iğrenç görünür. Ancak anonim olarak yazan her grotesk bulantıya karşılık muhtemelen diğer 100 normal insan evladı ya yazmaya üşenmekte, ya da konuşulan konuya ilgisiz kalmaktadır. – Anonymous<sup>1</sup>”</p></blockquote>
<p>Anonymous'un sansürü ve icracı kurumları, başta da TİB'i hedef alan eylemi seçim arifesinde en çok konuşulan konulardan birisi oldu. Hem Anonymous, hem de protesto yöntemi ve söylemleri çok tartışıldı.</p>
<p>Medyada yapılan eylemin protesto olmadığı, Türkiye'ye karşı yapıldığı yazıldı. Bazı aşırı milliyetçi siber gruplar bununla da yetinmeyip vatan savunması altında karşı atağa geçtiler. Anonymous hakkında birçok yalan yanlış bilgi etrafa saçıldı. Bu grubun Amerika gibi devletlerin desteklediği ve kullandığı bir piyon olduğu bile iddia edildi.</p>
<h5>Aidiyetsizlik</h5>
<p>Anonymous siber anarşist bir grup. Anonim kimliklerin oluşturduğu anonim bir topluluktur. Dünyanın çeşitli ülkelerinden, birbirlerini hiç tanımayan birçok hacker aktivist (hacktivist), grubun temel fikirleri etrafında biraraya gelip hareket ediyorlar. Çok çeşitli konularda eylemler yapıyorlar. En temel konuları ifade özgürlüğü. Eylemlerinin hedefinde ise daha çok sansürcü, baskıcı rejimlerin resmi siteleri bulunuyor.</p>
<p>&nbsp;</p>
<p>Grubun herhangi bir milliyet, din ya da politik görüş aidiyetleri yok. Biraraya gelen hacktivistler böylesi aidiyetlerini açıklamaya zorlanmıyor. Hatta bireylerin yaş, cinsiyet, meslek, yetenekler vb. kişisel özellikleri pek bilinmiyor. Her yaştan, cinsiyetten, milliyetten, dinden aktivist bulunuyor.</p>
<p>Grubun belli aidiyetinin olmaması, eylemlerini ve hedeflerini seçerken daha tarafsız olabilmelerini sağlıyor. Hedefler kimi zaman Avrupa ya da Amerika'nın dev tekelleri (mastercard, paypal, sony vb.) ya da resmi kurumları olabilirken; kimi zaman da 2009′daki seçimlerin ardından halkın protestolarını sansürlemeye çalışan İran'daki Ahmedinejad rejimine karşı olabiliyor.</p>
<p>IRC kanalları, wikiler ve başkaca çeşitli sanal platformlarda buluşup hep birlikte karar alıyorlar. Eylemin amacı, kime ve neye karşı yapılacağı tartışılıyor. Duyuru ve uyarılar hazırlanıp yayınlanıyor. Ardından buna uygun hedefler belirleniyor. Son olarak da birbirini hiç tanımayan yüzlerce belki de binlerce hacktivist ve onlara yardım eden gönüllü destekçiler aynı amaç için harekete geçiyorlar.</p>
<h5>Gayrimerkezilik</h5>
<p>Anonymous, merkezi olmayan, her bir birimi, birbirine benzer özellik gösteren ve adeta kendi başına merkez olan bir topluluktur. Birimler de anonimdir. Birimler, anonim kimliklerin biraraya gelmesi ile oluşmakta ve dağılması ile de dağılmaktadır. Birbirleri için dahi anonim olan kimliklerin merkezi bir hiyerarşi içerisinde dizilmesi zaten neredeyse imkansız gibidir. Kuşkusuz rumuzlardan, kullanılan yöntem ve eylem gücünden bazılarının daha deneyimli olduklarını ve doğal  yönlendirici bir rol oynadıklarını kestirmek zor değil.</p>
<p>Grubun eylem ve örgütlenme yöntemleri merkezi bir örgütlenmeye gereksinim duymuyor. Eyleme katılmak herkesin yapabileceği bir iş. Genellikle İnternet bağlantısı ve bir bilgisayarı olan herkes gerekli yazılımları indirip çalıştırarak eylemlere katılabiliyor. Yazılımlar da zaten herkesin ücretsiz ve onaysız şekilde kolayca indirebileceği türden yazılımlar. Dolayısı ile kimsenin onayı ya da yardımı gerekmiyor. Kararlar ise zaten çevrimiçi ortamlarda herkesin katılımı ile alınıyor. Eylem bittiğinde ise kimse tek başına hiçbir şeyden sorumlu değil. Kimsenin kimseye hesap verme zorunluluğu bulunmuyor. Kamuoyuna yapılan açıklamalar da aynı şekilde inisiyatif gösteren katılımcılar tarafından yine tümüyle açık ortamlarda hazırlanıyor. Bu süreçlere katılmak, isteyen her gönüllüye açık.</p>
<h5>Anonimlik</h5>
<p>Anonim olmak herşeyden önce tek tek bireyleri bulundukları grup içerisinde eşitlemektedir. Ya da eşitlemeye yardım etmektedir. Çünkü 'kimlikler', hem ortaya konulan fikir ve eylemin, hem de bireyin grup içerisindeki performansının gerisinde kalmaktadır. Bürokratik makamlar, iş bitirici şahsiyetlerin her açıdan öne çıktığı geleneksel örgütlenmenin aksine, fikir ve eylem odaklı örgütlenme gereği, bireylerin performansı belirleyici olmaktadır. Bu fikir sahipleri açısından daha eşitlikçi bir zemin anlamına gelmektedir.</p>
<p>Anonim olmak, aynı zamanda fikirleri ve kararları da anonim yapmaktır. Çünkü fikrin üretim süreci anonim kişilikler tarafından örülür. Herkes bir fikri, kararı ortaya çıkarmak için katılır. Sonuç olarak kimseye ait olmayan, fakat aynı zamanda herkese ait olan bir fikir/karar ortaya çıkar. Kimlikler, başka kimlik ya da kimliklere ait bir fikir için harekete geçmez. Bu fikirler bu üretim sürecine katılan / katılmayan gönüllü herkes tarafından hayata geçirilebilir. Fikri uygulamak serbesttir. Zorunluluklar yoktur. Uygulama safhası da fikir üretimi gibi gönüllüdür.</p>
<p>Anonim olmanın bir başka avantajı ön yargı, etiket, kategorilendirme, oto-sansür gibi düşünsel faaliyetimizi olumsuz etkileyen faktörlerin görece azalmasıdır. Her birey, kimin ne söylediğine değil, söylenenin ne olduğuna bakarak üretim süreçlerine katılır. Geleneksel örgütlenmede ise fikir sahiplerinin ait olduğu sosyal sınıf, milliyet, din, politik tercihler, cinsel kimlik ya da tercihler ortaya atılan fikirlerin değerlendirilmesinde çok etkilidir. Devreye ön yargılar, etiketler ve kategorilendirmeler hatta kendi kimliğimzin kendimize baskısı sonucu oto-sansür girer. Bu "bilinen kimlikler" dolayısıyla biraz da kaçınılmazdır. Fakat anonim(isimsiz/belirsiz) kimliklerle gerçekleşen üretim süreci bu açıdan daha avantajlı görünmektedir. Bireyler fikirlerini ait oldukları kimliklerin baskısı altında olmadan dile getirebilirler. Bu büyük bir rahatlıktır. Aynı zamanda karşı tarafımızdakilerin kimliklerinin hem kendileri için hem de bizim için bir sınırlayıcı olma durumu da azalmaktadır. Çünkü geleneksel olandaki gibi düşünme ve karar verme süreçlerimizi ne kendimizin ne de karşımızdakilerin hassasiyetleri ile sınırlamayız.</p>
<h5>Anonymous sosyal politik bir örgütlenmedir</h5>
<p>Anonymous sosyal bir örgütlenmedir. Toplumsal sorunlara karşı duyarlı bir hacktivist grubudur. Özellikle ifade özgürlüğünü ve İnterneti sınırlayıcı politikalara karşı eylemler yapmakta, kamuoyu ilgisini çekmeye çalışmaktadır. Eylemleri kişisel çıkar, maddi beklentiler gibi amaçlar taşımamaktadır. Eylemlerinin içeriği bu açıdan sosyaldir, hatta politiktir. Eylemlerinin amacı herhangi bir ülkenin, ulusun, dinin, çıkarlarını bağlamamaktadır. Seçilen hedefler arasında herhangi bir ulus, ülke ya da din öncelikli değildir.</p>
<h5>Anonymous'un eylemi suç değildir</h5>
<p>Anonymous eyleminin ardından Türkiye'de birçok insan suç işledikleri şüphesi ile gözaltına alındı. Hepsi serbest bırakıldı. Fakat gözaltına alınmaları ve yapılan eylem hakkında söylenenler çok tartışmalıdır.</p>
<p>Eylem demokratik bir protesto niteliğindedir. Sansür uygulamasına kamuoyunun dikkatini çekmeye çalışan demokratik bir protesto örneğidir. Tek farkı sanal uzamda gerçekleşiyor olmasıdır. Anonymous'un yöntemi DDOS, özetle, bir servisi aşırı kullanarak, geçici bir süre servis dışı kalmasını sağlamaktır. Bir kurumun kapısına yatıp girişi çıkışı engellemekten, aşırı telefon ve faks trafiği ile telefon hatlarını meşgul edip kilitlemekten farklı değildir.</p>
<p>Üstelik Anonymous önceden yapacağı eylemi duyurmuş, mesai saatleri, sağlık, eğitim gibi halkın faydalanacağı önemli hizmetleri göz önünde tutmuştur. Öncesinde ve sonrasında eylemin amacını, sonuçlarını kamuoyu ile paylaşmıştır.</p>
<h5>Terörizm karalamacası</h5>
<p>Anonymous'un eylemini suç olmanın ötesinde, terörizm olarak niteleyenler de oldu. Bu demagoji ve karalamacadır. Anonymous'un amaçları ve eylemlerinin terörizm ile uzaktan yakından ilgisi yoktur. Saldırı, hack, siber anarşi gibi tahrif edilmiş, toplumda yanlış bilinen kavramlarla grubun eylemleri karalanmaktadır. Sonunda da terörist ilan edilmektedir.</p>
<p>Terörizm neoliberal dünyada egemenlerin, içerisinde bulundukları sosyal/politik krizleri aşarken, geniş yığınları ikna etmek ve rıza üretmek için kullandığı temel argüman haline geldi. Bütün dünyada hak ve özgürlükler terörle mücadele adı altında sınırlanıyor. Toplumları kontrol etmek, baskı altında tutmak ve buna en geniş kesimleri ikna etmekte terör önemli bir ortak payda oluveriyor. Her iktidarın bir teröristi var bu yüzden. Bu teröristler, iktidar sahiplerinin hassasiyetlerine göre, kimisi İslamcı, kimisi marksist, kimisi anarşist, kimisi de Anonymous gibi hacktivistler.</p>
<p>Artık, iktidarları rahatsız edebilecek her türlü faaliyet terörizm olarak nitelendirilebiliyor. Anonymous'un Türkiye'ye yönelik eylemlerinin terörizm ile ilişkilendirilmeye çalışılması ya da birlikte anılması bu yüzdendir. 50 bin kişinin katıldığı yürüyüşü, pornocu, filtre yazılım şirketlerinin adamı, hatta aralarında teröristler de var şeklinde niteleyen egemen söylemin (iktidar sözcüleri ve medya) Anonymous'un eylemlerini terörist bir tehdit olarak görmesini ve nitelemesini açıklamak çok da zor değil.</p>
<h5>Direnmek haktır</h5>
<p>İnternetin artık temel bir insan hakkı olarak tanımlanmasının gerektiği bir zamandayız. Toplumsal mücadelelerin yeni bir mecrası da doğal olarak Internet ve özellikle yeni medya ortamlarıdır. Tıpkı gerçek yaşamda direnmek, karşı çıkmak, söz ve eylem üretmek hak ve hatta bir sorumluluksa, sanal uzamda da farklı değildir.</p>
<p>Anonymous bize sanal uzamda egemen erke karşı direnmenin, söz ve eylem üretmenin önemli bir örneğini göstermekte. Üstelik bunu alışageldiğimizin çok ötesinde yöntemlerle yapmaktalar.</p>
<h5>Siber savaşların yeni aktörü</h5>
<p>Anonymous eylemleri daha çok devletler arasında anılan siber güç dengeleri ve savaşlarına yeni bir boyut kazandırıyor. Dev endüstrileri tehdit eden P2P ağları, yazılım tekellerinin eteklerini tutuşturan özgür yazılımlar, geleneksel medyayı altüst eden yeni medya  gibi bugüne kadar ekonomik, kültürel, teknik konularda İnternet'in yeni düzeni ile mevcut kurulu düzen arasında süren mücadele, 'zor' alanında da kendini gösterecek gibi görünüyor.</p>
<p>Tıpkı gerçek yaşamda olduğu gibi ulusal çıkar çatışmalarının belirlediği savaşların aktörleri, sanal uzamı da bu şekilde değerlendirmeye çalışamaktalar. Anonymous, egemen güçler arasında ulusal savunma ve saldırıya göre planlanan siber savaşlarda yeni bir aktörün boy göstermesi için yardımda bulunuyor. Aynı becerilerin insanlığın ortak ve gerçek sorunları için birleşebileceğini örnekliyor. Atmosferimizin ulusal hassasiyetlerin muhafazakar, baskıcı havası ile değil, evrensel insan hak ve hürriyetlerini savunan özgürlükçü bir hava ile dolmasına yardımcı oluyor.</p>
<p>Anonymous her açıdan daha çok tartışmamız, sonuçlar çıkarmamız gereken önemli işler yapıyor.</p>
<p>1: <a href="http://ohinternet.com/Anonymous">http://ohinternet.com/Anonymous</a> erişim tarihi 21 Haziran 2011, Anonymous'un açıklamalarından alıntı..</p>
