---
layout: post
status: publish
published: true
title: 'Anonymous Türkiye''deki sansüre el atıyor: operation turkey'
author:
  display_name: aliriza
  login: aliriza
  email: ali.r.keles@gmail.com
  url: http://alternatifbilisim.org
author_login: aliriza
author_email: ali.r.keles@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 17
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=17
date: '2011-06-07 22:24:14 +0300'
date_gmt: '2011-06-07 20:24:14 +0300'
categories:
- Kategorilendirilmemiş
tags:
- anonymous
- internet
- sansür
- hacktivizm
comments: []
---
<p>[caption id="attachment_21" align="alignleft" width="300" caption="Anonymous Türkiye&#39;deki sansüre el atıyor: Opertaion Turkey"]<a href="/images/content/Anonymous_at_Scientology_in_Los_Angeles-small.jpg"><img class="size-medium wp-image-21" title="Anonymous" src="/images/content/Anonymous_at_Scientology_in_Los_Angeles-small-300x163.jpg" alt="Anonymous" width="300" height="163" /></a>[/caption]</p>
<p>Anonymous adlı hactivist grup Türkiye'de artan sansür uygulamalarına karşı bir kampanya yapacağını duyurdu. operation turkey adlı hareket twitter ve daha bir çok sosyal medya ortamında en çok konuşulan konuların başında geliyor. Ekşi Sözlük'te açılan girdide[1] yapılan açıklama ve çevirisi aşağıdaki gibi:</p>
<p>Dear turkish netizens,</p>
<p>This is a message from anonymous.</p>
<p>Partly  in response to your requests, anonymous has started operation turkey to  counter the plans of your government to curtail freedom on the  internet.</p>
<p>The operation is currently in its early stages. We are  gathering information and discussing plans with a small group of people  in a channel on the irc network of anonymous operators (irc.anonops.li). Whether it will grow into something big depends entirely on the efforts  of us, you, and other people willing to contribute time, skills and  creativity.</p>
<p>We would like to invite you to join the channel to share your ideas and work on the operation.</p>
<p>You can access the irc channel here: <a title="http://chat.mibbit.com/?server=194.8.74.43&amp;channel=%23opTurkey" rel="nofollow" href="http://chat.mibbit.com/?server=194.8.74.43&amp;channel=%23opTurkey" target="_blank">http://chat.mibbit.com/...8.74.43&amp;channel=%23opturkey</a><br />
(server: irc.anonops.li, channel #opturkey)</p>
<p>[caption id="attachment_36" align="alignright" width="300" caption="Anonymous Grubunun Eylem Çağrısı"]<a href="/images/content/2f8Tk.jpg"><img class="size-medium wp-image-36" title="2f8Tk" src="/images/content/2f8Tk-300x190.jpg" alt="Anonymous Grubunun Eylem Çağrısı" width="300" height="190" /></a>[/caption]</p>
<p>Please send join us in the irc-channel and feel free to distribute this email to your friends and on forums."</p>
<p>"Merhaba Türkiye,</p>
<p>Son  yıllarda, Türkiye hükümetinin İnternet üzerindeki kontrolunun ne denli  arttığına tanık olduk. Binlerce websitesi ve blog engellenirken, aynı  zamanda internet gazetecilerine karşı başlatılan yasal kovuşturmalar  devam etmektedir. Hükümet şimdi de 22 ağustos’ta, İnternet  kullanıcılarının tüm aktivitelerinin kayıt altına alınmasını mümkün  haline getirecek olan yeni bir filtreleme sistemi uygulamaya koymak  istiyor. Böylesi bir sistemin ne zaman ve nasıl uygulamaya konulacağı  hala muğlak olsa da, kesin olan şey hükümetin İnternet sansürünü bir üst  seviyeye çıkardığıdır.</p>
<p>Bu sansür uygulamaları mazur görülemez. Serbest bilgi akışına erişim ve katılım temel bir insan hakkıdır. Türkiye hükümeti bu temel hakkı ihlal ederken, ‘anonim’ (anonymous)  eylemsiz kalmayacaktır. Sansürü engellemek için desteğimizi verecek,  sansür uygulayan kurumlara karşı harekete geçeceğiz.</p>
<p>Türkiye’de  yüz binlerce insan internet sansürüne yönelik kararları protesto etti  ancak AKP hükümeti insanların seslerini duymazlıktan geldi ve  protestocuları polis şiddetiyle bastırdı.</p>
<p>Bizler tüm internet  vatandaşlarını, Türkiye hükümetini bu absürd politikalardan vazgeçmeye  iterek, konuşma özgürlüğünü desteklemeye çağırıyoruz. Serbest bilgi  akışı engellenemez. Bilgi paylaşımı durdurulamaz. Korku eşiklerini  aşarak, bu temel haklarımızı savunmanın zamanıdır.</p>
<p>Daha fazla bilgi için: <a rel="nofollow" href="http://tinyurl.com/5vd4f9p" target="_blank">http://tinyurl.com/5vd4f9p</a></p>
<p>İnternet erişiminin serbestleştirilmesi için neler yapabileceğimizi tartışmak için irc kanalında bize katılın: <a title="http://chat.mibbit.com/?server=194.8.74.43&amp;channel=%23opTurkey" rel="nofollow" href="http://chat.mibbit.com/?server=194.8.74.43&amp;channel=%23opTurkey" target="_blank">http://chat.mibbit.com/...8.74.43&amp;channel=%23opturkey</a> (server: irc.anonops.li, channel #opturkey)</p>
<p>Bizler ‘anonim’iz.</p>
<p>Bizler çoğunluğuz.</p>
<p>Bağışlamayız.</p>
<p>Unutmayız.</p>
<p>Bizi bekleyin.</p>
<p>Türkiye’den internet vatandaşlarına email göndermek için: <a rel="nofollow" href="http://pastebin.com/rcqGJmVu" target="_blank">http://pastebin.com/rcqgjmvu</a> "</p>
<p>(bkz: <a rel="nofollow" href="http://pastebin.com/rcqGJmVu" target="_blank">http://pastebin.com/rcqgjmvu</a>) (bkz: <a rel="nofollow" href="http://piratepad.net/kLLVDzGDcD" target="_blank">http://piratepad.net/kllvdzgdcd</a>) (bkz: <a rel="nofollow" href="http://piratepad.net/qS5RNJesoT" target="_blank">http://piratepad.net/qs5rnjesot</a>)</p>
<p><a href="http://www.eksisozluk.com/show.asp?t=avaaz.org">avaaz.org</a>da başlatılan imza kampanyası: (bkz: <a title="https://secure.avaaz.org/en/no_internet_censorship/?twi" rel="nofollow" href="https://secure.avaaz.org/en/no_internet_censorship/?twi" target="_blank">https://secure.avaaz.org/..._internet_censorship/?twi</a>)</p>
<p>1:http://www.eksisozluk.com/show.asp?t=operation+turkey</p>
