---
layout: post
status: publish
published: true
title: 'Katılımın e-hali: Gençlerin Sanal Alemi''ni yayınladık'
author:
  display_name: ilden
  login: ilden
  email: ildendirini@gmail.com
  url: http://alternatifbilisim.org
author_login: ilden
author_email: ildendirini@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 165
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=165
date: '2011-11-13 15:27:32 +0200'
date_gmt: '2011-11-13 13:27:32 +0200'
categories:
- Kategorilendirilmemiş
tags:
- alternatif bilişim derneği
- e-kitap
- Gençlerin Sanal Alemi
comments: []
---
<p><!-- p { margin-bottom: 0.21cm; }a:link {  } -->Alternatif Bilişim Derneği ikinci e-kitabı; "Katılımın e-hali: Gençlerin Sanal Alemi"ni yayımladı.</p>
<p><a href="http://ekitap.alternatifbilisim.org/katilimin-e-hali.html"><img class="alignleft" title="katılımın e-hali" src="http://ekitap.alternatifbilisim.org/images/katilimin-e-hali.jpg" alt="katılımın e-hali" width="300" /></a></p>
<p>Katılımın e-hali: Gençlerin Sanal Alemi ikinci e-kitabımız. İlk e-kitabımız Cesur Yeni Medya'yı (<a title="İndirmek için tıklayınız" href="http://ekitap.alternatifbilisim.org/cesur-yeni-medya.html" target="_blank">http://ekitap.alternatifbilisim.org/cesur-yeni-medya.html</a>) Ocak ayında yaptığımız Wikileaks panelimizin ardından derlemiştik. İkinci e-kitabımız ise Türkiye'de gençlik alanında internetin sivil ve politik katılıma etkisini masaya seren ilk e-derleme olma ünvanını taşıyor. Türkiye'de gençlik ve İnternet alanı “gençler vakitlerinin çoğunu facebook ve oyunda geçiriyor”, “Aileler aman dikkat” ya da “İnternet gençleri asosyalleştiriyor” söylem ve haberiyle ilişkilendiriliyor. Kitabı derleyen ve makale yazan arkadaşlarımız yaşadıkları zorluğu “Türkiye'de özellikle gençlik alanı çok bakir olduğundan, internet çalışmalarıysa henüz 10'lu yaşlarına bile girmediğinden, işimiz oldukça zordu. Türkiye'de yaşayan gençlerin renkli sanal alem tasavvuru ve mesleki deformasyondan kaynaklanan kamuoyuyla paylaşım sorumluluğu, ayakta kalmamızı sağladı” diyerek anlattı.</p>
<p>Derlemede, hem Türkiye özelinde hem de Türkiye'yi ilgilendiren konularda karşılaştırmalı proje bulguları, alanda çalışan uzman ve akademisyenlerin makalelerine ve röportajları bulunuyor.</p>
<p>Makale yazarları özellikle çeşitli alanlardan seçilmiş, bu konuda çalışan akademisyen, danışman, yazar, gençlik örgütü çalışanı, sendikacı, gençlik çalışmaları yapan ve sivil toplum deneyimi olanlar... Röportaj verenlerin de profilinde de çeşitlilik olmasına dikkat edildi. Türkiye'nin ilk internet girişimcileri, yayıncı ve gençlik alanında uzun yıllardır çalışan eski gönüllü, genç profesyonel, genç akademisyen/blogçularla röportajlar yapıldı.</p>
<p>Kasım 2011'de yayınladığımız 430 sayfalık e-kitabımızı İstanbul Şehir Üniversitesi öğretim üyelerinden Yrd. Doç. Dr. Aslı Telli Aydemir'in derledi. Bu Alternatif Bilişim e-yayını, Kuzey Afrika ve Ortadoğu'da son dönemde yaşanan sosyal hareketlerle bir kat daha önem kazanan çevrim-içi/çevrim-dışı katılım dinamiklerine farklı bir pencereden bakmak isteyenlere önemle duyurulur.</p>
<p>Kitabı <a href="http://ekitap.alternatifbilisim.org/katilimin-e-hali.html">http://ekitap.alternatifbilisim.org/katilimin-e-hali.html</a> adresinden indirebilir, keyifle okuyabilirsiniz...</p>
<p>Kitap ve dernek hakkındaki her türlü görüş ve önerilerinizi <a href="mailto:bilgi@alternatifbilisim.org">bilgi@alternatifbilisim.org</a> adresine bekleriz.</p>
