---
layout: post
status: publish
published: true
title: İnternet İnsan Hakkıdır!
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
wordpress_id: 162
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=162
date: '2011-10-14 13:47:01 +0300'
date_gmt: '2011-10-14 11:47:01 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p style="text-align: left;" align="center">2011, Internet'in giderek daha çok göz önüne çıktığı; sosyal paylaşım ve bilgilenme aracı olarak, yeni ve güçlü bir medya olarak, özellikle de fikirlerin paylaşıldığı ve tartışıldığı bir politik-ideolojik mücadele alanı olarak kendini gösterdiği bir yıl oldu. Wikileaks ve Arap isyanlarını ele alan "Cesur Yeni Medya" e-derlemesinde bu konuya dikkat çekmiştik. Internet'in korunması gereken bir iletişim ve politika alanı olduğunu vurgulamıştık.</p>
<p>Aynı yıl BTK isimli kurum, "22 Ağustos'ta Türkiye'de Internete seçmeli filtre konulacak" diye bir karar aldı. Bu kararın nereden çıktığını, nasıl bir düşünme süreci sonucunda geliştiğini bilmiyoruz. Diğer birçok kanun değişikliğinin nasıl yapıldığını bilmememiz gibi. 15 Mayıs'ta dünyanın en büyük Internet eylemi ile karşılaşınca geri adım atacak gibi yaptılar, bir İnternet Kurulu toplantısı yaparak "görüşlerimizi aldılar" ama bu görüşleri ne yaptılar bilmiyoruz, çünkü sonradan açıklanan karar, ilk kararın "filtre" kelimesinden arındırılmış haliydi. Bu kararda özellikle dikkat çektiğimiz nokta şu: Filtreleri belirleme yetkisi bütünüyle BTK'ya verilmiş. Bu da bize nereden çıktığını bilmediğimiz bu kararın "Internet üzerinde denetim kurma" çabası olduğunu düşündürüyor. Korumacı kollamacı devlet refleksinin Internet kullanımına el atması, Internet yayıncılarına ve özellikle de iktidardan farklı düşünen politik yayınlara parmak sallaması olarak algılıyoruz. Unutmayalım ki yine 2011'de televizyon ve gazetelerden önemli muhalif isimlerin birer birer uzaklaştırıldıklarına tanık olduk. Yine 2011'de kitap taslağının dijital kopyaları imha edilmek istenen gazeteci Ahmet Şık mahkemesiz delilsiz tutuklandı ve hala "çok gizli kanıtlar" gereği cezaevinde tutulmakta.</p>
<p>İşte bu mevzubahis TV ve gazetelerde birkaç gün önce 5651'in değişeceğine dair haberler okuduk, izledik. 5651'in "fazla kısıtlayıcı olduğu ve yenileneceği" söyleniyor. 2007'den beri çeşitli vesilelerle eleştirilen, bilindik bir durumdu bu. Neden şimdi gündeme geldiğini yine bilmiyoruz.</p>
<p>Bir sözün doğruluğu kadar, kim tarafından ve ne zaman söylendiği de önemlidir. Kanunların içeriği kadar, hatta daha önemlisi onların oluşum sürecidir. Bu yasa yapma süreçleri bize karşı bir "propaganda ve algı yönetimi" biçiminde işletildiği sürece, ifade ettiğimiz eleştirel görüşlere karşı "izole etmek" gibi terimlerle yaklaşıldığı sürece, denetim altına alınan medya kanallarıyla bize ulaşan sözlere güvenimiz doğal olarak zayıflıyor. Önce Tunus ve Mısır sokaklarının isyanıyla, sonra Yunanistan ve İspanya meydanlarında, en son da Wall Street işgaliyle sarsılan bir büyük denetim sisteminin kaçınılmaz sonu ertelemeye çalışan çırpınışlarını hissediyoruz.</p>
<p>Bu vesileyle 5651 ve 22 Ağustos "filtre" kararına dair eleştirdiğimiz temel noktaları tekrarlayalım:</p>
<h2>Sansür Uygulamalarına Son</h2>
<h2>İnternet İnsan Hakkıdır!</h2>
<p><strong>Güvenli İnternet mi Filtre mi?</strong></p>
<p>Bilindiği gibi yoğun tepkilerin ardından, BTK filtre uygulamasında geri adım attı. Profil seçeneklerini seçimlik yaptı. Standart ve yurtiçi Internet gibi ucube ötesi paketleri iptal etti. Erişim engeli aşmaya yardımcı olan proxy ve dns gibi teknolojileri engelleme çabasından vazgeçti. Fakat uygulamanın yeni hali de son derece sorunludur.</p>
<p><strong>Güvenli İnternet (?)</strong></p>
<p>Öncelikle altını çizmemiz gerekir ki, "Güvenli İnternet" yanlış bir nitelemedir. Böyle bir İntenet mümkün değildir. Filtreler ile güvenlik sağlanamaz. Kamuoyu bu kavramla aldatılmaktadır. Önümüze konulan "merkezi filtreler" ile süzülmüş bir İnternettir. Düpedüz "Filtreli İnternettir".</p>
<p>Kavramın doğru hali "İnternet'in Güvenli Kullanımı"dır. Bunun da yolu kullanıcıların yeni medya okur yazarlığının geliştirilmesi, dijital bilgi ve becerilerinin arttırılmasıdır. İlköğretimden başlayarak bu becerilerin kazandırılması zorunludur. İnternet'te olanaklar kadar riskler de vardır. Fakat teknik çözümler, erişim engellemeleri ve filtreler kesinlikle çözüm değildir.</p>
<p>Çünkü güvenli havuz yoktur. Yüzmeyi bilen insanlar vardır.</p>
<p>Uygulamanın bu şekilde sunulması toplumda "sıfır risk" algısı yaratmaktadır. Bu çok tehlikelidir. Çocukların korunması ebeveynlerin görevidir. Fakat bu algı sayesinde sorumluluk kolayca "Güvenli İnternet"e devredilmektedir.</p>
<p><strong>Seçimlik Aldatmacası</strong></p>
<p>Uygulamanın seçimlik olduğu ve dileyen yurttaşın dışında kalabileceği savunulmaktadır. Buna iki temel itirazımız vardır.</p>
<p>Birincisi pratikte yaşanacak durum, uygulama dışında kalacak olanların istisna olacağıdır. İnternet hizmetinden faydalanmak isteyen ve konudan haberdar olamayan hiç bir yurttaş, "Güvenli İnternet ister misiniz?" sorusuna "Hayır" yanıtını vermeyecektir.</p>
<p>İkincisi teknik olarak engellemenin nasıl yapılacağı önemli bir sorundur. Eğer bir profili seçen yada seçmeyen tüm kullanıcıların trafikleri bir biçimde değerlendirmeye tabi tutulacak ve profillerine göre erişim hakkına karar verilecekse, bu tam bir skandaldır. Tüm trafiğin bir şekilde monitör edilebilmesi anlamına gelmektedir. Örneğin erişim engellemeleri bundan sonra nasıl yapılacaktır? Eğer bu da benzer bir liste ile yapılacaksa aslında ortada adı konmamış başka bir profil daha vardır. Fakat maalesef bu konuda yönetmelikte yeterli bilgi bulunmamakta ve kamuoyu ile paylaşılmamaktadır.</p>
<p><strong>Listeler nasıl hazırlanacak?</strong></p>
<ul>
<li><strong>Göstermelik Kurul</strong></li>
</ul>
<p>Yine gelen tepkiler üzerine yeni yönetmelikte bir danışma kurulu belirlenmiştir. Fakat maalesef 11 kişiden oluşacak bu kurulun 7'si Aile ve Sosyal Politikalar Bakanlığından bürokratlar, 3'ü yine bakanlığın önerdiği ve BTK'nın seçtiği uzmanlar, kalan 1'i de Türkiye Dijital Oyun Federasyon'undan olacaktır. Görüldüğü gibi kurulun büyük bölümü siyasi iradenin etkisi altındaki bürokratlardan oluşmaktadır. Hiç bir sivil toplum kuruluşu temsilcisi bu kurulda yer almamaktadır. Üstelik bu kurulun görevi danışmanlıkla sınırlıdır. “Listeler bu kurulun tavsiyeleriyle BTK tarafından belirlenecektir.”</p>
<ul>
<li><strong>Gizli Listeler</strong></li>
</ul>
<p>Listelerin içeriği kamuoyundan gizlenmektedir. Listeler, filtreleme yapacak ISP'lere "hash edilerek" gönderilecektir. İçerik ve servis sağlayıcı kurum ve kişiler listelerde olup olmadıklarını ancak tesadüflerle öğrenebilecektir. AB ilerleme raporunda altı çizilen bu durum bilgi edinme hakkına da aykırıdır. İtiraz ve hak arama olanaklarını zorlaştırmaktadır. Listelerin denetimini ilgili sivil toplum kuruluşlarının odağından kaçırmaktır.</p>
<p><strong>Merkezi Filtre 'seçimlik' de olsa SANSÜRDÜR!</strong></p>
<p>Filtrelerin merkezi bir şekilde, anti-demokratik ve şeffaf olamayan süreçler içerisinde belirlenmesi kabul edilemezdir. Bu uygulama tek tip bir aile, tek tip bir çocuk, tek tip bir faydalı/iyi/doğru tanımlaması yapmaktadır. Bu tanımların içeriği de devlet tarafından doldurulmaktadır. Birilerinin bunu seçmemesi, uygulamanın niteliğini değiştirmez.</p>
<p><strong>İnternet temel bir insan hakkıdır...</strong></p>
<p>BM 4 Haziran'da İnterneti bir insan hakkı olarak kabul etti. "Bu nedenle her devlet, internetin, uygun fiyatlarla, geniş bir şekilde var olmasını, kullanımını temin edecek anlamlı ve güçlü bir yasal ortamı geliştirmelidir.[1-2]" tespitlerinde bulundu.</p>
<p>BM'nin malumu ilan etmiş olduğu raporunda da belirtildiği üzere, devletlerin görevi İnternet ile savaşmak, ondan korkmak, toplumu zırhlarla donatmak değildir. Aksine yurttaşların bu haktan en geniş yararlanabilmelerinin koşullarını yaratmaktır. Erişim engellerine, filtre uygulamalarına, sansüre, izlemeye, kayıt altına almaya son verilmelidir.</p>
<p>12 Ekim 2011 tarihinde açıklanan İlerleme Raporunda da Türkiye’de, “İnternet içeriği hakkında yasa [5651] ve internet hizmet sağlayıcıların iş görebildiği koşullar, ifade özgürlüğünü koruyan uluslararası standartlara uygun değil ve vatandaşların internet erişimiyle ilgili haklarını etkileyebilir." (sf. 65) saptaması yer almaktadır. Öyleyse, Kullanıcılar olarak Internet hakkımıza sahip çıkmalıyız. Sansür uygulamalarına, iktidarların denetim, kontrol aracı olarak kullanmalarına karşı koymalıyız</p>
<p>Sınırsız, sansürsüz, özgür bir İnternet istiyoruz! Bilgiye erişmek özgürlüktür...</p>
<p><strong>Alternatif Bilişim Derneği</strong></p>
<p><strong>Kaynaklar:</strong></p>
<p><strong>1:</strong> <a href="http://www2.ohchr.org/english/bodies/hrcouncil/docs/17session A.HRC.17.27_en.pdf" target="_blank">http://www2.ohchr.org/english/bodies/hrcouncil/docs/17session A.HRC.17.27_en.pdf</a></p>
<p><strong>2:</strong> <a href="http://turk.internet.com/portal/yazigoster.php?yaziid=32795" target="_blank">http://turk.internet.com/portal/yazigoster.php?yaziid=32795</a></p>
<p><strong>3:</strong> 12 Ekim 2011 İlerleme Raporu</p>
