---
layout: post
status: publish
published: true
title: Alternatif Bilişim Genel Kurulunu topladı
author:
  display_name: ilden
  login: ilden
  email: ildendirini@gmail.com
  url: http://alternatifbilisim.org
author_login: ilden
author_email: ildendirini@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 67
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=67
date: '2011-06-27 14:07:54 +0300'
date_gmt: '2011-06-27 12:07:54 +0300'
categories:
- Kategorilendirilmemiş
tags:
- sansür
- yeni medya
- alternatif bilişim derneği
comments: []
---
<p>[caption id="attachment_69" align="alignleft" width="225" caption="Alternatif Bilişim Derneği Genel Kurulda yeni dönemi planladı"]<a href="/images/content/genel-kurul.png"><img class="size-medium wp-image-69 " title="genel-kurul" src="/images/content/genel-kurul-281x300.png" alt="Alternatif Bilişim" width="225" height="240" /></a>[/caption]</p>
<p><!-- p { margin-bottom: 0.21cm; } -->Alternatif Bilişim Derneği 1. Genel Kurulu'nu EMO İstanbul Şubesi'nde toplandı. 6 aylık pratiğini gözden geçiren dernek üyeleri önümüzdeki döneme ilişkin yeni kararlar aldı.</p>
<p>Alternatif Bilişim Derneği geçtiğimiz yıl 29 Aralık'ta kurulmuştu. Öncesinde çevrimiçi bir grup olan Alternatif Bilişim 29 Aralık'tan bu yana tüzel kimliği ile de bir çok başarılı çalışmanın altına imzasını attı. Kuruluşundan bu yana geçen 6 ayın üzerine ilk genel kurulunu toplayan Alternatif Bilişim Derneği 6 aylık pratiğini tartıştı. Geçen 6 ayın bir çok açıdan başarılı olduğunu vurguladı. Sansürden, WikiLeaks’e bilişim alanında yaşanan önemli gelişmelere ilişkin tavır alındığı, bunlar için çalışmalar yapıldığını vurgulayan dernek üyeleri özellikle Yeni Medya alanında yapılan birçok çalışmayla da önaçıcı tartışmalara imza attıklarını vurguladı.</p>
<p>Derneğin Yönetim Kurulu Başkanı olan Ali Rıza Keleş yaptığı açılış konuşmasında derneğin 6 aylık, yasal işler, üye durumuna ilişkin bilgi verdi, 6 ayda imza atılan çalışmalara değindi. Yapılan çalışmalar için tüm üyelere teşekkür etti. Derneğin Genel Kurulu'nu Bilgi Üniversitesi'nden Özgür Uçkan, dernek Yönetim Kurulu üyesi Ali Rıza Keleş ve Başkent Üniversitesi'nden Mutlu Binark'tan oluşan divan yönetti. Faaliyet raporunu sunan Mutlu Binark,  29 Ocak'taki WikiLeaks paneli, İstanbul YediTepe ve Edirne Trakya Üniversitelerinde tekrar edilen Bilgi İktidar İnternet Muhalefet başlıklı paneller, 10 Mayıs 2011'de BTK Kurul Kararı ve Filtre Uygulamasına karşı rapor, 4 Haziran'da Kadir Has Ünv. Yapılan Yeni Medyada Etik Çalıştayı gibi çalışmalar nitelikli içerikleri ile derneğin öne çıktığını vurguladı. Yapılan panellerde yeni sözlerin üretildiğine, ufuk açıcı verimli tartışmaların olduğuna dikkat çeken Binark, tartışmalar sonrasında oluşturulan özgür e-kitap “Cesur Yeni Medya”'nın da hem içeriği hem de sunuşu açısından güçlü bir ürün olduğunu vurguladı.</p>
<p>Binark, “Dernek girişimi iken yapılan 19 Aralık'ta WikiLeaks’e destek açıklaması, 1 Mayıs'a bilişim stkları ile birlikte katılım, 15 Mayıs İnternetime Dokunma yürüyüşü, sansür ve filtrelemeye karşı yapılan kampanyalara katılım sokak aktivizmimizin örnekleri oldu” dedi.</p>
<p>Çeşitli üniveristelerde geçrekleşen Yeni Medyada Nefret Söylemi, Sansür, Sosyal Medya Farkındalık içerikli oturumlara hem konuşmacı olarak hem de dernek stantları ile katılındığını hatırlatan Binark, “Linux / ERP Günleri, LabourComm gibi etkinliklerde de yer aldık” dedi.</p>
<p>Faaliyet raporunun okunmasının ardından yapılan tartışmalarda da dernek üyeleri yapılan etkinliklerin öneminin altını çizdi. Derneğin sosyal medya ve medyada tanıtım ayağının çok zayıf kaldığı vurgulanarak bunun için özel çalışma yapılmasının gerekliliği ortaya kondu.</p>
<p><strong>Sansüre karşı çalışmalar, Yeni Medya Konferansı</strong><strong></strong></p>
<p>Yeni dönem çalışmaları için yapılan verimli tartışmalar sonrasında yeni kararlar alındı. İnternete sansür kapsamındaki çalışmaların sürmesi gerektiği vurgulanan tartışmada, “İnternet erişiminin Anayasal hak olarak tanınması” için çalışmalar yürütme bunun için sivil Anayasa tartışmalarına katılma kararı alındı. Ayrıca, İnternet sansürüne karşı hak ve özgürlük platformları ile ortak çalışmlar yürütülmesi, İnternet sansürüne karşı bilinçlendirme çalışmaları yapılması, Güvenli İnternet yönetmeliğinin yürürlüğe girme tarihi olarak ilan edilen 22 Ağustos için diğer sansür karşıtı kurumlarla ortak çalışma yürütülmesi, yeni seçilen milletvekilleri ile Mecliste görüşmeler yürütülmesi, sansüre karşı hukuki bilgilendirme materyalleri oluşturulması, Yeni Medya eğitimleri düzenlenmesinin de aralarında bulunduğu kararlar alındı. Derneğin Uluslar arası temsili konusunda adımlar atılması için gruplar oluşturuldu, Uluslar arası etkinliklere katılım kararı alındı.</p>
<p><strong>Çalışma grupları oluşturuldu</strong></p>
<p>Bugüne kadar Yeni Medya alanında Nefret Söyleminin görünür kılınması, Yeni Medya'nın olanaklarınının gündemleştirilmesi, Yeni Medyada Etik sorunlarının tartıştırılması gibi bir çok tartışmaya imza atan Alternatif Bilişim Derneği Nisan 2012'de gerçekleştirilecek bir de Yeni Medya Konferansı örgütleme kararı aldı. Çeviri, Belgelendirme, Görsel-İşitsel materyal üretimi ve derneğin iç işleyişi için çeşitli çalışma grupları oluşturuldu.</p>
<p>Yapılan seçim sonrasında yeni yönetim kurulu, Ali Rıza Keleş, Işık Barış Fidaner, Ali Çare, Mutlu Binark	ve İlden Dirini	'den oluştu.</p>
