---
layout: post
status: publish
published: true
title: "“Biliyor musun? Biz çok garip bir aileyiz. Amcam bir keresinde yaya olduğu
  için tutuklanmıştı”"
author:
  display_name: bahadir.tasdelen
  login: bahadir.tasdelen
  email: bahadir.tasdelen@hotmail.com
  url: ''
author_login: bahadir.tasdelen
author_email: bahadir.tasdelen@hotmail.com
wordpress_id: 23
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=23
date: '2011-06-07 23:34:51 +0300'
date_gmt: '2011-06-07 21:34:51 +0300'
categories:
- Kategorilendirilmemiş
tags:
- sansür
- fahrenheit 451
- ray bradbury
comments: []
---
<p>[caption id="attachment_24" align="alignright" width="176" caption="Fahrenheit 451. Ray Bradbury imzalı, otorite, sansür ve distopya üzerine yazılmış, çok çarpıcı bir eser."]<a href="/images/content/Farneheit_451.jpg"><img class="size-full wp-image-24" title="Farneheit 451" src="/images/content/Farneheit_451.jpg" alt="Farneheit 451" width="176" height="250" /></a>[/caption]</p>
<p>Fahrenheit 451.Ray Bradbury imzalı, otorite, sansür ve distopya üzerine yazılmış, çok çarpıcı bir eser. Yukarıdaki cümle bu romanın ana karakterlerinden birine ait. Henüz 17 yaşında olan ve kitapların yakıldığı, insanların yöneticiler tarafından adeta tasmalarla idare edildiği, okuduklarının, izlediklerinin, konuştuklarının; kısacası yaşamlarının kendilerini yönetenlerin verdiği kararlar ile idare edildiği bir dünyada yetişen bir kız çocuğunun cümlesi.</p>
<p>Eser öylesine etkileyici ve öylesine gerçek ki, etkilenmemek mümkün değil. Otoriter sansürün bir toplumu ne hale getirebileceğini bütün çıplaklığı ile göstermiş yazar. Otorite, tarihi bile kendi isteğine, arzularına ve amaçlarına göre değiştirmiş bu dünyada. İtfaiye teşkilatı kitapları yakmaktan sorumlu mesela. Tarih öyle değiştirilmiş ki itfaiye teşkilatının eskiden yangınları söndürmekle görevli olduğuna dair hiçbir yazılı belge kalmamış. Kitapta diyor ki ilk itfaiye teşkilatı 1700 lü yıllarda, rejim karşıtı kitapların yakılması için kurulmuş.</p>
<p>Acaba bugün internetimize sansür koymak isteyenler yeterince iradeli mi? Acaba insani içgüdülerine kanmayıp, sansürler üzerinden otorite kurma eylemine girmek istemeyecekler mi? Bizi bizden daha iyi tanıdıklarını düşünmeyecekler mi? Çünkü güç, tarih boyunca insanları yozlaştırmıştır. Öyle ya da böyle, güçlü olan, gücünü az ya da çok kendi çıkarı için kullanmıştır. Sansür ise yapana çok büyük bir güç tanır. Sansür sizin düşüncelerinizi değiştirir, çünkü farklı bakış açılarını sınırlandırarak görüşünüzü daraltır. Sansür sizin kara koyun olmanızı engeller, sürüyü terk edenin kurt tarafından yenileceğini söyler. Oysa sansürü uygulayanın üzerindeki koyun postu sansürlenmiştir aslında. Koyun demek yasaktır çünkü. “Kral çıplak!” diye bağıran çocuk hapiste çürümektedir aslında.</p>
<p>Geçen hafta G8 öncesi, Fransa’da E-G8 forumu toplandı. G8 ülkelerinin yanı sıra, dünyada internet ve bilişim dünyasını yönlendiren birçok yöneticinin de katıldığı bir forum oldu. Fransa Başbakanı Nicolas Sarkozy, konuşmasında çok çarpıcı bir kavramdan bahsetti: Civilised internet. Sivilleştirilmiş internet. Bir anlamda, devletler tarafından daha kolay idare edilebilecek bir internet. Bu demek oluyor ki, dünyanın ekonomisini ve siyasetini yönlendirenler, internet üzerinde daha fazla kontrol istiyorlar. İşin kötüsü, medyanın birçok temsilcisi de bu görüşü destekliyor. Kimisi telif haklarını korumak için, kimisi devlet sırlarının sır olarak kalması için, kimisi politik üstünlük için. Amaçlar farklı ama hedef aynı. Tasmalanmış bir internet, otoriter yönetim biçimleri. Aynı forumda buna da bir isim verilmiş: Kaliteli Otorite. Financial Times yazarı Francis Fukuyama’nın deyimi ile günümüz demokratik rejimlerinin geldiği ya da geleceği nokta kaliteli otoriterlik olabilir. Yani ekonomik olarak gelişen, politik anlamda stabil, fakat insan hak ve özgürlüklerinin çok umursanmadığı; yöneticilere göre ütopik, yönetilenlere göre distopik bir rejim. Hürriyet yazarı Ertuğrul Özkök, 1 Haziran 2011 tarihli yazısında diyor ki, “Medeni internet ve kaliteli otoriterlik, önümüzdeki günlerde göreceğimiz sivil vesayet rejimlerinin kılıfı olacak”. Bu görüşe katılmamak için hiçbir sebep yok.</p>
<p>Açıkçası ben, kendim için, çocuklarım için ve torunlarım için; kitapların yakıldığı, girebileceğim internet sitelerinin başkaları tarafından belirlendiği, düşüncelerimin sınırlandırıldığı, konuştuğum-yazdığın kelimelerin bir başka insanın elinden çıkan bir listeden seçildiği bir gelecek istemiyorum. Düşünebildiğim konuşabildiğim, tartışabildiğim, herkesin fikrine,inancına saygı duyulan, herkesin söz sahibi olduğu, daha özgür, daha hoşgörülü bir gelecek istiyorum. Dünya çapında düşünülen sansür ve kaliteli otoriterlik odaklarına dur deme zamanının geldiğine inanıyorum. Ve bunu ancak doğru bilgilendirme ve bu bilgilerin paylaşımı ile yapabileceğimizi biliyorum. O yüzden, Fahrenheit 451’i okuyun, size tanıdık gelen çok şey göreceksiniz o kitapta. Ve geleceğimizi…Eğer bir şeyler yapamazsak.</p>
