---
layout: post
status: publish
published: true
title: BTK ve filtre
author:
  display_name: bahadir.tasdelen
  login: bahadir.tasdelen
  email: bahadir.tasdelen@hotmail.com
  url: ''
author_login: bahadir.tasdelen
author_email: bahadir.tasdelen@hotmail.com
excerpt: "Siz Pazar günü Türkiye’nin birçok ilinde gerçekleştirilen eylemi de, BTK’nın
  çalışma şeklini de, filtre olayını da yanlış anlamışsınız.\r\n\r\nÖncelikle kim
  olduğumdan bahsedeyim ki, yazınızda belirttiğiniz “Aslında itirazlarının neye olduğunu,
  tam olarak neyi istemediklerini bilmiyorlar.” Tayfasından olmadığımı anlayın. 4
  yıldır bilişim sektöründe çalışan, bu 4 yılın 3’ünde iki farklı internet servis
  sağlayıcıda görev yapmış bir ağ mühendisiyim. Halen de özel bir internet servis
  sağlayıcıda ağ operasyon yöneticiliği yapmaktayım. Yani hem 5651 sayılı yasayı,
  hem de BTK’nın uygulamalarını sektörün içinden takip etmiş ve halen de eden biriyim."
wordpress_id: 9
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=9
date: '2011-06-07 00:55:41 +0300'
date_gmt: '2011-06-06 22:55:41 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p><em>Akif Beki'nin 17/05/2011 tarihli "Tam bağımsız internet palavrası" başlıklı yazısına yaptığım yorumdan alıntıdır:</em></p>
<p>Siz Pazar günü Türkiye’nin birçok ilinde gerçekleştirilen eylemi de, BTK’nın çalışma şeklini de, filtre olayını da yanlış anlamışsınız.</p>
<p>Öncelikle kim olduğumdan bahsedeyim ki, yazınızda belirttiğiniz “Aslında itirazlarının neye olduğunu, tam olarak neyi istemediklerini bilmiyorlar.” Tayfasından olmadığımı anlayın. 4 yıldır bilişim sektöründe çalışan, bu 4 yılın 3’ünde iki farklı internet servis sağlayıcıda görev yapmış bir ağ mühendisiyim. Halen de özel bir internet servis sağlayıcıda ağ operasyon yöneticiliği yapmaktayım. Yani hem 5651 sayılı yasayı, hem de BTK’nın uygulamalarını sektörün içinden takip etmiş ve halen de eden biriyim.</p>
<p>Pazar günkü eylem, BTK’nın tek bir uygulaması olan 22 Ağustos’ta internete koyulacak filtrelerle ilgili değildi. Bu uygulama, aslında bardağı taşıran son damla idi. Türkiye’de internet konusunda, 5651 sayılı yasanın çıkmasının ardından çok ciddi bir sansür politikası izlenmekte. Yasanın içerisinde geçen kriterlerden bazıları çok afaki, her yöne çekilebilir konumdalar. Örnek vermek gerekirse müstehcenlik. Kimisine göre müstehcenlik porno olabilirken, kimisine göre Oscar töreninde oyuncuların kırmızı halıda giydiği dekolte elbiseler müstehcen olabilir. BTK’da bu kriteri istediği gibi algılayarak, Radikal gazetesinin internet sitesinde yayınlanan Oscar ödül töreni fotoğraflarından dolayı siteyi kapatabilir. Saçma mı? Neden? Kanunda geçen kelime müstehcenlik, ve herkesin müstehcenlik algısı farklıdır. Tabi ki yargı yolu her zaman açıktır. Ama mahkemeler zaten saçma sapan davalarla dolup taşmıyor mu? Neyse, konuyu farklı yöne çekmeden, internet sansürü hakkında devam edeyim.</p>
<p>TİB her hafta, yeni yasaklanan alan adlarının bir listesini internet servis sağlayıcılara gönderir, ve bu alan adlarının yasaklanmasını ister. Haftada ortalama 100 alan adı gelir. Bazen daha çok bazen daha az. Yasanın çıktığı günden bu yana, her hafta bu kadar alan adı geldiğini düşünün. Yasaklı alan adları listesi şu an onbinlerce alan adından oluşan bir liste olmuştur, ve sürekli olarak artmaktadır. TİB bununla da kalmaz, geçtiğimiz haftalarda 138 adet, günlük hayatta kullanılan, içerisinde “haydar, sarışın, liseli, yasak” gibi kelimelerin de bulunduğu bir kelime listesini “ bu ve bunun gibi içeriklere dikkat edin” uyarısı ile servis sağlayıcılara iletmiştir. Bardağı taşıran damlalardan biri de bu olmuştur aslında. “yasak” kelimesinin yasaklandığı, dikkat edilmesi gereken içerik olarak algılandığı bir internet ne kadar özgürdür? Ya da yasak kelimesinin yasaklandığı bir ülke ne kadar özgürdür?</p>
<p>“Opsiyonel filtreler, internet güvenliğini tek merkezin kontrolüne vermiyor bir kere. Onun yerine, güvenlik anlayışını kişiselleştiriyor” ne kadar güzel bir cümle olmuş mesela. Opsiyonel filtreler, ya da kişisel filtreler hali hazırda var olan 3. Parti programlarla kullanılabiliyor zaten. İnternette biraz araştırmanız, ücretsiz ya da ücretli bir çok filtre uygulaması bulmanızı sağlıyor zaten. Kişiler çocuklarını, ailelerini bu şekilde koruyabiliyorlar. Aynı zamanda TTNet’in de çocuk koruma filtresi diye bir uygulaması var. Bu da bir yazılım aslında, zararlı içeriği filtreleyerek ailelerimizi korumayı amaçlıyor. Ama BTK’nın ve TİB in uygulaması bunun ötesine geçiyor. 22 Ağustos’ta, filtre istemeyen bir kullanıcı, standart filtreye tabii olacak deniyor. Standart filtrenin ise şu anki bağlantıdan bir farkı olmayacak deniyor. Şu anki internet te yeterince özgür değil ki zaten! Onbinlerce sitenin yasaklı olduğu bir internet ne kadar özgür denebilir? Bunun ötesi, Çin’in muhteşem internet filtreleme sistemidir ancak.</p>
<p>Kişilerin kendi tercihleri doğrultusunda girip girmeme kararı verebilecekleri siteler şu an yasaklı konumda. Neden insanların kendi tercihlerini yapmasına izin verilmiyor? Neden BTK “ben sizi sizden daha iyi bilirim, o yüzden sizi sizden bile korumalıyım” şeklinde bir tavır takınıyor? Bu özgürlüğe müdahale değil de nedir? Kimse çocuk pornosu yasaklanmasın demiyor bu ülkede. Çocuk pornosu tabi ki de yasaklanması gereken bir içeriktir. Ama müstehcen kıstası altında yasaklanan bazı sitelerde müstehcen diyebileceğimiz bir içerik dahi yok! Daha önce de verdiğim örnek gibi, aynı kategoriden dolayı birçok gazetenin internet sitesi de kapatılabilir. Kaldı ki, gerçekten müstehcen denilen porno içeriğe erişim de bence kişilerin tercihine bırakılmalıdır. Zaten kişisel filtreleme yazılımları da bu sebeple var, bu içeriği filtreleyerek, görmek istemeyen insanların bu içerikten uzak tutulması için. Ama BTK, benim neyi görmek isteyip istemeyeceğime benim adıma karar vermemeli. Bahsedilen müstehcen içerik insanların ahlakını mı bozar? Türkiye’de o içeriğe ulaşılamadığında da nasıl ahlak bozuklukları olabileceğini haberlerde her gün görüyoruz. Lise talebelerine toplu tecavüzden tutun, ahır ve kümes hayvanlarına tecavüz haberleri bile çıkıyor bu ülkede. Bunları yapanlar müstehcen içeriğe baktıkları için mi yapıyorlar acaba? Buna antitez olarak şunu bile söyleyebilirim: Müstehcen içeriğin, kişilerin tercihlerine göre serbest bırakılması, bu tür olayları azaltacaktır. Çünkü insanlar o müstehcen içerik ile doyacak,yukarıda bahsettiğim olaylara gerek duymayacak. Müstehcen içeriğe ulaşmak istemeyen de kendi kişisel filtresini kullanacak.</p>
<p>Sonuç olarak, BTK, bu ülkedeki insanlar adına karar vermeye devam ettikçe; bu insanların özgürlüğüne dokunmuş olacaktır. Özgürlüğüne dokunulan insanlar da sokaklara çıkmaya devam edecektir. İster anarşistlik, ister gericilik deyin. Bunun adı “İleri Demokrasi”dir.</p>
