---
layout: post
status: publish
published: true
title: 'Siyasal Hacktivizm''in Tuhaf Kökenleri: Nükleer Karşıtı WANK Solucanı - Julian
  Assange'
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "(Bu yazı 25 Kasım 2006'da counterpunch'ta yayınlanmıştır.)\r\n\r\n<a href=\"/images/content/wank.png\"><img
  src=\"/images/content/wank-300x147.png\"
  alt=\"wank\" width=\"300\" height=\"147\" class=\"alignright size-medium wp-image-449\"
  /></a>\r\n\r\n"
wordpress_id: 442
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=442
date: '2011-03-20 01:24:31 +0200'
date_gmt: '2011-03-19 23:24:31 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>(Bu yazı 25 Kasım 2006'da counterpunch'ta yayınlanmıştır.)</p>
<p><a href="/images/content/wank.png"><img src="/images/content/wank-300x147.png" alt="wank" width="300" height="147" class="alignright size-medium wp-image-449" /></a></p>
<p><a id="more"></a><a id="more-442"></a>Gerçek hacktivizm, en azından ABD Enerji Bakanlığı ve NASA'nın makinelerinin dünya çapında nükleer karşıtı WANK solucanıyla işgal edildiği 1989 Ekim ayı kadar eskidir. Bu solucan salıverilenlerden ikincisiydi, ama kökeni itibariyle önceliyle tuhaf bir karşıtlık içindeydi. Çünkü bir numaralı solucanın izi sürüldüğünde Ulusal Güvenlik Ajansı'nın baş şifrecisi Robert Morris'in oğluna varılmıştı.</p>
<p>WANK'in cesurca siyasi niyeti hemen açığa çıkıyordu. WANK girdiği makinelerin giriş ekranlarını şuna çevirmişti.(1)</p>
<p>Kitabımız <em>Yeraltı</em>'nda, Suelette Dreyfus ile birlikte solucanın izini sürüp Melbourne, Avustralya'ya vardık. O zamanki ciddi soğuk savaş, ülkede nükleer karşıtı duyarlılığı beslemişti. Avustralya'da birçok ABD ajanı vardı. Ayrıca erken uyarı sistemi ve nükleer denizaltı iletişim üsleri de vardı (ki hala vardır) ve bunların çoğu ilk ya da ikinci saldırıda Sovyet hedefiydi. Bunlar olmasa Avustralya nükleer bir hedef olmayacaktı. Karizmatik Sovyet dışişleri bakanı ve Gorbaçov'un sırdaşı Edvard Şevardnadze, sevilen ve nefret edilen bir Gürcistan Başkanı olup çıkmadan önce, bu gerçeği sık sık Avustralya halkının dikkatine sunuyordu.</p>
<p>Ayrıca 1984'te Avustralyalıların özel bir yakınlık duyduğu bir ülke olan Yeni Zelanda'nın Emek Partili başbakanı David Lange, YZ'yı nükleerden arınmış bir bölgeye çevirdi, nükleer silahlı ya da enerjili savaş gemilerini YZ limanlarına almadı. ABD buna karşılık YZ'ya karşı savunma anlaşmalarını tek taraflı olarak feshetti, istihbarat bağlarını kopardı (ya da en azından denedi, detaylar için Nick Hager'ın mükemmel kitabı <em>Gizli Güç</em>'e bakabilirsiniz) ve ülke aleyhine bir dizi ticari kısıtlama koydu.</p>
<p>Fakat Yeni Zelanda'nın nükleer dertleri burada bitmedi. Auckland limanına demir atmış, üç gün içinde Mururoa Atoll'a yelken açmaya ve Fransız nükleer deneylerine karşı eylem yapmaya hazırlanan Greenpeace sancak gemisi 'Gökkuşağı Savaşçısı', 10 Haziran 1985 gecesi saat 11:59'da DSGE (Fransız Gizli Servisi) üyesi dalgıç ajanlar tarafından bombalandı ve Greenpeace fotoğrafçısı Fernando Pereira öldürüldü. Avustralyalı gazeteci Chris Masters'ın yürüttüğü bir soruşturma ile DGSE ajanları Alain Mafart ve Dominique Prieur birkaç gün içinde yakalandı, adam öldürmeden suçlu bulundu ve YZ yüksek mahkemesince 10 yıl hüküm giydi. Diğer DSGE ajanları ise YZ sahilinde bir Fransız Nükleer denizaltı yoluyla kaçtı. YZ'nın önemli bir ticari ortağı olan Fransa derhal ülkeye ticari kısıtlamalar koydu. 1986 Haziran'ında siyasi bir anlaşma gelip çattı; Fransa kısıtlamaları kaldıracak, birkaç milyon kan parası ödeyecekti ve iki ajan pasifikteki bir Fransız askeri üssü olan Hao Atoll'a aktarılacak ve orada güya cezalarının kalanını çekeceklerdi. Ne var ki 1988 Mayıs'ında ikisi de Fransa'ya geri kaçırılmıştı.</p>
<p>Solucanın kaynak kodunu incelediğimizde Yeni Zelanda'daki makinelere bulaşmasını önleyen özel yönergeler görüyoruz.</p>
<p>Politikaların hep tahmin edilemez sonuçları vardır, ama bazı sonuçların nimet olduğu hatırlanmalıdır.</p>
<p>1) Yazının kapağındaki ekran görüntüsü. Türkçesi: Nükleer Katillere Karşı Solucanlar. Sisteminiz resmi olarak WANKlenmiştir. Herkes için barış zamanlarından bahsediyorsunuz, sonra savaşa hazırlanıyorsunuz.</p>
<p>kaynak: Cesur Yeni Medya</p>
