---
layout: post
status: publish
published: true
title: 'Anonymous: Üçüncü şehrin kurucuları'
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
wordpress_id: 61
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=61
date: '2011-06-25 01:20:08 +0300'
date_gmt: '2011-06-24 23:20:08 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments:
- id: 3
  author: 'Anonymous&#8217;u tartışmaya devam ediyoruz! &#8220;Anonymous: Üçüncü şehrin
    kurucuları&#8221; &laquo; Yeni Medya'
  author_email: ''
  author_url: http://yenimedya.wordpress.com/2011/06/25/anonymousu-tartismaya-devam-ediyoruz-anonymous-ucuncu-sehrin-kuruculari/
  date: '2011-06-25 11:27:26 +0300'
  date_gmt: '2011-06-25 09:27:26 +0300'
  content: "[...] Kaynak: http://netdefteri.alternatifbilisim.org/2011/06/anonymous-ucuncu-sehrin-kuruculari/
    [...]"
---
<p>Anonymous'un IRC'sinden dolaşarak ulaştığım eğitici bir yazı, "<a href="http://wiki.echelon2.org:8090/wiki/Guide_to_Pursuants" target="_blank">pursuance</a>" diye bir kavram ile açıklıyor Anonymous'u oluşturan sosyal-teknik yapıyı, kulllanılan araçları, işin doğasını.</p>
<p>Anonymous'un ürettiği sayfaların oluşturduğu "coğrafyayı" dolaştıkça ("sörf" yaptıkça!) şunu fark ediyorum: Anonymous, İnternet'in başlangıcındaki karmaşık yapısına bilinçli bir geri dönüş gibi... Hikayeyi baştan alırsak:</p>
<p>Web 1.0'ın içeriğinin çoğu biri birini tutmayan amatör sitelere yayılmıştı, kaotik bir yapısı vardı. Kişisel ifade, özel alanlar, takma isimler (sanal kimlikler) ön plandaydı. En çok kullanılan araç hipermetin kodlamaydı.</p>
<p>Web 2.0, basit ve düzenli yapılar altında kullanıcıları kitleler halinde toplayarak bütün içeriği organize etti, merkezileştirdi, kamulaştırdı. Gerçek isimleri, gerçek ilişkileri yansıtarak sanal toplumu gerçek toplumla örtüştürdü. En çok kullanılan araç sosyal medya hizmetleriydi.</p>
<p>Anonymous'un mayasını oluşturduğu Web 3.0 ise, 2.0 ile kurulan kamusal paylaşım akışına bulaşan denetim yapılarından boğulan insanların kişisel alanlarını yeniden ilan etme çabasına dayanıyor. 1.0 ve 2.0'daki bütün araçlar yenileri eklenerek çoğaltılıyor. Bu yeni ağ, kamusalın dışına kaçan, onun gölgesi olan bir kişisel ara alan, kişilerarası alan oldu. 1.0'daki sanal kimlikler ve heterojen içerikler geri döndü, ama yeni araçlar sayesinde emek ortaklaşabildiği için artık hepsine tek bir imza atılıyor: Anonymous.</p>
<p>Yine hikayenin başına dönüyorum, bu sefer şehir mecazıyla:</p>
<p><a href="/images/content/ucsehir.jpg"><img class="size-medium wp-image-65 alignright" title="ucsehir" src="/images/content/ucsehir-300x229.jpg" alt="" width="300" height="229" /></a></p>
<p><strong>Üç şehir</strong></p>
<p>İlk şehir, bir gecekondu mahallesi gibiydi. Herkes taş taş üstüne koyup kendi evini (<em>homepage</em>!) yapmış, elinde avucunda ne varsa onu paylaşıyordu. Evler farklı farklıydı, benzer problemler farklı şekillerde çözülmüştü. Verim düşüktü, ama yaratıcılık ve samimiyet yüksekti.</p>
<p>Zamanla teknik olanaklar arttı, yeni araçlar yapıldı ve birileri ücretsiz oteller açmaya başladı. İnternet'e yeni katılanlar bu otelleri doldurdukça yeni ve daha büyük gökdelenler inşa edildi. Nüfusu kat kat artıran bu ikinci şehir, çok verimli standart "<em>sitelerden</em>" oluşuyordu. Herkes bu hizmetlere yöneldikçe birinci şehir, ikincinin gölgesinde kaldı ve bir hayalet şehir oldu.</p>
<p>Ne var ki, ikinci şehrin yüksek standartları bazı insanları memnun etmez oldu. Çünkü çoğunluğun pasif tüketici olduğu kamusal alanlarda yaratıcı, üretici alanlar kurulamıyordu. Üretim gökdelenin dışında bireysel olarak yapılmak zorundaydı, çünkü gökdelendeki yaşam tüketime dayanıyordu. Hazır ürünlerin paylaşım bombardımanı altındaydı ve üretici-yaratıcı emeği ortaklaştırmak için uygun bir ortam değildi.</p>
<p>İşte bu boğuntudan kurtulmak isteyen insanlar, gökdelenlerin dışında buluşmalar düzenlemeye başladılar. Kurtulmak istedikleri koca gökdelenlerin gölgesinin bile vurmaması için adreslerini ve isimlerini bile birbirlerinden gizlediler. Oralarda söyleyemedikleri şeyleri, cevap bulamadıkları soruları, ya da kaynayıp giden fikirleri buralarda dillendirdiler. Artık içinde bulundukları şu ya da bu gökdelenin kurallarına uymak zorunda değildiler, çünkü gerektikçe kendi prefabrik salonlarını kurabiliyorlar, her amaca yönelik yapılar oluşturabiliyorlardı.</p>
<p>Bu insanların sesinin duyulması, güçlerini birleştirmeleri ile oldu. Her biri kendine ayrılmış kilitli odalarının penceresinden bakmaya, pasif tüketime alışmış, odasından nasıl çıkacağını bile bilmeyen gökdelen sakinlerine tamamen yabancı bir şekilde, bu insanlar bir gün prefabrik salonlarından çıkarak binlerce kişi beraberce gökdelenlere yürüdü. Belirledikleri bir gökdelenin etrafını sararak onu geçici olarak kararttılar. O zaman insanlar gördü ki bu dünya kilitli odalardan, başkalarının sizin için tasarladığı pencerelerden ibaret değildir.</p>
<p>Bu yeni insanlar, el birliği ile üçüncü şehri kuracaklardı. Bu insanlar <em>Anonymous</em>'tu.</p>
