---
layout: post
status: publish
published: true
title: Assange'ın Felsefesi ve Tezgah Kuramı
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "Julian Assange'ın bu kitapta yer verdiğimiz üç yazısının bahsettiği konular
  farklı farklı da olsa, yan yana koyduğumuzda Assange'ın kültürel arkaplanı ve dünyaya
  bakışı hakkında genel bir fikir edinebiliyoruz. Bu kısa değerlendirmede, bu yazılardan
  çıkan sonuçları özetleyeceğiz. Hemen ilk gözlemlerimizle başlayalım.\r\n\r\n"
wordpress_id: 446
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=446
date: '2011-04-20 01:27:55 +0300'
date_gmt: '2011-04-19 23:27:55 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>Julian Assange'ın bu kitapta yer verdiğimiz üç yazısının bahsettiği konular farklı farklı da olsa, yan yana koyduğumuzda Assange'ın kültürel arkaplanı ve dünyaya bakışı hakkında genel bir fikir edinebiliyoruz. Bu kısa değerlendirmede, bu yazılardan çıkan sonuçları özetleyeceğiz. Hemen ilk gözlemlerimizle başlayalım.</p>
<p><a id="more"></a><a id="more-446"></a><em>Assange bir hacker'dır.</em> Bu kültürel arkaplanı daha ilk yazıda ABD'nin demirbaş makinelerine bulaşan WANK solucanını konu etmesinde, solucanın 'izini sürmelerinde', Yeni Zelanda'yı solucandan koruyan kod parçalarına dikkat çekmesinde görebiliyoruz. </p>
<p><em>Assange, toplumsal meseleleri anlamak ve çözmek istemektedir.</em> Nükleer tehdit konusundaki siyasi çatışmalardan otoyollarda oluşan çukurlara kadar her kamusal sorun, Assange'ın ilgi alanına girmektedir.</p>
<p><em>Assange, karşılaştığı sorunlara Bilgisayar Bilimleri'nin penceresinden bakar.</em> İkinci yazıda toplumsal-fiziksel olaylara dair 'denetimden çıkmış süreç', 'çöp girer, çöp çıkar' gibi terimler kullanması bunu gösteriyor. Üçüncü yazısında ise rejimleri birer 'ağ' yapısı olarak, birbirine farklı ağırlıklarla bağlanmış düğümler olarak incelemeye ve bu sisteme dair 'toplam tezgahlama gücü' gibi toplam 'metrikler' tanımlamaya yönelmesi, yine bu bilimsel yaklaşımın göstergeleridir.</p>
<p><em>Assange'a göre toplumsal sistemi anlamak için önce nesnel şartları anlamak gerekir.</em> Toplumsal sistem, bir özne ya da özneler alanı olmasından önce, belirli yasalara göre işleyen, nesnel, doğal, hatta fiziksel bir süreçtir. Sistemin içinde bulunan öznelerin davranışları ve yetenekleri, üçüncü yazıda 'bağlantı ağırlıklarıyla' ifade ettiği fiziki koşullarla sınırlanmıştır.</p>
<p><em>Assange'a göre toplumsal sorunların birincil kaynağı, siyasi kararların yanlışlığından önce bilgi akışındaki eksiklikler ve bunun sonucunda ortaya çıkan öngörü yeteneksizliğidir.</em> İkinci yazıda birkaç örnekle işaret ettiği bu tespitini üçüncü yazıda kuramlaştırıyor. Assange, siyasetin ekonomiye indirgenmesini, iktidar partisinin öncelik verdiği amaçlara daha çok bütçe ayırması olarak görülmesini eleştirir. Öte yandan, kapitalizmin eleştiri biçimlerinde alışık olduğumuz gibi, birbiriyle doğal çatışma içinde bulunan kesimlerden bahsetmez.</p>
<p><em>Assange'ın hedefine koyduğu 'görünmez devlet', diğer deyişle 'tezgah', otoriter güç üreten ve ondan beslenen, bilgi akışının kısıtlanmasına dayanan bir toplumsal oluşumdur.</em> Bir tezgahı ele veren özellik, planlarını muhataplarından gizleyen dar bir gruba dönüşmesidir. Bu yapı, bağlantıların ağırlıklandırıldığı bir 'bağlı çizge' olarak ele alınabilir.(1)</p>
<p><em>Assange'ın amacı, 'tezgahları' yok etmek, ya da etkilerini en aza indirmektir.</em> Bir tezgahın etkisini ölçmek için 'toplam tezgahlama gücünü' tanımlar. Bu değer, üyeler arasındaki bağlantıların toplamı olduğuna göre, bu değeri azaltmak için ilk akla gelen yöntemler, önemli bağlantılara zarar vermek (güven bunalımı), ya da önemli bağlantılar kurmuş olan üyeleri ortadan kaldırmaktır (kaçırma, süikast gibi).</p>
<p>Elimizdeki yazılardan edinebildiğimiz bilgiler özetle böyle. Wikileaks'te yapılmaya çalışılanı anlamak için biraz düşünürsek şu sonuçlara varıyoruz:</p>
<ul>
<li><em>Gizli belgeleri deşifre ederek tezgahlayıcıların birbirine duydukları güveni zayıflatabiliriz.</em> Dolayısıyla bağlantı ağırlıkları küçülür ve toplam tezgahlama gücü darbe alır. Tezgahlayıcılar, planlama ve öngörü yeteneğini kaybeder.</li>
<li><em>Belgeler açığa çıktıkça muhalefet güç kazanır.</em> Halk desteğinin azalması sonucu rejim içi güven bunalımı daha etkili olacaktır.</li>
<li><em>Güven bunalımı en üstteki tezgah oluşumundan, onu oluşturan dar tezgah gruplarına doğru yayılır.</em> Devletleri birer tezgah olarak düşünürsek, uluslararası diplomasi onların yaslandığı ve biçimlendirdiği bir üst-tezgahtır. Sızdırmanın yaratacağı etki, hem en üstteki tezgah oluşumunu, hem de ona yaslanan ve ona biçimsel olarak benzeyen diğer tüm alt tezgah gruplarını zayıflatacaktır.</li>
</ul>
<p>Yazılarda bulabildiğimiz kuramlaştırma ile Wikileaks'e dair bunları söyleyebiliyoruz. Öte yandan, bu bakış açısına dair açıklanmayı bekleyen birçok soru aklımıza geliyor. Sözgelimi bu yazıda 'bağlı çizge' gösterimi, 'tezgahları' ifade etmek için kullanılmış. Daha önce de 'terörist ağları' göstermekte kullanıldığı belirtilmiş. Peki bu tezgahları zayıflatmamıza yardımcı olan, onu yok ettiğimizde belki yerini alacak olan 'muhalefet' ya da 'direniş' de bu çizgelerle gösterilebilir mi? Çizgeler, bilgi akışının yalnızca kısıtlı halini mi gösterir, yoksa özgürlüğü de ifade edebilir mi? </p>
<p>Kısıtlanmış bağlantı ağları olarak tezgahların alternatifi herkesin birbirine tamamen bağlı olduğu bir 'tümüyle bağlı çizge' midir, yoksa etkili özgürleşme biçimlerine karşılık gelen belirli bağlantı örüntüleri var mıdır? Belki de modeli geliştirmemiz, üye ya da bağlantıların olumlu-olumsuz niteliklerini de hesaba katmamız gerekecektir... Bu durumda 'tezgah' ve 'direniş' iki ayrı resim mi olacaktır, yoksa ikisini birbiriyle ilişki içinde gösteren tek bir büyük çizgeyle gösterilebilecek midir? Tezgaha vurulan darbelerin direnişi güçlendirdiğini, iki tarafın birbiri üzerinde güçleri oranında bir baskı yarattığını böyle bir çizgede nasıl ifade edebiliriz? Bunun yanısıra, birbiriyle bir üst-tezgah altında birleşmiş tezgahların biri zarar gördüğünde diğerinin göreli olarak güçlenmesi gibi karmaşık durumlar nasıl ele alınacaktır? </p>
<p>En önemlisi, bu kurama dayanarak nasıl eylem yöntemleri geliştirebiliriz? Assange'ın kuramı, sızdırmayı bir eylem biçimi olarak önermeye götürdü. Bunun üstüne konacak kuramlar da, yeni ve yaratıcı eylem biçimlerine esin kaynağı olabildiği kadar anlamlı olacaktır. Assange'ın deyişiyle:</p>
<blockquote><p>"Bizden önce yola çıkanların ötesinde düşünmek ve bizi öncellerimizde olmayan eylem yolları ile donatan teknolojik değişimleri keşfetmek zorundayız." (Julian Assange, İdare Yolu Olarak Tezgah)
</p></blockquote>
<p>1) İngilizcesi 'connected graph with weighted links'. Detaylar için Çizge Kuramı'nı inceleyebilirsiniz [Graph Theory].</p>
<p>Işık Barış Fidaner<br />
kaynak: Cesur Yeni Medya</p>
