---
layout: post
status: publish
published: true
title: Anonymous suç işledi mi?
author:
  display_name: ilden
  login: ilden
  email: ildendirini@gmail.com
  url: http://alternatifbilisim.org
author_login: ilden
author_email: ildendirini@gmail.com
author_url: http://alternatifbilisim.org
excerpt: "<a href=\"/images/content/ahi.jpeg\"><img
  class=\"alignleft size-full wp-image-46\" title=\"anonymous\" src=\"/images/content/ahi.jpeg\"
  alt=\"\" width=\"340\" height=\"192\" /></a>\r\n\r\nGeçen hafta, kim oldukları bilinmeyen
  (hatta bilinmesini istemeyen) Anonymous ile Telekomünikasyon İletişim Başkanlığı
  olarak bilinen TİB’in mücadelesi vardı. Bir kesim, olayı millileştirerek hatta milli
  mücadeleye benzeterek destek verenleri vatan haini ilan ederken, bir kesim de Anonymous’a
  dolaylı ya da dolaysız yazıyla veya yazılım yüklereyek destek verdi.\r\n\r\nAnonymous’un
  verdiği tarih ve saatten önce, atağa destek olacak bazı kişilerin IP adreslerinin
  yayınlanması Türkiye’den katılımı azaltınca ve TİB de atak anında yurtdışından erişimi
  kesince protesto amaçlı atak tam olarak hedefe ulaşamamış oldu. Ancak, verilmek
  istenen mesaj zaten yerine ulaşmıştı. Anonymous’un bu eylemini kişisel olarak benimsememek
  ve desteklememekle birlikte, protesto olarak TİB’e yönelen DDOS atağının suç olup
  olmayacağını hukuken tartışmaya açmak isterim.\r\n\r\n<strong>DDOS nedir?</strong>\r\n\r\nHer
  web sitesinin belirli bir kapasitesi vardır. Örneğin bir web sitesinde aynı anda
  2 bin kişinin girebileceği  bir kapasite vardır. Eğer bu siteye aynı anda 10 bin
  kişi girmeye kalkarsa, bir de sürekli siteye girmek için komut yollarsa bu siteye
  ulaşılması mümkün olmaz. Örneğin sınav sonuçları açıklandığı zaman ÖSYM’nin sitesine
  ulaşılamamasının da sebebi budur. Kapasitesi düşük olan siteye aynı anda 100 bin
  kişi girmeye çalışınca ÖSYM’nin de sitesine ulaşılamaz.\r\n\r\nAnonymous eylemcilerinin
  yaptığı iş de bundan başka bir şey değildir. Herkesin bilgisayar başında tek tek
  F5 (yenile) tuşuna basmakla uğraşması yerine bu işi otomatize eden bir yazılım kullanılması
  sadece işi kolaylaştırmak amacı taşır. DDOS ataklarında, web sitesine, sunuculara
  veya verilere herhangi bir zarar verilmesi söz konusu değildir. Zira, DDOS atağı
  sadece o siteye kapasitesinin üzerinde binlerce kişi tarafından giriş yapmaktan
  ve servisin aksamasını sağlamaktan başka bir şey değildir.\r\n\r\nBazı durumlarda,
  kötü niyetli kişiler, binlerce bilgisayara, sahibinden habersiz olarak trojan yazılımı
  yerleştirerek o bilgisayarları istenildiğinde kullanmak üzere çalışan bir “zombi
  bilgisayar” haline getirebilir. Bu tür kötü niyetli kişiler, trojan yazılımları
  aracılığıyla binlerce kullanıcının haberi olmaksızın onların bilgisayarlarından
  bir hedefe DDOS atakları yapabilmektedir. Hedef web sitesine aynı anda binlerce
  giriş talebi gelince, o web sitesi atak durana kadar işlemez hale gelebilecektir.\r\n\r\nZombi
  kullanarak yapılan DDOS atakları ile gönüllü yapılan DDOS ataklarının birbirinden
  farkları şudur: Birisinde binlerce gönüllü hedef bir web sitesine istekleri ve amaçları
  doğrultusunda giriş yapmaya çalışır, diğerinde ise bilgisayar kullanıcısının haberi
  olmadan ve fark etmeden o bilgisayardan kötü niyetli kişilerin belirlediği hedef
  web sitesine sürekli giriş yapılmaktadır.\r\n\r\n<strong>DDOS suç mudur?</strong>\r\n\r\nDDOS
  atakları, yoğunluk yaratarak o siteye başkaları tarafından erişimi zorlaştırmaktır
  ve engellemektir. Türk Ceza Kanunu’nun 244. Maddesinde “bir bilişim sisteminin işleyişini
  engellemek” suç olarak kabul edilmiş ve yaptırımı 1-5 yıl arası hapis cezası olarak
  düzenlenmiştir. DDOS atakları da bu madde kapsamına girebilmektedir. Eğer hedef
  site, bir kamu kuruluşunun web sitesi ise DDOS atakları yapmanın cezası yarı oranında
  artırılmaktadır.\r\n\r\nUygulamada, DDOS atakları şeklindeki suça sıkça rastlanmaktadır.
  Bugün birçok ticari kuruluş, rakip firmaların web sitelerine, taşeronlarla para
  karşılığı DDOS atakları düzenlemektedir. Aynı zamanda haksız rekabet suçu oluşturan
  bu durum, web sitesinin işleyişini engellemesi dolayısıyla da bir bilişim suçu olarak
  kabul edilmektedir.\r\n\r\nÖrgütlü bir protesto eylemi ile suç olan DDOS ataklarını
  birbirinden ayırmak gerekiyor. <em>Birçok kişinin protesto amaçlı olarak (ve de
  belirli şartlar altında) hedef olarak belirlenen sitelere aynı anda giriş</em>\r\n<em>yapmaya
  çalışması, kanaatimce suç olarak değerlendirilemez. </em>Zira, bu tip bir eylemin
  amacı ve yöntemi bilinen zarar verme amaçlı DDOS ataklarından farklıdır. Yukarıda
  da belirttiğim gibi, birçok kişi gönüllü ve istekli olarak, otomatize eden yazılımı
  da kullanarak aynı web sitesine giriş yapmaya çalışmaktadır. Hatta, Anonymos’un
  organize ettiği 9 Haziran 2011 günü saat 18:00’deki atağına, binlerce kullanıcı
  da ‘Acaba TİB’in sitesine ulaşılabiliyor mu?’ diye bakarak bir nevi örtülü olarak
  DDOS atağına katılmış oldular. Şimdi birileri örgütlenerek, şu tarih şu saatte hep
  birlikte şu web sitesine giriş yapıyoruz deselerdi, aynı şekilde hedef web sitesine
  erişim sekteye uğrayacaktı.<em> Bu eylem, Taksim’de aynı anda 10 bin kişinin rastgele
  gezmesinden veya  meydanda yere yatarak bir süre beklemesinden farklı değildir. 
  Bu sebeple, buradaki eylemin suç olduğunu iddia etmek fazlaca zorlama olacaktır.</em>\r\n\r\nO
  halde, örgütlü bir protesto için yapılan DDOS ataklarının Türk Ceza Kanunu’nda tanımı
  yapılan suçtan sayılmaması için bir takım şartların aranması da zorunludur.\r\n\r\n1-   
  Örgütlü bir eylemin sadece protesto amacı taşıması gerekir. Yani herhangi bir zarar
  verme veya 3. kişilerin önemli ihtiyaçlarını kesintiye uğratma amacı taşımamalıdır.
  Bir eylemden dolayı kamu malına zarar verilmesi asla düşünülemez.  Zira, Anonymous
  eyleminde, TİB’in sitesine mesai saatinin dışında üç saat süreyle atak yapılmış
  gözüküyor. Eğer ulaşım, sağlık ve başka temel ihtiyaçların karşılanması amaçlı web
  sitelerine yapılmış ataklar olsaydı, protesto eylemi amacını oldukça aşmış olacaktı.\r\n\r\n2-   
  Örgütlü bir protesto eyleminin barışçıl ve uzlaşmacı olması gerekir. Eylemlerde
  hedef ve amaç, verilmek istenen mesajın muhataba ve basın aracılığıyla kamuoyuna
  ulaşmasıdır. Ancak verilen mesajlar, insanları birbirine düşürecek, ayrımcılık yapacak,
  kişileri ve kurumları küçük düşürecek nitelikte olmamalıdır. Anonymous, herhangi
  bir kişiye ve kuruma yönelmeden sadece sansüre gidebilecek uygulamalara dikkat çekmek
  amacıyla, empati kurabilsinler diye TİB’in sitesine bir müddet sansür uygulamaya
  çalışmıştır.\r\n\r\n3-    Örgütlü protesto eylemi ölçülü ve dengeli olmalıdır. Bu
  olayı örnek olarak alırsak, TİB’in sitesine yönelen atakların uzun süreli ve yoğun
  etkili olmaması gerekir. Nitekim, günboyu sürecek ve gereğinden fazla etkili olacak
  bir atak da amacından sapmış olacaktır. Anonymous’un organize ettiği eylem, 3 saat
  kadar belli bir ölçüde etkili olmuştur. Yetkililerce, kamu malına zarar verilmiş
  veya verilere müdahalede bulunulmuş olduğu rapor edilmemiştir.\r\n\r\n4-    Örgütlü
  bir protesto eyleminin dikkat çekmesi ve mesajını ulaştırması için önceden kamuoyuna
  ve yetkililere haber verilmesi gerekir. Anonymous atak öncesi açıklamasında tarih,
  saat ve hedef vermiştir.\r\n\r\nTüm bu koşullar bir arada bulunduğu takdirde, bir
  suçtan bahsedilemez. Zira, ceza hukuku amaca (saike) önem vermiştir ve bir eylemin
  suç olup olmadığının mahkemede tartışılmasına olanak sağlamıştır.\r\n\r\nZaten,
  İnsan Hakları Evrensel Beyannamesi, Avrupa İnsan Hakları Sözleşmesi ve Anayasa’mız
  da meşru amaçlarla örgütlenme ve protesto etme hakkını açıkça tanımlamıştır. Bu
  belgeler, fikir ve ifade özgürlüğünü tanımlamış ve sınırlarını çizmiştir. Protesto
  etme hakkı, bu belgelerde açıkça yazmasa bile fikir ifade özgürlüğünün doğal bir
  uzantısı sayılmaktadır. Protesto, ister devletlere isterse kurumlara isterse de
  sivil kişi ve kurumlara yönelsin, hiçbir şekilde barışçıl olmaktan uzaklaşmamalıdır.\r\n\r\nAnonymous
  olayında protesto edilen şey, BTK’nın 22 Ağustos’ta uygulamaya koyacağı internet
  filtresi uygulamasıdır. Çünkü bugüne kadarki uygulamalar, iyi niyetli gibi gözüken
  filtre uygulamasının aslında sansüre ve otosansüre yol açacağı endişesidir. Bu endişenin
  duyulması da gayet normal görülmelidir. Zira, filtre uygulamasının ne şekilde, ne
  derecede ve hangi prosedürle işletileceğine dair kamuoyuna yeterli ve tatmin edici
  bir bilgi ne yazık ki hâlâ verilememiştir. Ücretsiz ve yaygın olarak herkese verilebilecek
  filtre yazılımları varken, BTK’nın genel bir filtre konusunda ısrar etmesi her zaman
  bu konudaki endişeleri artırmaya yetecektir.\r\n\r\nTİB’in bu atakla ilgili olarak
  suç duyurusunda bulunması gayet olağandır. Çünkü görevi ve yapısı gereği suç duyurusunda
  bulunmak zorundadır. Ancak,<em> ne olursa olsun gerek TİB’in gerekse de üst makamı
  olan BTK’nın bu kadar eleştiriye ve protestoya bir şekilde kulak vermeleri gerekir.
  Kamu kurumlarının görevlerinden birisi de taleplere ve eleştirilere cevap vermek,
  kamuoyunun beklentilerini almak ve istekleri değerlendirmektir.</em>\r\n\r\nAncak
  organik bağı olan bu iki kurum, ne yazık ki iletişim ve iletişim stratejisi konusunda
  fazlaca düz mantık içindeler. Herhangi bir sitenin mahkemece kapatılmasında bile
  kamuoyunun bunu TİB kaynaklı zannetmesi, TİB’in tamamen iletişime kapalı olmasından
  kaynaklanıyor. Halbuki, yerinde ve gerekçesiyle yapılmış basın açıklamaları kadar
  internetin aktörlerinin de fikrinin sorulmuş olması, tüm yanlış anlamaların önüne
  geçebilecektir. <em>40 bin kişilik protesto yürüyüşünü görmezden gelmek ve sürekli
  “isteyen istediği paketi seçer” şeklindeki dayatmacı açıklamalar, bu iki kurum hakkındaki
  sansürcü etiketini kolay kolay değiştirmeyecektir. Dolayısıyla, kimse bu filtre
  işinin peşini kolay kolay bırakmayacaktır.</em>\r\n<blockquote><em>"
wordpress_id: 45
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=45
date: '2011-06-19 14:25:49 +0300'
date_gmt: '2011-06-19 12:25:49 +0300'
categories:
- Kategorilendirilmemiş
tags:
- anonymous
- sansür
- Güvenli İnternet
- DDOS
comments: []
---
<p><a href="/images/content/ahi.jpeg"><img class="alignleft size-full wp-image-46" title="anonymous" src="/images/content/ahi.jpeg" alt="" width="340" height="192" /></a></p>
<p>Geçen hafta, kim oldukları bilinmeyen (hatta bilinmesini istemeyen) Anonymous ile Telekomünikasyon İletişim Başkanlığı olarak bilinen TİB’in mücadelesi vardı. Bir kesim, olayı millileştirerek hatta milli mücadeleye benzeterek destek verenleri vatan haini ilan ederken, bir kesim de Anonymous’a dolaylı ya da dolaysız yazıyla veya yazılım yüklereyek destek verdi.</p>
<p>Anonymous’un verdiği tarih ve saatten önce, atağa destek olacak bazı kişilerin IP adreslerinin yayınlanması Türkiye’den katılımı azaltınca ve TİB de atak anında yurtdışından erişimi kesince protesto amaçlı atak tam olarak hedefe ulaşamamış oldu. Ancak, verilmek istenen mesaj zaten yerine ulaşmıştı. Anonymous’un bu eylemini kişisel olarak benimsememek ve desteklememekle birlikte, protesto olarak TİB’e yönelen DDOS atağının suç olup olmayacağını hukuken tartışmaya açmak isterim.</p>
<p><strong>DDOS nedir?</strong></p>
<p>Her web sitesinin belirli bir kapasitesi vardır. Örneğin bir web sitesinde aynı anda 2 bin kişinin girebileceği  bir kapasite vardır. Eğer bu siteye aynı anda 10 bin kişi girmeye kalkarsa, bir de sürekli siteye girmek için komut yollarsa bu siteye ulaşılması mümkün olmaz. Örneğin sınav sonuçları açıklandığı zaman ÖSYM’nin sitesine ulaşılamamasının da sebebi budur. Kapasitesi düşük olan siteye aynı anda 100 bin kişi girmeye çalışınca ÖSYM’nin de sitesine ulaşılamaz.</p>
<p>Anonymous eylemcilerinin yaptığı iş de bundan başka bir şey değildir. Herkesin bilgisayar başında tek tek F5 (yenile) tuşuna basmakla uğraşması yerine bu işi otomatize eden bir yazılım kullanılması sadece işi kolaylaştırmak amacı taşır. DDOS ataklarında, web sitesine, sunuculara veya verilere herhangi bir zarar verilmesi söz konusu değildir. Zira, DDOS atağı sadece o siteye kapasitesinin üzerinde binlerce kişi tarafından giriş yapmaktan ve servisin aksamasını sağlamaktan başka bir şey değildir.</p>
<p>Bazı durumlarda, kötü niyetli kişiler, binlerce bilgisayara, sahibinden habersiz olarak trojan yazılımı yerleştirerek o bilgisayarları istenildiğinde kullanmak üzere çalışan bir “zombi bilgisayar” haline getirebilir. Bu tür kötü niyetli kişiler, trojan yazılımları aracılığıyla binlerce kullanıcının haberi olmaksızın onların bilgisayarlarından bir hedefe DDOS atakları yapabilmektedir. Hedef web sitesine aynı anda binlerce giriş talebi gelince, o web sitesi atak durana kadar işlemez hale gelebilecektir.</p>
<p>Zombi kullanarak yapılan DDOS atakları ile gönüllü yapılan DDOS ataklarının birbirinden farkları şudur: Birisinde binlerce gönüllü hedef bir web sitesine istekleri ve amaçları doğrultusunda giriş yapmaya çalışır, diğerinde ise bilgisayar kullanıcısının haberi olmadan ve fark etmeden o bilgisayardan kötü niyetli kişilerin belirlediği hedef web sitesine sürekli giriş yapılmaktadır.</p>
<p><strong>DDOS suç mudur?</strong></p>
<p>DDOS atakları, yoğunluk yaratarak o siteye başkaları tarafından erişimi zorlaştırmaktır ve engellemektir. Türk Ceza Kanunu’nun 244. Maddesinde “bir bilişim sisteminin işleyişini engellemek” suç olarak kabul edilmiş ve yaptırımı 1-5 yıl arası hapis cezası olarak düzenlenmiştir. DDOS atakları da bu madde kapsamına girebilmektedir. Eğer hedef site, bir kamu kuruluşunun web sitesi ise DDOS atakları yapmanın cezası yarı oranında artırılmaktadır.</p>
<p>Uygulamada, DDOS atakları şeklindeki suça sıkça rastlanmaktadır. Bugün birçok ticari kuruluş, rakip firmaların web sitelerine, taşeronlarla para karşılığı DDOS atakları düzenlemektedir. Aynı zamanda haksız rekabet suçu oluşturan bu durum, web sitesinin işleyişini engellemesi dolayısıyla da bir bilişim suçu olarak kabul edilmektedir.</p>
<p>Örgütlü bir protesto eylemi ile suç olan DDOS ataklarını birbirinden ayırmak gerekiyor. <em>Birçok kişinin protesto amaçlı olarak (ve de belirli şartlar altında) hedef olarak belirlenen sitelere aynı anda giriş</em><br />
<em>yapmaya çalışması, kanaatimce suç olarak değerlendirilemez. </em>Zira, bu tip bir eylemin amacı ve yöntemi bilinen zarar verme amaçlı DDOS ataklarından farklıdır. Yukarıda da belirttiğim gibi, birçok kişi gönüllü ve istekli olarak, otomatize eden yazılımı da kullanarak aynı web sitesine giriş yapmaya çalışmaktadır. Hatta, Anonymos’un organize ettiği 9 Haziran 2011 günü saat 18:00’deki atağına, binlerce kullanıcı da ‘Acaba TİB’in sitesine ulaşılabiliyor mu?’ diye bakarak bir nevi örtülü olarak DDOS atağına katılmış oldular. Şimdi birileri örgütlenerek, şu tarih şu saatte hep birlikte şu web sitesine giriş yapıyoruz deselerdi, aynı şekilde hedef web sitesine erişim sekteye uğrayacaktı.<em> Bu eylem, Taksim’de aynı anda 10 bin kişinin rastgele gezmesinden veya  meydanda yere yatarak bir süre beklemesinden farklı değildir.  Bu sebeple, buradaki eylemin suç olduğunu iddia etmek fazlaca zorlama olacaktır.</em></p>
<p>O halde, örgütlü bir protesto için yapılan DDOS ataklarının Türk Ceza Kanunu’nda tanımı yapılan suçtan sayılmaması için bir takım şartların aranması da zorunludur.</p>
<p>1-    Örgütlü bir eylemin sadece protesto amacı taşıması gerekir. Yani herhangi bir zarar verme veya 3. kişilerin önemli ihtiyaçlarını kesintiye uğratma amacı taşımamalıdır. Bir eylemden dolayı kamu malına zarar verilmesi asla düşünülemez.  Zira, Anonymous eyleminde, TİB’in sitesine mesai saatinin dışında üç saat süreyle atak yapılmış gözüküyor. Eğer ulaşım, sağlık ve başka temel ihtiyaçların karşılanması amaçlı web sitelerine yapılmış ataklar olsaydı, protesto eylemi amacını oldukça aşmış olacaktı.</p>
<p>2-    Örgütlü bir protesto eyleminin barışçıl ve uzlaşmacı olması gerekir. Eylemlerde hedef ve amaç, verilmek istenen mesajın muhataba ve basın aracılığıyla kamuoyuna ulaşmasıdır. Ancak verilen mesajlar, insanları birbirine düşürecek, ayrımcılık yapacak, kişileri ve kurumları küçük düşürecek nitelikte olmamalıdır. Anonymous, herhangi bir kişiye ve kuruma yönelmeden sadece sansüre gidebilecek uygulamalara dikkat çekmek amacıyla, empati kurabilsinler diye TİB’in sitesine bir müddet sansür uygulamaya çalışmıştır.</p>
<p>3-    Örgütlü protesto eylemi ölçülü ve dengeli olmalıdır. Bu olayı örnek olarak alırsak, TİB’in sitesine yönelen atakların uzun süreli ve yoğun etkili olmaması gerekir. Nitekim, günboyu sürecek ve gereğinden fazla etkili olacak bir atak da amacından sapmış olacaktır. Anonymous’un organize ettiği eylem, 3 saat kadar belli bir ölçüde etkili olmuştur. Yetkililerce, kamu malına zarar verilmiş veya verilere müdahalede bulunulmuş olduğu rapor edilmemiştir.</p>
<p>4-    Örgütlü bir protesto eyleminin dikkat çekmesi ve mesajını ulaştırması için önceden kamuoyuna ve yetkililere haber verilmesi gerekir. Anonymous atak öncesi açıklamasında tarih, saat ve hedef vermiştir.</p>
<p>Tüm bu koşullar bir arada bulunduğu takdirde, bir suçtan bahsedilemez. Zira, ceza hukuku amaca (saike) önem vermiştir ve bir eylemin suç olup olmadığının mahkemede tartışılmasına olanak sağlamıştır.</p>
<p>Zaten, İnsan Hakları Evrensel Beyannamesi, Avrupa İnsan Hakları Sözleşmesi ve Anayasa’mız da meşru amaçlarla örgütlenme ve protesto etme hakkını açıkça tanımlamıştır. Bu belgeler, fikir ve ifade özgürlüğünü tanımlamış ve sınırlarını çizmiştir. Protesto etme hakkı, bu belgelerde açıkça yazmasa bile fikir ifade özgürlüğünün doğal bir uzantısı sayılmaktadır. Protesto, ister devletlere isterse kurumlara isterse de sivil kişi ve kurumlara yönelsin, hiçbir şekilde barışçıl olmaktan uzaklaşmamalıdır.</p>
<p>Anonymous olayında protesto edilen şey, BTK’nın 22 Ağustos’ta uygulamaya koyacağı internet filtresi uygulamasıdır. Çünkü bugüne kadarki uygulamalar, iyi niyetli gibi gözüken filtre uygulamasının aslında sansüre ve otosansüre yol açacağı endişesidir. Bu endişenin duyulması da gayet normal görülmelidir. Zira, filtre uygulamasının ne şekilde, ne derecede ve hangi prosedürle işletileceğine dair kamuoyuna yeterli ve tatmin edici bir bilgi ne yazık ki hâlâ verilememiştir. Ücretsiz ve yaygın olarak herkese verilebilecek filtre yazılımları varken, BTK’nın genel bir filtre konusunda ısrar etmesi her zaman bu konudaki endişeleri artırmaya yetecektir.</p>
<p>TİB’in bu atakla ilgili olarak suç duyurusunda bulunması gayet olağandır. Çünkü görevi ve yapısı gereği suç duyurusunda bulunmak zorundadır. Ancak,<em> ne olursa olsun gerek TİB’in gerekse de üst makamı olan BTK’nın bu kadar eleştiriye ve protestoya bir şekilde kulak vermeleri gerekir. Kamu kurumlarının görevlerinden birisi de taleplere ve eleştirilere cevap vermek, kamuoyunun beklentilerini almak ve istekleri değerlendirmektir.</em></p>
<p>Ancak organik bağı olan bu iki kurum, ne yazık ki iletişim ve iletişim stratejisi konusunda fazlaca düz mantık içindeler. Herhangi bir sitenin mahkemece kapatılmasında bile kamuoyunun bunu TİB kaynaklı zannetmesi, TİB’in tamamen iletişime kapalı olmasından kaynaklanıyor. Halbuki, yerinde ve gerekçesiyle yapılmış basın açıklamaları kadar internetin aktörlerinin de fikrinin sorulmuş olması, tüm yanlış anlamaların önüne geçebilecektir. <em>40 bin kişilik protesto yürüyüşünü görmezden gelmek ve sürekli “isteyen istediği paketi seçer” şeklindeki dayatmacı açıklamalar, bu iki kurum hakkındaki sansürcü etiketini kolay kolay değiştirmeyecektir. Dolayısıyla, kimse bu filtre işinin peşini kolay kolay bırakmayacaktır.</em></p>
<blockquote><p><em><a id="more"></a><a id="more-45"></a>Av. Gökhan Ahi'nin yazısı </em>http://www.yenimedyaduzeni.com/anonymous-suc-isledi-mi/ adresinden alınmıştır.</p></blockquote>
