---
layout: post
status: publish
published: true
title: Yasaklara Karşı Ne Yapsak?
author:
  display_name: aliriza
  login: aliriza
  email: ali.r.keles@gmail.com
  url: http://alternatifbilisim.org
author_login: aliriza
author_email: ali.r.keles@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 186
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=186
date: '2011-12-21 16:22:38 +0200'
date_gmt: '2011-12-21 14:22:38 +0200'
categories:
- Kategorilendirilmemiş
tags:
- sansür
- alternatif bilişim derneği
comments: []
---
<p>[caption id="" align="alignright" width="350" caption="Yasaklara Karşı Ne Yapsak? temalı Gençlik Filmleri Festivali&#39;nde Sansüre Karşı Çıkan Alternatif Bilişim Derneği&#39;ne verilen Plaket"]<img class="  " title="Yasaklara Karşı Ne Yapsak? Sansüre Karşı Çıkan Alternatif Bilişim Derneği'ne verilen Plaket" src="http://www.alternatifbilisim.org/w/images/Genclik-filmleri-festivali-odul.jpg" alt="Yasaklara Karşı Ne Yapsak? Sansüre Karşı Çıkan Alternatif Bilişim Derneği'ne verilen Plaket" width="350" height="322" />[/caption]</p>
<p>Dün gece İTÜ Maçka Kampüsü'nde Öğrenci Kolektiflerinin düzenlediği Gençlik Filmleri Festivali açılış etkinliği gerçekleşti. Etkinliğin teması: "Yasaklara Karşı Ne Yapsak?"</p>
<p>Etkinlikte yasaklara karşı mücadele etmiş kişi ve kuruluşlara plaketler verildi. Alternatif Bilişim Derneği'ne de İnternet sansürüne karşı verdiği mücadele nedeniyle bir plaket verildi. Hemen sağda görülen plaket.</p>
<p>Kısa bir konuşma yapabileceğimi söylediler ama zaten hem aralarda gösterilen filmler hem de pandomim gösterilerinde yeterince söz söylenmişti.</p>
<p>Gecede bizim dışımızda Penguen Dergisi, Erdoğan'ın ucube dediği 'İnsanlık Anıtı'nı yapan heykeltraş Mehmet Aksoy, Rutkay Aziz gibi çok sayıda isme de ödüller verildi.</p>
<p>Plaketleri elleriyle hazırlamışlar.</p>
<p>Son olarak, sponsorsuz, desteksiz etkinlik gerçekten çok başarılı organize edilmişti.</p>
<p>Teşekkür ediyoruz...</p>
<p>&nbsp;</p>
