---
layout: post
status: publish
published: true
title: İnternet erişimi yurttaşın temel hakkıdır
author:
  display_name: ilden
  login: ilden
  email: ildendirini@gmail.com
  url: http://alternatifbilisim.org
author_login: ilden
author_email: ildendirini@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 78
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=78
date: '2011-07-01 10:48:03 +0300'
date_gmt: '2011-07-01 08:48:03 +0300'
categories:
- Kategorilendirilmemiş
tags:
- sansür
comments: []
---
<p style="text-align: center;"><em>29 Haziran 2011 tarihinde Tekgıda İş'in çağrısı ile bir araya gelen TÜRK-İş ve DİSK'e bağlı Petrol-İş, TÜMTİS, TOLEYİS, Birleşik Metal-İş, Dev-Sağlık-İş, Limter İş ve İnternet Sansürüne Karşı Ortak Platformu üyeleri, </em><strong> </strong><em>TMMOB Makine Mühendisleri Odası İstanbul Şube Binası'nda internet sansürüne karşı basın açıklaması </em><strong> </strong><em>yaptı</em></p>
<p><strong> </strong><strong><a href="/images/content/emek.jpg"><img class="size-full wp-image-79 aligncenter" title="Sendikalar sansüre karşı açıklama yaptı" src="/images/content/emek.jpg" alt="" width="455" height="243" /></a>Sansür ve Filtrelemeye Hayır</strong><br />
Seçim öncesinde çok tartışılan “İnter<strong> </strong>netin Güv<strong> </strong>enli Kullanımına  İlişkin Usul ve Esaslar” başlıklı BTK Kurul Kararı 22 Ağustos’tan  başlayarak internet d<strong> </strong>ünyasını devlet kontrolüne alınmasını sağlayacak  bir sansür girişimidir. Bu uygulamayla kullanıcılar BTK'nın belirlediği 4  internet filtresinden birini seçmek zorunda bırakılacak. Filtreyi aşmak  suç sayılacak. Filtre kıstasları ise tamamen BTK tarafından  belirlenecek.</p>
<p>Kamuoyunda rahatsızlık yaratan ve Türkiye'deki İnternet sansürü  uygulamaları, giderek temel hak ve hürriyetleri kısıtlayıcı bir hal  almaktadır. Bu konuda kaygı ve rahatsızlık içerisindeyiz. Tüm Türkiye'yi  ve biz işçi sendikalarını yakından ilgilendiren İnternet sansürü  uygulamalarına karşı itirazlarımızı ve önerilerimizi iletmek için bir  araya geldik. 15 Mayıs tarihinde özellikle İstanbul’da sokaklara çıkarak  “sansürsüz internet” talep eden 60.000 yurttaş’l<strong></strong>a dayanışma içindeyiz.</p>
<p><strong>Mevcut uygulama sansürdür</strong><br />
Türkiye'de 2007 yılında 5651 nolu kanun ile birlikte yapılan  düzenlemelerin ardından erişime engellenen sitelerin sayısı resmi  olmayan rakamlara göre 20 bine yaklaşmıştır. Kamuya açık erişim sağlanan  yerlerde zorunlu hale getirilen filtre sistemleri de 60 binden fazla  siteyi engellemektedir. Bu sayı maalesef her gün artmaktadır. Erişimi  engellenen sitelerin arasında öne sürüldüğü gibi sadece pornografi ya da  benzeri içerikli siteler yoktur. Erişimi engellenen veya filtrelenen  sitelerin önemli bir bölümü alternatif haber kaynakları, politik  içerikli siteler, bazı sendika ve emek örgütlerinin siteleri, toplumun  farklı kesimlerinin talep ve itirazlarını dile getirdikleri sitelerdir.  Bu durum asıl amacın sansür olduğunu göstermektedir. Ayrıca İnternetin  büyük birikiminin toplandığı önemli alan adları tek bir içerik/sayfa  yüzünden engellenmekte ve bu birikimlere toplumun erişmesinin ön<strong></strong>üne  geçilmektedir.</p>
<p><strong>BTK Kurul Kararı hak ve özgürlüklere aykırıdır</strong><br />
Her şeyden önce BTK Kurul Kar<strong></strong>arı merkezi filtreler önermekte ve tüm  trafiği bu filtreler aracılığı ile vatandaşlara sunmak istemektedir.  Merkezi filtre uygulaması, devlet eliyle gerçekleştiği her durumda  SANSÜRDÜR. Çünkü vatandaşın seçme, bilgiye erişme özgürlüğü elinden  alınmakta, bilgi yurttaşlara ulaşmadan devletin ilgili teknokrat ve  bürokratları tarafından engellenmektedir.</p>
<p>Bu süzme işlemini kimin nasıl yapacağı, yani ön görülen kara ve  beyaz listelerin nasıl oluşturulacağı da belirsizdir. Ucu açıktır.  Hükümetlere hassasiyetlerine göre liste hazırlama olanağı tanımaktadır.  Gerçek yaşamda hükümetlerin, devletin ilgili bürokratik kurumlarının  nasıl keyiflerince işleyip hak ve özgürlüklerimizi sınırladıkları  orta<strong></strong>dadır. Alan yasakları, grev yasakları, örgütlenme ve sendikal  hakların önündeki keyfi, yasal olmayan engeller, devlet geleneği  hakkında bize fikir vermekte, böylesi ucu açık bir filtreleme sisteminin  nereye gideceğini göstermektedir.</p>
<p><strong>Merkezi filtre çocukları koruyamaz</strong><br />
Elbette çocuk istismarının, nefret söyleminin ve<strong></strong> benzer suçların  internet mecrasında serbestçe yayılmasının önüne geçecek yasal  düzenlemeler yapmak gereklidir. Dünya çapında çocuk pornografisi, çocuk  istismarı, nefret suçu gibi konularda yapılan sınırlamalar sansür olarak  nitelendirilmemektedir. Ancak internetin devlet kontrolüne alınması,  merkezi filtre gibi uygulamalar iddia edildiği gibi çocukları  koruyamamaktadır. Her gün yüz binlerce içeriğin üretildiği bir ortamı  filtreleyebilmek mümkün değildir. Merkezi filtreleme çeşitli ülkelerde  denenmiş fakat ya tepkiler sonucu ya da çözüm olmadıkları için  terkedilmiştir. Çocuğu korumak ailenin görevidir. Aileler çocuklarını  gerçek yaşama hazırladıkları gibi, çevrimiçi dünyadaki risklere karşı da  hazırlamak sorumluluğundadırlar. Risklerden korunmak ancak eğitimle  mümkün olabilir. Bu konuda eğitim kurumlarına, medyaya, sivil toplum  örgütlerine, sendikalara büyük sorumluluk düşmektedir. Teknolojik  gelişim ayrıca ailelere çocukları korumak için yeterli bireysel  teknolojik olanaklar sağlamaktadır. BTK gibi kurullar bu alanda  insanlara hizmet verebilir. Merkezi filtre hiçbir şart altında kabul  edilemez ve asıl amacı sansürdür.</p>
<p><strong>Ahlaki kaygı ve hassasiyetlerimizin istismarı</strong><br />
Çocukların risk olarak öne sürülmesi, maalesef top<strong></strong>lumu ikna etmek  için yaratılmış bir ahlaki gerekçedir. 2007'de 5651 nolu yasa çıkmadan  önce benzer şekilde İnternet'in ne kadar kötü bir ortam olduğu medyada  işlenmiş ve toplum hazırlanmıştır. Bu hükümetlerin her dönem  başvurdukları, kritik konulara yurttaşları hazırladıkları kötü bir  yönetme metodudur. Toplumumuz genel olarak çocuk ve aile konusunda  hassastır. Bu hassasiyet maalesef istismar edilmektedir.</p>
<p><strong></strong>Toplumun bir parçası ve yurttaşlar olarak hepimiz bu konuda hassasız  ve İnterneti güvenli kullanmak istemekteyiz. Fakat bu uygulamanın bunu  amaçlamadığını, amacının sansürü derinleştirmek, İnterneti kontrol  altında tutmak olduğunun farkındayız. Ne sansür ne de toplum  hassasiyetlerinin istismarı demokratik toplumlarda kabul edilemez.</p>
<p>İnternet, işçi hareketleri, politik kampanyalar, hak mücadele<strong></strong>leri  için artık vazgeçilmez bir mecradır. Düşünce ve ifade özgürlüğünün  sınırlarını genişletmesi, örgütlü bir toplum yaratma mücadelemize  sağladığı yararlar, yönetme ve karar alma süreçlerine yurttaş katılımını  arttırması açılarından ülkemizin geleceği için çok önemli bir  olanaktır.</p>
<p>Birleşmiş Milletler, 4 Haziran'da gerçekleştirdiği oturumunda  İnterneti temel bir insan hakkı olarak tanımıştır. Ayrıca, Avrupa  Konseyi’nin Strasbourg’da 18 – 19 Nisan 2001′de gerçekleştirdiği  konferansında onayladığı “İnternetin Evrenselliğini, Bütünlüğünü ve  Açıklığını Korumak ve Geliştirmek” başlıklı kararı ise, internet  erişimini Avrupa İnsan Hakları Sözleşmesi’ne eklemiştir. Her iki karar  da, ilgili sözleşmelerde taraf olan Türkiye’nin iç hukukuna uyarlamakla  yükümlü olduğu kararlardır.</p>
<p>Hükümeti ve ilgili kurumları<br />
	BTK Kurul Kararını derhal ve acilen geri çekmeye,<br />
	İnterneti tehdit gören yaklaşımlarla hazırlanmış başta 5651 gelmek  üzere tüm yasa ve yönetmelikleri adım adım gözden geçirmeye ya da iptal  etmeye<strong></strong><br />
<strong></strong>	Konunun muhatabı çeşitli STK'lar, odalar ve sendikalarla birlikte  riskler kadar olanakları gören yeni düzenlemeler yapmaya çağırıyoruz.</p>
<p>Bu sansür girişimi 12 Eylül Anayasası'nın ve devleti vatandaştan  üstün gören devlet geleneğinin bir ürünü olarak düşünce ve ifade  özgürlüğünün önünde engellerin bir parçasıdır.  Yeni Anayasa yapımı  sürecinde düşünce ve ifade özgürlüğünü <span style="text-decoration: underline;">kayıtsız şartsız güvence altına alan</span> düzenlemeler yapmak, 30 yıldır yaşanan bunca deneyimin ışığında, tüm siyasi aktörlerin görev ve sorumluğudur.</p>
<p><strong>* 29 Haziran tarihli bu açıklama Türk-İş’e bağlı sendikalardan  Tek Gıda İş, TOLEYİS, TÜMTİS, Petrol-İş ile DİSK’e bağlı Dev Sağlık-İş,  Birleşik Metal-İş ve  Limter-İş sendikalarının katılımıyla yapıldı.   Açıklamaya Sendika.Org, TAREM, emekdunyasi.net ve Alternatif Bilişim  Derneği temsilcileri de katıldı. </strong></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><em><br />
</em></p>
