---
layout: post
status: publish
published: true
title: İnternet sansürü için gerekçe hazır
author:
  display_name: ilden
  login: ilden
  email: ildendirini@gmail.com
  url: http://alternatifbilisim.org
author_login: ilden
author_email: ildendirini@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 174
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=174
date: '2011-11-14 13:24:41 +0200'
date_gmt: '2011-11-14 11:24:41 +0200'
categories:
- Kategorilendirilmemiş
tags:
- sansür
- James Corbett
- siber saldırı
comments: []
---
<p>Geçtiğimiz haftalarda İngiltere, İsrail, ABD, Japonya ve Çin hükümetleri yabancı askeri güçler ve hackerlar tarafından siber saldırılara maruz kaldıklarını öne sürdüler. Saldırılar, İsrail ve ABD tarafından geliştirilmiş bir siber silah olan Stuxnet'e benzeyen Duqu adındaki kötü niyetli yazılımlar formunda oldu. Bu saldırıların nitelikleri ve kaynakları, hatta gerçekten olup olmadıklarının bağımsız olarak doğrulanması mümkün değil. Öne sürülen bu saldırılar internet özgürlüklerini bastırma amacını güden yeni yasa önerileri için kullanılacak. Bu saldırılar aynı zamanda 21. yüzyılın savaş alanında, Siberdünya'da, yeni rakipler ateşleyecek.</p>
<p>ABD'de, Ulusal Karşıistihbarat Müdürlüğü (National Counterintelligence Executive) kongreye sunduğu bir raporda siber casusluğun Amerikan ekonomisine büyük bir tehdit oluşturduğunu ilan etti. Rapordaki, “Rakiplerden ve Ortaklardan Yaygın Tehdit” başlıklı kısımdan alıntılar:</p>
<p>“Çinli özneler ekonomik casuslukta dünyanın en aktif ve ısrarcı failleri” ve “Rusya'nın istihbarat servisleri ABD hedeflerinden ekonomik bilgi ve teknoloji toplamak amacıyla bir dizi aktivite yapıyorlar”.</p>
<p>ABD'nin askeri teknolojik üstünlüğünü koruma ile görevlendirilen kurum DARPA (ABD Savunma Bakanlığı'nın Araştırma Projeleri Ajansı) , 2012 mali yılında bütçesinde yüzde 73 artış istedi: 120 milyon dolardan 208 milyon dolara. Buna paralel olarak Çin, rapora çok sinirlendi ve suçlanmaları “sorumsuzluk” olarak nitelendirdi.</p>
<p><strong>Halihazırda dünyadaki hükümetler siber ataklardan duydukları korkuyu kendi insanlarının İnternet özgürlüklerini kısıtlamak için bahane olarak kullanıyor.</strong><br />
Geçen ay Çin, Çinli blogcular hükümeti gittikçe daha fazla cesaretle eleştirdikleri için sosyal medya web sitelerini ve mikroblog sitelerini kapattı. Pekin'in Wenzou'daki hızlı tren kazasından sonraki zayıf müdahalesi internette yoğun şekilde yer almış ve bu şekilde Çin'in anaakım medyasında yerini bulmuştu. Devlet İnternet Bilgi Ofisi bu şekilde eleştirilerin tolere edilmeyeceğini belirtirken Xinhua haber ajansı baş ağrıtan üç blogcunun yerel otoriteler tarafından cezalandırıldığını yazdı.</p>
<p>Duyurudan birkaç gün sonra ABD Anavatan Güvenliği Birimi (DHS) sosyal medyayı kendi insanlarının takibi ve gözetlenmesi amacıyla kullanmayı düşündüğünü ifade etti. DHS sekreteri Caryn Wagner geçen Aralık'ta Tunus'da görülen sosyal ayaklanmalardan korktuğunu ve Twitter gibi sosyal medya servislerini kendi alkını gözetleme amacıyla kullanmak istediğini söyledi. <strong>Liebermann ve Collins adlı senatörler geçen Ocak ayında dile getirdikleri aciliyet durumunda Başkan'a interneti kapatabileceği bir anahtar verilmesi isteklerini yinelediler. Bu çağrı Senatör McCain tarafından da geçen Temmuz'da yapılmıştı.</strong></p>
<p>Geçen hafta İngiliz Başbakanı David Cameron sibergüvenlik ile konuşma özgürlüğü arasındaki dengenin kurulması gerektiğini belirtti. Londra'daki siber güvenlik konferansında konuşan Cameron, uluslararası bir sibergüvenlik çerçevesi için çağrı yaptı. <strong>İnternet güvenliği uzmanı Eugene Kaspersky, aynı konferansta yaptığı konuşmada, internete girmek için kullanılacak internet pasaportu fikrini ve istenmeyen hareketleri yakalayacak internet polisi fikirlerini savundu. Kaspersky, bu çerçeveye uymayan ülkelerin de internetten çıkartılmaları gerektiğini ileri sürdü.</strong></p>
<p>Kaspersky internete erişim için pasaport veya ehliyet sahibi olma fikrini ortaya atan ilk kişi değil. Geçmişte bu fikir, Microsoft'un Teknoloji Yöneticisi Craig Mundie tarafında ortaya atılmıştı ve Beyaz Saray özel sektörün Internet ID (İnternet Kimliği) geliştirmesi için bir öneri taslak hazırlamıştı.</p>
<p><strong>Uzmanlar bu planın bildiğimiz internetin sonu olacağı konusunda hemfikir. Yasal politik protesto ve hükümet eleştirisi imkansız olacak. </strong>Kaspersky'nin önerisine karşı güvenlik teknolojileri uzmanı Bruce Schneier internetteki anonimliği bitirme çabalarına istinaden şöyle yazdı:</p>
<p>“<strong>Evrensel kimlik belirleme imkansız bir şey. Yetki vermek bile – kimin hangi İnternet paketlerinden sorumlu olduğunu bilmek – imkansız. Böyle bir sistemi inşa etmek sonuçsuz kalır</strong> ve sadece suçlulara ve hackerlara yeni saklanma yolları yaratır”. Schneier, “İnternet üzerindeki anonimliği kaldırmak kenarından dolaşabilecek kadar meraklısı olanları etkilemeyecektir; milyarlarca dolara mal olacak ancak güvenlik üzerinde kaydadeğer bir etkisi olmayacaktır” diye ekledi.</p>
<p><strong>James Corbett</strong></p>
<p>*Bağımsız gazeteci James Corbett tarafından 10 Kasım'da yayımlanan raporunu sol.org.tr'den aldık</p>
