---
layout: post
status: publish
published: true
title: Yeni Medyada Etik Sorunlar
author:
  display_name: ilden
  login: ilden
  email: ildendirini@gmail.com
  url: http://alternatifbilisim.org
author_login: ilden
author_email: ildendirini@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 30
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=30
date: '2011-06-08 00:04:16 +0300'
date_gmt: '2011-06-07 22:04:16 +0300'
categories:
- Kategorilendirilmemiş
tags:
- yeni medya
- etik2.0
- etik
- çalıştay
- alternatif bilişim derneği
comments:
- id: 2
  author: aliriza
  author_email: ali.r.keles@gmail.com
  author_url: http://alternatifbilisim.org
  date: '2011-06-08 00:11:06 +0300'
  date_gmt: '2011-06-07 22:11:06 +0300'
  content: "Çok yararlı bir çalışma gerçekleştirdik. Tüm katılımcıların çok değerli
    katkıları oldu.\r\n\r\nBu alandaki sorunları doğru tanımlamak büyük bir problem.
    Yeni Medya Çalışma Grubu önemli bir işe girişti. İlk adımı da gayet başarılı attı..\r\n\r\nHepimize
    kolay gelsin.."
---
<h2>
<p>[caption id="attachment_33" align="alignright" width="300" caption="Alternatif Bilişim Derneği Yeni Medya Çalışma Grubu Kadir Has Üniversitesi Yeni Medya Bölümü&#39;nün ev sahipliğinde Yeni Medyada Etik sorununu tartıştı."]<a href="/images/content/Yenimedyacalistay.jpg"><img class="size-medium wp-image-33" title="Yenimedyacalistay" src="/images/content/Yenimedyacalistay-300x224.jpg" alt="Yeni Medyada Etik Çalıştayı" width="300" height="224" /></a>[/caption]</p>
<p>Yeni Medyada Etik2.0</h2>
<p>Alternatif Bilişim Derneği Yeni Medya Çalışma Grubu Kadir Has Üniversitesi Yeni Medya Bölümü'nün ev sahipliğinde Yeni Medyada Etik sorununu tartıştı.</p>
<p>Yeni Medya hızla gelişen bir mecra. Yeni Medya devasa kullanıcı kitlesiyle kendi ekonomisini yarattığı gibi, kullanıcıları yazar, haberci, fotoğrafçı kıldı. Bu mecra hızla gelişerek devam ediyor. Hızla ve kuralsızca gelişen bu mecra kullanıcılarla birlikte şekilleniyor. Yeni Medya içindeki farklı kanalların kullanıcıları kendilerine has kurallar belirliyor buna göre iletişimlerini kuruyor. Ancak Yeni Medyanın tamamını kucaklayacak etik kurallara duyulan ihtiyaç ise elzem.</p>
<p>Alternatif Bilişim Derneği Yeni Medya Çalışma Grubu bu ihtiyaçtan hareketle 4 Haziran günü Yeni Medya profesyonelleri ile birlikte çalıştay düzenledi. Çalıştaya Kadir Has Üniversitesi Yeni Medya Bölümü öğretim görevlileri Mithat Bereket, İsmail Hakkı Polat, Sabah Gazetesi Teknoloji Editörü Timur Sırt, milliyet.com.tr'den Kadir Sönmez, NTV Yeni Medya'dan Nihan Bora, Başkent Üniversitesi İletişim Fakültesi öğretim üyeleri Mutlu Binark ve Günseli Bayraktutan Sütçü, Ankara Üniversitesi'nden Tuğrul Çomu, ozgurradyo.com'dan İlden Dirini ve Alternatif Bilişim Derneği'nden Ali Rıza Keleş katıldı.</p>
<p>İsmail Hakkı Polat ve Ali Rıza Keleş yaptıkları konuşmalarda Yeni Medyada Etik sorununun tartışılmasının buna öneriler getirilmesinin önemine işaret etti. Mithat Bereket gazetecilikte önemli olan doğruluk ilkesinin İnternet Gazeteciliği bakımından da önemli olduğunu vurguladı. Haberi doğrulatma ilkesinin hızın önem kazanması ile birlikte Yeni Medya alanında en sık ihlal edilen noktalardan olduğuna dikkat çekti. Yeni Medya alanında sorunları tespit etmenin yanı sıra çözüm önerileri getirilmesi ve asgari kurallar çerçevesinde anlaşmak gerektiğini söyledi. 21. yüzyılda İnternetin hak arama mecralarından biri olduğuna dikkat çeken Bereket, devletlerin, otoritelerin müdahalesi olmadığı müddetçe İnternetin kendini temizleyeceğini söyledi.</p>
<h2>Sık ihlal edilen etik kurallar</h2>
<p>Alternatif Bilişim Derneği Yeni Medya Çalışma grubundan İlden Dirini ise İnternet haber sitelerinde yaşanan ihlallere dikkat çekti. Yeni Medyanın olanaklarının etik sorunları ortaya çıkardığı kadar çözümü konusunda da önemli rol oynayabileceğini söyledi. Gazetecilerin üzerinde ortaklaştığı etik ilkelerin İnternet gazetecilerinin de uyması gereken ilkeler olduğunu söyleyen Dirini, ek olarak yeni maddelerin eklenmesi gerektiğini söyledi. Doğruluk, bağımsızlık ilkelerinin Yeni Medya alanında sık sık ihlal edildiğini söyleyerek bunlardan örnekler serimleyen Dirini, reklam-haber çizgisinin tamamen silikleştiğini vurguladı. Haber formatında reklam, direkt alışveriş sitelerine link verilmesi şeklinde yapılan ihlallerin başta halk sağlığı olmak üzere bir çok sorunu beraberinde getirdiğini söyledi. Dirini kadınların, mağdurların ve çocukların kimliklerinin açıktan verilmesi, fotoğraflarının-videolarının yayımlanması, marj sorunu olmadığı için sayfalarca insanların acılarının sömürüldüğü durumlara da sık sık rastlandığını belirtti. Örnekler verdi. Haber yorumları, bloglar konusund asgari ortaklıklar sağlanması gerektiğini söyleyen Dirini, Yeni Medyada etik kurallar için bazı önerilerde bulundu.</p>
<h2>Etik2.0</h2>
<p>Yapılan tartışmalarda katılımcılar karşılaştıkları sorunları serimlediler, haber yorumları konusunda bazı kurallar bütünün olduğu ancak bunların tüm İnternet gazetelerinin tamamında ortaklaşmadığına dikkat çektiler. İnternet sitelerinin kullanıcıların kişisel haklarını ihlal edebildiklerini, sözleşmelerin kullanıcıları değil siteleri koruduklarını vurguladı. Yeni Medyada Etik sorumluluğu sadece yayıncı kimliğiyle yayın yapanlarla mı sınırlanmalı yoksa tüm kullanıcılara mı genişletilmeli? Sorusuna yanıt arandı. Etik herkesin sorunudur sonucuna varılan çalıştayda Yeni Medyada etiği Etik2.0 olarak adlandırıldı. Sorunlar sıralanırken bir sonraki çalıştayın sonbaharda toplanması kararlaştırıldı.</p>
<p>Tespit edilen sorunlar şöyle:</p>
<ul>
<li>Özel yaşamın gizliliği</li>
<li>Telif / patent haklarının ihlali</li>
<li>İçeriğin asıl kaynağının gösterilmemesi</li>
<li>Üretilen içeriklerin olgunlaşmadan ve doğruluğunun teyit edilmeden yayılması</li>
<li>Kişisel verilerin güvenliği</li>
<li>Haber ve ticari enformasyonun sınırlarının belirsizleşmesi</li>
<li>Yeni medya özellikleriyle kullanıcının yoğun reklama maruz bırakılması</li>
<li>Toplumsal cinsiyet eşitsizliğinin yeniden üretilmesi</li>
<li>İçeriklerin yanıltıcı bir biçimde etiketlenmesi ve başlıklandırılması</li>
<li>Nefret Söylemi</li>
<li>Söylemsel pratiklerdeki sorun</li>
<li>Dilin özensiz kullanımı</li>
<li>Bireyin yeni medya ortamında tüketici olarak konumlandırılması</li>
</ul>
<p>Çalıştay sonunda söz konusu 13 sorunun alternatifbilisim.org sitesinde kamuoyunda tartışmaya açılmasına ve sonbaharda yapılması planlanan bir sonraki çalıştayda bunlara yönelik çözüm önerilerinin geliştirilmesine karar verildi.</p>
