---
layout: post
status: publish
published: true
title: Sayın Tayfun Acarer, pardon?*
author:
  display_name: ilden
  login: ilden
  email: ildendirini@gmail.com
  url: http://alternatifbilisim.org
author_login: ilden
author_email: ildendirini@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 148
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=148
date: '2011-09-17 10:29:40 +0300'
date_gmt: '2011-09-17 08:29:40 +0300'
categories:
- Kategorilendirilmemiş
tags:
- sansür
- 22 Ağustos
- Bilgi Teknolojileri ve İletişim Kurumu
comments: []
---
<p><strong><em>Özgür Uçkan</em></strong></p>
<p><a href="/images/content/tayfun_acarer.jpg"><img class="alignleft size-full wp-image-149" title="tayfun_acarer" src="/images/content/tayfun_acarer.jpg" alt="" width="214" height="320" /></a></p>
<div dir="ltr">Beni son zamanlarda en çok eğlendiren haber, BTK Başkanı Sayın Tayfun Acarer’in, 22 Şubat 2011 tarihinde yayınlandığından beri ulusal ve uluslararası tepkilerin odağında olan, devlet eliyle zorunlu merkezi filtre kararını eleştirenlerin “pardon” demesini istemesi oldu! Açıklama şöyle: ''Herkesi içermeyen, tamamen tercihe bağlı bir şey sansür olarak, sansür kelimesiyle ilişkilendiriliyorsa, Türkçe anlamlar konusunda oturup düşünülmesi lazım. Bu kadar eleştiri yapanlar 22 Kasım'da ne diyecekler merak ediyorum. Uygulama başladığı zaman ne diyecekler çok merak ediyorum ama 'pardon' demek de bir meziyettir.'' (<a href="http://www.ntvmsnbc.com/id/25244357/">http://www.ntvmsnbc.com/id/25244357/</a>)&nbsp;</p>
<div>BTK’nın ilk kararı, yani herkesi dört farklı profilden birine girmeye zorlayan merkezi filtre uygulaması madem sansür değildi, BTK niçin bu kararı revize eden ve profil sayısını ikiye indirerek tercihe bağlayan bir taslak daha yayınladı?  Sonra niçin bu taslak kararı 10 gün süreyle kamuoyunun görüşüne açtı? Bir çok kişi ve kuruluş görüş gönderdi, bunların bir kısmı medyada da yayınlandı. BTK niçin bu görüşlerin değerlendirmeye alınıp alınmadığını, nihai kararın resmi olarak neye benzediğini açıklamaya dahi tenezzül etmeden test sürecinin başladığını açıkladı?</div>
<div>Hukukçulara göre, resmi olarak ilkini ortadan kaldıran herhangi bir karar yayınlanmadığına göre, 22 Şubat tarihli resmi kararın yürürlüğe girmiş olması gerekiyor. BTK Başkanı Tayfun Acarer’e bakarsanız, taslak kararda sözü edilen test süreci başlamış bulunuyor!</div>
<div>Sayın Acarer, herhangi bir sözlükte “sansür” kelimesine bakarsa, yayınların önceden denetlenmesi ve yayımının izne tabi olması anlamına gelen bu kelimenin 22 Şubat kararına tam olarak uyduğunu görecektir. Yeni revizyon kararlarında içerikleri devlet eliyle denetlemeyi sürdürme ısrarından dolayı da örtülü ve kısmi sansürden söz edilebileceğini savunan çok kişi vardır.</div>
<div>Madem bir önceki kararları sansür değildi ve öyle olmadığını aylarca savundular, o halde niçin kararlarını değiştirdiler ve herkesi merkezi bir şekilde bir profile sokmak ısrarından vaz geçtiler? Sayın Acarer, sorumlu bir yönetici olarak önce bu soruya cevap vermelidir. Bu geri adımın arkasında ciddi kamuoyu baskısının, sokak protestolarının, demokratik zorun ve uluslararası toplumun tepkisinin bulunup bulunmadığını açıklamalıdır. Daha sonra, yetkisiz bir kurum tarafından alınan hukuki geçerliliği kuşkulu bu yeni anti-demokratik karara dair eleştirileri yanıtlamaya başlamalıdır. Hukuk devletlerinde böyle yapılır.</div>
</div>
<div dir="ltr">Ben Sayın Acarer’e “pardon” demek isterim, ama sonunda bir soru işaretiyle: Pardon?</div>
<div dir="ltr">Yazı *http://sansuresansur.blogspot.com/2011/09/sayn-tayfun-acarer-pardon.html# adresinde yayınlanmıştır</div>
