---
layout: post
status: publish
published: true
title: Cep telefonunda biriken kareler
author:
  display_name: aliriza
  login: aliriza
  email: ali.r.keles@gmail.com
  url: http://alternatifbilisim.org
author_login: aliriza
author_email: ali.r.keles@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 188
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=188
date: '2011-12-25 18:02:49 +0200'
date_gmt: '2011-12-25 16:02:49 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>Geçen yazdan beri cep telefonunda yayilmayi bekleyen 3 kare:</p>
<p>[caption id="attachment_198" align="alignright" width="620" caption="Ankara Garında hoş süpriz. WikiLeaks buraya da sızmış."]<a href="/images/content/wikileaks-ankara-gari-2011-yaz.jpg"><img class="size-large wp-image-198" title="wikileaks-ankara-gari-2011-yaz" src="/images/content/wikileaks-ankara-gari-2011-yaz-1024x766.jpg" alt="wikileaks kitabı ankara garı" width="620" height="463" /></a>[/caption]</p>
<p>[caption id="attachment_199" align="alignright" width="620" caption="Kadıköy&#39;de kendi halinde bir sokak. :) "]<a href="/images/content/kadikoy-sokak-bu-siteye-erisim-mahkeme-karari-engellenmistir.jpg"><img class="size-large wp-image-199" title="kadikoy-sokak-bu-siteye-erisim-mahkeme-karari-engellenmistir" src="/images/content/kadikoy-sokak-bu-siteye-erisim-mahkeme-karari-engellenmistir-877x1024.jpg" alt="Bu siteye erişim mahkeme kararı ile engellenmiştir." width="620" height="723" /></a>[/caption]</p>
<p>[caption id="attachment_200" align="alignright" width="620" caption="Geçen yaz Taksim Maslak metro hattında tehdit afişleri. Sağ alt köşedeki polis logosuna dikkat. "]<a href="/images/content/bsa-polis-kopya-yazilim-tehdit.jpg"><img class="size-large wp-image-200" title="bsa-polis-kopya-yazilim-tehdit" src="/images/content/bsa-polis-kopya-yazilim-tehdit-768x1024.jpg" alt="BSA tehdit ediyor." width="620" height="826" /></a>[/caption]</p>
