---
layout: post
status: publish
published: true
title: XVI. Türkiye'de İnternet Konferansı Katılım Çağrısı
author:
  display_name: ilden
  login: ilden
  email: ildendirini@gmail.com
  url: http://alternatifbilisim.org
author_login: ilden
author_email: ildendirini@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 145
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=145
date: '2011-09-01 12:18:11 +0300'
date_gmt: '2011-09-01 10:18:11 +0300'
categories:
- Kategorilendirilmemiş
tags:
- sansür
- yeni medya
- inet-tr
comments: []
---
<p>Türkiye'de İnternet Konferanslarının 16.'sı İzmir'de düzenleniyor. Konferansta bu yıl "Mobil Yaşam", "Sosyal Ağlar", "Yeni Medya", "Fikri Haklar", Mahremiyet, "İnternet ve Demokrasi” ve “İnternet yasakları” konuları öne çıkacak.</p>
<p>Türkiye'de Internet ile ilgili grupları biraraya getirerek İnternet'i tüm boyutlarıyla tanıtmak, gelistirmek, tartışmak, İnternet teknolojileri aracılığı ile toplumsal verimliliği artırmak ve toplumun dikkatini olabildiğince bu yöne çekmek amaçlarıyla, 1995'den beri her yıl yapılan Türkiye'de İnternet Konferanslarının 16.sı 30 Kasım-2 Aralık 2011 tarihlerinde İzmir Atatürk Kültür Merkezi'nde düzenlenecek.</p>
<p>Konferansta bu yıl "Mobil Yaşam", "Sosyal Ağlar", "Yeni Medya", "Fikri Haklar", Mahremiyet, "İnternet ve Demokrasi” ve “İnternet yasakları” konuları öne çıkacak. Ayrıca Türkiye İnternetinin temel ve güncel konularını kapsayan panel ve oturumlar yapılacak.</p>
<p>İnet-tr Yürütme Kurulu konferansa etkin katılım için çağrı yayınladı. Konferansa bildiri sunma, eğitim semineri verme ve tartışma grubu/açık oturum düzenleme şeklinde aktif katılımda bulunulabiliniyor. Konferans kayıt olan dinleyicilere açık olacak.</p>
<p>Çağrıda duyurulan <strong>Konferansın Ana Konuları</strong> şöyle<br />
*Internet, Demokrasi, Katılım ve Saydamlık<br />
*Mobil Yaşam, Mobil Ağlar, Teknolojiler ve Uygulamalar<br />
*Sosyal Ağlar ve İnternet'in Sosyal Boyutları<br />
*Sosyal Ağlar ve İş Dünyası<br />
*Sosyal Ağlar ve Eğitim<br />
*Yeni Medya<br />
*İnternet Yasakları, Sansür ve zararlı içerik<br />
*Fikri haklar, Sayısal Ürünlerin Paylaşımı<br />
*Gizlilik, Bireysel Haklar ve Kişisel Veriler<br />
*İnternet Yönetişimi ve STK'lar<br />
*Bilgi Ekonomisi ve Bilgi Toplumu<br />
*Türkiye'nin Bilgi Toplumu Stratejisi ve Eylem Planı<br />
*E-devlet, Kamu Ağları ve Etkin Devlet: Türkiye Deneyimleri<br />
*Acık Veri; Açık Devlet<br />
*Wiki, RSS, Mushup ve Birlikte Çalışma Ortamları<br />
*İnternet'in yasal boyutları*İnternet ve Medikal Bilişim<br />
*E-eğitim, Eğitim Teknolojileri, Fatih Projesi<br />
*E-Tarım, e-Çevre, e-Ulaşım<br />
*E-kültür, Sayısal Bölünme, KİEM ve İnternet Evleri<br />
*Bilgi/Medya Okuryazarlığı, sayısal bölünme yelpazesi<br />
*E-is, M-iş ve Yeni Ekonomi<br />
*Yeni Nesil Internet: internet2, Ipv6, Gelecek İnternet<br />
*Telekomda Serbestleşme, Düzenleyici Yapılar<br />
*Çocuklar için Güvenli İnternet<br />
*Elektronik Yayıncılık ve Basın<br />
*E-kütüphanecilik, Enformasyon kaynakları, İndeksleme ve Tarama<br />
*Özgür Yazılım, Açık Kaynak, e-devlet ve e-türkiye<br />
*Araştırma ve İnovasyon Ağları, 7. Çerceve ve Teknoparklar<br />
*İnternet'te Güvenlik; Virus, Spam, Bireysel Savunma<br />
*Yeni Internet teknolojileri, Grid ve Bulut Hesaplama<br />
*Elektronik İmza<br />
*İnternet ve Sanat<br />
*İnternet'te Türkce kullanımı ve İçerik<br />
*Dünyada ve Türkiye'de İnternet altyapısı<br />
*Web 2.0, Web 3.0 ve Nesnelerin İnterneti<br />
*Semantic Web<br />
*Hesaplama ve Tarama Motorları<br />
*İnternet ve Reklamcılık<br />
*Arttırılmış Gerçeklik (Augmented Reality)<br />
*Digital Activisim<br />
*IPTV<br />
*VoIP</p>
<p>Konferansa katılım koşulları <a title="inet-tr'11" href="http://inet-tr.org.tr/inetconf16/" target="_blank">http://inet-tr.org.tr/inetconf16/</a> adresinden ayrıntılı olarak öğrenilebilinir. Başvurular için son tarih ise 1 Kasım 2011.</p>
