---
layout: post
status: publish
published: true
title: BTK 22 Şubat 2011 tarihli Kurul Kararı hakkında İnternet Kurulu Önerileri Değerlendirmesi
author:
  display_name: ilden
  login: ilden
  email: ildendirini@gmail.com
  url: http://alternatifbilisim.org
author_login: ilden
author_email: ildendirini@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 124
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=124
date: '2011-07-25 15:49:27 +0300'
date_gmt: '2011-07-25 13:49:27 +0300'
categories:
- Kategorilendirilmemiş
tags:
- sansür
- alternatif bilişim derneği
- 22 Ağustos
comments: []
---
<p><!-- p { margin-bottom: 0.21cm; }h1 { margin-top: 0.42cm; margin-bottom: 0.71cm; text-align: center; }h1.western { font-family: "Arial",sans-serif; font-size: 16pt; }h1.cjk { font-family: "DejaVu Sans"; font-size: 16pt; }h1.ctl { font-family: "DejaVu Sans"; font-size: 16pt; }h3 { margin-bottom: 0.21cm; }h3.western { font-family: "Arial",sans-serif; }h3.cjk { font-family: "DejaVu Sans"; }h3.ctl { font-family: "DejaVu Sans"; } --></p>
<h1><strong>*BTK 22 Şubat 2011 tarihli Kurul Kararı hakkında İnternet Kurulu Önerileri Değerlendirmesi</strong></h1>
<p>BTK Kurul Kararı ile 22 Ağustos'ta yürürlüğe girecek, devlet eliyle merkezi filtreleme sistemi hakkında İnternet Kurulu (İK) değerlendirme ve öneriler paketi yayınladı. Maalesef rapor, kamuoyunun beklentilerinin çok uzağında olmasının yanı sıra yanıltıcı bilgilerle dolu.</p>
<p>Kamuoyu öncelikle şunu bilmelidir ki, derneğimizin ve ilgili birçok STK'nın katılımıyla gerçekleşen İK toplantısında ortaya konulan hemen tüm fikirler göz ardı edilmiştir. Hepimizin ortak fikri devlet eliyle merkezi filtrenin kesinlikle kabul edilemeyeceği, yapılan düzenlemenin her açıdan problemli olduğu ve derhal geri çekilmesi gerektiğiydi. Fakat İK'nın önerisi düzenlemenin yeniden yazılması ve merkezi filtreleme sisteminin devam etmesi yönündedir. Bu kabul edilemezdir.</p>
<p>Önerilen standart ve yurtiçi paketin kaldırılması fakat aile ve çocuk paketinin tek bir seçenekte kullanıcılara sunulmasıdır. Fakat filtrelemenin bu profillerde de merkezi olması, beyaz ve kara listelere dayandırılması korunmaktadır.</p>
<p><span style="font-family: Arial,sans-serif;"><span style="font-size: medium;"><strong>Rapordaki maddi hatalar merkezi filtreyi desteklemek amaçlıdır</strong></span></span></p>
<p>Değerlendirme bölümünde verilen örnekler ve çeşitli raporlardan yapılan alıntılar maddi hatalarla doludur. Ortaya çıkan metin "merkezi filtre sisteminin yaygın ve gerekli bir uygulama" olduğunu anlatmak kaygısı içerisindedir.</p>
<p>İK Raporunda diğer ülkelerdeki uygulamalar şu şekilde ifade edilmiştir: “İnternetin zararlı ya da yasal olmayan içeriklerinden korunmak için pek çok ülke ‘filtre’ uygulamaları geliştirmektedir. Aralarında Türkiye’nin de yer aldığı Avustralya, İtalya, İngiltere, Kore, Japonya, Almanya, İspanya, Kanada, Amerika, Meksika, Danimarka, Yeni Zelanda, İsveç ve Norveç gibi pek çok ülkenin internetin filtrelenmesi konusunda geliştirdikleri uygulamalar ve izledikleri yollar OECD Raporu kapsamında aşağıda ele alınmıştır.” Bu ifadelerin ilki yanlış, ikincisi yanıltıcıdır. Pek çok ülke "filtre" değil, başka yollar geliştirmektedir. Adı geçen ülkelerin hiçbirinde bizdeki "merkezi filtreleme" sistemi yoktur. Bazılarında yasal olarak, bazılarında gönüllü olarak erişim engellemesi yapılmaktadır. Raporda kaynak gösterilen OECD raporuna göre de, "merkezi filtreleme" sadece Türkiye'de zorunluluktur.</p>
<p>Verilen Almanya ve İtalya örneklerinde de filtreleme ve erişim engelleme birbirine karıştırılmakladır. Avustralya’daki uygulama ise gösterilen tepkiler sonucu askıya alınmıştır. Gözden geçirilmektedir. ABD'deki filtreleme ise ev kullanıcılarını kapsamamaktadır. Sadece okullara ve kütüphanelere filtre için fon verilmektedir. Yine "merkezi filtrelerin yaygın kullanıldığı" iddiası da geçersizdir. Mesela İK Raporunda İngiltere'de söz edilen programa sadece bir tane filtreleme yazılımı başvurmuştur. Altı çizilen, "Filtreleme İspanya’da Yasal Zorunluluk" ifadesi de doğru değildir. Zorunlu olan, sonraki satırlarda da belirtildiği gibi <strong>BİLİNÇLENDİRMEDİR</strong>, kullanım değil!</p>
<p>Rapor başından sonuna kadar başka ülkelerdeki uygulamaları maksatlı aktarmıştır. Amaç bizde uygulanması öngörülen sisteme destek aramaktır. Fakat yurtdışındaki uygulamalar ve bir çok rapor tam tersini söylemektedir.</p>
<p><span style="font-family: Arial,sans-serif;"><span style="font-size: medium;"><strong>Devlet eliyle merkezi filtre uygulamak sansürdür</strong></span></span></p>
<p>Her türlü erişim engeli ve filtrelemeler bahsedilen OECD raporunda ve Türkiye’yi bağlayan bir çok raporda çocukları korumaya yeterli görülmemektedir. Merkezi olarak devlet eliyle uygulanması da SANSÜR olarak nitelendirilmektedir. Avrupa Güvenlik ve İşbirliği Teşkilatının “İnternette İfade Özgürlüğü” başlıklı Temmuz 2011 raporunda da Türkiye AGİT bölgesindeki devlet eliyle filtre uygulayacak tek ülke olarak işaret edilmiş, AGİT'in de bu gelişmeden duyduğu kaygı belirtilmiştir. Keza aynı kaygı, ABD Dış İlişkiler Sekreterliği tarafından da açıklanmıştır.</p>
<p>AGİT devlet eliyle filtreyi önermemektedir. Gönüllü filtre uygulaması önermektedir. Ki bu tür yazılımlar halen Türkiye'de yazılım endüstrisinde mevcuttur. Böyle bir düzenlemeye bu anlamıyla ihtiyaç yoktur.</p>
<p><a name="_GoBack"></a> <span style="font-family: Arial,sans-serif;"><span style="font-size: medium;"><strong>Çözüm eğitim ve bilinçlendirmededir</strong></span></span></p>
<p>Çözüm eğitim ve bireyi güçlendirmekten geçmektedir. İnternetle barışık, risk algısından uzak, makro tekno-sosyal politikalara ihtiyacımız vardır. Sorun, teknik yasaklarla çözülemez. Eu Kids Online Projesi Kordinatörü Prof. Dr. Sonia Livingstone, Türkiye'de dijital becerilerin az olduğunu ifade etmektedir. Dijital okuryazarlığın her düzeyde çocuk, ebeveyn hatta öğretmenler düzeyinde geliştirilmesi gereklidir. Taslak öneride bu husus yerindedir ve acilen iyi niyetli bir öneri olmanın ötesine geçmelidir. <span style="font-size: x-small;">Dijital okuryazarlığın her düzeyde çocuk, ebeveyn hatta öğretmenler düzeyinde geliştirilmesi gereklidir. </span><span style="font-size: x-small;">Ancak, devlet eliyle filtre uygulaması hiç bir şekilde demokratik ve çoğulcu toplum/kültür yapısına hizmet</span> vermez/veremez. Tam tersine tek boyutlu bir insan profili oluşturup, kamusal söylemi tektipleştirir.</p>
<p>İK önerileri arasında yer alan siyah ve beyaz liste uygulaması da toplumun, yurttaşların tektipleştirmesinden başka bir şeye hizmet etmez. Bu nedenle gönüllü aile filtresi uygulaması dışında zorunlu bir uygulama dayatılamaz.</p>
<p lang="tr-TR"><span style="font-family: Arial,sans-serif;"><span style="font-size: medium;"><strong>İlgili tüm taraflar sürece etkin bir biçimde katılmalıdır</strong></span></span></p>
<p>Yine öneriler arasında yer alan Aile ve Sosyal Araştırmalar Genel Müdürlüğü'nün filtre konusunda tek düzenleyici aktör olması hem yetersiz, hem de konunun gerektirdiği yönetişim mantığına aykırıdır. Danışma kurulunda iletişim sosyoloğu ile yeni medya sosyoloğunun olmaması çok temel bir eksikliktir. Yine bu kurulun STK'larla sürekli iletişimde olacağı ve görüşlerini çalışma grubuna ileteceği şeklindeki iyi niyetli bir tavsiyenin ne kadar uygulanabilir olduğu, İK'nın bu raporuna yansımayan görüşlerimizden şimdiden açıktır.  Bu çok temel rapora bir çok STK'nın açıkça ortaklaştığı görüşlerin neredeyse hiçbirinin yansımamış oluşu neler yaşanacağı hakkında fikir vermektedir.</p>
<p>Sorun ve çözüm konusunda bizim de dahil olduğumuz bir çok STK ve uzman görüşlerini defalarca kamuoyu ile paylaşmıştır.</p>
<p><span style="font-family: Arial,sans-serif;"><span style="font-size: medium;"><strong>İnternet erişimi temel bir insan hakkıdır</strong></span></span></p>
<p>İK Raporu vesilesiyle, İnternet kullanıcılarını bekleyen tehlikeye karşı kamuoyunu bir kez daha uyarmak istiyoruz.</p>
<p>İnternet artık tüm dünyada temel bir insan hakkı olarak tanınmaya başlanmıştır. Türkiye'de karar verici aktörleri, muhafazakar, korumacı kollamacı, risk algısı yüksek politikalardan uzak durmaya, sansür anlamına gelebilecek her türlü uygulamadan bir an önce vazgeçmeye çağırıyoruz. Konuyla ilgili tüm STK'ları tepkisiz kalmamaya, tüm internet kullanıcılarını ise verilecek tepkilere ortak olmaya davet ediyoruz.</p>
<p>Sınırsız, sansürsüz, özgür bir İnternet istiyoruz</p>
<p><em>*Alternatif Bilişim Derneği'nin 25 Temmuz 2011'de yaptığı açıklamadır</em></p>
