---
layout: post
status: publish
published: true
title: 'Samsun EMO İnternet Sansürü Paneli '
author:
  display_name: aliriza
  login: aliriza
  email: ali.r.keles@gmail.com
  url: http://alternatifbilisim.org
author_login: aliriza
author_email: ali.r.keles@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 155
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=155
date: '2011-09-20 09:12:47 +0300'
date_gmt: '2011-09-20 07:12:47 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p><a href="/images/content/samsun-emo-17-eylul-sansur-paneli-1.jpg"><img class="alignright size-medium wp-image-156" title="samsun-emo-17-eylul-sansur-paneli-1" src="/images/content/samsun-emo-17-eylul-sansur-paneli-1-300x200.jpg" alt="Samsun EMO İnternet Sansürü" width="300" height="200" /></a>Elektrik Mühendisleri Odası Samsun Şubesi yeni hizmet binasının açılış töreninde İnternet, sansür ve filtreler konusunda bir oturum gerçekleşti. Biz de oturumda filtreler konusunda bir sunum gerçekleştirdik. Ayrıca Mustafa Akgül hocamız da Türkiye'de İnternet ve sansürün serüveni özetleyen bir sunum yaptı. <a href="/images/content/samsun-emo-17-eylul-sansur-paneli.jpg"><img class="size-medium wp-image-157 alignright" title="samsun-emo-17-eylul-sansur-paneli" src="/images/content/samsun-emo-17-eylul-sansur-paneli-300x186.jpg" alt="Samsun EMO Yeni Hizmet Binası Açılışı İnternet Sansürü Oturumu" width="300" height="186" /></a></p>
<p>EMO ve TMMOB yöneticileri, oda üyeleri, EMO Genç üyesi mühendislik öğrencilerinin ilgiyle dinlediği bir oturumdu. Konuya dikkat çekmek için iyi bir fırsat oldu.</p>
<p>Keşke başka kentlerde de böyle etkinlikler yapabilsek..</p>
<p>&nbsp;</p>
