---
layout: post
status: publish
published: true
title: 'KürtAtaSözleri’nden AtatürkDiyorki’ye: Twitter “Savaş”ları'
author:
  display_name: ilden
  login: ilden
  email: ildendirini@gmail.com
  url: http://alternatifbilisim.org
author_login: ilden
author_email: ildendirini@gmail.com
author_url: http://alternatifbilisim.org
excerpt: "<em><strong>UYARI: Aşağıda okuyacağınız twitler yüksek derecede nefret söylemi,
  küfür içermektedir.</strong></em>\r\n\r\n<strong>KürtAtaSözleri’nden AtatürkDiyorki’ye:
  Twitter “Savaş”ları</strong>\r\n\r\n“ ‘Ne mutlu Türk’üm diyene’, demek zorundasınız.”\r\n\r\n“
  kusura bakmayın ama %90’ı ölmeli. %10luk kısım alnının teriyle çalışıyor. Ben doğruları
  yazınca faşist oluyorum mına koyim.”\r\n\r\n“KürtAtasözleri olması için öncelikle
  bir ata ya sahip olmanız gerekiyor ki yaşadığınız coğrafyada ki tek ata Ata TÜRK!”\r\n\r\n“KürtAtaSözleri
  diyene benzin döküp yaktıktan sonra mezarına en iyi kürt ölü kürttür yazacaksın
  ”\r\n\r\n“kürdün atasını araştırdım barzani çıkdı. Barzaniyi arastırdım köpek soyi
  çıkdı. Yani kürt dedigimiz köpekden ibaret.”\r\n\r\n"
wordpress_id: 311
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=311
date: '2012-07-28 18:19:58 +0300'
date_gmt: '2012-07-28 16:19:58 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p><em><strong>UYARI: Aşağıda okuyacağınız twitler yüksek derecede nefret söylemi, küfür içermektedir.</strong></em></p>
<p><strong>KürtAtaSözleri’nden AtatürkDiyorki’ye: Twitter “Savaş”ları</strong></p>
<p>“ ‘Ne mutlu Türk’üm diyene’, demek zorundasınız.”</p>
<p>“ kusura bakmayın ama %90’ı ölmeli. %10luk kısım alnının teriyle çalışıyor. Ben doğruları yazınca faşist oluyorum mına koyim.”</p>
<p>“KürtAtasözleri olması için öncelikle bir ata ya sahip olmanız gerekiyor ki yaşadığınız coğrafyada ki tek ata Ata TÜRK!”</p>
<p>“KürtAtaSözleri diyene benzin döküp yaktıktan sonra mezarına en iyi kürt ölü kürttür yazacaksın ”</p>
<p>“kürdün atasını araştırdım barzani çıkdı. Barzaniyi arastırdım köpek soyi çıkdı. Yani kürt dedigimiz köpekden ibaret.”</p>
<p><a id="more"></a><a id="more-311"></a>“KürtAtaSözleri hassiktir ordan. En iyi kürt ölü kürt o kadar.”</p>
<p>“AtatürkDiyorki: Büyük şeyleri büyük milletler yapar. Kürtatasözleri diye bir şey yoktur. Siz itten başka bir şey değilsiniz.!!!”</p>
<p>“KürtAtaSözleri Türk gördün mü sevecen, Kürt buldun mu sikecen…!”</p>
<p>“Kökeni kürt olabilir insanın, ama türkiyede yasiyosa türkce konusacak, türke saygılı olacak, ATATÜRKe laf etmicek KürtAtaSözleri uydurmicak!”</p>
<p>“biz türkler deriz ki; Canımızı yakan her kurdun anasini direye baglayip istiklal marsini ezbere okuyana kadar sikeriz!!!!”</p>
<p><a href="/images/content/twitter2.jpg"><img title="twitter2" src="/images/content/twitter2-300x248.jpg" alt="" width="300" height="248" /></a><br />
Yukarıda, sinirlerimin elverdiği kadarını gözden geçirip “paylaştığım” cümleler, bir geceyarısı Kürt gençlerinin twitter üzerinden atasözleri paylaşmak amacıyla başlattığı bir hashtag ve sonrasında kopan fırtınanın eseri. Sanıyorum ki, bu fırtına ve benzerleri uzunca bir süre kopmaya devam edecek. Twitter’daki yorumlarda bu ırkçı söylemleri görerek, “Türklüklerinden” utandıklarını dile getirenlerin sayısı da az değil. Onların ve Kürt gençlerinin haklı tepkileri başka bir yazının/alanın meselesi sanmaktayım ki.<br />
Sosyal medyanın ırkçılığın faşizm sosuna belenmesindeki etkisi üzerine çok önemli bir örnek, dün gece twitter’da yaşanan bu fırtına. “Benim Kürt arkadaşlarım da var ama onlarla PKK’lı teröristler arasına çizgi çekmek lazım.” söyleminin ulaşabileceği noktayı da somutta çok net gösteriyor, bu ve buna benzer faşizm fırtınaları.<br />
Peki, sosyal medyada küfretmek, nefret söylemlerini yaygınlaştırmak neden bu kadar kolay? Neden bu kadar “vazgeçilmez”?<br />
Gündelik hayattaki varlığının tüm izleriyle birlikte bilgisayar ekranını başına oturan ve burada bambaşka ve(ya) daha uçta kimliklere bürünebilen internet kullanıcısının bu denli fütursuzlaşabiliyor olmasının arkasındaki neden ne? Bu cümleleri kurmanın “bedelsizliği” mi söylemleri sosyal medya üzerinde on kat daha faşistleştiren? Burada ve böyle kurulan kimlikler/benlikler nereyi işaret ediyor?<br />
Silahları counter-strike oyunuyla tanıyan ve insan öldürmeyi “save” ettiğiniz yerden yeniden başlatabileceğiniz bir durum zannetmekten çok mu uzak bu küfürler? 90’larda mahalle kahvelerinde zaten ve hali hazırda üretilmiş faşist söylemin daha yaygın biçimde hortlamasına mı delalet tüm bunlar?<br />
İnternet üzerinde kurulan kimlik/benliklerin artık sadece “sanal” olmakla sınırlı kalmadığı çok açık. Ve eğer öyle ise, işbu örneğin işaret ettiği ırkçılık örnekleri de sadece internet üzerinden yazılıp geçilen cümleler olarak değerlendirilemez. Sanallığın ötesine geçerek gündelik/pratik hayatı da üreten söylemlerin alanı artık sosyal medya. Yepyeni bir iktidar biçiminin, sürekli akan ancak dışındakini sürekli egemen olana doğru sürüklemeye çalışan bir iktidar biçiminin göstergesi. Kendi –sözde(!)- bütünlüğünü yitirmemek için, Kürtleri yok’lamakla iktidar olabileceğinin kokusunu almış bir özne bu.<br />
Tam da bunun için, “benim de kürt arkadaşlarım var” ile “en iyi kürt ölü kürttür” birkaç saniye içerisinde aynı insanın zihninden ve ekranından akabiliyor. Tam da bunun için; içerdeki ve dışardaki, vatan ve vatan haini, bayrak ve üstündeki kan, ben ve klavyedeki el her an daha fazla iktidara yanaşabileceği için küfürler bu kadar hızlı, bu kadar yaygın. Ben’in kim olduğunu tanımlamak güçleştikçe, ben’in TÜRK olduğu daha da kesinleşiyor. Ben’in cinsiyeti belirsizleştikçe, ERKEK olduğunu vurgulamak o denli zorunlu hale geliyor. Yoksa, kendi çelişkisini, kendi eksikliğini görmek zorunda kalacağını aslında çok da iyi biliyor. Zizek’in dediği gibi, acaba biliyorlar da mı yapıyorlar?<br />
Varlığı bile kabul edilmemiş bir savaşın (çatışma ortamı mı istersiniz, sözde bayrak taşıyan sözde örgüt militanları mı?) tam ortasına doğmuş bir kuşaktan söz ediyoruz belki de. Aslında yok olan bu savaşın, aslında yok olan bir tarafının, aslında yok olan taleplerinin, aslında yok olan bir halk tarafından nasıl sahiplendiğine internet üzerinden hergün daha fazla oranda şahit olmak zorunda kalan bir kuşak belki de. Yarılmanın merkezi, yok olanın nasıl olup da var olabildiğinde yatıyor belki de. Yok olanlar, nasıl olur da, bir devlete, bir tarihe, bir kültüre, bir dile işaret eden atasözünden bahsedebilirler ki? Yok olanın varlığını tanımaya zorunlu kılındıkça, internetin o pek çok yarılmış öznesi, ona bir kez daha yok demek için sığınacak yepyeni hashtagler arıyor kendine. Gündelik hayatı “sanal” bir homojenlikle sarmalanmışken, sanal hayatında heterojenliğin ne kadar gerçek olduğu bilgisine çarparak bölünüyor. Tam da bunun için “o biricik, tek Kürt arkadaşı” homojenlik sahillerinin dalgakıranı oluveriyor. Tam da bunun için KürtAtaSözleri, varlığın bölünmez bütünlüğüne yönelen korkunç bir dalgaya dönüşebiliyor.</p>
<p><em><strong>Özge Kelekçi</strong></em></p>
