---
layout: post
status: publish
published: true
title: İnternet, Sosyal Medya, Küresel Ağ ve Yeni Toplumsal Hareketler Üstündeki Etkileri
author:
  display_name: aliriza
  login: aliriza
  email: ali.r.keles@gmail.com
  url: http://alternatifbilisim.org
author_login: aliriza
author_email: ali.r.keles@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 292
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=292
date: '2012-05-11 09:19:15 +0300'
date_gmt: '2012-05-11 07:19:15 +0300'
categories:
- Kategorilendirilmemiş
tags:
- internet ve toplumsal hareketler
- sosyal medya
- sosyal medyada nefret söylemi
comments: []
---
<p>[caption id="attachment_293" align="alignright" width="685" caption="Etkinlik herkese açık ve ücretsizdir. Kayıt zorunluluğu yoktur."]<a href="/images/content/kuyerel-etkinlik.jpg"><img class="size-full wp-image-293" title="kuyerel-etkinlik" src="/images/content/kuyerel-etkinlik.jpg" alt="kuyerel-etkinlik-afisi" width="685" height="960" /></a>[/caption]</p>
<h3>Değişen Türkiye’yi ve Değişen Dünyayı Anlamak (3)</h3>
<h4>“İnternet, Sosyal Medya, Küresel Ağ ve Yeni<br />
Toplumsal Hareketler Üstündeki Etkileri”</h4>
<p><strong>Moderatör:</strong> Tamer Altunay</p>
<p><strong>“Sosyal Medyada Nefret Söylemi”</strong><br />
<em>Prof. Dr. Yasemin İnceoğlu / Galatasay Üniversitesi ögretim üyesi</em></p>
<p><strong>"Sosyal Medya Demokrasi İlişkisi"</strong><br />
<em>Yrd. Doç. Günseli Bayraktutan/ Başkent Üniversitesi İletişim Fakültesi öğretim üyesi</em></p>
<p><strong>"Sosyal Medyanın Toplumsal Hareketler İçin İmkânları ve Sınırlılıkları"</strong><br />
<em> Yrd. Doç. Gülüm Şener / Arel Üniversitesi öğretim üyesi</em></p>
<p><strong>"İnterneti Tehdit Eden Devlet ve Tekel Kıskacı"</strong><br />
<em> Ali Rıza Keleş / Alternatif Bilişim Derneği</em></p>
<p><strong>Tarih:</strong> 12 Mayıs 2012<br />
<strong>Saat:</strong> 14.00- 18.00<br />
<strong>Yer:</strong>Taksim Hill Otel</p>
<p><strong>İletişim:</strong><br />
Aycan Işık Gökçek<br />
(0212)240 33 73<br />
0539 446 70 86</p>
