---
layout: post
status: publish
published: true
title: DPI Türkiye İçin Yeni Bir Haber Değil(miş)
author:
  display_name: Ahmet A. Sabancı
  login: belapresente
  email: ahmet@ahmetasabanci.com
  url: http://ahmetasabanci.com
author_login: belapresente
author_email: ahmet@ahmetasabanci.com
author_url: http://ahmetasabanci.com
excerpt: "<strong></strong><a href=\"/images/content/throttle.jpg\"><img
  class=\"alignleft size-full wp-image-319\" title=\"throttle\" src=\"/images/content/throttle.jpg\"
  alt=\"\" width=\"200\" height=\"200\" /></a>İnternet, herkesin ulaşabileceği ve
  herkesin özgürce kullanabileceği geniş bir alan hâline geldi. Elbette böyle bir
  alan kimileri için büyük bir fırsat olarak görülürken, kimilerinin gözünde sadece
  kontrol altına alınması gereken başka bir bölgeden ibaret.\r\n\r\nBu kontrol altına
  alma isteğiyle bir çok yeni teknolojini geliştiriliyor ve deneniyor. Bu çabayla
  geliştirilen teknolojiler birincil hedef olarak internet servis sağlayıcıları üzerinden
  bireylerin internet iletişimini takip etmeyi ve bu iletişim üzerinden bilgi toplamayı
  amaçlıyorlar. Bu bilgiler amacıyla ne yapılacağı ise tamamen teknolojinin kontrolünü
  elinde tutan servis sağlayıcı şirketlere ve hükümetlere kalıyor.\r\n\r\nBu teknolojilerden
  son zamanlarda fazlasıyla gündemde olan ve büyük bir tepki toplayanlardan birisi
  DPI yani Deep Package Inspection. Bu sistem ISS üzerinden tüm kullanıcıların iletişiminin
  takip edilebilmesini ve bu takiple elde edilen bilgilerin bir çok farklı şekilde
  kullanılabilmesini sağlıyor. Kimi şirketler bu sistemle elde edilen bilgileri kullanarak
  kullanıcıların internette gezerken görecekleri reklamları onlara özel ayarlayabiliyor,
  devletler DPI ile halkın iletişimini takip altına alıp kontrol altında tutabiliyor
  ya da ISS'ları rahatsız edici bir şey gördüklerinde hattınıza müdahalede bulunabiliyorlar.\r\n\r\n"
wordpress_id: 317
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=317
date: '2012-08-27 23:49:55 +0300'
date_gmt: '2012-08-27 21:49:55 +0300'
categories:
- Kategorilendirilmemiş
tags:
- internet
- dpi
- bittorrent
- throttling
comments: []
---
<p><strong></strong><a href="/images/content/throttle.jpg"><img class="alignleft size-full wp-image-319" title="throttle" src="/images/content/throttle.jpg" alt="" width="200" height="200" /></a>İnternet, herkesin ulaşabileceği ve herkesin özgürce kullanabileceği geniş bir alan hâline geldi. Elbette böyle bir alan kimileri için büyük bir fırsat olarak görülürken, kimilerinin gözünde sadece kontrol altına alınması gereken başka bir bölgeden ibaret.</p>
<p>Bu kontrol altına alma isteğiyle bir çok yeni teknolojini geliştiriliyor ve deneniyor. Bu çabayla geliştirilen teknolojiler birincil hedef olarak internet servis sağlayıcıları üzerinden bireylerin internet iletişimini takip etmeyi ve bu iletişim üzerinden bilgi toplamayı amaçlıyorlar. Bu bilgiler amacıyla ne yapılacağı ise tamamen teknolojinin kontrolünü elinde tutan servis sağlayıcı şirketlere ve hükümetlere kalıyor.</p>
<p>Bu teknolojilerden son zamanlarda fazlasıyla gündemde olan ve büyük bir tepki toplayanlardan birisi DPI yani Deep Package Inspection. Bu sistem ISS üzerinden tüm kullanıcıların iletişiminin takip edilebilmesini ve bu takiple elde edilen bilgilerin bir çok farklı şekilde kullanılabilmesini sağlıyor. Kimi şirketler bu sistemle elde edilen bilgileri kullanarak kullanıcıların internette gezerken görecekleri reklamları onlara özel ayarlayabiliyor, devletler DPI ile halkın iletişimini takip altına alıp kontrol altında tutabiliyor ya da ISS'ları rahatsız edici bir şey gördüklerinde hattınıza müdahalede bulunabiliyorlar.</p>
<p><a id="more"></a><a id="more-317"></a>Türkiye'de de son zamanlarda bu konuda ciddi tartışmalar olmakta. Türk Telekom'un ve BTK'nın DPI kullandıklarına dair bilgiler ve iddialar ortaya çıkıyor ancak her iki taraf da bu konuda bir şeyler söylemekten uzak duruyor. Özellikle Phorm şirketinin Türkiye'de aktif olacağı haberleri DPI'ı uzunca bir süre gündemde tuttu.</p>
<p>Ancak yeni bir araştırmanın sonuçları bu konuda yeni ve oldukça ilginç bilgilerin ortaya çıkmasını sağladı.</p>
<p>Max Planck Institute ile çalışan Glasnost ekibi, uzunca bir süredir ISS'lerin DPI yoluyla kullanıcıların bittorrent trafiğini kontrol altında tutarak, gerektiği zamanlarda bu trafiğe müdahele edip etmediğini test eden bir sistem geliştirmişti. Sistem oldukça verimli çalışıyordu ve tutarlı sonuçlarıyla büyük bir güven kazanmıştı. Yakın zamanda büyük bir data derlemesi yaparak 2009'dan 2012'nin ilk çeyreğine kadar sistem üzerinden kullanıcıların yaptıkları testlerin sonuçlarını yayınladılar.</p>
<p>Bu derleme ile tüm dünyada hangi servis sağlayıcısının bittorent trafiğinize ne kadar müdahale ettiğini, zaman aralıklarıyla görmek mümkün hâle geldi. Bu bilgiler dünya çapında büyük bir ilgiyle karşılandı ve sonuçlar büyük bir dikkatle incelendi.</p>
<p>Türkiye üzerine sonuçları incelediğimizde ise ilginç sonuçlarla karşılaştık. Bu sonuçların bize gösterdiklerini anlatmadan önce birkaç detayı da açıklamam lazım.</p>
<p>*Türkiye'de internet hattının omurgası Türk Telekom'un elinde olduğundan, bir anlamda şirket farketmeksizin hattınız Türk Telekom'dan geçtiğinden, tüm sonuçlarda ISS bölümünde Türk Telekom'un adı geçmekte.</p>
<p>*Bazı çeyreklerin listede olmamasının sebebi ise Türkiye'den yapılan test sayısının tutarlı bir sonuç sunulmasına yeterli olmaması. Bir sonuç bildirilebilmesi için o ISS üzerinden belirli bir miktarda test yapılmış olması gerekiyor.</p>
<p>*Son olarak da yüzdelerin anlamlarını açıklayayım. Eğer bir dönemde rakam %10'un altındaysa bu, DPI ile bittorrent trafiğine müdahalenin ciddi bir seviyede olmadığı ya da hiç olmadığı anlamına gelmekte. %10-50 arası sonuçlar DPI'ın varlığını kanıtlar nitelikte ancak müdahalenin tehlikeli seviyede olmadığını göstermekte. %50 ve üzeri ise ISS'in DPI ile bittorrent trafiğine tehlikeli bir şekilde müdahelede bulunduğunu ve torrent kullanımınızı engellemeye çalıştığını göstermekte.</p>
<p>Türkiye'nin 2009-2012 ilk çeyrek sonuçları şu şekilde;</p>
<p><a href="/images/content/Bittorrent-manipulation-by-ISPs-worldwide-Glasnost-data-from-the-beginning-of-2009-to-the-end-of-Q1-2012-2012-08-12-18-16-54.png"><img class="aligncenter size-full wp-image-318" title="Bittorrent manipulation by ISPs worldwide Glasnost data from the beginning of 2009 to the end of Q1 2012 2012-08-12 18-16-54" src="/images/content/Bittorrent-manipulation-by-ISPs-worldwide-Glasnost-data-from-the-beginning-of-2009-to-the-end-of-Q1-2012-2012-08-12-18-16-54.png" alt="" width="603" height="234" /></a></p>
<p>Bu sonuçlar bittorrent kullanıcıları açısından şimdilik bir risk göstermiyor. Ciddi ya da tehlikeli bir müdahale olduğunu söylemek bu sonuçlarla güç elbette. Ancak yazımızın esas meselesi DPI olduğu için bu sonuçlar fazlasıyla önemli.</p>
<p>Sonuçlarda kimi dönemlerde DPI ile müdahele %10'ların üzerinde görünüyor. Birkaç dönem dışında ise bu sonuçlar hiç sıfırı görmemiş. Sıfırın görünmesi bile bu noktada bir önem taşımamakta açıkcası. Çünkü bu sonuçlarda çıkan sıfır ya da %10 altı sonuçlar sadece DPI'ın bittorrent trafiği üzerinde kullanımını göstermekte.</p>
<p>Bu sonuçların bize söylediği en önemli şey; büyük bir ihtimalle 2009'dan bu yana Türk Telekom'un DPI kullandığı. 2010'dan sonrasında ise DPI kesinlikle var. Ancak 2011'in üçüncü çeyreğinden itibaren DPI'ın yönü bittorrentten çekilmiş. Şu an ne amaçla kullanıldığını bilmiyor olsak da DPI'ın varlığı söz konusu.</p>
<p>Phorm ile çalışmaya yeni başlamış olmaları DPI'ın henüz yeni aktif olmaya başladığını düşündürmekteydi ancak bu sonuçlar bizim için tamamen başka bir boyutu daha gösteriyor. Türk Telekom DPI sistemine Phorm'dan önce de sahipti ve aktif olarak da kullanıyordu. Phorm'dan önce de fişleniyorduk demek mümkün bu sonuçlarla.</p>
<p>Ancak bu sonuçlarla birlikte bir çok yeni soru ortaya çıkıyor. Türk Telekom'un böyle rahat bir şekilde hareket edebilmesi, kimseye bir bilgi verme ihtiyacı duymadan ismi oldukça kirli bir sistemi aktif olarak kullanması, bununla kullanıcıların trafiklerine müdahalelerde bulunmuş olması açıklama gerektiren şeyler. Gün geçtikçe bu konularda daha fazla bilgi ortaya çıkıyor ve çıkacaktır. Artık sessizliğin ya da geçiştirme amaçlı içi boş cevapların bir faydası olmayacak.</p>
<p>Tüm test sonuçlarına ulaşmak için: <a href="http://dpi.ischool.syr.edu/ISPtable.html">http://dpi.ischool.syr.edu/ISPtable.html</a></p>
<p>Bu konuda yapılmış çalışmalar ve makaleler için: <a href="http://dpi.ischool.syr.edu/Papers.html">http://dpi.ischool.syr.edu/Papers.html</a></p>
<p>Glasnost ekibi hakkında bilgi ve sözü geçen testler için: <a href="http://broadband.mpi-sws.org/transparency/bttest-mlab.php">http://broadband.mpi-sws.org/transparency/bttest-mlab.php</a></p>
