---
layout: post
status: publish
published: true
title: "“Temel hak” kavramı, anayasa ve internet"
author:
  display_name: ilden
  login: ilden
  email: ildendirini@gmail.com
  url: http://alternatifbilisim.org
author_login: ilden
author_email: ildendirini@gmail.com
author_url: http://alternatifbilisim.org
excerpt: "“Temel hak”, insanın insan olduğu için sahip olduğu ve devredilemez haklar
  olarak tanımlanır. İnternet erişiminin de böyle temel bir insan hakkı olarak kabul
  edilmesi giderek uluslararası bir hukuk teamülü haline geliyor.\r\n\r\n<a href=\"/images/content/internet.jpeg\"><img
  class=\"alignleft size-full wp-image-218\" title=\"internet\" src=\"/images/content/internet.jpeg\"
  alt=\"\" width=\"320\" height=\"180\" /></a>\r\n\r\nİnternet erişimi Birleşmiş Milletler
  tarafından 4 Haziran 2011’de yapılan genel oturumda “temel bir insan hakkı” olarak
  tanımlandı ve İnsan Hakları Evrensel Beyannamesi’ne “3. Kuşak insan hakkı” olarak
  dahil edildi (<a href=\"http://www2.ohchr.org/english/bodies/hrcouncil/docs/17session/A.HRC.17.27_en.pdf\">http://www2.ohchr.org/english/bodies/hrcouncil/docs/17session/A.HRC.17.27_en.pdf</a>).
  Evrensel Beyanname altında devlet tarafından imzamız bulunduğuna göre, söz konusu
  genel oturuma şerh de koymadığımıza göre, aslında tartışacak bir şey yok pek. İnternet
  erişiminin temel bir hak olarak kabul edip iç hukukumuza uyarlamakla yükümlüyüz.\r\n\r\nAvrupa
  Konseyi de 18 – 19 Nisan 2011 tarihleri arasında Strasburg’da \"İnternet’in Evrenselliğini,
  Bütünlüğünü ve Açıklığını Korumak ve Geliştirmek\" başlıklı kararıyla internet erişimini
  temel bir hak olarak <a href=\"http://sansuresansur.blogspot.com/2012/01/internet-erisimi-anayasada-korunan-bir.html\">Avrupa
  İnsan Hakları Sözleşmesi’ne </a>ekledi. İlgili kararın 10. Maddesi şöyle der: “Bir
  görevin taşıyıcıları olarak temel hakların ve vatandaşlarının özgürlüklerinin korunması
  ve birincil katılımcıların İnternetin kritikliğine ilişkin meşru beklentilerine
  ilişkin, devletlerin ulusal ve uluslar arası alanda İnternet’le ilgili kamu politikasında
  kamu yararını koruma sorumluluğu vardır.” (<a href=\"http://yenimedya.wordpress.com/2011/06/09/internet%E2%80%99in-evrenselligini-butunlugunu-ve-acikligini-korumak-ve-gelistirmek/\">http://yenimedya.wordpress.com/2011/06/09/internet%E2%80%99in-evrenselligini-butunlugunu-ve-acikligini-korumak-ve-gelistirmek/</a>).
  Karar, internet erişiminin her türlü devlet müdahalesinden uzak bir biçimde güvence
  altına alınmasını bildiriyor. Avrupa İnsan Hakları Sözleşmesi’nin altında da imzamız
  bulunuyor. Sözleşmenin gereğini yerine getirip internet erişimini temel bir hak
  olarak iç hukukumuzda korumakla yükümlüyüz.\r\n\r\n"
wordpress_id: 216
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=216
date: '2012-01-16 15:08:42 +0200'
date_gmt: '2012-01-16 13:08:42 +0200'
categories:
- Kategorilendirilmemiş
tags:
- internet
- Özgür Uçkan
- temel hak
comments: []
---
<p>“Temel hak”, insanın insan olduğu için sahip olduğu ve devredilemez haklar olarak tanımlanır. İnternet erişiminin de böyle temel bir insan hakkı olarak kabul edilmesi giderek uluslararası bir hukuk teamülü haline geliyor.</p>
<p><a href="/images/content/internet.jpeg"><img class="alignleft size-full wp-image-218" title="internet" src="/images/content/internet.jpeg" alt="" width="320" height="180" /></a></p>
<p>İnternet erişimi Birleşmiş Milletler tarafından 4 Haziran 2011’de yapılan genel oturumda “temel bir insan hakkı” olarak tanımlandı ve İnsan Hakları Evrensel Beyannamesi’ne “3. Kuşak insan hakkı” olarak dahil edildi (<a href="http://www2.ohchr.org/english/bodies/hrcouncil/docs/17session/A.HRC.17.27_en.pdf">http://www2.ohchr.org/english/bodies/hrcouncil/docs/17session/A.HRC.17.27_en.pdf</a>). Evrensel Beyanname altında devlet tarafından imzamız bulunduğuna göre, söz konusu genel oturuma şerh de koymadığımıza göre, aslında tartışacak bir şey yok pek. İnternet erişiminin temel bir hak olarak kabul edip iç hukukumuza uyarlamakla yükümlüyüz.</p>
<p>Avrupa Konseyi de 18 – 19 Nisan 2011 tarihleri arasında Strasburg’da "İnternet’in Evrenselliğini, Bütünlüğünü ve Açıklığını Korumak ve Geliştirmek" başlıklı kararıyla internet erişimini temel bir hak olarak <a href="http://sansuresansur.blogspot.com/2012/01/internet-erisimi-anayasada-korunan-bir.html">Avrupa İnsan Hakları Sözleşmesi’ne </a>ekledi. İlgili kararın 10. Maddesi şöyle der: “Bir görevin taşıyıcıları olarak temel hakların ve vatandaşlarının özgürlüklerinin korunması ve birincil katılımcıların İnternetin kritikliğine ilişkin meşru beklentilerine ilişkin, devletlerin ulusal ve uluslar arası alanda İnternet’le ilgili kamu politikasında kamu yararını koruma sorumluluğu vardır.” (<a href="http://yenimedya.wordpress.com/2011/06/09/internet%E2%80%99in-evrenselligini-butunlugunu-ve-acikligini-korumak-ve-gelistirmek/">http://yenimedya.wordpress.com/2011/06/09/internet%E2%80%99in-evrenselligini-butunlugunu-ve-acikligini-korumak-ve-gelistirmek/</a>). Karar, internet erişiminin her türlü devlet müdahalesinden uzak bir biçimde güvence altına alınmasını bildiriyor. Avrupa İnsan Hakları Sözleşmesi’nin altında da imzamız bulunuyor. Sözleşmenin gereğini yerine getirip internet erişimini temel bir hak olarak iç hukukumuzda korumakla yükümlüyüz.</p>
<p><a id="more"></a><a id="more-216"></a>Bu iki karar öncesinde İzlanda ve Finlandiya, internet erişimini temel haklardan biri olarak anayasalarına eklemişlerdi. Şimdi, başta AB ülkeleri olmak üzere, birçok ülkenin bunu yaptığına tanık olacağız.</p>
<p>Ayrıca Avrupa İnsan Hakları Mahkemesi’nin de bu yönde bir içtihattı oluşmuş durumda. Bu mahkemenin kararları da, bilindiği gibi, hukukumuz üzerinde belirleyici etkiye sahip.</p>
<p>“Temel haklar”, yine bilindiği gibi Anayasa ile korunmak zorundadır. Çünkü Anayasa, temel hak ve özgürlükler platformunun tanımlandığı en üst düzey hukuki metindir. Anayasaların birinci işlevi toplumu devlete karşı korumaktır. Bizde olduğu gibi devlet ideolojisini korumak için anayasa yapılmaz. Bu yüzden bunca yıldır, hala “sivil” bir anayasa yapalım mı, yapacaksak nasıl yapalım diye tartışıyoruz. Bu tartışmanın kendisi abesle iştigal. Sivil olmayan bir anayasa, zaten anayasa değildir; toplumu devlete karşı koruyan bir anayasanın bulunmadığı bir ülkedeki rejimi de “demokratik” olarak adlandıramazsınız.</p>
<p>Türkiye’de mevcut “anayasal rejim” demokratik bir rejim değildir. Eğer bugün rejimi demokratikleştirmek için bir anayasa yapacaksak, bu anayasa zaten doğası gereği sivil olmak ve devleti topluma karşı değil, toplumu devlete karşı korumak zorundadır. Bu anayasanın sivil olması için, sivil toplum inisiyatiflerinin etkin katılımıyla yapılması ve en geniş konsensüsü yansıtması gerekir. Bu bir seçenek değil, bir zorunluluktur. Bu katılım göstermelik, “sorduk, cevap vermediler” tarzı imaj operasyonlarıyla sağlanmaz. Bunun için, anayasa taslaklarını hazırlayacak komisyonun, meclis tarafından sivil inisiyatifleri de kapsayacak bir biçimde oluşturulması gerekir. Anayasa yapımı, sadece hukukçulara ve milletvekillerine bırakılamayacak kadar ciddi bir iştir. Sivil toplumun gerçek katılımını gerektirir. Bu komisyon veya komisyonlar birden fazla taslak oluşturur, bunlar tartışılır ve en fazla konsensüsü yansıtan taslak referanduma sunulur...<strong> </strong></p>
<p>&nbsp;</p>
<p><strong>İnternet erişiminin temel bir hak olup olmadığı tartışmaları</strong></p>
<p>İnternet erişiminin anayasada yer alması gereken bir hak olup olmadığı sorusu, aslında onun “temel insan hakkı” olup olmadığı sorusuyla ilgili. Çünkü eğer, öyleyse anayasada tanımlanmak ve korunmak zorunda. Bu konu pek tartışmaya açık değil.</p>
<p>Ama internet erişiminin insan hakkı olarak konumlanmasıyla ilgili genel tartışmaya kısaca göz atmakta fayda var. İnternet erişiminin temel bir hak olarak tanınmasına yönelik itirazlardan biri, TCP/IP protokolünün yaratıcılarından Vinton Cerf’ten geldi. Cerf, internetin temel hakların kullanımını mümkün kılan bir teknoloji olduğunu, ama kendisinin bir hak olarak tanımlanamayacağını belirtti (Vinton Cerf, “Internet Access Is Not a Human Right”, New York Times, 4.01.2012, <a href="http://www.nytimes.com/2012/01/05/opinion/internet-access-is-not-a-human-right.html?_r=3&amp;hpw">http://www.nytimes.com/2012/01/05/opinion/internet-access-is-not-a-human-right.html?_r=3&amp;hpw</a>). Cerf bu çıkışını, HTML’nin yaratıcısı Tim Berners-Lee’nin interneti temel bir hak olarak konumlayarak tartışmayı başlatan argümanına karşı yapmıştı (("Web Creator Tim Berners-Lee: Internet Access Is A Human Right", Huffington Post, 13.04.2011, <a href="http://www.huffingtonpost.com/2011/04/13/berners-lee-internet-access-human-right_n_848833.html">http://www.huffingtonpost.com/2011/04/13/berners-lee-internet-access-human-right_n_848833.html</a>). Her iki yorumcu da, paternalist bir algıyla “İnternetin Babaları” olarak görüldüğünden, hukukçu olmasalar da konumları tartışmayı belirleyecek güce sahip.</p>
<p>Bence Cerf’in en önemli yanılgısı interneti bir teknolojiye indirgemesi. İnternet teknolojiden ibaret değil, teknoloji(ler) aracılığıyla yaratılmış bir ortam ve en önemlisi, etkileşimli, sosyal ve kamusal bir ortam. Kamusal bir ortam, çünkü hepimize ait, sadece teknolojiyi geliştirenlere değil. Tıpkı konut gibi. Konut bir teknoloji ürünü. Peki barınma hakkı neden bir insanlık hakkı? Tıpkı sokaklar ve meydanlar gibi. Sokaklar ve meydanlara erişim temel bir hak. Sokaklar ve meydanlar ne kadar teknolojiden ibaretse internet de o kadar teknolojiden ibaret. Nasıl sokaklara çıkıp protesto etme hakkımız temel bir hak ise, aynı şeyi internette yapmamız da temel bir hak. Dolayısıyla internete erişme hakkı, tıpkı sokağa çıkma, kamusal alanda örgütlenme, seyahat etme gibi bir insan hakkı.</p>
<p>Aslında bu çok eski bir tartışma. Benzeri görüşler basının ortaya çıktığı zamanlarda da dile getirildi. İfade özgürlüğünün sadece basına bağlı olmayacağı söylendi. Doğru. Ama zaman içerisinde basın özgürlüğü ifade ve haber alma özgürlüğünün bir parçası haline geldi ve temel bir hak olarak tanındı. İnternet de artık ifade , bilgi edinme ve haber alma özgürlüğünün bir parçası ve temel bir hak olarak tanınmak zorunda. Basın ne kadar "teknoloji"den ibaretse internet de o kadar teknolojiden ibaret.</p>
<p>Burada dikkate alınması gereken önemli bir kavram da "Agora". Agora, yani toplanma mekanı, topluluğun nabzının attığı yer... Kamusal alan... Kamusal alana çıkmak, orada düşüncelerini ifade etmek, örgütlenmek, protestoda bulunmak vb. temel bir haktır. Agora'ya erişim temel bir haktır. Agora meydanlar ve sokaklar olabilir. O yüzden sokaklar ve meydanlara çıkmak engellenemez, temel bir haktır. Sokaklar ve meydanlar insan yapısıdır. "Techne" (yani “yapmak” fiili) sonucu oluşur... Ama bir kez oluştu mu, artık insanlığın malıdır, erişimi engelleyemezsiniz... İnternet de Agora'dır. Üstelik hepimize, bütün insanlığa ait bir Agora... İnsan yapımı teknolojiler sonucunda oluşmuştur. Ama tıpkı sokaklarımız ve meydanlarımız gibi, artık o "techne"den daha fazla şey ifade eder. Yaşar. Bizim malımızdır.</p>
<p>İnternete erişmek temel bir haktır. Dikkat edin, "internet haktır" demiyorum, "internete erişmek temel bir insan hakkıdır" diyorum... İnternetin devletler veya şirketler tarafından işgal edilmeden, tarafsız ve bütünlüklü bir halde tutulmasının sağlanması gerekir, ki o Agoraya erişebilelim ve orada insanlığımızı yaşayabilelim... Sokakları ve meydanları tanklarla işgal edilmiş, veya şirketlerin ve özel ordularının işgali altında bulunan, girip çıkmanın izne veya ücrete tabi olduğu bir şehir düşünün... O şehirde Agora hakkı çiğnenmiştir; dolayısıyla bağlantılı bütün haklar da...</p>
<p>Cerf’in yaklaşımını çürüten temel bir insan hakları hukuku kavramı var ki, Cerf bunu tamamen atlıyor: Bu da "kuşak" kavramı... Düşünce, ifade, bilgi edinme, haberleşme özgürlüğü ve mahremiyet hakkı gibi haklar ilkesel olarak temeli oluşturan 1. kuşak insan hakları... Sonra basın özgürlüğü gibi 2. kuşak insan hakları geliyor. İnternete erişme özgürlüğü, internetin tarafsızlığı ve bütünlüğünün başta devletler olmak üzere üçüncü tarafların müdahalesi olmaksızın korunması ise 3. kuşak insan hakkı...</p>
<p>Bu arada Cerf'in bir DARPA (The United States Department of Defense Advanced Research Projects Agency) yani ABD Savunma Bakanlığı çalışanı olduğunu hatırlayalım. Bu yazısını, bir CERN çalışanı olan Tim Berners-Lee'nin internetin temel insan hakkı olarak tanınması gerektiği söylemine karşı yazdığını da. “Sir Tim'in, Cerf gibi bir korporatist oligarşide değil daha düzgün bir demokraside yetiştiğini ve mobil telefonlarda net tarafsızlığı karşıtlarından para da almadığını belirtmekte yarar var” (Nick Farell, "Vint Cerf says internet not a human right", TechEye.net, 6.01.2012, <a href="http://news.techeye.net/internet/vint-cerf-says-internet-not-a-human-right">http://news.techeye.net/internet/vint-cerf-says-internet-not-a-human-right</a>)</p>
<p><strong>3. Kuşak insan hakkı olarak internet erişimi</strong></p>
<p>İnternet erişiminin hali hazırda uluslararası belgelerde temel insan hakkı olarak tanınmış olmasının nedeni, bu erişimin eskiden olduğundan daha fazla insanı ilgilendiriyor olması değil. Yani, bu basit bir nicelik sorunu değil. Bu tanımanın gerçek nedeni, internetin doğasıyla ilgili: İnternetin gayri-merkezi, tarafsız, sınır-aşan ve etkileşimli doğası, onu düşünce, ifade, bilgi edinme ve haber alma özgürlüğünün asli parçası kılıyor. İnternet erişiminin “3. kuşak insan hakkı” olarak tanımlanmasının nedeni de budur. Çünkü internet erişimi hak olarak tanınmadan, 1. kuşak insan hakları olan “düşünce, ifade, bilgi edinme ve haber alma özgürlüğü” korunamaz. İnternet bugün, düşünce ve ifade özgürlüğünün gerçekleştiği öncelikli iletişim alanı haline gelmiştir; aynı şekilde, müdahale edilmeden, sansürlenmeden bilgi edinme ve haber alma hakkının özgürce kullanılabildiği en önemli platformdur. Dahası, internet herkesi bir yayıncı haline getirmekte, iletişimi demokratikleştirmekte ve kamu yararının ortaya çıktığı ayrıcalıklı iletişim ve etkileşim platformuna dönüşmektedir. İşte bu yüzden, internetin “evrenselliğinin, bütünlüğünün ve açıklığının” korunması gerekir. Aksi takdirde temel hak ve özgürlükler platformu zarar görür. Bu hukuki ilkenin internete kaç kişinin bağlandığıyla hiç bir ilgisi yoktur. Hukuki ilkeler niceliksel değil niteliksel bir öze sahiptir.</p>
<p>Bunun da ötesinde internet insani etkileşim ve sosyal ilişki için temel bir platform haline gelmiştir. Bu durum da internet erişimini en az seyahat özgürlüğü kadar temel bir insan hakkı haline getirmektedir. Bugün bir insanın seyahat özgürlüğünü engellemekle, internet erişimini engellemek arasında temel bir fark yoktur. İkisi de temel haklara aykırıdır.</p>
<p>İnternet, sadece bir iletişim alanı değildir; o bir etkileşim alanıdır. Bu da interneti örgütlenme özgürlüğünün asli parçası haline getirmektedir. İnternet bugün insanların örgütlenmek, demokratik bir biçimde katılımda bulunmak, halkın çıkarlarını tehdit eden kamu kurum ve kuruluşları üzerinde baskı oluşturmak, tepki ve protestolarını demokratik bir biçimde ifade etmek için kullandıkları en önemli platform haline gelmiştir. Bu yüzden internete erişim hakkı, örgütlenme hakkının da asli bir parçasıdır.</p>
<p>Avrupa Konseyi kararı, internet erişiminin devletler veya şirketler tarafından her hangi bir müdahaleye uğramaksızın güvence altına alınmasını gerektiriyor. Ayrıca temel hak ve özgürlükler platformunun anayasal koruma altında olması genel bir hukuk kuralı. İnternet erişimi de bu platformun asli parçası olduğuna göre, tartışacak bir şey yok. İnternet erişimini anayasa içerisinde tanımlanmak ve korunmak zorunda...</p>
<p><strong>Yeni anayasa yapım süreci ve internet erişiminin temel bir hak olarak anayasal koruma altına alınmasının önemi</strong></p>
<p>Yeni Anayasa çalışmalarında çözüm bekleyen aslında tek bir sorun var: Bu anayasa gerçek bir anayasa mı olacak, yani toplumun temel hak ve özgürlüklerini devletin karşısında koruyarak ülkenin demokratikleşmesinin bir aracı mı olacak; yoksa devletin tebaa olarak gördüğü kendi toplumundan korunarak hukuk dışına çıktığı mevcut rejimi sürdürerek kendimizi kandırmaya devam mı edeceğiz? Anayasa yapımının en önemli sorusu budur ve cevap sorunun içinde ayan beyan ortadadır.</p>
<p>Şimdi böyle baktığımızda, internet erişiminin anayasa içerisinde tanımlanarak güvence altına alınmasından daha doğal bir şey olamaz. Yeni bir anayasa, eğer gerçekten sivil ve demokratik olacaksa, asli ekseni düşünce, ifade, bilgi edinme, haber alma, örgütlenme hak ve özgürlükleri üzerinde kurulmalıdır; internete sınırsız, sansürsüz, kısıtsız bir biçimde erişme hak ve özgürlüğü de bu eksenin bir parçasıdır...</p>
<p>Türkiye’nin en öncelikli sorunu demokratikleşme sorunudur. Temel hak ve özgürlüklere odaklanmadan, toplum ve devlet arasındaki ilişkilerin doğasını demokrasi eksenine kaydırmadan hiç bir sorunu çözemezsiniz. İnternet erişiminin, Türkiye’de olduğu gibi devletin sürekli sansür, gözetim, denetim müdahalesi tehdidi altında olduğu bir ülkede demokrasiyi tesis edemezsiniz. Çünkü demokrasi düşünce, ifade, bilgi edinme, haber alma özgürlüğü temelinde yükselir. Geleneksel medyanın zaten ciddi bir şekilde devlet tarafından denetlendiği, haber mantığının dikte edildiği, uluslararası basın özgürlüğü endekslerinde notu yerlerde sürüklenen bir ülkede, özgür internet erişimi olmadan tüm temel hak ve özgürlükler zaten askıya alınmış demektir.</p>
<p>Alternatif Bilişim Derneği, “Kullanıcı Hakları Bildirgesi” adı altında taslak bir belge yayınladı. Belge interneti bir hizmet değil bir hak olarak tanımlıyor. Kullanıcıların katkılarıyla geliştirilmeye devam eden belgeye şuradan ulaşılabilir: <a href="http://www.alternatifbilisim.org/wiki/Kullan%C4%B1c%C4%B1_Haklar%C4%B1_Bildirgesi">http://www.alternatifbilisim.org/wiki/Kullan%C4%B1c%C4%B1_Haklar%C4%B1_Bildirgesi</a></p>
<p>İnternet erişimi ile ilgili talepler artık bu ülkedeki hak ve özgürlükler platformlarının, demokratik anayasa hareketlerinin ve sivil toplum alanının ayrılmaz bir parçası haline gelmiştir. Önümüzdeki dönemde, demokratik hak arayışının, sadece internette sansüre karşı çıkmakla yetinmeyeceğini, internet erişim hakkının anayasaya eklenmesi için de mücadele edeceğini göreceğiz.</p>
<p>Demokrasiyi bir türlü içine sindiremeyen iktidarlar ve giderek etkisizleşen temsiliyet mekanizmaları bu mücadeleyi bir tehdit olarak algılayacaktır. Ama unutulmasın ki, bu, halkın onları demokrasi için tehdit olarak algılamasından başka bir sonuca yol açmaz!</p>
<p>İnternet erişiminin korunma altına alınmadığı bir anayasa yapacaksak, buna hiç gerek yok; devlet ideolojisini temsil eden kurgusal “örf ve adetler” neyimize yetmiyor?</p>
<p>Rejimimizin adını koyalım artık... Gibi yapmayalım.</p>
<p><strong>Dr. Özgür Uçkan</strong><br />
İstanbul Bilgi Üniversitesi<br />
Alternatif Bilişim Derneği<br />
SansüreSansür</p>
