---
layout: post
status: publish
published: true
title: BTK, Türk Telekom, internetten elini çek!
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
wordpress_id: 261
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=261
date: '2012-02-10 15:09:52 +0200'
date_gmt: '2012-02-10 13:09:52 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>Bir ay önce, Türk Telekom, kullanıcılarını tek tek telefonla arayarak "Güvenlik paketi" adı altında BTK'nın filtresini diğer ürünlerle beraber satmaya çalışıyordu. Arayan görevliler, "neden istemiyorsunuz, ailecek kullanmıyor musunuz, çocuğunuz yok mu" gibi sorularla kullanıcıları korkutmaya çalışıyorlardı.</p>
<p>Türk Telekom'un dün geceki son pazarlama çalışması ise, filtreyi pazarlayabilmek için filtre istememiş olan kullanıcılara filtreyi uygulamak oldu.</p>
<p>Filtre istemeyen kullanıcılar, ilk filtre kararında "standart profilde" sayılmışlardı, daha sonra tepkiler üzerine bunun adı "mevcut kullanımın devamı" olarak söylenmişti.</p>
<p>Fakat son yapılan şey gösteriyor ki, Türk Telekom kullanıcıların "mevcut kullanımını" istediği zaman yarıda kesip filtre kararında bahsedilen "Uyarı ve bilgilendirme" türü ekranlara yönlendirme hakkını kendinde görüyor. Açıklayalım:</p>
<p>Dün gece filtre istememiş olan kullanıcılar, girmek istedikleri sayfa yerine "yılın fırsatı" adında "Fatura bilgilendirme" başlıklı işte şu Türk Telekom sayfasına yönlendirildiler:</p>
<p>http://www.ttnet.com.tr/yilin-firsati/index.aspx</p>
<p>Bu sayfada "Güvenli İnternet Hizmeti, tercihinize bağlı olarak sizi internetteki muhtemel zararlı içeriklerden koruyan ücretsiz ve kullanımı kolay bir sistemdir. Güvenli İnternet Hizmeti ile ilgili detaylı bilgi almak ister misiniz?" yazıyor ve altında iki seçenek var: Evet, istiyorum. Hayır, ilgilenmiyorum.</p>
<p>Bu yönlendirme, yeni filtre sistemi için kullanılan Derin Paket Sorgulama yöntemi ile yapılmış olmalı. Çünkü kullanıcıların ulaşmak istediği sayfaya açtığı bağlantı durduruldu ve o sayfadan ileteceği cevap yerine Türk Telekom kullanıcıya kendi cevabını gönderdi.</p>
<p>Türk Telekom bugün eğer kullanıcılarının "mevcut kullanımını" durdurarak BTK'nın filtresinin reklamını yapma hakkını kendinde görüyorsa, ileride TTNET ürünlerinin, hatta üçüncü kişilerin vereceği reklamların "mevcut kullanımı" durdurarak araya sokulması gündeme gelecektir. Ve unutmayalım ki içinde bulunduğumuz kapitalist sistemde bu tür potansiyeller doğrudan doğruya bir şirketin hisselerinin kıymeti olarak gerçekliğimize gölgesini düşürmektedir.</p>
<p>Bahane ne olursa olsun, servis sağlayıcının İnternet ile kullanıcı arasına girmesini asla kabul etmemeliyiz. Bu hakkı kendinde gören bir servis sağlayıcı, İnternet kullanıcılarının düşmanı sayılır.</p>
<p>Bu son olay gösteriyor ki, İnternet'i özgür ve filtresiz olarak kullanma hakkımıza sahip çıkmamız, aynı zamanda özgür iletişim alanlarımızı savunmak ve büyütmek için teknik yeteneklerimizi geliştirmemiz gerekiyor.</p>
<p>Şunu görmeliler: Eğer servis sağlayıcı elindeki gücü kullanarak kullanıcıların özel alanını ihlal etme hakkını kendisinde görüyorsa, İnternet kullanıcılarına da servis sağlayıcıya ait görünen alanları işgal ederek "Uyarı ve bilgilendirme" yapma hakkı doğar.</p>
<p>Occupy hareketinden çıkarılacak anlamlı bir mesaj varsa budur.</p>
<p>Yani nesnelerden önce, o nesnenin doldurabileceği alanı/boşluğu savunmaktır...</p>
<p>[caption id="attachment_263" align="aligncenter" width="500" caption="Our space = Bizim alanımız/uzayımız/boşluğumuz."]<a href="/images/content/tumblr_luug6kQYmX1r3byuto1_500.jpg"><img class="size-full wp-image-263 " title="tumblr_luug6kQYmX1r3byuto1_500" src="/images/content/tumblr_luug6kQYmX1r3byuto1_500.jpg" alt="" width="500" height="282" /></a>[/caption]</p>
<p style="text-align: center;">
<p>Işık Barış Fidaner</p>
