---
layout: post
status: publish
published: true
title: 28  - 29 Ocak Twitter Boykotu
author:
  display_name: yetkinsal
  login: yetkinsal
  email: yetkinsal@gmail.com
  url: ''
author_login: yetkinsal
author_email: yetkinsal@gmail.com
wordpress_id: 246
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=246
date: '2012-01-28 14:20:52 +0200'
date_gmt: '2012-01-28 12:20:52 +0200'
categories:
- Kategorilendirilmemiş
tags:
- sansür
- twitter
comments:
- id: 123
  author: Küresel ağda sansürün yereli olur mu? &laquo; Yeni Medya
  author_email: ''
  author_url: http://yenimedya.wordpress.com/2012/02/01/kuresel-agda-sansurun-yereli-olur-mu/
  date: '2012-02-01 10:12:55 +0200'
  date_gmt: '2012-02-01 08:12:55 +0200'
  content: "[...] *           http://netdefteri.alternatifbilisim.org/2012/01/28-29-ocak-twitter-boykotu/
    [...]"
---
<p>&nbsp;</p>
<p><a href="/images/content/twitter_shit.png"><img class="alignleft size-medium wp-image-256" title="twitter_shit" src="/images/content/twitter_shit-300x300.png" alt="" width="300" height="300" /></a>SOPA'nın ve #internettutulmasi'nin başarısına daha sevinemeden internet sansürüyle ilgili art arda kötü haberler geldi. Megaupload'un kapatılması ve site sahiplerinin tutuklanmasının ardından bir çok dosya paylaşım sitesi yayınını durdurmuş veya kısıtlamıştı. 2 gün önce ise Arap Baharı'nın sesini dünyaya taşıyan araçlardan biri olan Twitter, artık ülkelere göre sansür uygulayabileceğini açıkladı. Lokasyona göre sansür uygulaması sadece ifade özgürlüğünü kısıtlayıcı bir uygulama olmaktan öte aynı zamanda dünya çapında ağın(World wide web) mantığına da aykırı bir durum teşkil ediyor.<br />
Özellikle Türkiye'de neyin sansür olabileceği belirsizliğini koruyorken Twitter tarafından gelen isteklere göre Türkiye'de hangi içeriklerin gösterilemeyeceği merak konusu. Aklınıza Twitter'da takip ettiğiniz kişileri ve yazdıklarını getirirseniz bu işin ne kadar uzayabileceğini anlayabilirsiniz.<br />
Tüm dünyadan Twitter kullanıcıları Twitter'ın bu uygulamasını 28 Ocak ve 29 Ocak günü twitter'ı boykot edip tweet atmayarak protesto edicek. Sanırım bu işin en kötü yanı, bu konuda tweet atamamak.</p>
<p>#twitterblackout #twittercensored #j28 #j29</p>
<p>Yetkin SAL</p>
