---
layout: post
status: publish
published: true
title: Vikipedi Türkiye Buluşmasını kaçırmayın
author:
  display_name: ilden
  login: ilden
  email: ildendirini@gmail.com
  url: http://alternatifbilisim.org
author_login: ilden
author_email: ildendirini@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 273
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=273
date: '2012-02-22 19:03:56 +0200'
date_gmt: '2012-02-22 17:03:56 +0200'
categories:
- Kategorilendirilmemiş
tags:
- Vikipedi
- Özgür Ansiklopedi
comments: []
---
<p>Vikipedi Türkiye Buluşmaları bu yıl farklı bir kimliğe bürünüyor. Vikipedi 26 Şubat'ta Vikipedi Konferansı düzenliyor.</p>
<p>[caption id="attachment_274" align="alignleft" width="300" caption="Vikipedi Konferansı 26 Şubat&#39;ta İstanbul&#39;da Kadir Has Üniversitesi&#39;nde"]<a href="/images/content/Vikipedi_Konferansi.png"><img class="size-medium wp-image-274" title="Vikipedi_Konferansi" src="/images/content/Vikipedi_Konferansi-300x225.png" alt="" width="300" height="225" /></a>[/caption]</p>
<p>Özgür Ansiklopedi Wikipedia, İnternetin en geniş ve en güvenilir kaynak sitesi olma yolunda ilerleyişini sürdürüyor. Vikipedi, içeriği dünyanın her köşesinden gönüllü insanlar tarafından ortaklaşa hazırlanan açık kodlu, özgür, kâr amacı gütmeyen ücretsiz bir ansiklopedi. Wiki teknolojisini kullanan Wikipedia'ya dünyanın herhangi bir yerinden herkes istediği eklemeyi, çıkarmayı yapabiliyor. Bu özellik bilginin insanlığın ortak birikimi olduğunu ispat edercesine Vikipedi'yi güvenilir kılıyor.</p>
<p>Onlarca dilde yüzbinlerce maddenin bulunduğu ansiklopedinin Türkçe versiyonu da 2003 yılında yayın hayatına başladı. 22 Şubat itibariyle 389.298 kayıtlı kullanıcının katkılarıyla hazırlanan 25.820 dosya dahil toplam 918.063 sayfayı bulunduruyor. Türkçe Vikipedi'de madde sayısı da 181.490'na ulaştı.</p>
<p><strong>Bu pazar kimseye söz vermeyin </strong></p>
<p>Özgür, dinamik, sürekli güncel ve insanların katkılarıyla hazırlanan Vikipedi bu hafta sonu İstanbul'da konferans düzenliyor. Vikipedi Türkiye Buluşmaları 2012 yılında farklı bir boyuta bürünecek. Vikipedi kullanıcılarından Ahzaryamed, Khutuck ve Nazif İlbek'in konuşmacı olarak katılacağı etkinlik, 26 Şubat 2012 Pazar günü saat 13.00'te Kadir Has Üniversitesi Cibali Kampüsü'ndeki B Blok Cibali Salonu'nda yapılacak.</p>
<p>Vikipedi'nin doğru olarak tanıtılabilmesi ve açıklanabilmesi amacıyla düzenlenen konferans isteyen herkesin, ücretsiz katılımına açık. Katılmak için önceden kayıt yaptırmanız da gerekmiyor.</p>
<p>Vikipedi'yi anlamak isteyenler konferansta sorularına rahatlıkla yanıt bulabilecek. Konferansta, "Vikipedi'nin temel kuralları ve amacı, kardeş projeler ve amaçları, Viki topluluğu, diğer dillerde Vikipedi, Vikipedi'de vandalizm, sürüm kontrolü" gibi konular tartışılacak. Vikipedi Konferansı'nda, etkinlik alanında bulunan veya internet üzerinden takip eden katılımcıların gönderdiği sorular da yanıtlanacak.</p>
<p><strong>Konferans internetten canlı yayınlanacak</strong></p>
<p>Konferansla ilgili sorularınıza <a title="SSS" href="http://tr.wikipedia.org/wiki/Vikipedi:VikiProje_Vikipedi_T%C3%BCrkiye_Bulu%C5%9Fmas%C4%B1/SSS">http://tr.wikipedia.org/wiki/Vikipedi:VikiProje_Vikipedi_Türkiye_Buluşması/SSS</a> sayfasından yanıt bulabilirsiniz.</p>
<p>Ayrıca Vikipedi Konferansı Facebook etkinliği (<a href="https://www.facebook.com/events/205975336167777">https://www.facebook.com/events/205975336167777</a>) aracılığıyla konferansa katılacağınızı belirtebilir ve arkadaşlarınızı da kolayca davet edebilirsiniz. Twitter'da #Vikipedi yazarak sohbete katılabilir veya konferans hakkında konuşulanları takip edebilirsiniz.</p>
<p>İstanbul'da olmayanlar için güzel de bir not Vikipedi Konferansı'nı <a href="www.pozitiftv.com/vikipedi">www.pozitiftv.com/vikipedi</a> adresinden canlı yayın ile takip edebilirsiniz.</p>
<p>İlden Dirini</p>
