---
layout: post
status: publish
published: true
title: TTNet Wifi Açığı
author:
  display_name: bilisimwap
  login: bilisimwap
  email: bulent@bilisimwap.com
  url: ''
author_login: bilisimwap
author_email: bulent@bilisimwap.com
wordpress_id: 326
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=326
date: '2012-09-08 20:00:51 +0300'
date_gmt: '2012-09-08 18:00:51 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p style="text-align: center"><strong>TEHLİKENİN FARKINDAMISINIZ…</strong></p>
<p style="text-align: center">Türkiye’nin önde gelen internet servis sağlayıcısı TTNet abonelerine ek hizmet olarak sunduğu TTNet WiFi hizmetindeki Açık nedeni ile TTNET WiFi sayesinde hiçbir kota derdi olmadan ücretsiz internetin keyfine varabilirsiniz. Nasıl mı? Çok basit<br />
Türkiye’de binlerce noktada hizmet veren TTNet WiFi hizmetinden yararlanmak için kullanıcı adı şifrenizi girmeniz yeterli. Ya da herhangi bir kullanıcı adı şifre de girebilirsiniz. Size gerekli olan sadece farklı bir kullanıcının giriş bilgileri. Açık burada devreye giriyor herhangi bir kullanıcıya ait bilgilerle WiFi’ e giriş yapabilir sınırsız ve ücretsiz internetin keyfini sürebilirsiniz. Giriş bilgileri size ait olmadığı için illegal sitelerde istediğinizi yapabilirsiniz. Peki size gerekli olan farklı kullanıcı adı ve şifreye nasıl ulaşabilirsiniz. Buda çok basit. Bir yakınımın evine gelen Tivibu kurulum servis personeli farklı kullanıcı adı şifreleri belli bir ücret karşılığın da bize önerdi ve bu giriş şifreleri ile WiFi noktalarında kullanabileceğimizi söyledi. Neden böyle bir öneride bulunduğunu sorduğumuzda maaşlarının geç yatırıldığını ödemelerde sıkıntı yaşandığını bu sayede ek gelir elde etmek istediğini söyledi. Servis Personeli ile yaptığımız sohbet esnasında TTNet’e ait tüm kullanıcıların Hizmet numarası kullanıcı adı ve şifrelerine erişebildiğini söylediler.<br />
Bu kadar kolaymıdır bu işler kişilerin kimlik bilgilerine varana kadar her tür bilgi dışarıya sızabiliyor. Kotalar yükseliyor ve fatura olarak geri tahsil ediliyor. İnsanlar kullanmadıkları hizmetin faturasını ödemek zorunda kalıyor. Bu nasıl bir adalettir. Tüm bunlar yapılırken TTNet nasıl böyle bir açık veriyor. Farkında olabilirler mi? Bilemiyorum.</p>
