---
layout: post
status: publish
published: true
title: Sosyal Medya'da neler oldu?
author:
  display_name: gamzegoker
  login: gamzegoker
  email: gamzegoker@gmail.com
  url: ''
author_login: gamzegoker
author_email: gamzegoker@gmail.com
excerpt: "<a href=\"/images/content/gul_trt_sosyal_medya.jpg\"><img
  class=\"alignright size-full wp-image-305\" title=\"Abdullah Gül Sosyal Medya Programında\"
  src=\"/images/content/gul_trt_sosyal_medya.jpg\"
  alt=\"\" width=\"500\" height=\"375\" /></a>Serdar Kuzuloğlu'nun hazırlayıp sunduğu
  Sosyal Medya programının bu haftaki konuğu Cumhurbaşkanı Abdullah Gül'dü. Gül'ün
  ABD ziyareti kapsamında ziyaret ettiği Silikon Vadisi'nde teknoloji şirketleriyle
  yaptığı görüşmelerden kapıldığı heyecanı taşıyarak konuk olduğu programda bu hafta
  diğer haftalardan farklı olarak sunucu koltuğunda TRT Haber Genel Yayın Yönetmeni
  Ahmet Böken de vardı. Belli ki Gül'ü sadece Kuzuloğlu'na teslim etmekten çekinilmiş.
  San Francisco'dan canlı yapılan programda Böken'in neredeyse her fırsatta Kuzuloğlu'nun
  sözünü keserek, soru bile sormasına izin vermeyerek müthiş bir heyecanla programı
  domine ettiği gözlendi. Böken, ismi \"Sosyal Medya\" olan programda Gül'e kariyer
  planından Uludere'ye, astsubayların durumundan \"sizin de işiniz zor\"a varan konu
  başlıklarında sorular yöneltti. Kuzuloğlu kendi evinde misafir konumuna düşürülmüş
  bir şaşkınlıkla sadece olup biteni izlemekle yetinmek zorunda kaldı.\r\n\r\n"
wordpress_id: 302
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=302
date: '2012-05-26 19:41:01 +0300'
date_gmt: '2012-05-26 17:41:01 +0300'
categories:
- Kategorilendirilmemiş
tags:
- sosyal medya
- serdal kuzuloğlu
- abdullah gül
comments: []
---
<p><a href="/images/content/gul_trt_sosyal_medya.jpg"><img class="alignright size-full wp-image-305" title="Abdullah Gül Sosyal Medya Programında" src="/images/content/gul_trt_sosyal_medya.jpg" alt="" width="500" height="375" /></a>Serdar Kuzuloğlu'nun hazırlayıp sunduğu Sosyal Medya programının bu haftaki konuğu Cumhurbaşkanı Abdullah Gül'dü. Gül'ün ABD ziyareti kapsamında ziyaret ettiği Silikon Vadisi'nde teknoloji şirketleriyle yaptığı görüşmelerden kapıldığı heyecanı taşıyarak konuk olduğu programda bu hafta diğer haftalardan farklı olarak sunucu koltuğunda TRT Haber Genel Yayın Yönetmeni Ahmet Böken de vardı. Belli ki Gül'ü sadece Kuzuloğlu'na teslim etmekten çekinilmiş. San Francisco'dan canlı yapılan programda Böken'in neredeyse her fırsatta Kuzuloğlu'nun sözünü keserek, soru bile sormasına izin vermeyerek müthiş bir heyecanla programı domine ettiği gözlendi. Böken, ismi "Sosyal Medya" olan programda Gül'e kariyer planından Uludere'ye, astsubayların durumundan "sizin de işiniz zor"a varan konu başlıklarında sorular yöneltti. Kuzuloğlu kendi evinde misafir konumuna düşürülmüş bir şaşkınlıkla sadece olup biteni izlemekle yetinmek zorunda kaldı.</p>
<p><a id="more"></a><a id="more-302"></a>İnternet ile ilgili konulara gelindiğinde Gül, enformasyon teknolojilerinin tüm süreçleri, devletleri, hükümetleri şeffaflaştırdığından söz etti. Sanki Türkiye değil de çok demokratik bir ülkenin cumhurbaşkanıymışcasına teknolojinin demokratikleştirici etkisi üzerine uzunca bir güzellmeye girişti. Konu doğal olarak filtreye geldi. Gül "Şu an Turkiye'de 'ben hiçbir kısıtlama olmadan tüm web sitelerine girmek istiyorum' diyenin önünde bir kısıtlama var mı?" diye sorunca Böken'in hemen atlayarak "Yok" diye yanıtladığı izlendi. Bu dezenformasyonun Kuzuloğlu tarafından en azından engell web'deki yaklaşık 20 bin web sitesi hatırlatılarak düzeltilmesi beklendi, ancak kendisinin sesi çıkmadı. Hatta bir seferinde Böken'in Kuzuloğlu'nun sorusunu engelleyip, Gül'den yanıt aldıktan sonra Kuzuloğlu'na dönüp mutlulukla "gördüğünüz gibi hiçbir sorun yok" demesi Kuzuloğlu ile birlikte izleyiciyi de şoke etti. Fatih projesinin ne muhteşem yürütüldüğüyle ilgili bilgilerin aktarıldığı programda Kuzuloğlu'nun projeye ilişkin eleştirel bir cümle bile kurmadığı, soru sormadığı görüldü. Gül'ün birkaç kez "arkadaşlar brif verdi" diye ifade ettiği çeşitli teknoloji konu başlıklarında yanlış, eksik, manipülatif biçimde bilgilendirildiği anlaşıldı.</p>
<p>TRT Haber'den önce Samanyolu TV'nin genel yayın yönetmenliğini yapan Böken'in gündemle ilgili birbiriyle alakasız çanak soruları heyecanla sormak için neden Sosyal Medya programını tercih ettiği, Kuzuloğlu'nun buna neden izin verdiği, verdiyse bile programda neden bir varlık gösteremediği gecenin merak konuları olarak kaldı.</p>
