---
layout: post
status: publish
published: true
title: 'Avrupa Komisyonu''nun iç yazışması: Temel hak savunucularının veri kaydetme''ye
  dair kaygıları görmezden gelindi*'
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
wordpress_id: 206
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=206
date: '2012-01-06 03:42:04 +0200'
date_gmt: '2012-01-06 01:42:04 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>Veri kaydetme direktifinin Nisan 2011'deki değerlendirmesinin ardından Avrupa komisyonu direktif için bir yenileme duyurusu yaptı. Komisyonun avrupa konseyinin veri koruma çalışma grubuna gönderdiği bir iç yazışma belgesi birkaç gün önce internete sızdı:</p>
<p><a href="https://netzfreiheit.org/eu_commission_data_retention_reform/" target="_blank">https://netzfreiheit.org/eu_commission_data_retention_reform/</a></p>
<p>Bu belgede hak savunucu örgütlerin değerlendirme sonrasında ifade ettiği kaygılar görmezden geliniyor. Aksine içerik, kanun yaptırımı yapan güçlerin telekomünikasyonun daha yoğun izlenmesine dair isteklerini yansıtıyor.</p>
<p>Belgeye göre veri kaydetmenin vatandaşlara daha iyi "açıklanması" gerekiyor. Veri kaydetmenin kanun yaptırımı için değerli bir araç olduğu çıkarsaması yapılıyor. Veri kaydetme hakkındaki eleştiriler bilgilerin ne kadar kullanışlı olduğunun tam olarak bilinmemesi olarak görülüyor. Üye devletlerin yalnızca azınlık bir kesimi veri kaydetme hakkında istatistikler sunabilmiş ve bu istatistikler hangi verilerin veri kaydetme sayesinde erişildiğini göstermiyor.</p>
<p>Veri kaydetme, mahremiyete tecavüzdür. Gereksiz ve orantısız olduğu şartlarda insan haklarını ihlal eder. Sızan belge gösteriyor ki, bu gereklilik ispatlanamamasına rağmen Avrupa komisyonu veri kaydetme direktifini sürdürmek istiyor.</p>
<p>Kanun yaptırımının talepleri daha çok dikkate alınıyor. Kaydedilen veriler, anında mesajlaşma (MSN, gtalk vb.) ve sohbet konuşmalarına (skype vb) doğru genişletilmek isteniyor. Dahası, internet üzerinden yapılan bütün dosya indirme ve karşıya dosya yükleme bilgileri de kaydedilecek. Internette dolaşan biri her web sitesini bilgisayarına indirdiği için, bu karar internet trafiğinin baştan aşağı izlenmesi sonucunu doğuracak.</p>
<p>Bazı paydaşlar verinin kullanımının da genişletilmesini istiyorlar: Kaydedilen veriler başlangıçta yalnızca "ciddi suçlarla" savaşmakta kullanılabiliyordu. Bu belgede ise kullanımın telif hakkı ihlallerine doğru genişletilmesi talepleri listelenmiş. Bu durum veri kaydetmenin en baştan "terörizme karşı" bir önlem olarak gerekçelendirilmesini de yalanlamış oluyor.</p>
<p>Veri kaydetmeye dair Avusturya çalışma grubundan Andreas Kirsch'e göre, "bu belge toplumun kaygılarının Avrupa komisyonu tarafından nasıl gözardı edildiğini göstermektedir. Veri kaydetme, mahremiyete ağır bir tecavüzdür. Bu önlemin ne gerekliliği ne de orantılılığı ortaya konabilmiştir. Komisyon verilerin yalnızca kullanışlı olduğunu iddia ediyor ve temel hak savunucularının ve birçok anayasa mahkemesinin ifade ettiği kaygıları görmezden geliyor."</p>
<p>Çalışma grubu, Avusturya'da Ekim ayından beri yürüttüğü imza kampanyasında (zeichnemit.at) şu ana kadar 27 bin kişinin desteğini topladı.</p>
<p>*AK Vorrat örgütünün almanca açıklamasının ingilizce çevirisinden türkçeye çevrilmiştir. Almanca açıklama:<br />
<a href="http://www.akvorrat.at/Interner-Bericht-EC-Zivilgesellschaft-ignoriert" target="_blank">http://www.akvorrat.at/Interner-Bericht-EC-Zivilgesellschaft-ignoriert</a></p>
