---
layout: post
status: publish
published: true
title: Matematikçiler, neden konuşmuyorsunuz?
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "[caption id=\"attachment_370\" align=\"alignnone\" width=\"341\"]<a href=\"/images/content/seife.jpg\"><img
  class=\" wp-image-370 \" alt=\"seife\" src=\"/images/content/seife.jpg\"
  width=\"341\" height=\"208\" /></a> Charles Seife'nin Ulusal Güvenlik Ajansı kimlik
  kartı[/caption]\r\n\r\nUlusal Güvenlik Ajansı'nda beraber çalıştığımız arkadaşlarıma
  açık mektup:\r\n\r\n<strong>Matematikçiler, neden konuşmuyorsunuz?</strong>\r\n\r\nCharles
  Seife\r\n22 Ağustos 2013\r\n\r\nKaynak: <a href=\"http://www.slate.com/articles/health_and_science/science/2013/08/nsa_domestic_spying_mathematicians_should_speak_out.html\"
  target=\"_blank\">slate</a>\r\n\r\nÇoğu kişi <a href=\"http://tr.wikipedia.org/wiki/John_von_Neumann\"
  target=\"_blank\">Von Neumann</a>* binasının tarihini bilmez. Princeton'daki mühendislik
  avlusunun arkasına saklanmış bu bina neredeyse penceresizdir. Gözleri parlayan genç
  bir matematik öğrencisi olarak lisansa başladığım yıl <a href=\"http://tr.wikipedia.org/wiki/Ulusal_G%C3%BCvenlik_Dairesi\"
  target=\"_blank\">Ulusal Güvenlik Ajansı</a>'nda (National Security Agency - NSA)
  çalışmak üzere işe alınmıştım.\r\n\r\n"
wordpress_id: 369
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=369
date: '2013-08-27 03:35:26 +0300'
date_gmt: '2013-08-27 01:35:26 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>[caption id="attachment_370" align="alignnone" width="341"]<a href="/images/content/seife.jpg"><img class=" wp-image-370 " alt="seife" src="/images/content/seife.jpg" width="341" height="208" /></a> Charles Seife'nin Ulusal Güvenlik Ajansı kimlik kartı[/caption]</p>
<p>Ulusal Güvenlik Ajansı'nda beraber çalıştığımız arkadaşlarıma açık mektup:</p>
<p><strong>Matematikçiler, neden konuşmuyorsunuz?</strong></p>
<p>Charles Seife<br />
22 Ağustos 2013</p>
<p>Kaynak: <a href="http://www.slate.com/articles/health_and_science/science/2013/08/nsa_domestic_spying_mathematicians_should_speak_out.html" target="_blank">slate</a></p>
<p>Çoğu kişi <a href="http://tr.wikipedia.org/wiki/John_von_Neumann" target="_blank">Von Neumann</a>* binasının tarihini bilmez. Princeton'daki mühendislik avlusunun arkasına saklanmış bu bina neredeyse penceresizdir. Gözleri parlayan genç bir matematik öğrencisi olarak lisansa başladığım yıl <a href="http://tr.wikipedia.org/wiki/Ulusal_G%C3%BCvenlik_Dairesi" target="_blank">Ulusal Güvenlik Ajansı</a>'nda (National Security Agency - NSA) çalışmak üzere işe alınmıştım.</p>
<p><a id="more"></a><a id="more-369"></a>Von Neumann binasında önceden <a href="http://en.wikipedia.org/wiki/Institute_for_Defense_Analyses" target="_blank">Savunma Analizleri Enstitüsü</a> vardı. Matematik ağırlıklı bu araştırma örgütü o zamanlar kendi ismini anmaya cesareti olmayan bu ajans için çalışırdı. Şunları keşfettim: Princeton ve NSA arasındaki yakın bağlar onlarca yıl öncesine gidiyordu; ders aldığım bazı profesörler ulusal güvenlik yararına çok zor matematik problemleriyle boğuşan şifre maymunlarından oluşan gizli bir cemaatin parçasıydılar.</p>
<p>Cemiyete katılmaktan gurur duydum -hayalimdekinden çok daha genişti. <a href="http://www.nytimes.com/2008/10/11/books/11bamford.html" target="_blank">NSA uzmanı</a> James <a href="http://www.newyorker.com/online/blogs/books/2013/06/the-nsas-chief-chronicler.html" target="_blank">Bamford</a>'a göre ajans, gezegende en çok matematikçi çalıştıran işveren konumunda. Yüksek nitelikli ve çok küçük olmayan herhangi bir matematik bölümünde en az bir öğretim üyesinin NSA'e iş yaptığını söylesek yanıltıcı olmaz.</p>
<p>Her yıl ülkenin her yanından genç ve hevesli matematik öğrencilerini araklayan <a href="http://www.nsa.gov/careers/opportunities_4_u/students/undergraduate/dsp.shtml" target="_blank">Yönetici Yaz Okulu</a>'nun kanatları altında 1992 ve 1993 yıllarında NSA için çalıştım. Güvenlik denetimini geçtikten sonra -yalan makinasıyla test edilmemin yanısıra birkaç FBI ajanı kampüste gezinerek yaramazlıklarımı araştırmışlardı- endoktrinasyon için Fort Meade'ye yollandım.</p>
<p>İlk güvenlik brifingimi alalı 20 yıldan çok zaman geçmiş, öğrendiklerimin çoğu eskimiştir. "Öyle bir ajans yok" ("No Such Agency" = NSA) lakabını o zamanlar çok az kişi duymuştu ve devlet de bunu böyle istiyordu. NSA hakkında tek sözcük etmemek üzere eğitildik; biri sorarsa Savunma Bakanlığı'na çalışıyorduk. Özgeçmişimde, NSA'in çıkardığı kimlik kartlarında bile böyle yazıyordu. Artık böyle bahanelere gerek yok. Ajans açığa çıktı ve birinci sayfa manşetlerinin demirbaşlarından oldu. Bize 1992'de öğretildiğine göre gizli belgelere damgalanan parola sözcükler sıkıca korunan sırlardı ve bunları dışarıdakilere açmak suçtu. Ama hızlı bir Google araması gösteriyor ki devlet sitelerindeki <a href="http://www.nro.gov/foia/declass/QUILL/25.%20Semi-Annual%20Report%20to%20the%20PFIAB%201965-66.PDF" target="_blank">belgeler</a>, o zamanlar sadece yetkili birkaç kişinin bilebildiği <a href="http://www.nsa.gov/public_info/_files/cryptologic_histories/work_against_tide.pdf" target="_blank">parola ve ifadelerle</a> dolu.</p>
<p>O brifinglerde söyledikleri başka bir şey de NSA'in gücünün hiçbir zaman ABD vatandaşlarına karşı kullanılmayacağıydı. Kayıt olduğumuz o gün ajans bize açıkça söylemişti: ulusumuzu sadece yabancı düşmanlara karşı koruma yetkimiz vardı, yurttaşlarımıza karşı değil. Başka türlüsü NSA tüzüğüne aykırı olurdu. Daha önemlisi, böyle bir ihlalin oradakilerin kültürüne aykırı olacağını kuvvetle hissediyordum. İki yaz orada çalıştıktan sonra şuna samimiyetle inanmıştım: eğer çalışmalarımızın Amerikalı kardeşlerimizi gözetlemek için kullanılacağını düşünseler iş arkadaşlarım dehşete kapılırdı. Yoksa bu da mı değişti?</p>
<p>Tanıştığım matematikçi ve kriptanalistler ülkenin her yerinden farklı yaşamlardan gelmişti, ama hepimiz ajansa aynı iki sebeple gelmiş gibiydik. İlk olarak, hepimiz matematiğin seksi olduğunu biliyorduk. Matematikçi olmayan birine bu tuhaf gelebilir, ama belirli matematiksel problemler sanki bir şey yayıyor -yerçekimi gibi bir önem hissi, "çözümü yakalamaya çok uzak değilim" hissi. Büyük bir şey var ve biraz güçlü düşünürsen senin olacakmış gibi. Kaydolduğumda NSA'de yapılan matematiğe ilgi duyuyordum ama niçin orada olduğuma dair bir fikrim yoktu. NSA'e ulaştıktan sonra, daha bir hafta geçmeden, hayatımda gördüğüm en büyüleyici matematik problemlerinden oluşan bir açık büfe sunuldu bana, zeki bir lisans öğrencisinin dişine göreydiler. Hiç böylesini görmemiştim -ve asla da göremeyeceğim.</p>
<p>Bizi oraya çeken -veya zannımca bizi çeken- diğer şey ise ülkemize yardımı dokunacak bir şey yaptığımıza dair idealist bir bakıştı. <a href="http://chronicle.com/blognetwork/edgeofthewest/2012/08/17/gentlemen-reading-mail-part-i/" target="_blank">Düşmanının mektubunu</a> okumanın <a href="http://www.nytimes.com/1982/09/19/books/sons-of-the-black-chamber.html" target="_blank">centilmenliğe aykırı</a> olduğu fikrine kapılmayacak kadar tarih bilgim vardı. Ve girdiğimden itibaren, ajansın ulusal güvenliğe yaptığı etkilerin birçok yolunu görmüştüm. Acemiyken bile, küçük de olsa bir fark yaratabileceğimi hissetmiştim. Tanıştığımız bazı kıdemli matematikçiler Birleşik Devletler'in güvenliği üzerinde elle tutulur bir etkiyi açıkça bırakmışlardı, bu efsaneleri kulübümüz dışında kimse bilmezdi.</p>
<p>İdealizm naifti demek istemiyorum aslında. İstihbarat oyununun öte yanında biraz vakit geçiren herhangi biri yapılan hesapların ne kadar büyük olabileceğini bilir. Bize emanet edilmiş görünüşte küçük bir sırrın açığa çıkması yüzünden gerçek insanların ölebileceğini hepimiz anlarız. Ulusu korumak için istihbarat toplamanın bazen el altı taktikler gerektirdiğinin de farkındayız. Ama hepimiz o taktiklerin kanunla sınırlandığını biliyorduk, kanun hep siyah beyaz olmasa bile. Ajans ısrarla ve defalarca bize dedi ki: inşa ettiğimiz silahlar -ve silahtılar, bilgi silahı olsalar da- kendi halkımıza çevrilmeyecekti, yalnızca düşmanlarımıza karşı kullanılacaktı.</p>
<p>Ajansın bize verdiği sözü bozduğu gerçeği ile yüzleştiğimize göre şimdi ne yapacağız?</p>
<p>Şimdi biliyoruz ki Birleşik Devletler'deki her <a href="http://www.theguardian.com/world/interactive/2013/jun/06/verizon-telephone-data-court-order" target="_blank">Verizon müşterisinin</a> telefon kayıtları, Birleşik Devletler dahilinde yapılan aramalar üzerinde güya yetkisi bulunmayan bu ajansımıza teslim ediliyor. Çarşamba günü ajansın "<a href="http://www.washingtonpost.com/world/national-security/nsa-gathered-thousands-of-americans-e-mails-before-court-struck-down-program/2013/08/21/146ba4b6-0a90-11e3-b87c-476db8ac34cd_story.html" target="_blank">tamamen yurtiçi</a>" onbinlerce epostayı topladığına dair yeni kanıtlar ortaya çıktı. Ajansın <a href="http://apps.washingtonpost.com/g/page/national/nsa-report-on-privacy-violations-in-the-first-quarter-of-2012/395/" target="_blank">ABD yurttaşlarını gözetleyebilmek</a> için geniş çaplı yetenekleri olduğunu, düzenli olarak sehven bunu yaptığını biliyoruz. Ve güvenilir iddialara göre ajans bazen bu bilgileri <a href="http://www.theguardian.com/world/2013/aug/05/secret-dea-unit-surveillance-authorities" target="_blank">gayet bilinçli</a> olarak kullanmakta. Eğer ki ajans araçları cidden sadece düşmanlara karşı kullanılıyorsa, sıradan yurttaşların artık düşman sayıldığı söylenebilir.</p>
<p>NSA için yaptığım hiçbir araştırma öyle büyük önem taşımıyordu. Yaptığım çalışmaların devletin herhangi bir gizli arşivinde toz topladığından kuşkum yok. Ajans için çok kısa bir süre çalıştım ve aradan çok uzun zaman geçti. Yine de dehşete kapıldığımı söyleme mecburiyeti hissediyorum. Eğer bizim bildiğimiz ajans bugün buysa, böyle bir ajansa yaptığım küçük de olsa her katkı için özür diliyorum.</p>
<p>Tanıdığım eski NSA'cilerin -siz eski iş arkadaşlarım, dostlarım, profesörlerim ve mentor'larımın- nasıl dehşet içinde olduklarını tahmin edebiliyorum. Benden farklı olarak siz iş yaşamınızın çoğunu NSA'in gücünü inşa etmesine yardım ederek harcadınız ve şimdi görüyorsunuz ki senelerce yaptığınız çalışmalar asla olmaması gereken amaçlara hizmet etmekte. Bugün kendinizi ifade ederseniz ne gizlilik anlaşmanız ne de onurunuz zedelenecektir. NSA güveninizi zedelerken ve çalışmalarınızı kötüye kullanırken ülkenin her yanındaki üniversitelerden tanıdığım profesörler nasıl sessiz kalabilirler?</p>
<p>Sessiz kalacak mısınız gerçekten?</p>
<p>(Çeviri: Işık Barış Fidaner)</p>
<p>---</p>
<p>* Von Neumann, "Manhattan Projesi"nde çalışan birçok bilimciden biriydi. ABD bu projeyle, Hiroşima ve Nagazaki'de imha ve soykırım amacıyla kullandığı atom bombasını geliştirmişti. Manhattan projesi hakkında bir yazı: "Savaşın gölgesinde bilim" 2005 Evrensel Gençlik <a href="http://yersizseyler.wordpress.com/2005/07/20/savasin-golgesinde-bilim-1-kisim/" target="_blank">1. kısım</a> <a href="http://yersizseyler.wordpress.com/2005/08/03/savasin-golgesinde-bilim-2-kisim/" target="_blank">2. kısım</a></p>
