---
layout: post
status: publish
published: true
title: Bulutta Özgürlük
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "<a href=\"/images/content/cloud.jpg\"><img
  src=\"/images/content/cloud-300x156.jpg\"
  alt=\"cloud\" width=\"300\" height=\"156\" class=\"alignright size-medium wp-image-415\"
  /></a>\r\n\r\nSlavoj Žižek\r\n\r\nHepimiz hatırlıyoruz: Başkan Obama yüzündeki umut
  ve güven dolu gülücükle ilk kampanyasının sloganını sürekli tekrarlıyordu “Evet,
  yapabiliriz!” -Bush döneminin sinikliğinden kurtulabilir, Amerikan halkına adalet
  ve refah getirebiliriz. Şimdiyse örtülü operasyonlarına devam eden Birleşik Devletler,
  genişlettiği istihbarat ağıyla kendi müttefiklerini bile gözetlerken Obama’ya karşı
  bir protesto hayal edebiliriz: “Dronlarla nasıl cinayet işlersiniz? Müttefiklerimizi
  nasıl gözetlersiniz?” Alaylı bakışıyla Obama kötücül bir gülümseme ile mırıldanır:
  “Evet yapabiliriz…”\r\n\r\n"
wordpress_id: 414
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=414
date: '2013-08-18 05:09:40 +0300'
date_gmt: '2013-08-18 03:09:40 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p><a href="/images/content/cloud.jpg"><img src="/images/content/cloud-300x156.jpg" alt="cloud" width="300" height="156" class="alignright size-medium wp-image-415" /></a></p>
<p>Slavoj Žižek</p>
<p>Hepimiz hatırlıyoruz: Başkan Obama yüzündeki umut ve güven dolu gülücükle ilk kampanyasının sloganını sürekli tekrarlıyordu “Evet, yapabiliriz!” -Bush döneminin sinikliğinden kurtulabilir, Amerikan halkına adalet ve refah getirebiliriz. Şimdiyse örtülü operasyonlarına devam eden Birleşik Devletler, genişlettiği istihbarat ağıyla kendi müttefiklerini bile gözetlerken Obama’ya karşı bir protesto hayal edebiliriz: “Dronlarla nasıl cinayet işlersiniz? Müttefiklerimizi nasıl gözetlersiniz?” Alaylı bakışıyla Obama kötücül bir gülümseme ile mırıldanır: “Evet yapabiliriz…”</p>
<p><a id="more"></a><a id="more-414"></a>Fakat bu basit kişileştirme esas hedefi şaşırır: Özgürlüğümüz karşısında sızıntılarla ortaya çıkan tehdit çok daha derin sistemik köklere dayanmakta. Edward Snowden sadece eylemleriyle ABD gizli servisinin canını sıktığı ve utandırdığı için savunulmamalı. Buradan küresel bir ders çıkmalı, standart ABD tokatlamasının çok ötesine ulaşan bir ders çıkmalı. Ortaya döktükleri, yalnızca Birleşik Devletler’in değil bütün diğer büyük (veya pek büyük olmayan) güçlerin -Çin’den Rusya’ya, Almanya’dan İsrail’e- teknolojinin el verdiği ölçülerde yapıyor oldukları şeylerdir. Yani bu eylem nasıl izlenip denetlendiğimize dair hepimizin taşıdığı öngörüleri kanıtlayan bir dayanak sağlamaktadır. Snowden’den (veya Manning’den) zaten doğru olduğunu kabul etmediğimiz bir şey öğrenmedik -ama genel olarak bilmek başkadır, somut veriler edinmek başkadır. Bu biraz cinsel partnerlerin başkalarıyla olmasını öğrenmek gibi -soyut bir bilgi kabul edilebilir olsa bile şehvetli detayları öğrenmek, yapılanların fotoğraflarını görmek acı verecektir.</p>
<p>1843 yılında genç Karl Marx’a göre Alman saltanatı “yalnızca kendine inandığını hayal ediyor ve dünyanın da aynı şeyi hayal etmesini talep ediyordu.” Böyle bir durumda, iktidardakilerin ayıbını göstermek bir silaha dönüşebilir -Marx’ın devamla söylediği gibi: “Fiili basınç, basıncın bilincini de bindirerek daha çok baskınlaştırılmalı, ayıp kamuya açıklanarak daha da ayıp kılınmalıdır.” İşte bugünkü durumumuz aynen böyle: mevcut küresel düzenin temsilcileri karşımızda utanmaz bir sinizmle demokrasi, insan hakları gibi fikirlerine inandıklarını yalnızca hayal etmekteler. Wikileaks ifşaatları sonucunda bu ayıp, onların ayıbı ve bu iktidarı kabullendiğimiz için bizim de ayıbımız, kamuya açıklanarak daha da ayıp kılınmıştı.</p>
<p>Utanç duymamız gereken şey, Immanuel Kant’ın “aklın kamusal kullanımı” olarak adlandırdığı alanların dünya çapında adım adım daraltılması sürecidir. Klasik metni ‘Aydınlanma nedir?’de Kant aklın “kamusal” ve “özel” kullanımlarını karşı karşıya koyar: Kant’a göre “özel”, içinde yaşadığımız topluluk-kurumsal düzendir (devletimiz, ulusumuz…); “kamusal” ise bir kişinin Aklını icra ettiği ulus-aşırı evrenselliktir:</p>
<p>“Aklın kamusal kullanımı her zaman özgür olmalıdır ve yalnızca bu kullanım insanlar arasında aydınlanmayı sağlayabilir. Aklın özel kullanımı ise çoğu durumda aydınlanmanın ilerleyişine belirli bir engel oluşturmadan daraltılabilmektedir. Aklın kamusal kullanımından anladığım, kişinin aklını bir okuyucu kitle karşısında bilim insanı olarak kullanmasıdır. Özel kullanım dediğim ise kişinin aklını ona emanet edilmiş belirli bir devlet kurumu veya ofisinde kullanmasıdır.”</p>
<p>Kant’ın liberal sağduyumuzdan ayrı düştüğü yeri görüyoruz: Devlet alanı “özel”dir ve belirli çıkarlarla sınırlanmıştır, genel sorunlara kafa yoran bireyler ise akıllarını “kamusal” olarak kullanırlar. Bu Kantçı ayrım özellikle de -özgür “kamusal kullanım” ve artan oranda “özel” denetim arasında bölünen- İnternet ve diğer yeni medya için geçerlilik taşıyor. Bulutlu bilişim çağımızda artık tek tek güçlü bilgisayarlara ihtiyaç duymuyoruz: Yazılım ve bilgiler istek yaparak elde edilebiliyor, kullanıcılar web-tabanlı araç ve uygulamaları tarayıcılar yoluyla kendi bilgisayarlarına yüklenmiş programlarmış gibi kullanıyorlar.</p>
<p>Bu harika yeni dünya, ne var ki öykünün yalnızca bir tarafı, meşhur fıkrada “önce iyi haberi, sonra kötü haberi” veren doktorda olduğu gibi. Kullanıcılar çok uzaklarda binlerce bilgisayarın bulunduğu klimalı odalarda tutulan program ve yazılım dosyalarına erişmekteler, bulut bilişimi üzerine bir propaganda metninden alıntılarsak: “Detaylar tüketicilerden soyutlandı, artık ‘bulutta’ onları destekleyen teknoloji altyapısı üzerine uzman olmaları veya denetim sahibi olmaları gerekmiyor.” Kendini belli eden iki sözcük: soyutlama ve denetim -bir bulutu yönetebilmek için işleyişi denetleyen bir izleme sistemine ihtiyaç var ve bu sistem tanımı gereği kullanıcılardan gizlenmiş olmalı. Elimde tuttuğum küçük araç (akıllı telefon veya mobil cihaz) ne kadar kişiselleşmişse, kolay kullanılıyorsa, “şeffaf” bir işleyişe sahipse, yapılanma bir bütün olarak o kadar ötelerde yapılan işlere, kullanıcının deneyimini koordine eden bir ordu makine çevrimine dayanmak zorunda. Deneyimimiz ne kadar yabancılaşmamış, kendiliğinden ve şeffafsa, o kadar görünmez ağlarla düzenlenmekte, ki bu ağları devlet ajansları ve devletlerin gizli hedeflerini izleyen büyük özel şirketler denetlemekteler.</p>
<p>Devlet sırrı yolunu bir kez tutturmuşsak, er ya da geç, neyin sır olduğunu tanımlayan pek yasal yasaların da sırlara dönüştüğü kaçınılmaz noktaya ulaşırız. Kamusal yasanın temel aksiyomunu Kant formüle etmişti: “Diğer insanların hakkı üzerine olup da ilkeleri kamusallıkla uyuşmayan hiçbir eylem adil değildir.” Gizli bir yasa, konu edindiği kişilerin bilgisi dışında kalan bir yasa, onu icra edenlerin keyfi despotluğunu meşrulaştırır, Çin üzerine yakın tarihli bir raporun başlığında belirtildiği gibi: “Çin’de neyin sır olduğu bile sır.” Çin’de siyasal zulüm, çevresel felaketler, kırsal yoksulluk, vb. hakkında yazan belalı aydınların devlet sırlarına ihanetten yıllarca hapse mahkum edilmelerindeki püf noktası şu: devlet sırrı rejimini oluşturan birçok yasa ve düzenlemenin de gizli tutuluyor olması, yasaların nasıl ve ne zaman ihlal edildiğini anlamayı zorlaştırıyor.</p>
<p>Hayatlarımızın topyekün denetimini böylesine tehlikeli kılan, özel yaşamımızı kaybetmemiz ve bütün mahrem sırlarımızın Büyük Birader’in önüne saçılması değildir. Böylesine bir denetimi uygulayabilecek bir devlet ajansı bulunmuyor -yeterince bilmediklerinden değil, çok fazla şey bildikleri için. Veri sırf miktar olarak bile çok fazla, ve şüpheli mesajların tespitine dair bütün o çetrefil programlara rağmen, milyarlarca veriyi kaydeden bilgisayarlar bunları doğru düzgün yorumlayıp değerlendiremeyecek kadar aptal olduğu için saçma ve gereksiz hatalar nedeniyle masum üçüncü kişiler potansiyel terörist olarak listelenmekte -ve bu yüzden iletişimimiz üzerindeki devlet denetimi daha da tehlikeli. Ortada hiçbir neden yokken, yasadışı hiçbir şey yapmadan, durup dururken kendimizi potansiyel teröristler listesinde bulabiliriz. Hearst gazetesinin kendi editörüne sorduğu “neden uzun zamandır hak ettiği tatili yapmadığı” sorusuna verilen efsane yanıtı hatırlayın: “Gidersem kargaşa olacak, her şey dağılacak diye korkuyorum -ama esas korkum, gittiğimde işlerin ben olmadan tamamen normal bir şekilde sürdüğünü görmek ve aslında bana ihtiyaç duyulmadığının kanıtlanması!” İletişimimiz üzerindeki devlet denetimine dair benzer bir şey söylenebilir: Sır saklayamadığımız için, gizli devlet ajansları her şeyi bildiği için korkmalıyız, ama esas korkumuz bu uğraşlarında çuvallamaları.</p>
<p>İşte bu yüzden sızıntıcılar “kamusal aklın” canlı tutulmasında elzem bir rol oynamaktadır. Assange, Manning, Snowden… bunlar bizim yeni kahramanlarımız, dijital denetim çağımıza uyan yeni etiğin örnek olaylarıdır. Artık yalnızca özel şirketlerin (bankalar, tütün ve petrol şirketleri) yasadışı pratiklerini kamusal otoritelere ihbar eden sızıntıcılar değiller; onlar bizzat bu kamusal otoritelerin “aklın özel kullanımı”na başvurmalarını ihbar etmekteler.</p>
<p>Daha çok Manninglere ve Snowdenlere ihtiyacımız var -Çin’de, Rusya’da, her yerde. Birleşik Devletler’den çok daha baskıcı devletler var -bir düşünün Manning gibi birisinin başına Rus veya Çin mahkemesinde ne gelirdi (çok muhtemelen kamusal bir dava yapılmayacaktı!) Fakat Birleşik Devletler’in yumuşaklığını da abartmamak lazım. Evet, Birleşik Devletler mahkumlara Çin veya Rusya’daki kadar zalimce davranmıyor -teknolojik önceliği sayesinde bu açık zulüm yöntemine ihtiyacı yok sadece (ki ihtiyaç duyduklarında da uygulamaya can atarlar)- görünmez dijital denetim yeterli iş görüyor. Birleşik Devletler bu anlamda, denetim yöntemleri denetim olarak algılanmadığı ölçüde Çin’den bile daha tehlikeli, Çin devleti zulmü açık olarak uyguluyor.</p>
<p>Dolayısıyla bir devleti diğerine karşı kullanmak yeterli değil (Snowden’in Rusya’yı Birleşik Devletler’e karşı kullanarak yaptığı gibi). Yeni bir Enternasyonel gerekiyor, sızıntıcıları koruyacak ve mesajlarının yayılmasını sağlayacak uluslararası bir ağ örgütlenmesine ihtiyaç var. Sızıntıcılar kahramanlarımızdır çünkü bizi denetlemekle meşgul olan iktidar sahipleri karşısında saldırıya geçerek onları paniğe uğratabileceğimizi kanıtlamaktalar.</p>
<p><strong>Yazar hakkında</strong></p>
<p><strong>Slavoj Žižek,</strong> Sloven felsefeci ve psikanalist, Almanya, Essen’deki Gelişmiş Beşeri Araştırma Enstitüsü’nde kıdemli araştırmacıdır. Ayrıca dünyanın farklı yerlerinde 10′dan fazla üniversitede ziyaretçi profesördür. Žižek’in birçok kitabı arasında Ahir Zamanlarda Yaşamak, Önce Trajedi Sonra Komedi, Kırılgan Mutlak ve Biri Totalitarizm Mi Dedi? sayılabilir. Londra’da yaşıyor.</p>
<p><strong>Kaynak:</strong> <a href="http://inthesetimes.com/article/15451/freedom_in_the_cloud/" target="_blank">in these times</a></p>
<p>(Çeviren: Işık Barış Fidaner)</p>
