---
layout: post
status: publish
published: true
title: AMS, NSA İle Bağlarını Koparmalıdır
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
wordpress_id: 430
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=430
date: '2013-11-13 17:19:11 +0200'
date_gmt: '2013-11-13 15:19:11 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>AMS'nin (Amerikan Matematik Topluluğu) NSA (Ulusal Güvenlik Ajansı) ile bütün bağlarını koparması için bu Mektubu Editör'e yazmaktayım:</p>
<p>Edward Snowden'in kamuoyuna sağladığı ve halen sağlamakta olduğu açıklamalar, NSA'in muazzam gizli casusluk programları hakkında belirgin ve güvenilir bilgiler, komplo teorisi kuranların hayal edebileceği bütün çılgınlıkların ötesindedir.</p>
<p>Yapılması gereken, yalnızca ABD yurttaşlarını değil dünyanın her yerindeki insanları ilgilendiren bir meseledir: NSA bütün gezegen çapında İnternet güvenliğini ve iletişim mahremiyetini yok etmiştir. Eğer ki herhangi bir tedavi mümkünse, muhtemelen NSA ve türevlerini <em>toplumsal olarak kabul edilemez </em>yapmakla başlayacak -gençlik günlerimde KGB için çalışıyor olmanın Sovyetler Birliği'nde birçok kişi için toplumsal olarak kabul edilemez olmasındaki gibi.</p>
<p>AMS düzenli olarak NSA'in iş ilanlarını yayınlamakta ve NSA Matematiksel Bilimler Burs Programı üzerine değerlendirmeler yürütmekte. NSA ve AMS arasındaki ilişki ortakyaşar bir ilişki gibi görünmekte: NSA kendi işleri için matematikçilere ihtiyaç duymakta, AMS de araştırma fonlarını artırmak istemekte. Fakat etkinlikleriyle insan toplumunun dokusuna bunca zarar veren herhangi bir örgütle herhangi bir ilişki sağlıksızdır. Tutarlılığın gereği olarak, AMS NSA ile olan bütün irtibatını kesmelidir.</p>
<p><a href="https://en.wikipedia.org/wiki/Alexander_Beilinson" target="_blank">Alexander Beilinson</a><br />
University of Chicago<br />
sasha@math.uchicago.edu<br />
12 Eylül 2013<br />
(çeviri: IBF, <a href="http://golem.ph.utexas.edu/category/2013/11/severing_ties_with_the_nsa.html" target="_blank">kaynak</a>)</p>
