---
layout: post
status: publish
published: true
title: Aaron öldü
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
wordpress_id: 341
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=341
date: '2013-01-13 14:35:45 +0200'
date_gmt: '2013-01-13 12:35:45 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments:
- id: 899
  author: R.I.P Aaron Swartz
  author_email: ''
  author_url: http://korsanparti.org/2013/01/14/r-i-p-aaron-swartz/
  date: '2013-01-14 04:46:46 +0200'
  date_gmt: '2013-01-14 02:46:46 +0200'
  content: "[...] Işık Barış Fidaner / Kaynak: Net Defteri [...]"
---
<p>Aaron öldü.</p>
<p>Bu çılgın dünyadaki gezginler,<br />
bir akıl hocasını, bir bilge büyüğümüzü yitirdik.</p>
<p>Hak davasında hackerlar, bir kayıp verdik,<br />
içimizden birini yitirdik.</p>
<p>Yetişiler, uğraşılar, dinleyiler, besleyiler,<br />
bütün ebeveynler,<br />
bir çocuğu yitirdik.</p>
<p>Hep birlikte ağlayalım.</p>
<p><a href="http://lists.w3.org/Archives/Public/www-tag/2013Jan/0017.html" target="_blank">timbl</a></p>
<p>***</p>
<p><a href="http://netdefteri.alternatifbilisim.org/2011/07/gerilla-acik-erisim-manifestosu/" target="_blank">Gerilla Açık Erişim Manifestosu - Aaron Swartz 2008</a></p>
<p>***</p>
<p><strong>dikkat:<br />
</strong>reklam/ilan alan web adminlerinin bu içeriği kullanmaları doğru değildir ve hoş karşılanmaz.</p>
<p><strong>warning:</strong><br />
it is inappropriate and unwelcome that any advertisement-receiving web admin should use this content.</p>
