---
layout: post
status: publish
published: true
title: NSA Üzerine
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "<a href=\"/images/content/profes1.png\"><img
  class=\"alignnone size-full wp-image-383\" alt=\"profes1\" src=\"/images/content/profes1.png\"
  width=\"300\" align=\"right\" /></a>\r\n\r\n(Johns Hopkins'te öğretim üyesi olan
  Matthew Green'in 5 Eylül 2013'de yayınladığı bu blog yazısını <a href=\"http://www.theguardian.com/commentisfree/2013/sep/10/nsa-matthew-green-takedown-blog-post-johns-hopkins\"
  target=\"_blank\">kaldırması istenmişti</a>)\r\n\r\n<a href=\"http://www.nytimes.com/interactive/2013/09/05/us/documents-reveal-nsa-campaign-against-encryption.html?_r=0\"
  target=\"_blank\">Yılın en büyük kripto haberine</a> naçizane katkımı anlatayım
  müsaadenizle.\r\n\r\nBirkaç hafta önce <a href=\"http://www.propublica.org/\" target=\"_blank\">ProPublica</a>'dan
  muhabir beni aradı ve şifreleme [encryption] (1) hakkında genel sorular sordu. Bunun
  tuhaf bir görüşme olacağını hemen anladım, çünkü bu bey NSA'in şifrelemeyi [encryption]
  yenebilecek muazzam yetenekleri olduğuna ikna olmuşa benziyordu. Ve <em>'hey ahbap
  ne dersin NSA'in şifrelemeyi [encryption] yenebilecek muazzam yetenekleri var mı
  ha?'</em> tarzında değildi bu. Hayır, yenilgiyi çoktan kabullenmişti. Sadece detayların
  pazarlığını yapıyorduk.\r\n\r\n"
wordpress_id: 382
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=382
date: '2013-09-18 04:36:13 +0300'
date_gmt: '2013-09-18 02:36:13 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p><a href="/images/content/profes1.png"><img class="alignnone size-full wp-image-383" alt="profes1" src="/images/content/profes1.png" width="300" align="right" /></a></p>
<p>(Johns Hopkins'te öğretim üyesi olan Matthew Green'in 5 Eylül 2013'de yayınladığı bu blog yazısını <a href="http://www.theguardian.com/commentisfree/2013/sep/10/nsa-matthew-green-takedown-blog-post-johns-hopkins" target="_blank">kaldırması istenmişti</a>)</p>
<p><a href="http://www.nytimes.com/interactive/2013/09/05/us/documents-reveal-nsa-campaign-against-encryption.html?_r=0" target="_blank">Yılın en büyük kripto haberine</a> naçizane katkımı anlatayım müsaadenizle.</p>
<p>Birkaç hafta önce <a href="http://www.propublica.org/" target="_blank">ProPublica</a>'dan muhabir beni aradı ve şifreleme [encryption] (1) hakkında genel sorular sordu. Bunun tuhaf bir görüşme olacağını hemen anladım, çünkü bu bey NSA'in şifrelemeyi [encryption] yenebilecek muazzam yetenekleri olduğuna ikna olmuşa benziyordu. Ve <em>'hey ahbap ne dersin NSA'in şifrelemeyi [encryption] yenebilecek muazzam yetenekleri var mı ha?'</em> tarzında değildi bu. Hayır, yenilgiyi çoktan kabullenmişti. Sadece detayların pazarlığını yapıyorduk.</p>
<p><a id="more"></a><a id="more-382"></a>Tuhaflık bir yana (kısa da olsa) eğlenceli bir konuşmaydı, çoğunlukla hipotezler üzerine. NSA bunu yapabiliyorduysa, nasıl yapabilirdi? Etkisi ne olurdu? Kabul etmem gerekir ki bu noktada en büyük dertlerimden biri takıntılı biri olarak gözükmemekti. Ne de olsa NSA komplo teorici çatlaklara <em>fazlaca</em> benzeyecek konuşmalarım aktarılsa iş arkadaşlarım bana gülerdi. O zaman belki havalı güvenlik partilerine davet edilmeyebilirdim.</p>
<p>Bütün bunları şu yüzden anlatıyorum: Bugün bomba gibi düşerek NSA'in şifrelemeyi [encryption] <a href="http://www.nytimes.com/interactive/2013/09/05/us/documents-reveal-nsa-campaign-against-encryption.html?_r=0" target="_blank">yenme çabalarını açıklayan</a> sızıntılar karşısında tamamen hazırlıksızdım. Hesaba kattığım hipotezlerin en kötüsü doğru çıkmanın ötesinde, aklıma hayalime gelmeyecek ölçeklerde doğrulanıyordu. Artık takıntılı falan değildim. Takıntının yanına bile yaklaşamamıştım.</p>
<p>Ve NYT/ProPublica haberinin kaynak gösterdiği belgeleri görme imkanı bulamadığım için -<em>ki onları görmek için neler vermezdim</em>- bu eksikliği tamamen spekülasyonla doldurmakta kararlıyım. İşte bu blog yazısı tam olarak bu olacak.</p>
<p><strong>'Bullrun' ve 'Dandik İsim'</strong></p>
<p><a href="http://www.nytimes.com/interactive/2013/09/05/us/documents-reveal-nsa-campaign-against-encryption.html?_r=0" target="_blank">ProPublica/NYT</a> veya <a href="http://www.theguardian.com/world/2013/sep/05/nsa-gchq-encryption-codes-security" target="_blank">Guardian</a>'ın haberlerini okumadıysanız, muhtemelen okumanız lazım. Uzun geldiği için okuyamadıysanız, özetle: NSA çok kötü şeyler yapıyormuş. Yılda toplam 250 milyon $ maliyetle şunlar dahil:</p>
<ul>
<li>Kriptografinin <a href="http://en.wikipedia.org/wiki/Dual_EC_DRBG" target="_blank">zayıf ya da kırılgan olması</a> için ulusal standartların kurcalanması (özellikle <a href="http://www.nist.gov/index.html" target="_blank">NIST</a>'ten bahsediliyor).</li>
<li>Protokollerin zayıflatılması için standart komiteleri üzerinde nüfuz kullanılması.</li>
<li>Şifrelemeyi [encryption] ve rastgele sayı üreteçlerini zayıflatmak için donanım ve yazılım sağlayıcılarla işbirliği yapılması.</li>
<li>'<a href="http://blog.cryptographyengineering.com/2013/05/a-few-thoughts-on-cellular-encryption.html" target="_blank">Yeni nesil 4G telefonlar</a>' için kullanılan şifrelemeye [encryption] saldırılması.</li>
<li>'Büyük bir internet peer-to-peer ses ve metin iletişim sisteminden' (Skype?) açık metin erişimi sağlanması.</li>
<li>Kırılgan anahtarların tespit edilerek kırılması.</li>
<li>Küresel telekomünikasyon sektörüne sızmak üzere İnsan İstihbarat birimi kurulması.</li>
<li>Ve hepsinden kötüsü (<a href="http://blog.cryptographyengineering.com/2012/09/on-provable-security-of-tls-part-1.html" target="_blank">bence</a>): SSL bağlantıların şifrelerinin bir şekilde çözülmesi [decrypt].</li>
</ul>
<p>Bütün bu programlar farklı kod adlarıyla anılıyor, ama NSA'in şifre çözme [decryption] programı 'Bullrun' ismiyle geçtiğinden burada bu ismi kullanacağım.</p>
<p><strong>Kriptografik bir sistem nasıl kırılır</strong></p>
<p>Kısa bir blog yazısına göre çok fazla şey var, o yüzden birkaç genel fikirle başlayacağım. Bu blogun okurları bilir, kriptografik bir sistemi kırmanın temelde üç yolu vardır. Rastgele sıralarsak şunlardır:</p>
<ol>
<li><strong>Kriptografiye saldırmak.</strong> Kullandığımız standart algoritmalar karşısında bu zordur ve etkili olması pek muhtemel değildir (RC4 gibi <a href="http://blog.cryptographyengineering.com/2013/03/attack-of-week-rc4-is-kind-of-broken-in.html" target="_blank">istisnalar</a> dışında). Ancak kriptografide birçok karmaşık protokol vardır ve bazen bunlar <a href="http://arstechnica.com/security/2013/02/lucky-thirteen-attack-snarfs-cookies-protected-by-ssl-encryption/" target="_blank">kırılgan olabilirler</a>.</li>
<li><strong>Altyapıyı hedef almak.</strong> Kriptografi hemen hemen her zaman yazılım altyapısına dayanır -ve <a href="http://www.peereboom.us/assl/assl/html/openssl.html" target="_blank">yazılım bir <em>faciadır</em></a>. Donanım da ondan çok iyi değildir. Etkin yazılım istismarları maalesef sadece hedefli saldırılarda işinize yarar. Amacınız kitlesel gözetimse inşa edilen sisteme güvensizliği daha en başından dahil etmeniz lazımdır. Yani sağlayıcılarla anlaşarak <a href="http://en.wikipedia.org/wiki/Backdoor_(computing)" target="_blank">arka kapılar</a> ekletmeniz lazımdır.</li>
<li><strong>İnsansal tarafa erişim.</strong> Anahtarı vermesini sağlayabiliyorsanız bilgisayarını hack'lemeye ne gerek var?</li>
</ol>
<p>Bruce Schneider, <a href="http://www.schneier.com/blog/archives/2013/09/the_nsa_is_brea.html" target="_blank">belgeleri <em>görmüş</em> olarak</a> diyor ki '<em>matematik iyi</em>', ama '<em>kodları bozmuşlar</em>'. Ayrıca NSA '<em>hile yapıyor</em>'muş. Belgelere güvenebileceğimizi varsayarsak, bu içimizi rahatlatan bir haber. Ama bu aynı zamanda bol bol <em>(2)</em> ve <em>(3)</em> göreceğimiz anlamına geliyor.</p>
<p><strong>O zaman hangi koda dair kaygı duymalıyız? Hangi donanım?</strong></p>
<p>[caption id="attachment_385" align="alignright" width="300"]<a href="/images/content/profes2.png"><img class="size-medium wp-image-385" alt="profes2" src="/images/content/profes2-300x116.png" width="300" height="116" /></a> İşletim sistemine göre SSL sunucuları. Kaynak: Netcraft.[/caption]</p>
<p>Sorabileceğimiz en yerinde soru heralde bu. Ticari şifreleme [encryption] kodlarından bahsediyorsak, bunların hepsinin aslan payı toplamda birkaç kütüphane kullanır. Bunların en yaygın olanları muhtemelen <a href="http://en.wikipedia.org/wiki/Microsoft_CryptoAPI" target="_blank">Microsoft CryptoAPI</a> (ve Microsoft <a href="http://msdn.microsoft.com/en-us/library/windows/desktop/aa380123(v=vs.85).aspx" target="_blank">SChannel</a>) ve <a href="http://www.openssl.org/" target="_blank">OpenSSL kütüphanesi</a>dir. Yukarıdaki kütüphaneler arasında en çok şüphe çeken muhtemelen Microsoft oluyor. Microsoft'un algoritmaları iyi (ve paranoyak!) insanların elinden geçiyorsa bile ekosistemleri bilindiği gibi baştan aşağı kapalı kaynaklıdır. Microsoft'un kodunu (yeterince lisans anlaşması imzalarsanız) görmeniz mümkündür ama o kodu asla kendiniz derleyemezsiniz. Ayrıca pazarda payları var. Şifreleme [encryption] sistemlerini zayıflatanlar ticari sağlayıcılarsa, bunlardan en olağan şüpheli heralde Microsoft'tur.</p>
<p>Ve bu bir sorun, çünkü İnternet üzerindeki web sunucularının yaklaşık %20'si -ve <a href="https://twitter.com/fanf/status/375922105503993856" target="_blank">SSL sunucuların yaklaşık yüzde kırkı</a>!- Microsoft IIS kullanıyor. Dahası, Windows'da çalışan üçüncü-taraf şifreleme [encryption] programları bile, rastgele sayı üreteçleri dahil olmak üzere genelde CAPI bileşenlerine dayanıyor. Yani bu programlar bir anlamda Microsoft'un insafına kalmış oluyor.</p>
<p>En muhtemel ikinci adayımız OpenSSL. Açık kaynaklı ve ortaklaşa geliştirilen OpenSSL gibi bir kütüphanenin kırılgan olabileceğini ima etmem sapkınlık gibi gelebilir. Ama muazzam miktarda İnternet trafiğinin güvenliği bu yolla sağlanıyor. Sadece <a href="http://httpd.apache.org/" target="_blank">Apache SSL</a>'in egemenliği nedeniyle değil, OpenSSL'in <em>her yerde kullanılıyor</em> olması nedeniyle. Birçok 'ticari' şifreleme [encryption] ürününün OpenSSL etrafında ince bir ambalaj olduğunu fark etmek için <a href="http://csrc.nist.gov/groups/STM/cmvp/documents/140-1/1401val2010.htm" target="_blank">FIPS SMVP doğrulama listelerine</a> bir bakmanız yetecektir.</p>
<p>OpenSSL açık kaynaklı olmasına rağmen maalesef belirli <a href="http://blog.cryptographyengineering.com/2012/01/attack-of-week-datagram-tls.html" target="_blank">aralıklarla</a> <a href="http://blog.cryptographyengineering.com/2013/02/attack-of-week-tls-timing-oracles.html" target="_blank">kırılganlıklar</a> <a href="http://blog.cryptographyengineering.com/2012/05/tale-of-two-patches.html" target="_blank">tükürmekte</a>. Bunun bir sebebi, yamalı bohça bir kabus olması, ki ilk halini geliştiren programcı açısından Bignum division (2) öğrenmesinin eğlenceli bir yoluydu. Diğer sebebi ise <em>crypto'nun inanılmaz karmaşıklığı</em>. Sonuç itibariyle, çok az kişi kodların tamamını anlayabiliyor.</p>
<p><a href="/images/content/profes3.png"><img class="alignright size-medium wp-image-386" alt="profes3" src="/images/content/profes3-300x186.png" width="300" height="186" /></a></p>
<p>Donanım tarafındaysa (hazır asılsız suçlamalara başlamışken) yakında bütün Intel işlemcilere eklenecek olan <a href="http://software.intel.com/en-us/blogs/2012/05/14/what-is-intelr-secure-key-technology" target="_blank">Intel Güvenli Anahtar</a> ve ona bağlı rastgele sayı üreteçlerine tekrar göz atmak korkunç yararlı olacak. Sorun olmasa bile bugünkü haberden sonra bunları uluslararası çapta satmak korkunç zor bir iş olacaktır.</p>
<p><strong>Hangi standartlar?</strong></p>
<p>Bana sorarsanız bugünkü sızıntının en ilginç ve en endişe verici kısmı heralde budur. Yazılımlar tamam hep bozuktur, ama standartları -teoride- herkes tarafından okunuyor. Bir standardı kimseye fark ettirmeden zayıflatmanın aşırı zor bir iş olması gerekir. Ama Guardian ve NYT haberlerinde NSA'in standartları zayıflattığına dair çok kesin iddialar var.</p>
<p>Guardian özellikle <a href="http://www.nist.gov/index.html" target="_blank">Ulusal Standartlar ve Teknoloji Enstitüsü</a>'nü (NIST) ve 2006'da yayınladıkları bir standardı işaret ediyor. Kriptografların NIST hakkında hep karmaşık duyguları olmuştur ve bunun en büyük nedeni NIST'in NSA'le olan karmaşık ilişkisidir.</p>
<p>Mesele şu: NSA görünüşte hem <em>savunmacı</em> hem <em>saldırgan</em> misyonlar taşıyor. Savunmacı misyon oldukça basit: ABD bilgi sistemlerinin <em>faka basmamasını</em> garanti altına almak. Bu misyonun önemli bir kısmı NIST ile verimli bir işbirliği içerisinde gerçekleşiyor ve bu yolla <a href="http://en.wikipedia.org/wiki/Federal_Information_Processing_Standards" target="_blank">Federal Bilgi İşlem Standartları</a> (FIPS) ve <a href="http://csrc.nist.gov/publications/PubsSPs.html" target="_blank">NIST Özel Yayınları</a> gibi güvenlik standartlarının desteklenmesi sağlanıyor.</p>
<p>Kriptografların NIST hakkında karmaşık duyguları vardır demiştim, çünkü hepimiz biliriz ki NSA'in NIST'i isterse iyiye isterse kötüye kullanma gücü vardır. Bugüne kadar, <a href="http://csrc.nist.gov/groups/ST/toolkit/documents/kms/key-wrap.pdf" target="_blank">zaman zaman yaşanan arızalara</a> -ve <a href="http://rump2007.cr.yp.to/15-shumow.pdf" target="_blank">NIST kriptografik standartlarından bir tanesinde arka kapı <em>olabileceğine</em> dair ilginç kanıtlara</a>- rağmen, kötü niyeti gösteren kesin kanıtlarımız yoktu. Ama şimdi belki bu ilişkiyi yeniden gözden geçirmemiz gerekecek. Bu iş ne kadar delice görünürse görünsün.</p>
<p>Maalesef, <a href="http://csrc.nist.gov/groups/STM/cavp/documents/drbg/DRBGVS.pdf" target="_blank">rastgelemsi [pseudo-random] sayı üreteçlerinden</a> <a href="http://csrc.nist.gov/groups/ST/hash/sha-3/index.html" target="_blank">hash işlevlerine</a> ve <a href="http://csrc.nist.gov/publications/fips/fips197/fips-197.pdf" target="_blank">cipher'lara</a>, hatta SSL/TLS için kullandığımız <a href="http://csrc.nist.gov/groups/ST/toolkit/documents/dss/NISTReCur.pdf" target="_blank">özel eliptik eğrilere</a> kadar, NIST'e fazlasıyla bağlıyız. Bu bileşenlerin herhangi birinde arka kapı bulunma ihtimali uzak görünse de, güven ihlal edilmiştir. Bunu bertaraf etmek akıl almaz bir kabus olacak.</p>
<p><strong>Hangi insanlar?</strong></p>
<p>Muhtemelen bütün bunların içinde en büyük dert, NSA ve belirtilmemiş 'telekom sağlayıcılar' arasındaki işbirliğinin kanıtları. ABD'nin (ve uluslararası) büyük telekom taşıyıcılarının fiberoptik kablolarından <a href="http://articles.washingtonpost.com/2013-07-06/business/40406049_1_u-s-access-global-crossing-surveillance-requests" target="_blank">NSA'in veri toplaması için rutin destek</a> verdiklerini zaten biliyoruz. Ama bu veriler şifreliyse [encrypted] hiçbir işe yaramaz.</p>
<p>Yazılımdan verilen tavizler ve zayıf standartlar NSA'in işlerini halletmesini kolaylaştırabilse dahi, şifreli [encrypted] verilere erişmenin bilinen en kolay yolu anahtarları istemektir -veya çalmaktır. <a href="http://blog.cryptographyengineering.com/2013/05/a-few-thoughts-on-cellular-encryption.html" target="_blank">Hücresel şifreleme</a> gibi basit (her taşıyıcıda tek bir anahtar veritabanı ile korunan) şeylerden, görece kısa birkaç RSA anahtarıyla korunan SSL/TLS'e kadar bu durum böyledir.</p>
<p>Google, Facebook, Yahoo gibi dijital çevrimiçi hizmetlerin çoğuna evsahipliği yapan ulus olarak iyi <em>ve kötü</em> olan bir durum, bütün bu önemli anahtarların burada ABD topraklarında bulunması. Bununla birlikte, bu hizmetlerle iletişim kuran insanlar -yani 'hedefler'- belki yabancıdırlar. Veya ABD vatandaşıdırlar. Veya <em>kim olduklarını</em> bilmeyerek bütün trafiklerini toplayıp şifrelerini kaldırıp [decrypt] anahtar kelimelerini aratırsın.</p>
<p>Bu demek oluyor ki NSA ve GCHQ, tamamen tesadüfi olarak, ya doğrudan <a href="http://en.wikipedia.org/wiki/Certificate_authority" target="_blank">Sertifika Yetki</a> anahtarlarına (3) erişiyor, ya da ABD'li sağlayıcılardan gidip anahtarları çalıyor ve mümkündür (veya muhtemeldir) ki müdürleri de bunu bilmiyor. Bu işler için sadece sunuculara fiziki veya elektronik erişimi olan az sayıda kişiye ihtiyaç var, yani oldukça uygulanabilir (4). Birkaç gün önce bu işleri hesaba katmıyorduysam bunun tek sebebi, böyle bir şeyin yasadışı değilse bile basbayağı ahlaksızca gözükmesi ve dahası NSA'in <a href="http://en.wikipedia.org/wiki/PRISM_(surveillance_program)" target="_blank">PRISM</a> gibi programlarla belirli kullanıcıların verilerine ulaşabilmek için güya uyması gereken denetim ve dengelere devasa bir tehdit oluşturmasıydı.</p>
<p>Bence bu programın varlığı muhtemelen bugünkü bütün haberlerin en beklenmedik parçasıydı. Bir anlamda en üzücü parçasıydı.</p>
<p><strong>Peki bütün bunlar ne demek?</strong></p>
<p>Keşke bilseydim diyebiliyorum. Bir yandan, ya bütün güvenlik sektörü olarak birkaç gün bunları konuşup sonra hep birlikte normal yaşantımıza dönersek, ya bir daha bunları düşünmezsek diye endişeliyim. Umarım böyle olmaz tabi. Şu anda olayları kendi haline bırakamayacağımız kadar çok cevapsız soru var.</p>
<p>Yakın vadede en olası etki, güvenlik sektörüne çok daha az güven duyulması olacaktır. Ve ABD ve ihraç ettiği yazılımlara çok daha az güven duyulacak. Belki bu iyi bir şeydir. Kapalı kod ve desteklenmeyen standartlara güvenilmemesi gerektiğini yıllardır söylüyoruz: artık insanların <em>doğrulaması</em> gerekecek.</p>
<p>Daha iyisi, açığa çıkan bu bilgiler, bir dizi yeni araştırma başlamasını ve yeni kriptografik yazılımlar tasarlanmasını tetikleyebilir. OpenSSL gibi <em>açık</em> kodların dahi daha uzman ellerden geçmesi gerektiğini söylüyorduk. Ne yazık ki bu konuya fazla ilgi olmadı çünkü alanımızdaki akıllı araştırmacılar bu sorunları nedense 'çözülmüş' sayıyor ve ilginç bulmuyorlar.</p>
<p>İşte bugün öğrendik, bayağı bayağı çözülmüşler. Tabi bizim sandığımız gibi değil.</p>
<p><strong>Notlar:</strong></p>
<p><strong>1:</strong> [ÇN] "encryption/decryption" terimlerini şifreleme diye çevirdim, ama her seferinde [encryption] [decryption] diye belirtme gereği duydum, bu terimlerin encipherment/decipherment ile karıştırılmaması için.</p>
<p><strong>2:</strong> Bu yazının ilk halinde Eric Young'ın C öğrenmek üzere OpenSSL yazdığına dair (güvenilir bir kaynaktan!) duyduğum bir öyküyü aktarmıştım. Aslında C değil Bignum division öğrenmek için yazmış, ki bu çok daha havalı! Kusura bakma Eric!</p>
<p><strong>3:</strong> Yazının ilk halinde Sertifika Yetkisi yolundan bahsetmemişim, gözümden kaçmış -bu noktayı gösterdiği için Kenny Patterson'a teşekkürler- ama ben hala (aktif olarak <a href="http://en.wikipedia.org/wiki/Man-in-the-middle_attack" target="_blank">ortacı saldırısı</a> yapmayı gerektirmeyen) <em>pasif</em> kulakmisafirliği için bunun daha az uygulanabilir bir saldırı olduğunu düşünüyorum. Ve burada yapılan kulakmisafirliğinin çoğu pasif gibi gözüküyor.</p>
<p><strong>4:</strong> Google burada önemli bir istisna, çünkü birçok bağlantısında Mükemmel İleri Gizlilik uyguluyor, böylece anahtar hırsızlığı burada işe yaramaz. Bunu aşmak için NSA'in yazılımı bozması veya şifrelemeyi [encryption] başka bir yolla kırması gerekir.</p>
<p><strong>Yazar hakkında</strong><br />
<strong><br />
Matthew Green:</strong> Kriptograf, Johns Hopkins Üniversitesinde araştırmacı profesör. Kablosuz ağlar, ödeme sistemleri ve dijital içerik koruma platformlarında kullanılmak üzere kriptografik sistemler tasarladım ve analiz ettim. Araştırmamda kriptografinin kullanıcı gizliliğini desteklemek için kullanılma yollarına bakıyorum.</p>
<p><strong>Kaynak:</strong> <a href="http://blog.cryptographyengineering.com/2013/09/on-nsa.html" target="_blank">Kriptografik Mühendislik Üzerine Birkaç Fikir</a></p>
<p>(Çeviren: Işık Barış Fidaner)</p>
