---
layout: post
status: publish
published: true
title: Bir Hacker'ın Vicdanı - Mentor
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
wordpress_id: 436
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=436
date: '2013-07-20 01:20:41 +0300'
date_gmt: '2013-07-19 23:20:41 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>(<a href="http://yersizseyler.files.wordpress.com/2013/11/mentor.pdf">PDF</a>)</p>
