---
layout: post
status: publish
published: true
title: internete övgü
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
wordpress_id: 350
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=350
date: '2013-01-25 23:15:38 +0200'
date_gmt: '2013-01-25 21:15:38 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments:
- id: 1828
  author: praise of the internet | Yeni Medya
  author_email: ''
  author_url: http://yenimedya.wordpress.com/2014/08/28/praise-of-the-internet/
  date: '2014-08-28 21:07:26 +0300'
  date_gmt: '2014-08-28 19:07:26 +0300'
  content: "[&#8230;] internete övgü [&#8230;]"
---
<p>brecht'ten bozarak:</p>
<p>iki tane gözün varsa senin,<br />
binlerce gözü var internetin.<br />
her kullanıcının bildiği birkaç kent,<br />
beş kıtanın beşini de biliyor internet.</p>
<p>her kullanıcının vakti belli,<br />
internetin ise tarih saati.<br />
her kullanıcıyı yok edebilirler her an.<br />
internet ise yedi değil, binlerce can.</p>
<p>ama tamamlanamamış bir sinir sistemine benziyor.<br />
-barış</p>
<p>&gt;&gt;&gt; <a href="http://yenimedya.wordpress.com/2014/08/28/praise-of-the-internet/">praise of the internet</a> &lt;&lt;&lt;</p>
