---
layout: post
status: publish
published: true
title: technological alienation
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "&gt;&gt;<a href=\"http://www.sakareller.net/insan/baris/alienation.mp3\"
  target=\"_blank\">MP3</a>&lt;&lt;\r\n\r\nkaynak: <a href=\"http://dergi.bmo.org.tr/sayi-1/teknolojik-yabancilasma-ve-hack-kulturu\"
  target=\"_blank\">Teknolojik Yabancılaşma ve Hack Kültürü</a>\r\nsistem: cepstral,
  goldwave, audacity, freesound.org\r\n\r\n-barış\r\n\r\n"
wordpress_id: 457
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=457
date: '2013-11-21 03:58:00 +0200'
date_gmt: '2013-11-21 01:58:00 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>&gt;&gt;<a href="http://www.sakareller.net/insan/baris/alienation.mp3" target="_blank">MP3</a>&lt;&lt;</p>
<p>kaynak: <a href="http://dergi.bmo.org.tr/sayi-1/teknolojik-yabancilasma-ve-hack-kulturu" target="_blank">Teknolojik Yabancılaşma ve Hack Kültürü</a><br />
sistem: cepstral, goldwave, audacity, freesound.org</p>
<p>-barış</p>
<p><a id="more"></a><a id="more-457"></a>***</p>
<p>Technological Alienation and Hack Culture.</p>
<p>Technology progresses through innovations. What appears, from its moment of discovery, quickly wears off to give place to efforts to answer new questions and problems. The obtained accumulation of knowledge forms a basis for the steps that will follow. This progression is doubtless not by itself. One can't deny the role of economical and political dynamics. But let's now leave these to one side and attend to another undeniable dynamic: Subject. Human. In the premises of our book, hackers.</p>
<p>In the dictionary by the Turkish Language Authority, the word "Hacker" is defined as: "Someone who uses his knowledge in computer and communication technologies to reach secret data or practice malicious tasks on networks that are not legal. (see: computer pirate.)" This lacking and wrong definition is likely a result of the negative popular perception of "hackers" as well as an official expression of opinion on it.</p>
<p>Yet when you look one step ahead of the popular, you face a quite different reality. In this reality we come upon men and women with a passionate wonder, who try unheard things to satisfy it, who can't just learn enough, who develop potentials by getting equipped by knowledge, who like science and coincidences, being good or bad, from all nations, believing or nonbelieving. From the human with makes a stick with a round object into a wheel, to the human that created Internet which is built almost as a parallel universe, we encounter characters that sometimes run after their ideals, or their curiosity, just for fun or sometimes only after their egos.</p>
<p>Looking at particular hackers or this sub or counter culture in general, people we see are not content with existing possibilities, they try to find better ways of things, to make possible things that seem impossible. Our attention is drawn to efforts given just for fun, just because one can do it, just being curious and usually without any expectations of material return.</p>
<p>We can discern examples of human labour that are most productive, most creative, where social utility usually emerges not as a purpose but as a result. We amazedly watch cognitive ruptures, subverting habits of thinking, and an insistance that does not tire of searching for yet another option that can be reached.</p>
<p>In brief, hackers and hack culture carries a quite different content, contrary to popular opinion.</p>
<p>Then how did the concept become into this?</p>
<p>Criminalization is a standard convention of the powerful. If it cannot control, it declares one a criminal. By making up laws, it declares one unlawful. By adopting arbitrary taxes and conditions, makes things undoable. It also manipulates for a negative perception in society. Like when they use cartoons depicting people using computers with snow masks in every news story that mentions hackers. The message to the society is clear: "Beware the hackers, fearful criminals who use their talents for evil." Hackers have been engraved onto people's and societies' memories in these codes. Unfortunately with examples like the official dictionary, this attitude becomes officially registered.</p>
<p>Those in power have roughly such an attitude. But there is also the "business world", a part and governor of those in power, doing harm to the concept. Its role is two faced. While trying to strengthen this perception, criminalizing it, it also tries to exploit it by wandering in gray regions, in an endeavour to appear sympathetic. But we have yet no interest in neither of the two. Let us now return to the subject, the human, but to ourselves this time.</p>
<p>From the human that produces technique to the human that consumes.</p>
<p>From the human that can produce tools that one needs by oneself, we whirled towards the human that gradually became passive in face of technology, turning into a mere consumer. The human that can produce one's own agricultural tools, domestic instruments, weapons for hunting and war, transformed into the human that goes after promotions and sales in shopping malls every weekend. We purchase almost all technologies. Moreover, we are mere users. We don't know how things work, it does not occur to us to be curious and ask about it.</p>
<p>Sometimes our children dismember and take the toys we bought them to pieces. They wonder what is inside. By getting angry at them for breaking those toys, we are in fact blunting this very natural behaviour and curiosity.</p>
<p>When devices malfunction, having no clue how they work, we don't repair but change them with a new one. Reparation usually means loss of time and money. In place of toolkits with tools of various kinds that we were keeping in our houses, we now have promotion brochures from shopping malls. We prefer the easy way, or we are obliged to prefer it.</p>
<p>Working to consume.</p>
<p>What's worse, all our work motivation more and more focuses on consumption. What we do, and why we do it becomes less and less important. One of our most important criteria for work is for it to provide us an earning that will allow us to consume some products and services that will save us a status. Considerations like enjoying one's work, positive effects on our mood and motivation, its making us more peaceful and merry, developing us as a human, favouring social benefits, usually are of secondary importance. In however circumstances, we are interested only in finishing what is assigned to us. We attain value only by achieving this, and spend it in purchasing 'happiness'. To use a phrase of the time, "professional approach" advises us to do our job and not to question the work we do. The concept of work that is reinforced by capitalist work morality, almost raised to the rank of a sacred value, exercise its power over us. You might not enjoy working, don't want to work or having difficulty in concentrating. But you have to do it. Otherwise you might fall into a vortex that will throw you towards? Where? Probably to the side of marginals.</p>
<p>Alienation.</p>
<p>It appears that the economical level and technical accumulation provides almost everything necessary to live without requiring extra effort. But is everything like they seem to be?</p>
<p>It may be fitting to ask some basic questions: Are the technology products we own really mandatory, would their absence create great emptinesses? Do we own all these because we really need them? Would we be less happy without mobile phone, computer, internet, airplane, television, and so on?</p>
<p>We just write down these questions for now. Given that a certain economical and technical level has been reached and we are situated as passive consumers in face of it, we need to think about the results of, and reasons for this situation.</p>
<p>The most crucial result of this is a kind of alienation. Human becomes alien to technique, to the knowledge of technique. Fields of study, each of which require separate expertises, lines giant walls between us and knowledge. The individual of the society of consumption, always chasing conveniences, always in need of more time, with a blunted sense of curiosity comes between us and knowledge. Profit oriented mental and physical activities of producers and dealers that account for everything in place of us, don't allow us to think and design our needs ourselves. Some people design our needs in place of us and sell them to us. Besides, they hide the technology behind the products they sell, calling it a trade secret. Patents, licenses and copyrights come between us and knowledge. Knowledge of technique is collected in particular centers, in particular hands. The rest of the world relates to technology only by being directed by the rules set up by their owners.</p>
<p>This alienation is at the same time the reason and the catalyzer for the solidification and unhindered continutation of this situation that drags us along its vortex.</p>
<p>What is lived through also stands for the human's alienation to oneself. Human is being freed from what makes one human, the talent, desire and curiosity to use tools and to develop them according to one's needs. Tools determine us. They draw the boundaries of our imagination, of our intellectual atlas, of how something can be done. Unless we wonder, worry and endeavour to decipher how they draw these boundaries, we keep on being determined.</p>
<p>In political and economical ways, this deterministic effect of alienation and technology over humans is consistently being reproduced as the societies of surveillance, control and consumption.</p>
<p>The question we raised about "working to consume" is but a different kind of alienation. Human has won the struggle with nature a long time ago, and today comparably much less effort is required to survive and be happy. It is not natural human behaviour to work without knowing, without questioning the meaning and content of what one does. What is natural is for human to do work that one enjoys, one likes to do or in which one sees social, personal benefit.</p>
<p>So what do hackers do?</p>
<p>They decipher. They wonder how it is done, how does it work. They break. They make a better one. They look for ways to do it otherwise. They share the knowledge of technique. They resist to the culture of consumption, and that which is popular. They try not to leave knowledge to monopolies. They try to make knowledge ordinary. Mostly, in doing these, they do not bother to be a hero or a saviour, to deliver messages. They just try to keep outside the vortex. They advise people not to become consumers. They work not because they have to, but because they enjoy it or just because they can do it. Collective work based on individual or voluntary efforts are not mainly motivated by obligations.</p>
<p>Well, what else do they do? Details are in the book, told by our authors.</p>
<p>We call our readers to keep themselves closer to this culture, to discover knowledge, knowledge of technique for more freedom, and to share it with other people.</p>
<p>It's not so difficult. What's more, we have the hackers on our side.</p>
