---
layout: post
status: publish
published: true
title: GoogleTalk Mesajları Yanlış Kişilere İletiyor
author:
  display_name: aliriza
  login: aliriza
  email: ali.r.keles@gmail.com
  url: http://alternatifbilisim.org
author_login: aliriza
author_email: ali.r.keles@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 421
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=421
date: '2013-09-26 11:00:37 +0300'
date_gmt: '2013-09-26 09:00:37 +0300'
categories:
- Kategorilendirilmemiş
tags:
- google
- mahremiyet
- mesajlaşma
- hata
comments: []
---
<p>Merhaba,</p>
<p>Bugün oldukça ilginç bir olay yaşandı. GoogleTalk'ta konuşuyorken mesajlarımın yanlış kişilere gittiğini farkettim. Sohbetin ortalarında mesajım ikinci bir arkadaşıma; sonra ikinciye verdiğim yanıt üçüncü birine gitti. Ekran görüntüsü:</p>
<p>[caption id="attachment_422" align="aligncenter" width="300"]<a href="/images/content/gariplik-s.png"><img class="size-medium wp-image-422" alt="Google mesajlarınızı yanlış kişilere gönderiyor. " src="/images/content/gariplik-s-300x120.png" width="300" height="120" /></a> Google mesajlarınızı yanlış kişilere gönderiyor.[/caption]</p>
<p>Konuyu ilgilileri ile paylaşıp yukarıdaki ektan görüntüsünü aldım. Sohbete yanlışlıkla ortak olanlardan @elifkus şu bağlantıyı paylaştı: http://www.zdnet.com/google-hangoutsgtalk-glitch-sends-chats-to-wrong-recipients-7000021195/</p>
<p>Böyle bir hatanın hiç istenmeyecek sonuçlar doğurması işten değil. Fakat bu bir yana, google gibi denetlenemeyen süper-merkezlere mahremiyetimizi emanet etmenin hiç de akıllıca olmadığını bir kez daha yaşayarak öğrenmiş oldum. Bu hatanın ne şekilde olduğunu hiç bir zaman bilemeyeceğiz. Tabiki Google doyurucu teknik bir açıklama yapmadıkça.</p>
<p>Sistemler kuşkusuz hata yaparlar. Ama önemli olan mahremiyet gibi hassas konuları ilgilendiren durumlarda bu hataların gerçekten sistem hataları olduğundan ve hakettiğince değerlendirilip çözüme kavuşturulduğundan emin olmaktır. Bunun yolu da bir biçimde iletişim ihtiyaçlarımızı kendi kendimize çözebilmemizden geçiyor. Yani alternatif açık modelleri kullanıp yaygınlaştırmayı bir biçimde başarmalıyız.</p>
<p>Herkesin kendi bulutunu yaratması artık ihtiyaçtan da öte bir zorunluluk haline geldi. Kendi sosyal ağlarımız ve sohbet kanallarımız da bu çözümün bir parçası. Bir ara düşündüğümüz "IRC yaşıyor" kampanyasının vakti gelmiştir belki.</p>
