---
layout: post
status: publish
published: true
title: 'Julian Assange: Şifreleme silahları için bir çağrı'
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "Bu kitap bir manifesto değil. Buna zaman yok. Bu kitap bir uyarı.\r\n\r\nDünya
  ulusötesi bir distopyaya doğru kaymıyor, koşar adım ilerliyor. Bu gelişme ulusal
  güvenlik çevreleri dışında gereğince algılanmadı. Ketumiyet, karmaşıklık ve ölçek
  yoluyla gizlendi. Özgürleşme yolundaki önemli aracımız İnternet, şimdiye dek gördüğümüz
  en tehlikeli totaliterlik kolaylaştırıcısına dönüştürüldü. İnternet insan uygarlığına
  bir tehdittir.\r\n\r\n"
wordpress_id: 346
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=346
date: '2013-01-21 15:08:15 +0200'
date_gmt: '2013-01-21 13:08:15 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments:
- id: 1120
  author: 'Şifrepunk (Cypherpunk): &quot;Çağımızın El Kitabı&quot; Adayım | Cyberspace
    Aylağının Günlüğü'
  author_email: ''
  author_url: http://ahmetasabanci.com/sifrepunk-cypherpunk-cagimizin-el-kitabi-adayim/
  date: '2013-03-07 12:17:42 +0200'
  date_gmt: '2013-03-07 10:17:42 +0200'
  content: "[...] gibi bir iddia taşımıyor bu sözüm. Aksine bundan daha iyisinin yapılmak
    zorunda diyorum. (Kitabın kendisi istiyor bunu bizden.) Bunu yapabilecek olanın
    da sadece biz olduğumuzu unutmamak [...]"
- id: 1121
  author: 'Şifrepunk (Cypherpunk): “Çağımızın El Kitabı” Adayım | Aşağıdan'
  author_email: ''
  author_url: http://www.asagidan.org/2013/03/sifrepunk-cypherpunk-cagimizin-el-kitabi-adayim/
  date: '2013-03-09 13:26:52 +0200'
  date_gmt: '2013-03-09 11:26:52 +0200'
  content: "[...] gibi bir iddia taşımıyor bu sözüm. Aksine bundan daha iyisinin yapılmak
    zorunda diyorum. (Kitabın kendisi istiyor bunu bizden.) Bunu yapabilecek olanın
    da sadece biz olduğumuzu unutmamak [...]"
- id: 1142
  author: The Day We Fight Back | Cyberspace Aylağının Günlüğü
  author_email: ''
  author_url: http://ahmetasabanci.com/the-day-we-fight-back/
  date: '2014-02-11 12:52:44 +0200'
  date_gmt: '2014-02-11 10:52:44 +0200'
  content: "[&#8230;] Julian Assange: Şifreleme silahları için bir çağrı | netdefteri
    [&#8230;]"
---
<p>Bu kitap bir manifesto değil. Buna zaman yok. Bu kitap bir uyarı.</p>
<p>Dünya ulusötesi bir distopyaya doğru kaymıyor, koşar adım ilerliyor. Bu gelişme ulusal güvenlik çevreleri dışında gereğince algılanmadı. Ketumiyet, karmaşıklık ve ölçek yoluyla gizlendi. Özgürleşme yolundaki önemli aracımız İnternet, şimdiye dek gördüğümüz en tehlikeli totaliterlik kolaylaştırıcısına dönüştürüldü. İnternet insan uygarlığına bir tehdittir.</p>
<p><a id="more"></a><a id="more-346"></a>Bu dönüşümler sessizce gerçekleşti çünkü ne olup bittiğini bilenler küresel gözetim endüstrisinde çalışıyor ve onları konuşmaya iten birşey yok. Kendi gidiş yoluna bırakılacak olursa, birkaç yıl içinde, küresel uygarlık postmodern bir gözetim distopyası olacak; en üst düzeyde beceri sahibi bireyler dışındakilerin ondan kaçması mümkün olmayacak. Aslına bakılırsa halihazırda bu durumu yaşıyor olabiliriz.</p>
<p>Çok sayıda yazar İnternetin küresel uygarlık için ne anlam ifade ettiğini ele aldı ama yanılıyorlar. Yanılıyorlar çünkü doğrudan deneyimin getirdiği perspektif duygusundan yoksunlar. Yanılıyorlar çünkü düşmanla hiç yüz yüze gelmediler.</p>
<p>Dünyanın herhangi bir açıklaması, düşmanla ilk temas [kurulmadan] bir anlam taşımaz.</p>
<p>Biz düşmanla karşılaştık.</p>
<p>Son altı yıl boyunca Wikileaks’in dünyanın neredeyse bütün güçlü devletleriyle çatışmaları oldu. Biz yeni gözetim halini konunun içinde olan kişinin bakış açısıyla biliyoruz çünkü sırlarını derinlemesine inceledik. Biz bunu bir savaşçının bakış açısıyla biliyoruz çünkü insanlarımızı, paramızı, kaynaklarımızı ondan korumak durumundaydık. Biz bunu küresel bir bakış açısıyla biliyoruz çünkü hemen her ülkede insanlarımız, varlıklarımız ve bilgi [kaynaklarımız] var. Biz bunu zamanın bakış açısıyla biliyoruz çünkü bu olguya karşı yıllardır dövüşüyoruz ve olgunun katlanarak büyüdüğüne ve yayıldığına tekrar tekrar şahitlik ettik. Yayılıp ele geçiren bu asalak İnternetle birleşen toplumların kanını emerek semiriyor. Gezegenin üzerinde yuvarlanıyor ve önüne çıkan bütün devlet ve halklara bulaşıyor.</p>
<p>Ne yapmalı?</p>
<p>Zamanın birinde, adresini vermeye gerek olmayan bir yerde, bizler, genç İnternetin yapıcıları ve sakinleri, yeni dünyamızın geleceğini tartışmıştık.</p>
<p>İnsanların tümü arasındaki ilişkilere yeni dünyamızca aracılık edileceğini ve insanların nasıl bilgi, ekonomik değer ve kuvvet alışverişinde bulunduklarıyla belirlenen devletlerin doğasının da değişeceğini görmüştük.</p>
<p>Mevcut devlet yapılarıyla İnternet arasındaki birleşmenin devletlerin doğasını değiştirmek için bir gedik yarattığını gördük.</p>
<p>İlk olarak, devletlerin, emredici zorun üzerlerinden yürüdüğü sistemler olduğunu hatırlayalım. Bir devlet içindeki gruplar destek almak için yarışabilir ve bu yüzeyde demokratik görüngüye yol açar ama devletleri payandalayan, şiddetin sistematik uygulanışı ve bunun önlenmesidir. Toprak mülkiyeti, emlak [mülkiyeti], kiralar, kâr payları, vergilendirme, mahkeme harçları, sansür, telif hakları ve patentlerin hepsi tehditle uygulanan devlet şiddeti üzerinden zorla ayakta tutulur.</p>
<p>Bizler çoğu zaman şiddete ne denli yakın olduğumuzun farkına bile varmayız çünkü ondan kaçınmaya özen gösteririz. Havayı koklayan denizciler gibi, yüzeydeki dünyamızın aşağıdaki karanlıkla nasıl desteklendiğini nadiren düşünüp taşınırız.</p>
<p>İnternetin yeni uzayında zorlayıcı kuvvetin karşısında denge unsuru ne olacak?</p>
<p>Bu sorunun sorulması bile anlamlı mı? Öte dünya işlerine dalmış bu uzayda, görünürde fikir ve bilgi akışının bu platonik aleminde, zorlayıcı kuvvet kavramına yer olabilir mi? Tarihsel kayıtları değiştirecek, telefonları gizlice dinleyecek, insanları ayıracak, karmaşıklıktan moloz yığınları yaratacak ve duvarlar örecek, işgal ordusu gibi bir kuvvet, ha?</p>
<p>İnternetin, fikir ve bilgi akışının platonik doğasının değerini, bunun fiziksel temeli düşürüyor. Temelleri, okyanus tabanlarında uzanan fiber optik kablo ağlarıdır, tepemizde dönen uydulardır, New York’tan tut Nairobi’ye dek kentlerdeki binalara yerleştirilmiş bilgisayar sunucularıdır. Arşimet’i alelade bir kılıçla katleden asker gibi, silahlı bir güç de Batı uygarlığının, platonik diyarımızın, zirvedeki gelişimini kontrol altına alabilir.</p>
<p>Eski dünyanın kaba atomlarından soyutlanan İnternetin yeni dünyası bağımsızlığa hasretti. Ama devletler ve yandaşları -fiziki dayanaklarını kontrol yoluyla- yeni dünyamızı kontrol etmek için hamle yaptı. Bir petrol kuyusunu kuşatan ordu veya sınırda rüşvet alan bir gümrük memuru gibi, devlet, kısa zamanda kendi denetiminde olan fiziksel uzayı bizim platonik alemimiz üzerinde denetim kurmak için kullanmayı öğrenecekti. Bu bizim düşlediğimiz bağımsızlığı engelleyecekti, ve ardından, fiber optik hatlarla uydu yer istasyonlarının üzerine çökerek yeni dünyamızdaki bilgi akışına büyük ölçekli müdahaleye devam edecekti; konunun esası bu çünkü her türlü insani, ekonomik ve siyasal ilişkiyi kucaklıyor. Devlet yeni toplumlarımızın toplardamarlarına ve atardamarlarına sülük gibi yapışacaktı; ifade edilen veya görüşülen her ilişkiyi, okunan her Web sayfasını, gönderilen her mesajı ve Google’da aranan her düşünceyi midesine indirecekti ve ardından iktidarı aklına bile getirmeyenlerce oluşturulmuş bu bilgiyi, her gün elde ettiği milyarlarca unsuru uçsuz bucaksız gizli depolara sonsuza dek durması için istifleyecekti. Bu hazineye, insanlığın bu ortak özel entelektüel çıktısına çok gelişmiş arama ve örüntü bulma algoritmalarıyla defalarca ve defalarca kepçeyi sallayarak hazineyi daha da zenginleştirecek ve müdahale edenlerle müdahaleye maruz kalanlar dünyası arasındaki kuvvet dengesizliğini en çoklayacaktı. Bunun ardından devlet, öğrendiklerini savaşlar çıkarmak, insansız hava araçları yapmak, BM komitelerini ve ticari anlaşmaları hileyle yönlendirmek, kendine bağlı geniş sanayi şebekesine, içerden öğrenenlere, yandaşlara çıkarlar sağlamak için gerisingeri fiziksel dünyaya uygulayacaktı.</p>
<p>Ama birşey keşfettik. Sınırsız hakimiyete karşı bir umudumuz. Cesaret, sezgi ve dayanışmayla, direniş için kullanabileceğimiz bir umut. İçinde yaşadığımız fiziki evrenin tuhaf bir özelliği.</p>
<p>Evren şifrelemeye inanır.</p>
<p>Bilgiyi şifrelemek, şifresini çözmekten daha kolaydır.</p>
<p>Bu tuhaf özelliği yeni dünyanın yasalarını yaratmak için kullanabileceğimizi gördük. Yeni platonik alemimizi onu destekleyen uydular, denizaltı kabloları ve onları kontrol eden merkezler gibi temellerden soyutlamak için. Kendi uzayımızı bir şifreleme örtüsü ardında tahkim etmek için. Fiziki gerçekliği denetleyenlere yasaklanmış yeni ülkeler yaratmak için. Bizi oralara kadar takip etmek sonsuz kaynak gerektirirdi.</p>
<p>Ve bu yolla bağımsızlığımızı ilan edecektik.</p>
<p>Manhattan Projesi’ndeki bilimciler evrenin nükleer bomba yapımına izin verdiğini keşfettiler. Bu apaçık belli bir sonuç değildi. Kimbilir, nükleer silahlar fizik yasalarının sınırları içinde olmayabilirdi. Bununla birlikte, evren atom bombalarına ve nükleer reaktörlere inanıyor. Tuz gibi, deniz veya yıldızlar gibi bunlar da evren tarafından kutsanmış görüngülerdir.</p>
<p>Benzer şekilde, evren, fiziki evrenimiz, birey veya bireyler grubunun güvenilir şekilde, otomatik olarak, hâttâ belki bilmeksizin birşeyi şifrelemeye olanak verecek özellikte; öyle ki, dünyanın en kuvvetli süper gücünün bütün kaynakları ve bütün siyasi arzusu dahi şifreyi çözemeyebilir. Ve insanlar arasındaki şifreleme patikaları dışsal devletin zorlayıcı gücünden özgürleşmiş bölgeler yaratmak için birleşik bir ağ oluşturabilir. Büyük ölçekli müdahaleden azade kalabilir. Devlet denetiminden azade kalabilir.</p>
<p>Bu yolla insanlar kendi isteklerini tamamen seferber olmuş süper gücün istekleri karşısına dikebilir ve kazanabilirler. Şifreleme fizik yasalarının somutlaşmış halidir ve devletlerin kuru gürültüsüne pabuç bırakmaz, hattâ ulusötesi gözetim distopyalarına da pabuç bırakmaz.</p>
<p>Dünyanın bu yolda çalışması gerektiği aşikar değildir. Yine de, bir şekilde, evren şifrelemeye gülümsüyor.</p>
<p>Şifreleme şiddete meyletmeyen doğrudan eylemin en üst düzey biçimidir. Nükleer silah sahibi ülkeler milyonlarca birey üzerinde sınırsız şiddet uygulayabilseler dahi, güçlü şifreleme şu anlama gelir ki, bir devlet, sınırsız şiddetle ihlaller yapsa bile, bireylerin ondan sır saklama niyetini ihlal edemez.</p>
<p>Güçlü şifreleme sınırsız şiddet uygulamasına direnebilir. Zorlayıcı kuvvetin herhangi bir derecesi bir matematik problemini hiçbir zaman çözemez.</p>
<p>Peki ama dünya hakkındaki bu tuhaf gerçeği alıp ondan İnternetin platonik aleminde insanlığın bağımsızlığı için temel, özgürleştirici bir yapıtaşı yaratmamız mümkün mü? Ve toplumlar İnternetle birleştikçe bu özgürlük devleti yeniden tanımlamak için fiziki gerçekliğe yansıtılabilir mi?</p>
<p>Devletlerin zorlayıcı gücün nerede ve nasıl uygulanacağına karar veren sistemler olduğunu anımsayalım.</p>
<p>Fiziki dünyadan İnternetin platonik alemine ne kadar zorlayıcı kuvvet sızabileceği sorusu şifrelemeyle ve “şifreci-punk”ların ideallerince yanıtlandı.</p>
<p>Devletler İnternetle birleştikçe ve uygarlığımızın yarını İnternetin yarını haline geldikçe, kuvvet ilişkilerini yeniden tanımlamak zorundayız.</p>
<p>Böyle yapmazsak, İnternetin evrenselliği küresel insanlığı tek bir devasa kitle gözetim ve kitle denetim şebekesine eklemler.</p>
<p>Tehlikeyi bildirmek zorundayız. Bu kitap bir gözcünün gece karanlığındaki haykırışıdır.</p>
<p>20 Mart 2012′de İngiltere’de ev hapsinde iade kararını beklerken arkadaşım olan üç gözcüyle, seslerimizin birleşmesiyle uyuyanları uyandırabilme umudu temelinde buluştum. Öğrendiklerimizi olan biteni anlamak ve harekete geçmek için henüz bir şansın varken sana, okura, iletmemiz gerekiyor.</p>
<p>Yeni dünyamızın silahlarını kuşanmanın, kendimiz ve sevdiklerimiz için savaşmanın vaktidir.</p>
<p>Görevimiz yapabildiğimiz yerde kendi kaderini tayin hakkımızı güvenceye almak, bunu yapamadığımız yerde üzerimize gelen distopyaya karşı tedbirli olmak ve eğer geri kalan her şey başarısız olursa onun kendini yok edişini hızlandırmaktır.</p>
<p>Julian Assange, Londra, Ekim 2012</p>
<p>Çeviren: K. Deniz Öğüt / Kaynak: <a href="http://marenostrum.blogsome.com/2012/12/03/p128/" target="_blank">Mare Nostrum</a></p>
