---
layout: post
status: publish
published: true
title: Biz Anonymous'uz — Parmy Olson
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "<a href=\"/images/content/anon.jpg\"><img
  class=\"alignright size-medium wp-image-566\" src=\"/images/content/anon-191x300.jpg\"
  alt=\"anon\" width=\"191\" height=\"300\" /></a>\r\n\r\n<strong>Biz Anonymous'uz:
  LulzSec, Anonymous Hacker Dünyasının ve Küresel Siber Ayaklanmanın İçyüzü)\r\nParmy
  Olson\r\n</strong>\r\n\r\nPaloma / İnceleme Dizisi\r\n<blockquote>\"Orada, başkalarına
  dalaşma kültüründen doğmuş insanlardan oluşan bir ağ vardı; bu, sakinlerinin birbirine
  kişisel sorular sormadığı ve kendilerini korumak için âdet gereği hayatları hakkında
  yalan söylediği bir dünya.\"</blockquote>\r\n"
wordpress_id: 565
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=565
date: '2014-10-13 17:16:07 +0300'
date_gmt: '2014-10-13 15:16:07 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p><a href="/images/content/anon.jpg"><img class="alignright size-medium wp-image-566" src="/images/content/anon-191x300.jpg" alt="anon" width="191" height="300" /></a></p>
<p><strong>Biz Anonymous'uz: LulzSec, Anonymous Hacker Dünyasının ve Küresel Siber Ayaklanmanın İçyüzü)<br />
Parmy Olson<br />
</strong></p>
<p>Paloma / İnceleme Dizisi</p>
<blockquote><p>"Orada, başkalarına dalaşma kültüründen doğmuş insanlardan oluşan bir ağ vardı; bu, sakinlerinin birbirine kişisel sorular sormadığı ve kendilerini korumak için âdet gereği hayatları hakkında yalan söylediği bir dünya."</p></blockquote>
<p><a id="more"></a><a id="more-565"></a>Bu kitap, sıkı bağları olmayan bir hacker grubunun, nasıl olup da hükümetleri olduğu kadar kurumsal şirketleri de sarsarak yeni tipte bir ayaklanma başlattığını ve nihayetinde kendi içlerinden gelen bir ihanetle nasıl çökertildiklerini bütünlüklü olarak ele alan ilk aktarımdır. Parmy Olson, manşetlerin ötesine geçiyor, LulzSec'in çekirdek kadrosundaki herkesle yapılan özel röportajlar dahil olmak üzere bizzat bu hacker'larla yapılmış yüzlerce konuşmaya dayanarak, Anonymous ve LulzSec'in dünyasına eşi benzer görülmemiş bir biçimde dalıyor.</p>
<p>2010 yılının sonlarına doğru binlerce hacktivist, WikiLeaks'e yaptıkları muameleyi protesto etmek üzere VISA, MasterCard ve PayPal'a yönelik kitlesel bir dijital hücuma katıldı. Seçilen diğer hedeflerin yelpazesi geniş (Sony Entertainment'ın, Fox'un, Vatikan'ın, Scientology Kilisesi'nin web siteleri hack'lendi ve tahrif edildi), verilen mesaj ise hiç kimsenin güvende olmadığı yönündeydi. Devlet çalışanlarını ve askeri personeli teşhir edecek şekilde Pornografi sitelerinden alınan ve devlet memurlarıyla askeri personelin de dahil olduğu binlerce kullanıcı hesabının bilgileri yayınlandı.</p>
<p>Kimi saldırılar, 4chan'in mesaj panolarından toplanan bir yığın kullanıcı tarafından gerçekleştirilse de birçok başka saldırı, Anonymous'tan çıkan LulzSec adlı ufak bir hacker grubu tarafından yapıldı.</p>
<p>Karmaşık kurumsal güvenlik sistemlerine nasıl giriyorlardı? Onlar birer anarşist mi yoksa aktivist miydi? Bütün bunları bir ekip mi yoksa tek tabanca takılan birileri mi yapıyordu? Burada, bir becerikli hacker'lardan oluşan bir grup mu yoksa örgütsüz birtakım çocuklar mı söz konusuydu?</p>
<p>Bu kitap, küresel siber ayaklanma hareketinin inanılmaz hikâyesini ve bunun bilgisayar güvenliğinin geleceği için beraberinde getirdiği şeyleri bütünlüklü bir biçimde anlatarak interneti bel altından vuruyor.</p>
<p>Adrenalin yüklü, sürükleyici bir anlatım!</p>
<p><em>"Çok güçlü bir gazetecilik eseri; grubun başlangıcının, hiziplerin ve birçok muhteşem saldırının akıcı ve zengin ayrıntılarla bezenmiş bir anlatımı."<br />
-The Daily-<br />
(Tanıtım Bülteninden)</em></p>
<p>Türkçe (Orijinal Dili:İngilizce)</p>
<p>400 s. -- 2. Hamur-- Ciltsiz -- 15 x 23 cm</p>
<p>İstanbul, 2014</p>
<p>ISBN : 9786056462801</p>
<p>Çeviri : <a href="https://twitter.com/search?f=realtime&amp;q=%23SuphiNejatA%C4%9F%C4%B1rnasl%C4%B1&amp;src=tyah" target="_blank">Suphi Nejat Ağırnaslı</a></p>
<p>(<a href="http://www.idefix.com/kitap/biz-anonymousuz-parmy-olson/tanim.asp?sid=H9KXHLY0TA6AK5PWJGJ1" target="_blank">idefix</a>)</p>
