---
layout: post
status: publish
published: true
title: 'Güncel Bir Tehdit: Sertifika Sahteciliği'
author:
  display_name: aliriza
  login: aliriza
  email: ali.r.keles@gmail.com
  url: http://alternatifbilisim.org
author_login: aliriza
author_email: ali.r.keles@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 477
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=477
date: '2014-04-13 14:03:31 +0300'
date_gmt: '2014-04-13 12:03:31 +0300'
categories:
- Kategorilendirilmemiş
tags:
- ssl
- mitm
- sahtecilik
- güvenlik sertifikası
comments:
- id: 1344
  author: Yorumcu
  author_email: neberbats@gmail.com
  author_url: ''
  date: '2014-06-14 21:53:51 +0300'
  date_gmt: '2014-06-14 19:53:51 +0300'
  content: "Merhabalar,\r\n\r\nBu konudaki son gelişmeler nelerdir? Uzun zamandır
    sitelerin sertifka bilgileri malesef doğrulanamıyor. Yayıncı bilgileri doğrulanamıyor.
    Youtube'da izlemek için videoya tıkladığımızda açılan sayfada sertifikanın doğrulanamadığı
    uyarısını görüyoruz. Malesef birçok sitede durum böyle... Alışlveriş siteleri
    dahil artık internet ortamında güvende değiliz. Her yaptığımız işi takip eder
    oldular. Bu duruma bir çözüm için herhangi bir eklenti geliştiriliyor mu?"
---
<p>SSL ile bağlandığımız servisler (adres satırında <strong>https:// şeklinde başlayanlar</strong>) bize güvenlik sertifikalarını gönderirler. Biz bu sayede ilgili sitelerle güvenli şekilde konuşabiliriz. Bankalar, sosyal ağlar (facebook, twitter, vb.), eposta servisleri (gmail, outlook, vb.) bizden aldıkları bilgileri şifreli alırlar ve kendi sistemlerinde çözerek işlerler. Böylece iki taraf arasındaki trafik izlenemez.</p>
<p>Bu şifreleri kırmak oldukça meşakatlidir. Üstelik sık sık yenilendiği için çözmeye uğraşmak pek faydalı bir uğraş değildir. Her sitenin<strong> kendine özel ve diğer tüm sertifkalardan farklı</strong> bir sertifikası mevcuttur.</p>
<p>Bu güvenli bağlantı türü, izlemenin yanısıra, <strong>URL temelli engelleme gibi</strong> erişim denetimi çabalarını da oldukça zorlaştırmaktadır. Bu sebeple servis sağlayıcılar bir tür <strong>sertifika sahteciliği</strong> yoluna başvururlar. Bu şöyle çalışır:</p>
<p>Bağlanmaya çalıştığınız site diyelim ki <strong>ABC.COM</strong> olsun. Servis sağlayıcınız da <strong>XXNET</strong> olsun. Her ay servet ödediklerimizden birisi.</p>
<p>Siz tarayıcınıza <strong>https://ABC.COM</strong> yazdığınızda <strong>XXNET</strong> sanki kendisi <strong>ABC.COM</strong> muş gibi davranıp size kendi <strong>sahte / taklit sertifikasını</strong> gönderir. Siz bu durumun farkında değilseniz siteye giriş yapar ve kullanmaya devam edersiniz. Ama gerçekte bilgileri <strong>ABC.COM</strong>'a değil <strong>XXNET</strong>'e gönderirsiniz. <strong>XXNET</strong> sizin gönderdiğiniz bilgileri açıp okur ve gerçek <strong>ABC.COM</strong>'a gönderir, <strong>ABC.COM</strong>'dan aldığını da size gönderir. Yani sizinle <strong>ABC.COM</strong> arasına girip trafiğinizi izler.</p>
<p>Görselde sol taraftaki kullanıcı siz, ortadaki <strong>XXNET</strong> ve sağda da <strong>ABC.COM</strong> temsil edilmektedir.</p>
<p><img alt="Man in the middle" src="http://blogs.msdn.com/cfs-filesystemfile.ashx/__key/communityserver-components-postattachments/00-01-87-22-28/SYSK-305.jpg" width="731" height="313" /></p>
<p>&nbsp;</p>
<p>Bazı taraycılar bu durumu tespit edebilir ve şu şekilde uyarılar verirler:</p>
<p>[caption id="attachment_478" align="aligncenter" width="300"]<a href="/images/content/Ekran-Resmi-2014-04-12-12.55.03.png"><img class="size-medium wp-image-478" alt="Chrome Tarayıcı'da SSL Hatası Ekran Görüntüsü" src="/images/content/Ekran-Resmi-2014-04-12-12.55.03-300x273.png" width="300" height="273" /></a> Chrome Tarayıcı'da SSL Hatası Ekran Görüntüsü[/caption]</p>
<p>Son dönemlerde Türkiye'de kullanıcılar çok sayıda sertifika hatası ve sahtecilik uyarıları almakta. Bu durumun Internet Servis Sağlayıcılar ile ilgili olup olmadığı tartışılıyor. Her aldığımız hatayı ISS'lere bağlamak pek doğru olmayacaktır. Bunların tespitini yapabilmek için çok sayıda geri bildirime ve analize ihtiyaç var.</p>
<p><strong>Bu yazı twitterda aldığımız yoğun bildirimler üzerine yazıldı. Kısa zamanda iki yazı daha yayınlayacağız:</strong></p>
<p>- Nasıl tespit yapabiliriz, nasıl raporlaştırırız?<br />
- Nasıl önlem alabiliriz?</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
