---
layout: post
status: publish
published: true
title: Cesur Yeni Medya - Kitap
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "Alternatif Bilişim Derneği\r\nNisan 2011, <a href=\"http://ekitap.alternatifbilisim.org/cesur-yeni-medya.html\"
  target=\"_blank\">ekitap.alternatifbilisim.org</a>\r\n\r\n<a href=\"http://ekitap.alternatifbilisim.org/files/cesur-yeni-medya.pdf\"
  target=\"_blank\">PDF İndir</a> | <a href=\"http://ekitap.alternatifbilisim.org/files/cesur-yeni-medya-src.zip\"
  target=\"_blank\">LaTeX İndir</a>\r\n\r\n<a href=\"https://yersizseyler.files.wordpress.com/2014/09/cesur-yeni-medya-b.jpg\"><img
  class=\"alignright wp-image-1990\" style=\"margin:10px;\" src=\"http://yersizseyler.files.wordpress.com/2014/09/cesur-yeni-medya-b.jpg\"
  alt=\"cesur-yeni-medya-b\" width=\"211\" height=\"299\" /></a>\r\n\r\nAlternatif
  Bilişim tarafından derlenen elektronik kitap <strong>\"Cesur Yeni Medya\"</strong>,
  üç bölümden oluşuyor.\r\n\r\n<strong>İlden Dirini</strong>'nin giriş ve değerlendirme
  yazısının devamında başlayan birinci bölüm, Tunus'ta başlayıp Mısır'a ve diğer birçok
  Arap ülkesine sıçrayan ve Libya'daki gelişmelerle süregiden Arap isyanlarında yeni
  medyanın oynadığı rolü tartışıyor. Konuyu farklı açılardan ele alan <strong>İsmail
  Hakkı Polat</strong>, <strong>Ayşe Kaymak</strong>, <strong>Barış Engin</strong>,
  <strong>Koray Löker </strong>ve <strong>Işık Barış Fidaner</strong>'in yazılarını
  içeren bölümdeki tartışmalar, <strong>Alternatif Bilişim</strong>'in Ocak ayında
  Elektrik Mühendisleri Odası'nda düzenlediği Wikileaks konulu toplantıda ortaya atılan
  konuların genişletilmesi ile oluştu.\r\n\r\nİkinci bölüm, Wikileaks'i gazetecilik
  ve yeni medya bağlamında inceliyor. <strong>Özgür Uçkan</strong>, <strong>Mete Çubukçu</strong>,
  <strong>Noyan Ayan</strong>, <strong>Başar Başaran </strong>ve <strong>Gülseren
  Adaklı</strong>'nın yazılarının yer aldığı bu bölüm, Wikileaks ve sızıntı gazeteciliğinin
  toplumsal bilgi ve iktidar değişimi açısından sağladığı olanaklar, siyasal konumlanışı
  gibi tartışmaları içeriyor.\r\n\r\nÜçüncü bölümde, Wikileaks'i oluşum halindeki
  ve sonuçlarına götürülen bir fikir olarak anlamaya çalışıyoruz. <strong>Julian Assange</strong>'dan
  çevirdiğimiz üç yazının ardından <strong>Işık Barış Fidaner</strong>, <strong>Burçe
  Çelik </strong>ve <strong>Andreas Müllerleile</strong>'nin yazıları Wikileaks'in
  fikirsel temelleri, imkanları ve sonuçlarını ele alıyor.\r\n\r\n<strong>Cesur Yeni
  Medya</strong>\r\nWikileaks ve 2011 Arap isyanları üzerine tartışmalar\r\nDerleme,
  Nisan 2011, 164 Sayfa\r\n<strong>Derleyen:</strong> Mutlu Binark, Işık Barış Fidaner\r\n<strong>Yayına
  hazırlayan:</strong> Işık Barış Fidaner\r\n<strong>Kapak tasarımı:</strong> Babür
  Sağlam\r\nYazıların hakları yazarlara aittir.\r\nKitabın LaTeX kodları <a href=\"http://creativecommons.org/licenses/by-nc/3.0/\"
  target=\"_blank\">CC Attribution-NonCommercial 3.0 Unported License</a> altındadır.\r\n\r\n"
wordpress_id: 551
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=551
date: '2014-09-16 16:09:52 +0300'
date_gmt: '2014-09-16 14:09:52 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>Alternatif Bilişim Derneği<br />
Nisan 2011, <a href="http://ekitap.alternatifbilisim.org/cesur-yeni-medya.html" target="_blank">ekitap.alternatifbilisim.org</a></p>
<p><a href="http://ekitap.alternatifbilisim.org/files/cesur-yeni-medya.pdf" target="_blank">PDF İndir</a> | <a href="http://ekitap.alternatifbilisim.org/files/cesur-yeni-medya-src.zip" target="_blank">LaTeX İndir</a></p>
<p><a href="https://yersizseyler.files.wordpress.com/2014/09/cesur-yeni-medya-b.jpg"><img class="alignright wp-image-1990" style="margin:10px;" src="http://yersizseyler.files.wordpress.com/2014/09/cesur-yeni-medya-b.jpg" alt="cesur-yeni-medya-b" width="211" height="299" /></a></p>
<p>Alternatif Bilişim tarafından derlenen elektronik kitap <strong>"Cesur Yeni Medya"</strong>, üç bölümden oluşuyor.</p>
<p><strong>İlden Dirini</strong>'nin giriş ve değerlendirme yazısının devamında başlayan birinci bölüm, Tunus'ta başlayıp Mısır'a ve diğer birçok Arap ülkesine sıçrayan ve Libya'daki gelişmelerle süregiden Arap isyanlarında yeni medyanın oynadığı rolü tartışıyor. Konuyu farklı açılardan ele alan <strong>İsmail Hakkı Polat</strong>, <strong>Ayşe Kaymak</strong>, <strong>Barış Engin</strong>, <strong>Koray Löker </strong>ve <strong>Işık Barış Fidaner</strong>'in yazılarını içeren bölümdeki tartışmalar, <strong>Alternatif Bilişim</strong>'in Ocak ayında Elektrik Mühendisleri Odası'nda düzenlediği Wikileaks konulu toplantıda ortaya atılan konuların genişletilmesi ile oluştu.</p>
<p>İkinci bölüm, Wikileaks'i gazetecilik ve yeni medya bağlamında inceliyor. <strong>Özgür Uçkan</strong>, <strong>Mete Çubukçu</strong>, <strong>Noyan Ayan</strong>, <strong>Başar Başaran </strong>ve <strong>Gülseren Adaklı</strong>'nın yazılarının yer aldığı bu bölüm, Wikileaks ve sızıntı gazeteciliğinin toplumsal bilgi ve iktidar değişimi açısından sağladığı olanaklar, siyasal konumlanışı gibi tartışmaları içeriyor.</p>
<p>Üçüncü bölümde, Wikileaks'i oluşum halindeki ve sonuçlarına götürülen bir fikir olarak anlamaya çalışıyoruz. <strong>Julian Assange</strong>'dan çevirdiğimiz üç yazının ardından <strong>Işık Barış Fidaner</strong>, <strong>Burçe Çelik </strong>ve <strong>Andreas Müllerleile</strong>'nin yazıları Wikileaks'in fikirsel temelleri, imkanları ve sonuçlarını ele alıyor.</p>
<p><strong>Cesur Yeni Medya</strong><br />
Wikileaks ve 2011 Arap isyanları üzerine tartışmalar<br />
Derleme, Nisan 2011, 164 Sayfa<br />
<strong>Derleyen:</strong> Mutlu Binark, Işık Barış Fidaner<br />
<strong>Yayına hazırlayan:</strong> Işık Barış Fidaner<br />
<strong>Kapak tasarımı:</strong> Babür Sağlam<br />
Yazıların hakları yazarlara aittir.<br />
Kitabın LaTeX kodları <a href="http://creativecommons.org/licenses/by-nc/3.0/" target="_blank">CC Attribution-NonCommercial 3.0 Unported License</a> altındadır.</p>
<p><a id="more"></a><a id="more-551"></a><strong>İçindekiler</strong></p>
<p>Giriş ve Değerlendirme / <strong>İlden Dirini</strong></p>
<p><strong>Bölüm I: Hak ve Özgürlükler, Arap isyanları</strong></p>
<p>Cesur Yeni Medya / <strong>İsmail Hakkı Polat</strong><br />
Wikileaks Okumak Suç mu? Assange Terörist mi? / <strong>Ayşe Kaymak</strong><br />
Sosyal Medya Devrimleri? / <strong>İsmail Hakkı Polat</strong><br />
Yeni Medya ve Sosyal Hareketler / <strong>Barış Engin</strong><br />
İnternet’i Geri Alalım / <strong>Koray Löker</strong><br />
Tarihin Gözleri / <strong>Işık Barış Fidaner<br />
</strong><br />
<strong>Bölüm II: Wikileaks, Gazetecilik ve Yeni Medya</strong></p>
<p>Bilgi Edinme Hakkı, Yeni Medya Düzeni ve Wikileaks / <strong>Özgür Uçkan</strong><br />
Yeni Medyanın Zaferi / <strong>Mete Çubukçu</strong><br />
Açık-Kaynaklı Habercilik Asıl Şimdi! / <strong>Noyan Ayan</strong><br />
Operasyonel Bir Gazetecilik Olarak Wikileaks / <strong>Başar Başaran</strong><br />
Wikileaks versus Kapitalizm?.. / <strong>Gülseren Adaklı</strong><br />
Wikileaks Üzerine Bir Tartışma Zemini Arayışı / <strong>Başar Başaran</strong></p>
<p><strong>Bölüm III: Wikileaks’in Kuram ve Felsefesi</strong></p>
<p>Siyasal Hacktivizm’in Tuhaf Kökenleri / <strong>Julian Assange</strong><br />
Hanoi yolu: Yol çukurları ve öngörüye dair / <strong>Julian Assange</strong><br />
İdare Yolu Olarak Tezgah / <strong>Julian Assange</strong><br />
Assange’ın Felsefesi ve Tezgah Kuramı / <strong>Işık Barış Fidaner</strong><br />
Wikileaks’den Sızanlar, İnternet Teknolojisi ve İktidar / <strong>Burçe Çelik</strong><br />
Wikileaks’in politikası / <strong>Andreas Müllerleile</strong></p>
<p><strong>Ekler</strong></p>
<p>Yazarlar Hakkında<br />
Leak siteleri</p>
