---
layout: post
status: publish
published: true
title: Eleştirel Mühendisin Manifestosu*
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
wordpress_id: 467
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=467
date: '2014-02-06 21:34:58 +0200'
date_gmt: '2014-02-06 19:34:58 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p><strong>0.</strong> Eleştirel Mühendis, hareket, iletişim ve düşünüş yollarımızı şekillendiren Mühendisliği zamanımızın en dönüştürücü dili sayar. Bu dildeki sömürü** biçimlerini çalışarak nüfuz alanlarını teşhir etmek Eleştirel Mühendisin işidir.</p>
<p><strong>1.</strong> Eleştirel Mühendise göre, bağlı olunan herhangi bir teknoloji hem zorluk hem de tehdittir. Bağlılık ne kadar büyükse, sahiplik ve yasal şartlardan bağımsız olarak, o teknolojiyi çalışma ve içsel işleyişini teşhir etme ihtiyacı da o kadar büyüktür.</p>
<p><strong>2.</strong> Eleştirel Mühendis her bir teknolojik ilerleme ile tekno-politik okuryazarlığımızın zorlaştığına dair farkındalığı yayar.</p>
<p><strong>3.</strong> Eleştirel Mühendis zengin kullanıcı deneyimleri üzerinde yapısöküm uygular ve şüphe yaratır.</p>
<p><strong>4.</strong> Eleştirel Mühendis 'uygulamanın huşusu'nun ötesine bakarak nüfuz yöntemlerini ve özgül etkilerini belirler.</p>
<p>5. Eleştirel Mühendis her bir mühendislik çalışmasının, kullanıcı bağlılığı ile orantılı ölçüde kendi kullanıcısını mühendislediğinin farkındadır.</p>
<p><strong>6.</strong> Eleştirel Mühendis, aygıtları, bedenleri, ajanları, kuvvetleri ve ağları kuşatan ilişkileri tarif etmek üzere 'makine'yi genişletir.</p>
<p><strong>7.</strong> Eleştirel Mühendis teknolojinin üretimi ve tüketimi arasındaki uzayı gözlemler. Bu uzaydaki değişimler karşısında süratle edim gösteren Eleştirel Mühendis, dengesizlik ve yanılsama anlarını teşhir etmeye hizmet eder.</p>
<p><strong>8.</strong> Eleştirel Mühendis sanat, mimarlık, aktivizm, felsefe ve icatlar tarihine bakar ve örnek Eleştirel Mühendislik çalışmaları bulur. Bu disiplinlerin stratejileri, fikirleri ve gündemleri benimsenecek, yeniden amaçlandırılacak ve mevzilendirilecektir.</p>
<p><strong>9.</strong> Eleştirel Mühendise göre yazılı kod toplumsal ve psikolojik alemlere doğru genişleyerek insanlar ve etkileşimde bulundukları makineler arasındaki davranışı düzenler. Bunu anlayan Eleştirel Mühendis kullanıcı-kısıtlılıklarını yeniden inşa etmeye ve dijital kazıcılık yoluyla toplumsal eyleme yönelir.</p>
<p><strong>10.</strong> Eleştirel Mühendisin teşhir konularının en arzulananı, sömürüdür.</p>
<p>* Bu manifestoyu <a href="http://criticalengineering.org/" target="_blank">Ekim 2011'de Berlin'de</a> kaleme alan Eleştirel Mühendislik Çalışma Grubu, diğer adıyla Julian Oliver, Gordan Savičić ve Danja Vasiliev, dünya çapında sanat uzmanlarılardır. Anahtar kelimeler: gözetim, panoptikon, toplumsal olan.</p>
<p>** İngilizcesinde Eleştirel Mühendisin kullanması gereken temel araç sayılan "exploit", Türkçe metinde "sömürü" terimiyle Eleştirel Mühendisin karşı karşıya olduğu bir mesele olarak çalışma ve teşhir konusu sayılmıştır. (Çeviri: IBF)</p>
<p>Karşılaştırınız:<br />
<a href="http://en.wiktionary.org/wiki/exploit " target="_blank">http://en.wiktionary.org/wiki/exploit </a><br />
<a href="http://tureng.com/search/exploitation" target="_blank">http://tureng.com/search/exploitation</a></p>
