---
layout: post
status: publish
published: true
title: Başkan Reif Aaron Swartz üzerine MIT topluluğuna yazdı - Rafael Reif
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "Rafael Reif\r\n13 Ocak 2013, <a href=\"http://newsoffice.mit.edu/2013/letter-on-death-of-aaron-swartz\"
  target=\"_blank\">newsoffice.mit.edu</a>\r\n\r\nBugün (13 Ocak 2013) saat 16:15'te,
  MIT Başkanı L. Rafael Reif aşağıdaki mesajı MIT topluluğuna e-posta olarak gönderdi.\r\n\r\nMIT
  topluluğu üyelerine:\r\n\r\nDün şok edici ve korkunç haberi aldık: Cuma günü New
  York'ta, Aaron Swartz, MIT topluluğundaki birçok kişinin iyi bildiği ve hayranlık
  duyduğu bu çok özel genç adam, kendi yaşamına kıydı. Bu trajedi ile, ailesi ve arkadaşları
  ifade edilemez bir kaybın acısını yaşamakta, ve biz de en derin taziyelerimizi sunmaktayız.
  Aaron'u bilmeyenlerimiz için bile, kısa yaşamının izleri onun harikulade yaratıcılığı
  ve idealizmi ile parlamaktadır.\r\n\r\n"
wordpress_id: 497
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=497
date: '2014-07-07 09:24:02 +0300'
date_gmt: '2014-07-07 07:24:02 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>Rafael Reif<br />
13 Ocak 2013, <a href="http://newsoffice.mit.edu/2013/letter-on-death-of-aaron-swartz" target="_blank">newsoffice.mit.edu</a></p>
<p>Bugün (13 Ocak 2013) saat 16:15'te, MIT Başkanı L. Rafael Reif aşağıdaki mesajı MIT topluluğuna e-posta olarak gönderdi.</p>
<p>MIT topluluğu üyelerine:</p>
<p>Dün şok edici ve korkunç haberi aldık: Cuma günü New York'ta, Aaron Swartz, MIT topluluğundaki birçok kişinin iyi bildiği ve hayranlık duyduğu bu çok özel genç adam, kendi yaşamına kıydı. Bu trajedi ile, ailesi ve arkadaşları ifade edilemez bir kaybın acısını yaşamakta, ve biz de en derin taziyelerimizi sunmaktayız. Aaron'u bilmeyenlerimiz için bile, kısa yaşamının izleri onun harikulade yaratıcılığı ve idealizmi ile parlamaktadır.</p>
<p><a id="more"></a><a id="more-497"></a></p>
<p>Aaron'un MIT ile formel bir bağlılığı olmamasına rağmen bunu size yazıyorum, çünkü topluluğumuzun birçok üyesi onu çok severdi ve çünkü MIT onun 2011'de başlayan legal mücadelelerinde bir rol oynamıştı.</p>
<p>Çok açık olarak ifade etmek istiyorum ki ben ve MIT'de hepimiz, birçok kişinin yaşamına dokunmuş olan bu vaatkar genç adamın ölümüne aşırı derecede üzüldük. Trajedi ile sonlanan bir dizi olayda MIT'nin herhangi bir rol oynamış olduğunu düşünmek içimi acıtıyor.</p>
<p>Geçtiğimiz iki yılın karmaşık olaylarını burada özetlemeye kalkışmayacağım. Bugün, dahil olmuş herkesin kendi eylemleri üzerine düşünme zamanıdır, ve bu MIT'de hepimizi içermektedir. Profesör Hal Abelson'dan, ağımız üzerinde sıradışı etkinlikleri ilk algıladığımız 2010 güzünden bugüne kadar MIT'nin dahiliyetinin eksiksiz bir çözümlemesini yaptırmasını istedim. Bu çözümlemede, MIT'nin eylemlerini anlayıp dersler çıkarabilmek için, MIT'nin elindeki seçenekleri ve MIT'nin aldığı kararları tarif etmesini istedim. Bana ulaştığında raporu* MIT topluluğu ile paylaşacağım.</p>
<p>Umuyorum ki hepimiz topluluğumuzda Aaron'un ölümünden etkilenmiş olduğunu bildiğimiz üyelere elimizi uzatacağız. Her zaman olduğu gibi MIT Medikal, uzman rehberlik sağlamaya hazırdır, hiçbir şey kişisel anlayış ve desteğin yerini tutamayacak olsa da.</p>
<p>Üzüntü ve derin anlayışla,</p>
<p>L. Rafael Reif</p>
<p>* Raporun yayınlandığı adres: <a href="http://swartz-report.mit.edu/" target="_blank">swartz-report.mit.edu</a></p>
<p>Rapordaki giriş kısmının dördüncü maddesi şöyle:</p>
<p>4. Aaron Swartz'ın intiharı öncesinde, tutuklanmasından hemen sonraki periyotu saymazsak, MIT topluluğu meseleye çok az önem vermiştir. Endişelerini yönetime ifade eden öğrenci, öğretim üyesi ve mezunlar az sayıdadır. MIT kararvericileri, MIT'nin tarafsızlık ve sınırlı dahiliyet duruşunu muhafaza ederek, suç duyurusunun ardından bir yıl boyunca suçlamaların detaylarını araştırmamış, doğruluklarına dair bir görüş oluşturmamışlardır. MIT'nin almış olduğu konuma göre "ABD karşısında Swartz", MIT'nin taraf olmadığı bir davadan ibaretti. Gerçi MIT, 'savcılıkta "MIT Aaron Swartz'ın hapis cezası almasını istiyor" izlenimi olmamalı' diyerek ABD Başsavcılığı'nı bilgilendirdi. (MIT aslında hapis cezasına karşı çıktığını söylemedi.) MIT'nin dikkate almadığı etkenler arasında, sanığın İnternet teknolojisine katkı yapan başarılı ve tanınan biri olması; Bilgisayar Sahteciliği ve İstismarı Kanunu'nun modern bilgisayarcılığa uygulandığında kötü yazılmış ve tartışmaya açık bir ceza kanunu olması ve İnternet topluluğunu bir bütün olarak etkilemesi ve yaygın olarak eleştiriliyor oluşu; ve Birleşik Devletler hükümetinin alenen saldırgan bir kovuşturma yürütmekte olduğu sayılabilir. MIT ihtiyatlı bir konum almuş olabilir, fakat kovuşturmanın vuku bulduğu enformasyon politikalarını layıkıyla hesaba katmamıştır, ki geleneksel olarak MIT'nin insanları bu alanda tutkulu liderler olmuşlardır.</p>
<p>Türkçesi: Işık Barış Fidaner</p>
