---
layout: post
status: publish
published: true
title: Yeraltı’nın İkinci Baskısına Giriş – Suelette Dreyfus
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "Suelette Dreyfus\r\n\r\nBilgisayar hackerları kimdir? Neden hack yaparlar?\r\n
  \r\nİlk basıldığı 1997 yılında <em>Yeraltı</em> bu soruları yanıtlamaya çalıştı.
  Bu sorular, on yılı aşkın süre sonra halen önem taşır gözüküyor. Tüm dünyada kamu
  yararı için sızdırdığı belgelerle tanınan WikiLeaks, bu kitapta tarif edilen bilgisayar
  yeraltının içinden çıkmıştı. WikiLeaks'e dair öykülerin 'dünyanın nasıl işlediğine
  dair insanların düşünüş biçimlerini değiştirdiği' söylendi [1]. WikiLeaks'i anlamak
  için arkaplandaki öyküyü bilmeniz lazım: <em>Yeraltı</em> işte bu öyküdür.\r\n \r\n"
wordpress_id: 544
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=544
date: '2014-09-12 23:08:11 +0300'
date_gmt: '2014-09-12 21:08:11 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments:
- id: 1893
  author: Yeraltı&#8217;na Bir Giriş &#8211; Julian Assange | netdefteri
  author_email: ''
  author_url: http://netdefteri.alternatifbilisim.org/2014/09/yeraltina-bir-giris-julian-assange/
  date: '2014-09-13 14:14:03 +0300'
  date_gmt: '2014-09-13 12:14:03 +0300'
  content: "[&#8230;] &lt; [&#8230;]"
---
<p>Suelette Dreyfus</p>
<p>Bilgisayar hackerları kimdir? Neden hack yaparlar?</p>
<p>İlk basıldığı 1997 yılında <em>Yeraltı</em> bu soruları yanıtlamaya çalıştı. Bu sorular, on yılı aşkın süre sonra halen önem taşır gözüküyor. Tüm dünyada kamu yararı için sızdırdığı belgelerle tanınan WikiLeaks, bu kitapta tarif edilen bilgisayar yeraltının içinden çıkmıştı. WikiLeaks'e dair öykülerin 'dünyanın nasıl işlediğine dair insanların düşünüş biçimlerini değiştirdiği' söylendi [1]. WikiLeaks'i anlamak için arkaplandaki öyküyü bilmeniz lazım: <em>Yeraltı</em> işte bu öyküdür.</p>
<p><a id="more"></a><a id="more-544"></a></p>
<p><em>Yeraltı</em> arkaplan öyküsüdür, çünkü sorunların çözümünde teknolojiyi kullanırken 'kalıpların dışında düşünen' insanların dünyasını açıklar. Hacker'ın en eski tanımlamasına götürür bu bizi —bu tanımlama herhangi bir yasadışı faaliyeti ima etmez, aksine, zor sorunlara ustaca teknik çözümler bulabilen insanları yansıtmaktadır. <em>Yeraltı</em>'daki hackerları bunca ilginç kılan, bu sıradışı yaratıcılık çekirdeğidir, yasadışı faaliyetler değil. Bu çekirdek daha sonra WikiLeaks'e de taşındı. WikiLeaks'in ortaya çıkardığı, zor bir sorun karşısında (hükümetlere ve şirketlere hakikati söyletmek) teknolojinin yaratıcı bir uygulamasıdır (güvenli, anonim çevrimiçi yayıncılık biçimi).</p>
<p>WikiLeaks'in kurucusu Julian Assange'la birlikte yaklaşık üç yıl boyunca <em>Yeraltı</em> üzerine çalıştık. Onun elinden gelen, bilgisayar yeraltına dair istisnai teknik anlayışı ve detaylı bilgisiydi, benim elimden gelense yıllarca profesyonel bir gazeteci ve teknoloji yazarı olmamdan gelen deneyimimdi. CNN.com'un haber blogu çevrimiçi anket sonuçlarına dayanarak Julian'ı 2010 yılının 'en ilgi çekici kişisi' ilan etti. Julian <em>gerçekten</em> ilgi çekicidir, bu kısmen düşünüşündeki farklılıktan gelir. Julian başkalarının göremediği çözümleri görebilir. Onun merceği ön plandaki şeylere odaklanmış değildir. Onun düşüncesi, dişlerinin çıktığı 1990'lı yılların şifrepank topluluğunu yansıtır. Şifrepankçılar, dünyanın her yanında kriptografi ile ilgilenen insanlardan oluşan çevrimiçi bir topluluktu. Bireyin kişisel mahremiyet hakkına —ve hükümetin açık, şeffaf ve kamuya tamamen hesap verebilir olma sorumluluğuna— inanıyorlardı. Kitap üzerine çalışırken Julian bu fikirleri kendi görüşleri olarak bana defalarca ifade etmişti.</p>
<p>Bu kitap, bu eski zamanlara ait dünyanın en iyi hackerlarının yaşamlarını ve maceralarını açığa çıkarıyor. Yasa uygulayıcı failler hakkında bir kitap değil bu, polis memurunun bakış açısıyla da yazılmamıştır. Bu öyküyü, yazınsal bir perspektifle, bilgisayar hackerlarının gözüyle anlattım. Böylece okuyucu için bu gizemli, örtülü ve tipik olarak erişilmez aleme dönük bir pencere sağladığımı umuyorum.</p>
<p>Her hacker farklıdır, bu yüzden sunmaya çalıştığım öyküler toplamı, bireysel olsalar da uluslararası bilgisayar yeraltına olan bağlarıyla birbirlerine tutunurlar. Örneğin Mendax, kıymetli hackleme verilerini polisin bulmasını önlemek için arka bahçesindeki arı kovanlarına saklamıştı. Anthrax, hackleriyle açtığı yoldan gizemli American System X'e ulaşmıştı. Gece boyu süren hacklemenin ağrıları daha geçmemişken, her sabah gün ağarırken hackleme ekranını dondurur, namaz seccadesini açar ve iyi bir Müslüman olarak sorumluluklarını yerine getirmek üzere Mekke'ye dönerdi. Kendi kuşağının en iyi hackerlarından biri olan Electron'a Avustralya Federal Polisi baskın yapıp makinelerine el koymuştu. ABD Denizcilik Araştırma Laboratuvarlarını hacklemenin adrenalinine duyduğu ihtiyacı köreltebilmek için, onu geçici psikoza sokacak kadar uyuşturucu alması gerekmişti. İngiliz bir genç olan Wandii, gerçek anlamıyla çökene kadar hacklemeyi sürdürmüştü. Annesi bir gün iş dönüşü oğlunu salon zemininde bilincini yitirmiş halde bulmuştu. Trax, Mendax ve Prime Suspect, onları izleyen polisi altetmek üzere izi sürülemez telefon çağrıları yapmanın bir yolunu bulmuşlardı. Yine Parmaster, kısa adıyla Par, ABD savunma yüklenici bilgisayarlarına yaptığı seferler sonucu Man Who Knew Too Much [Çok Şey Bilen Adam] olduğu için saf dışı edileceği korkusuna kapılmıştı. ABD Gizli Servisi onu yakalamak için ulusal çapta bir insan avı başlatmıştı.</p>
<p>Dünyanın en sıkı ağızlı insanlarının yaşamlarını parça parça birleştirmek uzun sürüyor; <em>Yeraltı</em>'nın araştırılması ve yazılması işte bu yüzden yaklaşık üç yıl sürdü. Mahkeme oturumlarına katıldık, ceza oturumlarına girdik, kayıtlı/kayıtsız toplam 100'den fazla görüşme yaptık. İnsanlar çevrimiçi ya da kişisel olarak bizimle görüştüler. Güvenli ve anonim koşullarda kaynak kişilerle tanıştık.</p>
<p>Büyük, güvenli bir masaüstü bilgisayar, geç saatte yapılacak görüşmeler için, karanlık bir Melbourne sokağı boyunca sessizce emniyetli bir eve taşınıyordu. Bu şehrin daha eski bölgelerinde ana sokaklara paralel, varoşları keserek ilerleyen arnavut kaldırımlar vardır. Birçok bahçe arkasına ulaşmalarıyla bunlar elverişli yollardır. Genelde boş bu yolları bazen büyümüş sarmaşıklar kaplar ve dolunayın fazla parlak ışıdığı gecelere uygun bir örtü sağlarlar. 1990'ların ortasında halen laptoplar pahalı olduğundan ucuz masaüstü makineler kullanmıştık. ABD ordusunun kullandığı işletim sisteminin yüklendiği bu makineler, ordu-düzeyinde enkripsiyon sağlayarak, dünyanın her yerinden hackerlarla görüşme yapabileceğimiz emin bir araç olmuşlardı.</p>
<p>Yüz yüze görüşmeler için kaynak kişilerle buluştuğumuz yerler, Tuscon, Arizona'nın nispeten külüstür otel odalarından Hollanda'nın tren istasyonlarına değin bir dizi tuhaf mekandı. Yüksek sesle tekno müzik çalan gece kulüpleri gibi zorlu mekanlar oldu. Arkaplanda gümbürdeyen bas ritmi varken bir hackerla görüşmenin zor olduğu ortaya çıktı, tabi bunun faydaları da vardı: hackerın bana söylediği şeyleri yasa uygulayan memurların duyması da eşit derecede zordu. <em>Yeraltı</em> tamamlandığında ben de bir anlamda tekno, trans, trip hop müzik altında yazı yazma zevki geliştirmiştim. Kitapta, Par'ın Gizli Servis'in elinden can havliyle kaçmaya çalıştığı sahneler, Tricky'nin <em>Maxinquaye</em> albümündeki <em>Black Steel</em> versiyonunu sonsuz döngüde dinlerken yazılmıştı. Bölüm başlığı da şarkının sözlerinden çıktı: Firari.</p>
<p>'Neighbours' film setinden fırlamışa benzeyen tuğla kaplamalı banliyö evlerde görüşmeler yaptık. Büyük bir şirketin yüksek güvenlikli bilgisayar ağlarına nasıl sızdığını anlatan bir hacker dinlediğimi hatırlıyorum. Görüşme boyunca, 1980'lere ait lobi kapısından genç bir Kylie'nin her an çıkıvereceğini hissettim. Sabah 2'de loş ve boş sokaklardan eve doğru araba sürerken, iki şey —<em>görünüş</em> ve <em>gerçeklik</em>— arasındaki karşıtlığın hakikaten ne kadar acayip olduğunu düşündüm.</p>
<p>Yolun başındaki oğlanın kusursuz bir orta-sınıf Avustralyalı yaşamı sürdüğünü sanabilirsiniz, her gün okuluna yollandığını, sınıfın arkasında sessizce oturduğunu, evindeki oğlanca odasında zararsız bilgisayar oyunları oynadığını sanabilirsiniz. Gerçekte ise dizine kadar NASA ağlarına girmiştir.</p>
<p>Bir ara Julian'la birlikte pedofillere dair polis soruşturmaları üzerine tartıştığımızı hatırlıyorum. İnsanların çoğu kez göründükleri gibi olmadıklarını, en grotesk eylemlerin en düzgün, en 'kusursuz' gözüken insanlardan çıkabildiğini gözlemlemişti. Tam olarak şöyle demişti: 'Çok temiz buzdolapları olan insanların çok kirli yaşamları olabiliyor.'</p>
<p>Dünyanın genelinde görünüş ve gerçeklik arasındaki karşıtlık, <em>Yeraltı</em> basıldığından beri daha da keskinleşti. WikiLeaks kadar isabetle bunu örnekleyen az şey vardır. WikiLeaks aracılığıyla yayınlanan materyaller, birçok şirket ve hükümetin sinsilik ve bencillikte 1990'larda Londra'dan New York'a mahkemelerde demediklerini bırakmadıkları hackerlardan geri kalır hiçbir yanlarının olmadığını göstermiştir. Üzerine bastıkları ahlaki yüksek zemin yıpranmış, ABD diplomatik belgeleri, savaş kayıtları ve şirket belgeleriyle açığa çıkan kanıtların karşısında unufak olmuştur. Hatta birçok kişiye göre günahları çok daha büyüktür, çünkü yaptıkları yasaları ihlal etmekten ibaret değildi, ihlal ettikleri yasalar tam da korumaları ve uygulamaları için onlara emanet edilmiş olan yasalardı.</p>
<p>Bu kitapta bilgisayar yeraltından çıkan temalar, şimdiki WikiLeaks efsanesi boyunca da örülmektedir: takıntı, otoriteye baş eğmeyi reddetmek, bir şekilde yasaklanmış olan bilgileri görme arzusu ve bu bilgileri 'özgürleştirme' ihtiyacı. Bu kitapta geri kalanımızın 'normal' saydığı toplumsal yapıların zorlu sorgulanışı vardır. Fikirleri uyuşan netizenlerin uluslararası topluluğu, dünyanın her yanından gelen küçük hacker öbekleri gibi Avrupanın eski BBS'i olan Altos'ta buluşmaları vardır. Bu yer Avustralyalı, İngiliz, Alman ve Amerikalı üst düzey hackerların gizli su kaynağıydı —modern zamanın sohbet odalarının bir öncülüydü.</p>
<p>David ve Goliath teması, küçük adamın devler karşısında boy ölçüşmesi vardır. Julian, WikiLeaks ve genç hackerlar, hepsi bu kitapta kendilerini ABD ordusu, NASA ve Avustralya Federal Polisi gibilerle savaş içinde bulurlar. Hürmet tanımaz bir ironi vardır, uflayıp puflayanlara, nefretle küçük adamın çıktığı kutuya geri dönmesini talep edenler karşısında açık bir isteklilikle parmak göstermek vardır. ABD Devlet Bakanı Hillary Clinton, diplomatik belgelerin yayınlanmasını 'ulusal güvenliğe bir tehdit' olarak 'şiddetle kınadı', Julian buna karşılık onun istifa etmesini istedi, çünkü Clinton'un kendi diplomatlarından BM yetkililerinin DNA'larını, şifrelerini ve pinlerini çalmalarını istediği öne sürülmekte [2,3]. Bundan on yılı aşkın süre önce Avustralyalı hackerlar, yapay zekadan hortlayıp tamamen duygusal varlıklar olarak canlanmış bilgisayar taklidi yapmak gibi yöntemlerle, hem AFP hem de NorTel mühendisleriyle dalga geçiyorlardı. Öykünün sonunda ise küçük adamın feci bir başarısızlığı zannedilen durumdan ortaya çıkan beklenmedik bir galibiyet var. Bu kitaptaki hackerlar, polis baskınlarına, ceza davalarına ve hapis sürelerine rağmen genelde mutlu sonlara ulaşıyorlar. WikiLeaks'e ne olacağını zaman gösterecek olsa da, dört yıl boyunca ayakta kalmıştır ve bu süre boyunca dünyayı ciddi ölçülerde değiştirmiştir.</p>
<p>Belki de bu temaları modern internetin tarihi içinden gün yüzüne çıkardığı için, <em>Yeraltı</em>'nın öyküleri hem uzak hem de aşina geliyor. Kitabın orijinal kağıt versiyonunun bir süredir baskısı bulunmasa da çevrimiçi sahaflardaki kopyaları 400 ABD dolarına kadar alıcı bulabilmekte.</p>
<p>1990'ların başlarında Julian'la birlikte <em>Yeraltı</em> üzerine çalışmaya başladığımızda bu kitap için bir zanaatkar yaklaşımı tutturmaya karar verdik. Yazıların aceleyle yazıldığı, üretilen bilginin saatler içinde internete yığıldığı bu günlerde, herhangi bir projeye üç yıl harcamak imkansız uzunlukta bir süre gibi görünüyor. <em>Yeraltı</em>'nı yazarken, teknolojideki hızlı değişimden bağımsız, zamanı geçmeyecek bir nitelik vermeye çalıştım. Kitap Rusça'ya ve Çince'ye çevrildi, şimdi Fransızca ve Almanca'ya çevrilecek. Kitap metninin bir versiyonunu muhteşem Gütenberg projesine bağışladık, görme engelliler ya da kağıt kopyasını alamayanlar da keyfini çıkarabilsin diye. Ayrıca başarılı bir belgesel film uyarlaması yapıldı.</p>
<p>Bu kitap, sınırları zorlayan ve kuralları bozan insanları açığa çıkarıyor. Hackerlar benimle ve Julian ile konuşarak risk almaktaydılar. O zamanlar bu risklerin bir kısmı oldukça büyük olduğundan, bu yolculuğa kalkışmadan önce bunun ne demek olabileceğini, sonunda neye varabileceğini düşünüyordum. Aynada kendime bakıp zor bir soru sordum: emniyetlerini bize teslim eden bu kaynak kişileri korumak için hapse girmeye hazır mıydım?</p>
<p>Soğuk Savaş yakın zamanda bitmiş olsa da, Gizli Devlet halen yükselişteydi. Dünyanın en güçlü batılı casus ajansları, artık Rus KGB ajanları yerine kendi yurttaşlarını gözetlemek üzere kendilerini yeniden kuruyorlardı. Bugün web tarayıcılarımızda kanıksadığımız kriptografi yöntemleri o zamanlar hükümetlerce silah olarak sınıflandırılıyor ve çoğu ülkede ihracatı yasaklanıyordu. <em>War Games</em>'in [Savaş Oyunları] <em>Sneakers</em> [Şifreciler] ile buluştuğu çağdı bu.</p>
<p>Yasa uygulayıcılar ve istihbarat gözetimini her daim mevcut olduğuna göre, alınan riskler az buz değildi. Daha önce  araştırmacı gazeteci olarak çalışmıştım, ama sahip olduğum bilginin insanların hapse girmesine neden olabileceği koşullarda hiçbir zaman bulunmamıştım. Gazetecilerin kendilerine yakıştırdıkları romantik imgeye rağmen, benim bildiğim gerçek gazetecilerden çok az kişi kaynak kişilerini korumak için hakikaten hapse atılmaya hazırdır. Boş barlarda sessizce içilen içkiler eşliğinde bana itiraf edilenler bu yöndeydi.</p>
<p><em>Yeraltı</em> için kaynak kişilerin korunması, aynı zamanda bütün yaşamımı ve zihniyetimi değiştirmem gerektiği anlamına geliyordu. Bu durum çok daha paranoyak bir varoluşu, benim daha ziyade Polyannacı varoluşumla tamamen karşıtlık içinde bir hiper-güvenlik derecesini benimsememi talep etmekteydi. Artık bilgilere karşı düşüncesizlik edemezdim çünkük bu diğer insanların yaşamlarına özensizlik etmek demekti. Ek güvenlik nedeniyle bütün işler üç kat uzun sürüyordu. Yok. Bu kitapr nereden bakılırsa bakılsın hiç de kolay olmayacaktı.</p>
<p>Bir miktar vicdan muhasebesinden sonra yanıtımın evet olduğuna karar verdim, kaynak kişilerime bu bağlılığı göstermeye hazırdım; bir kaynak kişiyi korumak için hapse atılmaya hazırdım. O noktadan itibaren, 1997'de basılışına kadar <em>Yeraltı</em> kitabıyla yaşadım ve nefes aldım.</p>
<p>Çok şükür kaynak kişileri korumak için hapse girmem hiç gerekmedi, gerçi bu kaynak kişilerin korunmasının bir kısmı bugün halen sürmektedir. Bu kitaptaki hackerlar yalnızca tutamaçlarıyla —çevrimiçi takma adlarıyla— isimlendiriliyorlar. Onları yalnızca ve yalnızca tutamaçlarıyla adlandıracağımı taahhüt ettim ve on yılı aşkın süredir bu sözümü tuttum, bundan sonra da tutmayı sürdüreceğim. Dünyada politik mesaj ya da motivasyon taşıyan (nükleer güç ve silahlara dair) ilk bilgisayar solucanı olan WANK solucanının yaratıcısı hiçbir zaman adlandırılmamıştır.</p>
<p>Ne var ki bütün bu ek güvenlikler yüzünden insan dışı bazı kayıplar vermişizdir. Julian'la birçok sefer sabit diskleri ve veri dosyalarını kendi erişimimize kapatmayı becermişizdir. Özellikle bir tane —hatırlanmadığı anlaşılan güvenli bir şifreyle enkriptlenmiş— sabit disk yüzünden, kaybettiğimiz şifreyi, taslağı çıkarılmış bir kitap bölümüyle birlikte kurtarabilme umutlarıyla hipnoterapiste bile gitmiştik. Hipnoz başarısız oldu. Gerçi işin iyi yanı: En azından <em>Manchurian Candidate</em> [Mançuryalı Aday] tarzında bir saldırının bile bizi gizli parolalarımızı açık etmeye zorlayamayacağını biliyorduk.</p>
<p>Okuyucular bazen bana <em>Yeraltı</em>'nda yazılanların doğru olup olmadığını soruyor. Evet. Anlatılan kişileri korumak için değiştirilen birkaç ince detay haricinde bildiğim kadarıyla her şey kesinlikle doğrudur. Belirli yasal sebeplerle bazı diyalogları değiştirmek gerekti, ama veri kayıtlarında, telefon kayıtlarında ve diğer güvenilir kaynaklardaki gerçek konuşmalara mümkün olduğunca yakın tutuldular. Süsleme yapılmamıştır. Diyelim ki çevreyi tarif ederek hava yaratmışımdır, ama bunlar ya görüşmelere dayalı olmuştur, ya da sonradan mekanları ziyaret ederek gazetecilik gözüyle yapılmış tariflerdir.</p>
<p>Julian da ben de on binlerce sayfa belge okumuşuzdur. Bize verilen materyalin önemli bir kısmı elektronik değil kağıt olarak teslim edildiğinden, verileri elle kodladım, bütün bu belgelerde ilgili alıntıları küçük yapışkan kağıtlarla etiketledim. Sonra titizlikle bütün her şeyi, masamı kaplayan dev bir kağıt üzerinde zaman çizgisine yerleştirdim. Yaşantım sanki sürekli renkli Post-it'ler, kağıtlar ve renkli kalemler satın almakla geçiyordu. O zamanlar insanlar ve olaylar arasındaki ilişkileri haritalamaya elverişli herkese açık yazılımlar bulunmuyordu, ki bu beni geceleri dişlerimi gıcırdatmaya sevk eden bir olguydu. Bugün casus ajansları ve yasa uygulayıcılar, hedef aldıkları kişiler arasındaki ilişkileri birkaç tuşa basarak haritalayabiliyorlar. Yazılımlar otomatik olarak bağlantıları çiziyor, telefon, eposta ve diğer ilişkileri saniyesinde açığa çıkartıyor.</p>
<p>O zamanlar, bilgisayar yeraltının eski günlerinde, hack yapmak, Rus gangsterler, Ukraynalı şantajcılar ya da Malezyalı dolandırıcılarla alakalı bir şey değildi. <em>Meraklı</em> genç adamlara (ve çok az sayıda kadına) dair bir şeydi. İnternet erişimi için ağlara ulaşabilmek, ya bir üniversiteye ya da bir şirkete zorla girmek gerekiyordu. Bilgisayar ağlarının nasıl çalıştığına dair bilgileri edinmek zordu. Karmaşık bilgisayar sistemlerinin el kitapları web sitelerinden indirilebilir değildi. Böyle bir el kitabının, sistemini yeni güncellemiş bir şirketin ofis binalarının arkasındaki çöp konteynerlerinden çalınması gerekiyordu. İlk internetin bütün gücünü ellerinde tutan sistem yöneticilerinin makineleri güvenceye almak üzere perde arkasında neler yaptıklarını okuyabilmek için gizli güvenlik eposta listelerine zorla girmeden bilgisayar güvenliği konularını öğrenmeniz temelde imkansızdı. <em>Yeraltı</em>, Bruce Sterling'in <em>The Hacker Crackdown</em> kitabıyla ve Steven Levy'nin <em>Hackers</em> kitabıyla birlikte, bugün kaybedilmiş olan bu dünyaya ışık tutmaktadır.</p>
<p>Proje, dünyanın her yanından bizi kabul etmeye karar vermiş iyi insanlardan oluşan bir ağa ulaştı. Bu insanlar sadece hackerlar değildi, başkaları da vardı, salt tarihin hatırı için, iyi anlatılmış bir öykü istedikleri için ellerindekileri paylaşmaya istekli insanlar vardı. Eleştirmenlerin de <em>Yeraltı</em> kitabına nazik davranmış olmaları; umarım ki bu amaca ulaşabildiğindendir.</p>
<p>2001'de ilk e-kitap versiyonunu yayınladığımızda, sadece ilk iki yıl boyunca 400 bin kere indirildiğini görmek beni hayrete düşürmüştü. Hevesli ve nazik okuyucular, gönüllü olarak kitap metnini o zamanki bütün e-okuyuculara —yani toplamda 20'den fazla biçime— uyarladılar. Bunun sonucunda ilginç eposta alışverişleri yaşandı. Bir okuyucu bana kitabın 475 sayfasının hepsini Palm Pilot'uyla duş küvetinde okuduğunu söylemişti.</p>
<p>Bu ilk internet çağının hacker öykülerinin hepsinin kataloğunu çıkarmaktan ziyade, odaklanacağımız birkaç anahtar hacker öyküsünün hakkını vermek istiyorduk. Ben, hackerların yaşamlarındaki teknik yönlerin yanısıra, gösterişin arkasındaki insaniyete de ulaşmak istiyordum. En çok istediğimse siz okuyucuları hackerların zihnine sokmaktı. Bu kitaba dair bana ulaşan en güzel övgüler, içinde anlatılan iki hackerdan geldi. Anthrax 'Merhaba' demek üzere ofisime uğramıştı. Birdenbire bir şaşkınlık haliyle 'O bölümleri okuduğumda, öyle gerçekti ki, sanki doğrudan kafamın içindeymişsin gibi' dedi. Kısa bir süre sonra, Par, yarım dünya öteden, sesinde afallamış bir kuşkuyla, tam olarak aynı gözlemi yaptı.</p>
<p>Bir yazar için bundan iyisi düşünülemez herhalde.</p>
<p><em>Suelette Dreyfus, Melbourne 2011</em></p>
<p>[1] Sarah Ellison, 'Sırları döken adam', Vanity Fair, Şubat 2011. Bkz: http://www.vanityfair.com/contributors/sarah-ellison</p>
<p>[2] Viola Gienger ve Tony Capaccio, 'Clinton WikiLeaks Yayınını ABD Çabalarına bir "Saldırı" olarak Kınadı', Bloomberg Businessweek, 29 Kasım 2010. Bkz: http://www.businessweek.com/news/2010-11-29/clinton-condemns-wikileaks-release-as-attack-on-u-s-efforts.html</p>
<p>[3] Dylan Welch, 'Assange Clinton'u istifaya çağırdı', Sydney Morning Herald, 2 Aralık 2010. See: http://www.smh.com.au/technology/technology-news/assange-calls-on-clinton-to-quit-20101201-18gp3.html</p>
<p>Türkçesi: Işık Barış Fidaner</p>
<p><a href="http://netdefteri.alternatifbilisim.org/2014/09/yeraltina-bir-giris-julian-assange/">&gt;</a></p>
