---
layout: post
status: publish
published: true
title: praise of the internet
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
wordpress_id: 536
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=536
date: '2014-08-28 20:26:57 +0300'
date_gmt: '2014-08-28 18:26:57 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments:
- id: 1827
  author: internete övgü | Yeni Medya
  author_email: ''
  author_url: http://yenimedya.wordpress.com/2013/01/25/internete-ovgu/
  date: '2014-08-28 21:06:01 +0300'
  date_gmt: '2014-08-28 19:06:01 +0300'
  content: "[&#8230;] praise of the internet [&#8230;]"
---
<p>the individual has two eyes<br />
the internet has a thousand eyes<br />
the internet sees seven states<br />
the individual sees one city<br />
the individual has his hour<br />
but the internet has many hours<br />
a single man can be wiped out<br />
but the internet cannot be wiped out<br />
for it rests on the teaching of the classic writers<br />
which is created from acquaintance with reality<br />
and is destined to create it<br />
for the teaching will take hold of the masses</p>
<p>distorted from bertolt brecht by ışık barış fidaner</p>
<p>&gt;&gt;&gt; <a href="http://yenimedya.wordpress.com/2013/01/25/internete-ovgu/">internete övgü</a> &lt;&lt;&lt;</p>
