---
layout: post
status: publish
published: true
title: Internet'te Sanat Mümkün mü? - Ulus Baker
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "<em>Internet her şeyi olduğu gibi sanatı da kökten değiştirdi mi? Ya da
  bilgisayarlar çıkınca sanat öldü mü? Bunlar can alıcı sorular ve yanıtları da o
  kadar kolay bulunmuyor. Yine de biz, Sanat-Sanatçı, Bilgisayar, Internet kavramlarına
  bakalım dedik. Olur ya, sanatı yeniden keşfederiz.</em>\r\n\r\nUlus Baker\r\nPC!
  28\\ > 9/09/1997\r\n\r\nİnsanların, sanatçılar da dahil olmak üzere tarihin bazı
  dönemlerinde \"artık sanat mümkün mü?\" gibisinden sorular sordukları olur. Derken,
  bütün bu soruların bir \"sinirsel çöküşün\" etkilerinden ibaret olduğunu gösterecek
  şekilde sanat, Rönesans'ta olduğu gibi, Barok'ta olduğu gibi, modern sanat konusunda
  olduğu gibi yeniden o tuhaf parlayışlarından birini gerçekleştirmekte gecikmez.
  Sanatın \"olanaklılığına\" ilişkin soru sormak saçmadır -çünkü sanat her yerde ve
  her zaman yapılabilir. Sorun, neyin sanat adını almaya layık olduğunu, neyin olmadığını
  sormakla da yaratılamaz. Böylece Internet'te sanat mümkün mü? gibisinden bir soruya
  cevap vermenin bile pek bir anlamı kalmıyor.\r\n\r\n"
wordpress_id: 508
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=508
date: '2014-07-14 19:10:58 +0300'
date_gmt: '2014-07-14 17:10:58 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments:
- id: 1568
  author: Efe
  author_email: m@efeoge.com.tr
  author_url: http://efe.me
  date: '2014-07-16 00:03:44 +0300'
  date_gmt: '2014-07-15 22:03:44 +0300'
  content: Software Art tanimina bir goz atmakta da fayda var. Turkiye'de bununla
    ilgilenen Burak Arikan'in Mulksuzlestirme projesine bakabilirsiniz.
---
<p><em>Internet her şeyi olduğu gibi sanatı da kökten değiştirdi mi? Ya da bilgisayarlar çıkınca sanat öldü mü? Bunlar can alıcı sorular ve yanıtları da o kadar kolay bulunmuyor. Yine de biz, Sanat-Sanatçı, Bilgisayar, Internet kavramlarına bakalım dedik. Olur ya, sanatı yeniden keşfederiz.</em></p>
<p>Ulus Baker<br />
PC! 28\ > 9/09/1997</p>
<p>İnsanların, sanatçılar da dahil olmak üzere tarihin bazı dönemlerinde "artık sanat mümkün mü?" gibisinden sorular sordukları olur. Derken, bütün bu soruların bir "sinirsel çöküşün" etkilerinden ibaret olduğunu gösterecek şekilde sanat, Rönesans'ta olduğu gibi, Barok'ta olduğu gibi, modern sanat konusunda olduğu gibi yeniden o tuhaf parlayışlarından birini gerçekleştirmekte gecikmez. Sanatın "olanaklılığına" ilişkin soru sormak saçmadır -çünkü sanat her yerde ve her zaman yapılabilir. Sorun, neyin sanat adını almaya layık olduğunu, neyin olmadığını sormakla da yaratılamaz. Böylece Internet'te sanat mümkün mü? gibisinden bir soruya cevap vermenin bile pek bir anlamı kalmıyor.</p>
<p><a id="more"></a><a id="more-508"></a></p>
<p>Fransız yarı-gerçeküstücüsü Marcel Duchamps, 20'li yıllarda "hemen her yerde, hemen her şeyle" 'sanat'ın yapılabileceğini iddia ettiğinde sorumuza taa geçmişten bir cevap vermişti bile: "Ready-Made", yani gelişen dev sanayi toplumunun temel çıktısı olan her tür sıradan ürün (mesela bir pisuvar!) "hazırdan alınacak" ve isteyen "sanat alıcısının" burnunun dibine dikilecektir. O andan itibaren "kolaj", "bulunmuş nesneler", derlenip toparlanmış her şey, bir sanat eseri olarak organize edilebilir hale geldi. Bilindiği kadarıyla geçmişin Kübistleri de kolaj tekniklerini kullanma konusunda pek tedirgin hissetmemişlerdi kendilerini. Sorun yine de "dijital sanat" ile ilgili olarak ortaya atılabilir halde -bilgisayar teknolojileri resim üzerinde işlemleri, manipülasyonu alabildiğine kolaylaştırıyorlar (sözgelimi Photoshop ve Corel yazılımlarının inanılmaz başarısı bundan kaynaklanıyor). Tarayıcı ise "canlı imge"nin yeniden üretimi konusunda belki en büyük devrimi gerçekleştirmiş görünüyor. Kolajın, yani modern sanatın esas unsurlarından birinin alabildiğine kolaylaşması ise, insanlara, artık sanatın yeniden bir tanım değişikliği geçirmesinin gerekip gerekmediğini sordurmaya başladı bile.</p>
<p>Ancak sorgulamaların büyük bir çoğunluğu oldukça yüzeysel bir tabakada geçiyor: Bazı avantajlardan bahsedenler var -sözgelimi bilgisayar teknolojileri insanların "sanata katılımlarını" ve sanatsal eğitimi kolaylaştırıyorlar. Web müzeleri yaygınlaşıyor ve sanat eserlerinin "imajlarına" erişim olanakları alabildiğine genişliyor. Öte taraftan, bir insan emeği ürünü olarak sanatın "çok uzun ve sürüncemeli" bir yaratım sürecini gerektirdiği konusunda eski ve kolay kolay yerinden kımıldatılamaz bir değer yargısı var. Ancak bu düzeyde yürütülen bir tartışmanın sürdürülemeyeceğini, çünkü bir sonuca vardırılamayacağını düşünebiliriz.</p>
<p>Her şeyden önce kolaj tekniklerinin kullanımının modern sanatın şanından olduğu, Kübistlerden bu yana apaçık bir durumdur. İlk parlak çıkış dönemlerinde PopArt'ın bu tekniği giderek bir "çılgınlık" derecesine vardırdığı da doğrudur. Eserlerini neredeyse montaj sanayii teknikleriyle üretip duran Andy Warhol etrafında örülen "sanatçı kültü" her bakımdan PopArt'ın artık miadını doldurmaya başladığını pek erkenden işaretlemişti. Ancak bir sanat akımının ya da grubunun miadını doldurması, ne kullandıkları tekniklerin sona erdiği anlamına gelir, ne de sanatın kendisinin.</p>
<p>Bilgisayar teknolojilerinin sanata dokunduğu iki genel alanı ayırdetmeliyiz: Birincisi "dijital" ya da "fraktal" sanat diyebileceğimiz bir boyuttur. Unutulmamalı ki, bilgisayarlar yalnızca bulunmuş ya da taranmış resimlerle, metinlerle, ses ya da video kayıtlarıyla "kolajlamayı" kolaylaştırmakla kalmazlar. Aynı zamanda yalnızca bilgisayar aracılığıyla elde edilebilecek görüntü, hareket-animasyon ve seslerin de sanatsal amaçlı kullanılabileceğini de hatırlamak gerekir. Genel olarak "fraktal sanatlar" adı verilen bu alan içerisinde, en basitinden bir Paint Shop ya da Photoshop resminden oldukça karmaşık matematiksel fonksiyonlar aracılığıyla kurgulanan fraktal görüntü ya da seslere varıncaya kadar geniş bir olanaklar kümesinin varlığı söz konusu. Bu noktada sorulması gereken bir soru var: Bilgisayar kullanılarak, klasik anlamda resim ve ses duyularının sanatsal kullanımına başvuran görüntüler, animasyonlar ve müzik üretilebilir. Oysa doğrudan doğruya matematiksel fonksiyonlar aracılığıyla üretilenlerin, insan faaliyetinin icra edildiği biçim açısından bundan önemli bir farkı bulunmuyor.</p>
<p>Çoğu zaman "image processing" teknikleriyle görüntüler ekranda hiç görülmeden işlenebiliyorlar. Peki böyle bir şeyin "sanat" adını almaya layık olmadığını, bir tür karmaşık matematiksel denklemin işlenmesinden ve görselleşmesinden ibaret olduğunu söyleyebilir miyiz?</p>
<p>Bu soru, konuyu esas karmaşıklaştıran bir unsuru, insanın sanatsal yetilerinin ne olduğu sorusunu gündeme getiriyor. Bu yetilerin tarih ve coğrafya içinde değişmez olmadıklarını söyleyen antropologların sayısı oldukça fazla. Ayrıca tarihçiler de bizim "sanat" adını verdiğimiz modern kategorileri, sözgelimi bir Mısır piramidine ya da Yunan tapınağına uygulamamızın tam bir saçmalık olabileceği konusunda bizi uyarıyorlar. Ama esaslı meydan okuma hayvanbilimcilerden ve etnologlardan gelmektedir: Sabahın köründe bir dalın üzerine tüneyip, ağaç yapraklarını koparan ve yere düşen yaprakların güneşten solmuş taraflarını toprağın koyuluğuyla tezat oluşturacak şekilde yukarıya çeviren, ardından tam da bu dikkat çekici sahnenin üzerinde saatlerce ötüp durmaya başlayan şu "tiyatrocu kuş"a ne demeli? İnsanbiçimci bir yaklaşım ise, bunun hiç de sanat filan olmadığını, sanatsal algının ve üretimin insana ait olduğunu söylerken, bütün sanatı bir "yansıtma-taklit-öykünme" ilişkisinin dışavurumuna indirgemiyor mu? Tiyatrocu kuş örneği başka örneklerle de desteklenebilir: Bazı kuş türleri, herhangi bir yabancı kuş bilmem nasıl haritalandırdıkları bölgelerine girdiğinde, rakibinden "daha güzel" ötmeye çalışır, eğer rakibi "daha güzel" öterse, hiçbir şey demeden orasını terketmek zorundadır. "Güzel" gibi sanatsal bir sözcüğü kullanmamın nedeni, olup bitenler sırasında herhangi bir "üstünlüğü" oluşturacak başka hiçbir kıstasın bulunmayışından. "Doğa" bir bakıma sanata insandan önce başlamış gibidir; insan, sanata başlamak için oldukça "gecikmiş" görünüyor; üstelik insan toplumlarının ta modern çağlara gelene dek, sanat işlevini başka işlevlerden -ritüellerden, dinden, savaştan, sevişmeden filan- pek ayırdetmiş olmadığı da anlaşılıyor. Tam da bu nedenlerle, bilgisayarda sanatın pekala mümkün olduğunu söylemek acelecilik değildir: Ancak modern dünyanın başka bir özelliği işleri daha karışık kılmaktadır -sanatlar birbirleriyle hep "rekabet" etmek gibi garip ve sanatsal yaratıma dıştan eklenen kültürel bir olguyu hep beslemişlerdir. Modern resim, özellikle İzlenimcilik (Impressionisme) fotoğrafın meydan okuyuşuna bağlı olarak, ondan uzak olduğunu düşündüğü renk tekniklerini icat etmeye girişmişti. Bu sayede renkler ve ışık özgürleşti. Ancak fotoğraf da, başlangıçtaki "sanatsal" işlevini yine benzeri "meydan okuyuşlar" olmadan gerçekleştiremezdi -sözgelimi hareketli resimler, animasyon, son olarak da hareketli fotoğraf, yani sinema...</p>
<p>Peki dijital sanatlar neye ve kime meydan okumaktadırlar? Bu sanatların "kolaj" geleneğine bağlandıklarını söyledik. Ancak ona da indirgenemezler. Dijital sanatlar, daha çok "çok-yönlü-performans" adını verebileceğimiz bir alanı geliştirmeye aday görünüyorlar. Yani, görüntü-animasyon-film-ses-metin bileşimini kullanan "multimedia" tekniklerinin sanatsal kullanımından bahsediyorum. Multimedia yalnızca tekno-bilimsel bir mesele değil, aynı zamanda, sanat uğraşısı için estetik-sanatsal bir iç ilişkiler kompleksi de oluşturabilir. Benim görüşümce, sessiz sinema dönemi yönetmenlerinin sesli sinemaya karşı çıkışları gibi bir olgu günümüzde geçerli değildir. Eisenstein kadar büyük bir filmcinin "tutuculuğu" gibi görülmeye çalışılan şey, aslında bir "reddediş" değil, "sessiz sinema olanaklarının", o anda ve çok özgün bir zorunluluk altında bu yönetmen tarafından tercih edilişinden başka bir şey değildir. Çok geçmeden aynı yönetmenin ses unsurunu alabildiğine kullanan filmler yapmasını bir tür "yola geliş" diye yorumlamak ise tam bir düşünsel bönlük olurdu. Sanatçı hiçbir zamn "hah şimdi oturup güzel bir resim yapayım" demez.</p>
<p>Bu, Columbus'un "şimdi gelip Amerika'yı keşfedeyim bakalım," demesi gibidir. Ancak çözülmesi gereken acil bir sorun, bir zorunluluk, olmazsa olmaz bir şeyin üretilmesi kaçınılmaz hale geldiğinde sanat ürünü ortaya çıkabilecektir. Dijital performans birileri için "zorunlu" bir ifade aracıysa üretilenin "sanat" olmayacağını söyleyenlere bu yüzden ancak gülünebilir.</p>
<p>İkincisi, dijital çağda sanat eseri üretiminin "kolaylaştığını" ve ayağa düşebilceğini söylemek de tam bir safsatadır. Aksine, alt edilmesi gereken "zorlukların", gerekli bilgi ve uğraşı faaliyetinin sonsuzca artabileceği bile söylenebilir. Üstelik dijital sanatçı, eğer günün birinde başarılabilirse, modern kültürdeki şu standart "sanat", "bilim", ve "toplumsal yaşam" alanları arasındaki ayrımın sınırlarını da ziyaret ederek alt edebilir. İdeal durum elbette hem bilimci, hem düşünür, hem de sanatçı olarak Leonard Usta'nın imajı değil. Bir kere, o bizim anladığımız anlamda bir bilimci değil, bir "çok çok şey bilen"di; bir "düşünür" de değildi, çünkü Rönesans'ta ne Antik Yunan, ne Ortaçağ Skolastiğinin felsefeleri kalmıştı, öte taraftan Descartes ve Spinoza gibi "felsefeyi yeniden başlatanlar" henüz ufukta yoktular; son olarak Leonardo bir "sanatçı" değil, çağının en saygı gören "usta"larından biridir. Aynı şekilde dijital çağ, belki de bütün alanların farklı bir bölümlenmesini, hatta ters çevrilmesini getirecektir.</p>
<p>Multimedia'nın doğuşu, böyle bir sürecin yalnızca olanağıdır, kendisi değil. Üstelik tek olanak da değildir -özellikle "mini-mimariler" alanında ön plana çıkmaya başlayan "organik-elektronik" nanoteknolojiler daha şimdiden, enformatikten çok farklı türden unsurları işin içine katmaya başladılar bile. Daha genel olarak, benim görüşümce, teknolojiye yapılacak herhangi bir övgünün peşine düşmek de saçmalık olur -teknolojinin "tarafsız olduğu", iyi ya da kötü yönde kullanılabileceği doğrultusundaki safça bakış açısı da artık tutulabilir değildir.</p>
<p>Söylemek istediğim tek şey, karşımıza çıkarılan her şeyi, enformasyon otoyollarını, nanoteknolojileri, genetik mühendisliğinin yapıp edeceklerini olduğu gibi kabullenip hayıflanacağımız mı, yoksa "tek yönlü kabullere" karşı çoğul direnç odaklarını onların içine ve sınırlarına varıncaya kadar genişletmek zorunda mı olduğumuz sorusudur. Sanat ya da aynı türden başka bir insan faaliyeti, böyle bir direnci örgütlemenin şu anda bilinen ender yollarından biridir. Bu ise, sanata yeni bir politik misyon vermek, ya da sanatçıya akıl, etik, ahlak filan öğretmek gibi bir şey değildir: Daha çok, sanatsal faaliyetin genel olarak "insanların direnci" neviinden bir şey olduğunu, başka da bir şey olamayacağını söylemeye çalışıyorum. Zamana, içine kapatıldığı mekâna dayanıklı ve dirençli olmayan şeylere "sanat eseri" demediğimizi daha gündelik dil düzeyinde herkes algılayabilir. Eğer herhangi bir otantiklik varsa, bu, sanat eserinin "zamanla" kurduğu bir ilişkiden değil, aslında "zamansızlıkla" kurduğu bir ilişkiden kaynaklanabilir. Dijital sanatın bu türden araçlara sahip olamayacağını söylemek ise anlamsız olur. Sanat eserini "sanatsal" kılanın 'in actu' (yani faaliyet bakımından) insan emeği ürünü olması, 'in haec' ise (onu işte karşımızda kılan şey bakımından) "zaman-dışılığı" olması bizi nostaljik otantizm düşkünlüğüyle duygudaş olmaktan alabildiğine uzak tutuyor. Dijital sanat bakımından sorun, bazı kişilerin bilgisayar fobisi, eski daktilolarını sevmeleri gibisinden değildir. Bu fobi pekala anlaşılabilir (onaylamak ayrı şey); oysa sanat söz konusu olunca, dijital sanat diye bir şeyin -bir tür değil bir olanaklılık alanı oluşundan dolayı- sorun bir fobi olmayı bırakıp ciddileşir; ya malzemeyle özdeşleşen bir sanat anlayışı yeniden davet edilir, ya da 19. Yüzyıl modeli bir "sanat için sanat" teması geriye çağrılır. Sanatın dijital olması gerektiğini söylemiyoruz; dijital sanatın gerçekten sanat olduğunu, dijital teknolojilerin ise bunun "belirsiz", yani kullanılırsa varolabilecek olanaklarını sunduğunu söylemekten başka bir şey yapmıyoruz.</p>
<p>Her durumda, yeni ortaya çıkmakta olan bir şeyin tedirginlik verici, hatta nesnel olarak tehditkar unsurlar da taşımaması olanaksız. Bu tehdidin, çoğu insanın aradığı yerde bulunmadığını söylemek istiyorum. Fractal Paint programıyla boyanmış bir resme bakıp da "resim sanatı da bitti" yakınmasını dile getirenlerin göremediği şey, eğer "resim sanatı" diye bir şey varsa, onun zaten "malzemeye indirgenemeyeceğidir". Tehdit, yepyeni malzemelerin amansız bombardımanından daha kötü bir yerden gelmektedir ve bu tür hayıflanmalarla daha fazla oyalanmaya değmez: Esas tehdit, geç kapitalizmin yeni yapılarıyla ilişkin olarak ortaya çıkıyor. Bir zamanlar Walter Benjamin adlı bir Alman filozofu, sanat eserinin halesinin "mekanik yeniden üretim" süreçlerinde (yani çoğaltma) yitmeye yüz tuttuğunu söylerken, en "mekanik" sanat olan fotoğrafa övgüler yağdırmaya da vardırabiliyordu işi. Bugün farkına varabileceğimiz şeyin daha o zamandan ve kendi imgeler dünyasında farkındaydı çünkü -esas sorun sanatın eğer bir işlevi varsa onun ancak kullandığı temaları, malzemeyi, ruh hallerini, etiği, görüntüleri, formları ve içeriği "başkalarına kaptırmamak" olmasıdır. Dijital uygarlık kaçınılmaz bir şekilde etrafımızı saracak, Internet, mutlak bir anarşi kainatı olarak alemimizi saracak gibi görünüyor. Öyle ki, artık eski, arkaik formların nostaljisinden pek bir şey umabilecek halde olmayacağız pek yakında. Sanatın gerçek "işlevi", ona bir işlev vermek gibi düşünceler çoğu kişinin hoşuna gitmese de bir "söyleyiş biçimi" deyip geçelim -sözgelimi ressam Miquel Barcelo'nun günlüğüne yazdığı gibi, "domatesin kırmızılığını", "ekşimiş kavun kokusunu" Benetton'un "imajlar dünyasının" elinden söküp almak ve "kendiliğini" yeniden kazandırmaktan başka bir şey değildir. İşin bütün sırrı bazı duyguların ve sanatın hedeflediği arzuların yeniden üretilebilmesinde, imgelerin, seslerin, düşüncelerin ve duyguların kendilerini denetleyen, yönlendiren ve her an tecavüz eden düzeneklerin, denetimlerin ve sömürü araçlarının elinden koparılmalarında yatmaktadır. Bu durumun en iyi örneğini bize Rönesans resmi vermektedir: Ortaçağın ilahi temalarını, Tanrı babayı, melekleri, İsa ile Meryem'i kullanmayı sürdürür; ama bambaşka bir amaçla yapar bunu -insanların dünyası Ortaçağda o kadar daraltılmış bir haldedir ki, ilahi temaları kullanmasanız tek bir biçimi, tek bir rengi, tek bir duyumu özgür bırakamazsınız.</p>
<p>Pek çok nedenle, bugün henüz "daraltılmış" bir dünyada yaşamakta olduğumuzu düşünmeye eğilimliyim. Ve bu daraltma, gerçek anlamıyla teknolojiler tarafından gerçekleştirilmiş bulunuyor -televizyon ile genel salaklaşma halinin, bilgisayar ile bir tür otizmin, iletişim kolaylıklarıyla ise bir tür çılgınlığın özdeş hale geldikleri bir dünyanın ortaya çıktığı besbelli. Ama sorun, bütün bunlarla ne yapılacağıdır. "Reklamcılığın felsefesi"nden bahsedenler var; Japon modeli bir uluslararası korporatist şirketin bir "ruha" sahip olduğuna inanmamızı isteyenler var (özellikle orada çalışanlara marş filan söyletilirken); sorun bir sanatçının bir gazetede "sayfa düzenleyicisi" olarak ya da bir şirkette reklamcı olarak çalışmak zorunda kalışı değildir burada.</p>
<p>Daha çok "reklamcılığın" kendini sanatın son ve nihai biçimi olarak olumlamak isteyişi, Benetton'un "görüntü şefi" ve "sanat yönetmeni" gibi tuhaf unvanlara sahip adamı Oliveiro Toscagni gibilerinin yalnızca bir "sanat destekleyicisi", bir "sponsor" olarak değil, "konseptin sahipleri" gibi ortaya çıkmalarıdır. Bu tür durumlarla karşılaşıldığında "kıllanma" yeteneğimizin de dumura uğratılmış olduğu söylenebilir. Artık eskiden olduğu gibi "sınırlarla", "disiplinlerle", "zor" ya da "baskı" ile yönetilmemeye başladığımızda ferah bir özgürlüğün kapılarının açılacağını sanmak, çağdaş evrensel bönlüğün ta kendisidir. Bütün bunlarla başedebilecek ve mahvedebilecek bir bilgisayar virüsünün üretilip ortalığa salınması ise pek umut bağlanabilecek bir olasılık değildir.</p>
<p>Dolayısıyla, görüntüleri kurtaracak, sesleri reklam tınılarından arındıracak bir filtreleme mekanizmasının tez zamanda elektronik ortama gönderilmesi ve orada dolaşmaya bırakılması gerekiyor. Internet'teki "resmi" yasaklama girişimlerinin çoğu zaman nasıl sonuçsuz kalabildiğini görsek de, bu yasağa hedef olanların "gerçek" anlamda "sanal" güçlere sahip olabildiklerini düşünmek şimdilik imkansız.</p>
<p>Eksik olan yönler arasında en önemlisi "sanat" gibi görünüyor.</p>
<p>Benim görüşüm, dijital sanatın "henüz gerçekleşmediği" yolunda. Bütün araçlar hazır bulunuyor, üstelik isterseniz diyelim, "sanat icra ediliyor" orada, ama Klee'nin formülünü bir kez daha tekrarlarsak, "halkını bekleyen" bir sanat bu...</p>
