---
layout: post
status: publish
published: true
title: Yeni bir dünya için — McKenzie Wark derlemesi
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
wordpress_id: 607
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=607
date: '2014-11-02 15:28:47 +0200'
date_gmt: '2014-11-02 13:28:47 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p style="text-align: left;"><a href="http://www.sakareller.net/insan/baris/yeni-bir-dunya-icin.pdf"><img class="wp-image-2141 alignright" src="https://yersizseyler.files.wordpress.com/2014/11/wark-kapak.jpg" alt="wark-kapak" width="166" height="225" /></a>Kasım 2014</p>
<p style="text-align: left;">(<a href="http://www.sakareller.net/insan/baris/yeni-bir-dunya-icin.pdf" target="_blank">PDF</a> — <a href="http://www.sakareller.net/insan/baris/yeni-bir-dunya-icin-src.zip" target="_blank">LaTeX</a>)</p>
<p style="text-align: left;"><strong>İçindekiler</strong><br />
— Çevirenin önsözü<br />
— Toplumsal belirlenimciliğe karşı<br />
— Thanatisizm’in doğuşu<br />
— Bu halen kapitalizm midir?<br />
— Yeni bir dünya için tasarımlar</p>
<p style="text-align: left;">
