---
layout: post
status: publish
published: true
title: Yasalar üzerine — Bruno Latour
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
wordpress_id: 561
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=561
date: '2014-10-13 17:12:29 +0300'
date_gmt: '2014-10-13 15:12:29 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>Dijital Beşeriyet 2014 – Açılış Gecesi</p>
<p>(<a href="http://www.youtube.com/watch?feature=player_detailpage&amp;v=4L2zRoKS0IA#t=5120" target="_blank">1:25</a>)</p>
<p>Dinleyici:<br />
— Merhaba. Toplumsal çalışmaların üçüncü çağı olarak titreşimden bahsettiniz. Eğer bu salonda bir doğa bilimcisi varsa, muhtemeldir, titreşimden bahsedildiğinde, merkezi limit teoremi ve benzer şeyler aklına gelir. Büyük sayılar varsa yasalar bulunacağını düşünebiliriz. Yani acaba dijital beşeriyet topluluğu olarak şu fikir karşısında duraksamalı mıyız: bir olay disiplini olmaktan, (.?.) deyişiyle, yasa disiplini olmaya geçelim, ya da ikisini karıştıralım. Büyük sayıların yasaları var mıdır ve bunlarla ne yapmalıyız? Biz de kültürün fizikçileri mi olmalıyız yoksa ait olduğumuz yerde mi kalmalıyız? Tırnak işareti. Sorum budur.</p>
<p>Bruno Latour:<br />
— Bunu yanıtlayabilir miyim emin değilim, çünkü... Ben doğa bilimlerinin yasalarına da çok inanan birisi değilim. Bence bu, görüngülere yakın bir dikkat içine girmenin bir yolu, yani... Romanı, romana dair Moretti'nin argümanını alırsak, yasalara ulaşırsınız. Ama muazzam miktarda literatürün taranabilmesi çok daha ilginçtir. Bu yine yasa tespit etmek ve dijital beşeriyet alanını suni bir doğa bilimine dönüştürmek için midir? Bence tam tersi anlamdadır. Öbür yöne gider yani, büyük miktarda toplumsal-teknik pratiğin, birlikte kitap okuma işinin, karmaşık görüngülerin soruşturulması işinin donatılmasıdır. Doğa bilimleriyle arasındaki ilişkiyi bunlar oluşturur. Şu değil: "Hah! Sizde ne kadar yasa varsa biz beşeriyette de var". Aksine: "Biz de sizin gibiyiz, tartışmalı veri kümesi"—ne diyelim—"manzarasında yaşamaya alışın". Ve bence bu... Doğa bilimcilerle yaptığım işbirliğini düşünürsem, tabi ki bir yöne doğru gitmesi gerekir... Ama coğrafyacılarla konuşursunuz, onların da kendi ekrantoryası [scriptorium→screentorium] vardır... Yani yerel, küçük yasalarınız olabilir, ama gaye bu değildir, yani bence. Çünkü mesela... Dijital beşeriyet, pozitivist bilime dönüşmüş beşeriyet değildir; bizim de kendi ekrantoryamızla donatılmış olduğumuzu, farklı disiplinlerle fikir paylaşarak ortak tefsirler yapabileceğimizi olgularla öğrenmemizdir. Bütün mesele, —çoğu zaman tartışmalı olan— karmaşık verilerin yorumlanmasıdır. Yani tartışmalı veri manzarasında ortaklaşa keşif yapmaktır. Ve "veri/data"ya bence "sublata" denmeli, çünkü bu elde edilir, doneé değildir, pardon fransızcada... Buna doneé deriz, verili anlamında. Ve onlar elde edilir. Veri/data için bir sürü başka isim de var: kapta (fx: kapıyor), sublata (fx: çekiyor)... Ama veri/data denmemeli. Bu yüzden... O fikre girmeyeceğim, yani belki siz bu konuda çok daha fazlasını biliyorsunuzdur ama ben işbirliği yaparak roman yazmanın yasalarının bulunacağını düşünmüyorum. Ama bu kesinlikle roman yazmanın anlamını tamamen dönüştürür, beş roman yerine dört yüz roman olur. Ya da Venedik örneğinde, yani üzerinden geçebileceğiniz dokuz kilometrelik arşiviniz varsa eğer, Venedik'in tarihini yazmanın anlamını tamamen dönüştürür. Ama üzerinden geçtiğiniz şey esasen çok özgül, çok yerel bir öğedir. Ve toplumsal bilimleri tamamen dönüştüren şey budur. Ama bu, yasalarla ilgili değildir, titreşimle ilgilidir, tam olarak fransız sosyolojisinin kurucularından Gabriel Tarde'ın sözcüğe verdiği anlamda. Fransızcada bu sözcük var ama ingilizcede işlemiyor: réplique. Bu izler yoluyla çalıştığınız birçok şey réplique'tir. Replikalar değil réplique: artçı sarsıntı. Twitter bir réplique kümesidir. Okumak, yorumlamak, yorumbilimsel çember birer réplique kümesidir. İşte titreşimle bunu kastediyorum. Öyle roman yazmanın "yasalarını" bulmaya dönük, ya da şehirsel büyümeyi yorumlamanın yasalarını bulmaya dönük türde bir şey değil. Hatta yasalar hep biraz matrak oluyor.</p>
