---
layout: post
status: publish
published: true
title: İnternet ulusu? - Milton Müller
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "Milton Müller\r\n5 Eylül 2014, <a href=\"http://www.internetgovernance.org/2014/09/05/internet-nation/\"
  target=\"_blank\">internetgovernance.org</a>\r\n\r\n<a href=\"https://yersizseyler.files.wordpress.com/2014/09/milton.jpeg\"><img
  src=\"http://yersizseyler.files.wordpress.com/2014/09/milton.jpeg\" alt=\"milton\"
  width=\"500\" height=\"666\" class=\"alignnone size-full wp-image-1974\" /></a>\r\n\r\n9.
  İnternet Yönetişim Forumu'nun kapanış töreninde IGP'den Milton Müller'in yaptığı
  konuşma:\r\n\r\nEv sahibi ülkemize ve IGF Sekretaryamıza mükemmel tesisleri ve iyi
  örgütlenmiş faaliyetleri için teşekkür ediyorum. Ayrıca harekete geçirdikleri <a
  href=\"https://iuf.alternatifbilisim.org/\" target=\"_blank\">Ungovernance Forum</a>'daki
  cesaretleri ve bağlılıklarından dolayı Türkiye'den alternatif bilişim aktivistlerine
  de buradan seslenmek istiyorum.\r\n\r\n"
wordpress_id: 541
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=541
date: '2014-09-11 13:47:49 +0300'
date_gmt: '2014-09-11 11:47:49 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>Milton Müller<br />
5 Eylül 2014, <a href="http://www.internetgovernance.org/2014/09/05/internet-nation/" target="_blank">internetgovernance.org</a></p>
<p><a href="https://yersizseyler.files.wordpress.com/2014/09/milton.jpeg"><img src="http://yersizseyler.files.wordpress.com/2014/09/milton.jpeg" alt="milton" width="500" height="666" class="alignnone size-full wp-image-1974" /></a></p>
<p>9. İnternet Yönetişim Forumu'nun kapanış töreninde IGP'den Milton Müller'in yaptığı konuşma:</p>
<p>Ev sahibi ülkemize ve IGF Sekretaryamıza mükemmel tesisleri ve iyi örgütlenmiş faaliyetleri için teşekkür ediyorum. Ayrıca harekete geçirdikleri <a href="https://iuf.alternatifbilisim.org/" target="_blank">Ungovernance Forum</a>'daki cesaretleri ve bağlılıklarından dolayı Türkiye'den alternatif bilişim aktivistlerine de buradan seslenmek istiyorum.</p>
<p><a id="more"></a><a id="more-541"></a></p>
<p>Geçtiğimiz dört güne bakarsak, İnternet yönetişiminde ortaya çıkan sorun ve meseleler üzerine yoğun bir diyalog yaşadık. Yeni bir tür politik topluluk inşa ettiğimizi, hatta belki yeni devrimci yönetişim biçimlerine öncülük ettiğimizi hissetmek heyecan veriyor. Bu kapanış konuşmasında, bu fikri önceden ele alındığından biraz daha öteye taşımak istiyorum.</p>
<p>Şu anda, iyi ya da kötü, "Çoklu-kazıktutarlık" ya da "çoklukazıktutarlı model" etiketini bu sisteme iliştirdik – ve bu etiket tutundu. Ama ne berbat bir etiket. Ne kadar çirkin bir terim. Kurtuluş ve eşitlik için yürüyen insanlar görebiliyorum. Halk egemenliği için, insan hakları için yaşamlarını ortaya koyduklarını görebiliyorum. Çoklu-kazıktutarlık mı? Gerçekten mi?</p>
<p>Bu yalnızca sözcüklerle ilgili değil. Etiketin bizi gerçekten yanlış yönlendirdiğini, politik tartışmayı yanlış bir çerçeveye aldığını düşünüyorum. Küresel İnternet yönetişim tartışması, hiç de aynı odada çok sayıda kazıktutar toplayıp politikalar üzerine mütalaa ve müzakere etmekle ilgili bir şey değil, çünkü (demokratik) hükümetlerin ve hükümetlerarası örgütlerin eski sistemi de bunu başarmaya çalıştı, başka bir yolla olsa da. Anahtar farklılık şurada: çoklu-kazıktutarlık ulus-aşırı devlet-olmayan oyuncuları hükümetlerle aynı statüye yükseltmekte. Bu da devletin yüce otorite ve egemenlik iddiasına radikal bir meydan okuyuştur.</p>
<p>O zaman belki John Perry Barlow’un <a href="https://projects.eff.org/~barlow/Declaration-Final.html" target="_blank">Siberuzay Bağımsızlık Bildirisi</a> tekrar okunmayı hak etmektedir.</p>
<p>Barlow'un internetin varolan hükümetlerin denetimlerine bağışıklık taşıdığı fikri itibarını kaybetti. Ama hatırlayın, Barlow'un yazdığı bir bağımsızlık bildirisi taslağıydı. Böyle bir bildiri hiç de varolan ulusların hiçbir güce sahip olmadığı anlamına gelmez; siberuzay sakinlerinin kendilerine ait ayrı bir ulus istedikleri anlamına gelir.</p>
<p>Bu iddiaya gülebilirsiniz. İnternet ulusu mu? Ne demek bu? Şüphesiz herkes bilir ki uluslar teritoryaldir ve İnternet servis sağlayıcıların fiziksel tesisleri şu veya bu hükümetin yönetimindeki yetki alanlarında bulunur. Yetki alanları ve yasalar İnternet kullanıcılarını da bağlar. Ne var ki bu argümanlar sandığımızdan çok daha az ağırlık taşımakta. </p>
<p>İnternet topluluğu dediğimiz kavramda öyle aşırı çılgınca ya da ihtilaflı bir şey bulunmuyor. Açıktır ki İnternet, kendi ilgi alanları olan, kendi kimliğini oluşturan, kendine ait normları ve beraber yaşantı şekilleri olan topluluklar için temel sağlamaktadır. Ve topluluktan ulusa giden yalnızca küçük bir adımdır. Bir ulus, kendi devletini isteyen bir topluluktan ibarettir. Yani varolan egemenlerin mevcut durumda kendi hükümlerini empoze etme gücüne sahip olup olmamaları önem taşımaz aslında. Önemli olan bu İnternet topluluğunun kendi politik bağımsızlığını ortaya koymak ve kazanmak için örgütlenip örgütlenemeyeceğidir.</p>
<p>Amerika'daki sömürgeler bağımsızlıklarını ilan ettiklerinde varolan egemenler onlar üzerinde hakimiyet sahibiydiler; Asya, Latin Amerika ve Afrika bağımsızlıklarının öncesinde yabancı güçler tarafından parçalara ayrılmıştı. Politik özerklik hareketlerinin hepsinin, önceden varolan şu veya bu egemenlik biçimini yerinden etmesi gerekmişti. Her ulus bir icattır, imgelenen bir topluluktur.</p>
<p>Şu anda ihtiyaç duyduğumuz, bir internet ulusal kurtuluş hareketidir.</p>
<p>Ama bir internet ulusu nasıl işleyebilir? Diğer devletler karşısındaki egemenliğini nasıl öne sürebilir? Bu çetin soruları burada tam olarak yanıtlamak mümkün değil. Fakat daha şimdiden bu alandaki öncülerin buldukları bazı anahtar teknikler var. Bunlardan biri teknolojinin ve içerik akışlarının küreselleştirilmesidir. Bir diğeri çekirdek teknik koordinasyon işlevlerinin hükümetlerin elinden uzak tutulmasıdır. Bir diğeri, Wikileaks ve Edward Snowden'in tarzında, veriler ve istihbaratlar üzerinde ulusal hükümetlerin keyfini sürdükleri hususi ayrıcalıkları radikal olarak boşa çıkarmaktır. Hatta Bitcoin, dijital teknoloji yoluyla küresel ve devletsiz bir paraya sahip olabileceğimizi bile göstermiştir bize.</p>
<p>Teritoryal hükümetleri yok etmek istemiyoruz. Kendi teritoryal bölgelerinde önemli ve işe yarar şeyler yapıyorlar. Ne var ki onlar küresel İnternet yönetişimi yapmak için yanlış politik birimlerdir. Bunun için yeni bir politik topluluğa ihtiyacımız var ve umuyorum ki burada inşa ettiğimiz şey de budur.</p>
<p>Türkçesi: Işık Barış Fidaner</p>
