---
layout: post
status: publish
published: true
title: 'Richard Stallman: ''Apple tarihin en sıkı dijital kelepçelerine sahip'''
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "<strong>Hazel Healy </strong>özgür yazılımın ahlaki pusulası ile Anonymous,
  lisanslama ve dijital özgürlükler üzerine konuştu (5 Aralık 2012).\r\n<blockquote>Tüm
  zamanların en büyük hackerlarından Richard Stallman özgür yazılım hareketi için
  bir nevi gezgin peygamber.\r\n\r\nKullanıma, paylaşıma ve değiştirmeye açık bilgisayar
  programlamasındaki muazzam yiğitliklerinin sonucu olan ilk 'copyleft lisansı'nı
  icat etti -ve copyright ile başı belaya girmeden.\r\n\r\nStallman şimdi dünyayı
  gezerek yazılımın kamusal bilgi sayılması gerektiği savını yayıyor ve dünyanın artan
  dijitalliğinde sivil özgürlüklerin girdiği tehditler konusunda uyarıyor.</blockquote>\r\n[caption
  id=\"attachment_462\" align=\"alignnone\" width=\"300\"]<a href=\"/images/content/stall1.jpg\"><img
  class=\"size-medium wp-image-462\" alt=\"stall1\" src=\"/images/content/stall1-300x186.jpg\"
  width=\"300\" height=\"186\" /></a> Richard Stallman her zamanki netbook'unun başında,
  Londra'da bir Bitcoin konferansı, Eylül 2012.[/caption]\r\n\r\n"
wordpress_id: 461
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=461
date: '2014-02-01 03:21:31 +0200'
date_gmt: '2014-02-01 01:21:31 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p><strong>Hazel Healy </strong>özgür yazılımın ahlaki pusulası ile Anonymous, lisanslama ve dijital özgürlükler üzerine konuştu (5 Aralık 2012).</p>
<blockquote><p>Tüm zamanların en büyük hackerlarından Richard Stallman özgür yazılım hareketi için bir nevi gezgin peygamber.</p>
<p>Kullanıma, paylaşıma ve değiştirmeye açık bilgisayar programlamasındaki muazzam yiğitliklerinin sonucu olan ilk 'copyleft lisansı'nı icat etti -ve copyright ile başı belaya girmeden.</p>
<p>Stallman şimdi dünyayı gezerek yazılımın kamusal bilgi sayılması gerektiği savını yayıyor ve dünyanın artan dijitalliğinde sivil özgürlüklerin girdiği tehditler konusunda uyarıyor.</p></blockquote>
<p>[caption id="attachment_462" align="alignnone" width="300"]<a href="/images/content/stall1.jpg"><img class="size-medium wp-image-462" alt="stall1" src="/images/content/stall1-300x186.jpg" width="300" height="186" /></a> Richard Stallman her zamanki netbook'unun başında, Londra'da bir Bitcoin konferansı, Eylül 2012.[/caption]</p>
<p><a id="more"></a><a id="more-461"></a><strong>-- GNU işletim sistemi üzerine çalışmaya başladığından beri yaklaşık 30 yıl olmuş. Sonradan GNU/Linux, özgür ve açık kaynaklı yazılım işbirliğinin öncü örneklerinden biri oldu. Ama Apple ve Microsoft hala ağır basmakta. Nasıl hissediyorsun, özgür yazılım hareketi sence nasıl gidiyor?</strong></p>
<p>Özgür yazılım hareketi büyük ölçüde ilerledi ama hususi kullanıcı-zaptedici yazılım da büyük ölçüde yayıldı. Bence özgür yazılım hareketi gitmesi gereken mesafenin yarısını tamamladı denebilir. Kitlesel bir topluluk oluşturmayı başardık ama bilgisayar kullanıcılarını özgürleştirmek için daha hala uzun bir yol var.</p>
<p>Bu şirketler çok güçlü. Kullanıcılar üzerinde denetimi ele geçirmek için zekice yeni yollar buluyorlar. Bugünlerde hususi yazılım [kaynak kodu gizli ve telif hakkı sahibinin münhasır yasal hakkı altında lisanslanmış yazılım] kullanan insanlar neredeyse kesin olarak kötücül yazılım kullanıyorlar. En yaygın olarak kullanılan özgür-olmayan programlar kötücül özelliklere sahip - ve bunlar belirli, bilinen kötücül özellikler.</p>
<p><strong>-- Bu kötücül özelliklerden bahseder misin?</strong></p>
<p>Üç cinsi var: kullanıcıyı casus gibi gözetleyenler, kullanıcıyı kısıtlayanlar ve arka kapılar. Windows'da bunların üçü de var. Microsoft izin istemeden yazılım değişiklikleri kurabiliyor. Flash oynatıcısında da kötücül özellikler var, çoğu cep telefonunda da var.</p>
<blockquote><p>'Protesto yapılış biçimindeki her değişiklik hükümetlerin onları suçlulaştırması için bir fırsat yaratıyor.'</p></blockquote>
<p>Dijital kelepçe en yaygın kötücül özellik. Kendi bilgisayarınızdaki verilerle ne yapabileceğinizi kısıtlıyor. Apple kesinlikle tarihteki en sıkı dijital kelepçelere sahip. i(ay)-şeyler, işte iki casus özellik bulundu sonra Apple onları çıkardığını söyledi ama belki dahası da var.</p>
<p>İnsanlar bu meseleyi bilmedikleri zaman doğrudan sadece elverişliliğe dayalı seçim yapıyorlar. Ve dolayısıyla elverişli özellikler, kurumsal baskılar ve ağ etkisinin bir birleşimi ile kendi özgürlüklerinden vazgeçirilebilir, yani 'güdülebilir' oluyorlar. İşte bu yüzden şimdi özgür yazılım felsefesine ve mücadele ettiğimiz özgürlük meselesine dair farkındalığı yaymaya odaklanıyorum. Çünkü eğer biraz cesaretin varsa ve sebep olunan hasarı tanıyabilirsen direnebilirsin.</p>
<p><strong>-- Anonymous hacktivistlerinin internet özgürlüklerini savunan eylemleri hakkında ne düşünüyorsun?</strong></p>
<p>Birincil etkinlikleri insanların bir web sitesine bir sürü talep gönderdiği bir ağ protestosundan oluşuyor. Bu da ofislerinin önündeki sokakta bir protesto yapmanın virtüel eşdeğeri.</p>
<p>Bu yalnızca demokrasi. Ne var ki, esasen bankacılar ve diğer büyük şirketlere çalışan hükümetlerin her türlü popüler siyasi etkinliği suçlulaştırmaya çalıştığı bir devirde yaşıyoruz. Protestoları cezalandırmak için zekice yollar arıyorlar, saatlerce onları kuşatma altında tutmak gibi. Bu yüzden protesto yapılış biçimindeki her değişiklik suçlulaştırma için bir fırsat yaratıyor. Eğer insanlar önceden sokakta şimdiyse ağda protesto yapıyorlarsa, ağda yapılan protestoyu yasaklayıp saldırı yapılıyor diyebilirler doğrusu.</p>
<p><strong>-- İnternet özel yaşamı öldürdü mü?</strong></p>
<p>Çoğu insanın internette aşırı derecede aptalca şeyler yapıyor olduğu doğru. Facebook kullanmayı reddedebilirsin gerçi - kullanmamalısın. Arkadaşlarıma Facebook'ta benim gözetimime yardım edecek herhangi bir şey yapmayın diyorum. Ben kullanmıyorum. Özgür Yazılım Vakfı da kullanmıyor.</p>
<p>Tabi Facebook tek değil. İnternet üzerinde insanlar üzerinde gözetim yapan çeşitli firmalar var. Benim hakkımda fazla bir şey bulabileceklerini zannetmiyorum. İnternete yalnızca kimliğimi açık etmeyecek yollarla bağlanıyorum -bazen arkadaşların evinde bazen kafeteryalarda. Postamı SSH [Secure Shell - Güvenli Kabuk] ile aktarıyorum, o da şifreli [encrypted].</p>
<p>Ama çoğu insan kendini internet üzerinde gözetime bütünüyle açık bırakıyor. Hele ki insanlar arkadaşlarını Facebook kullanmaya ittikleri zaman tepem atıyor.</p>
<p><strong>-- Kendini siber casusluktan özgür yazılımla koruyabilir misin?</strong></p>
<p>[caption id="attachment_463" align="aligncenter" width="300"]<a href="/images/content/stall2.jpg"><img class="size-medium wp-image-463 " alt="stall2" src="/images/content/stall2-300x212.jpg" width="300" height="212" /></a> Richard Stallman New York'ta mesajı yayıyor. mecredis, CC lisansı altında.[/caption]</p>
<p>İlk adım olarak gerekli. Hususi bir program sana programın sahibi karşısında sıfır güvenlik sağlar. Kullanıcılar tamamen savunmasızdır ve sahipler sıklıkla kullanıcıları süpürge olarak kullanırlar çünkü özgür-olmayan her program kendi sahibine adil olmayan güçler verir.</p>
<p>İnsanlar Windows'un güvenliğinin kötü olduğunun farkındalar ama sorunu hafife alıyorlar çünkü akıllarında üçüncü taraflar var. Ya Microsoft karşısındaki güvenlik ne olacak? Özgür-olmayan her program 'bana güven yeter' programıdır. 'Bana güven, büyük şirketiz. Büyük şirketler kimseye kötü davranmaz, davranır mıyız?' Tabi ki davranırlar! Her zaman kötü davranıyorlar, bu davranışları ile meşhur olmuşlar. Yani temelde özgür-olmayan bir programa güvenmemelisin.</p>
<p><strong>-- Özgür yazılımın kaynak kodu herkesin görebileceği şekilde açık olduğu için güvensiz olduğunda ısrar edenlere ne dersin?</strong></p>
<p>Hatalı. İyi, özgür programlar daha güvenlidir, üçüncü taraflar karşısında bile -ticari hususi rekabetten daha iyidirler. Onlarınsa tek istediği, şirket profesyonelse bir şeyleri iyi yapar diye önyargı taşımandır. Buna inanmak üzere eğitildik. Bu her zaman doğru değildir.</p>
<p><strong>-- Eşten-eşe dosya paylaşımı hakkında nasıl hissediyorsun?</strong></p>
<p>Paylaşmak iyidir. Ve paylaşmak yasal olmalıdır. Paylaşmak derken çok dar bir şey kastediyorum -bir çalışmanın birebir kopyasının ticari olmayan dağıtımı. Kılgısal olmayan tüm çalışmalar için bu geçerli: belgesel -ki tanıklıktır-, görüş bildirileri, sanat ve eğlence çalışmaları. Topluma farklı bir yolla katkı yapmak içindirler ve bunlar üzerinde denetim kurmak önemli değildir, bu yüzden bunlar için [müsamahakar] Creative Commons [Yaratıcı Müşterek] lisansları uygundur.</p>
<p>Fakat kılgısal çalışmaların hepsinde [yazılım, tasarım, eğitimsel işler, yazıtipleri, tarifler] kullanıcılar o işin kendileri için ne yapacağı üzerinde eksiksiz ve bütünsel denetim sahibi olmalıdır.</p>
<blockquote><p>'ABD ve Britanya'da kitlesel kamusal protestolar esasen ezildiler. İnternette de kitlesel protesto istemiyorlar.'</p></blockquote>
<p>Özgür olmak dört elzem özgürlüğe sahip olmak demektir: çalışmayı istediğin gibi kullanma özgürlüğü, istersen çalışmada değişiklik yaparak kendi istediğin şekilde çalışmasını sağlama özgürlüğü, kopyalarını dağıtma özgürlüğü (ticari olarak bile) ve son olarak dördüncü özgürlük: değiştirilmiş versiyonlar üretmek.</p>
<p>Yayınlanmış bütün çalışmaların özgür olması gerektiğine inanmıyorum. Kılgısal işler için kullanılabilecek yayınlanmış çalışmaların özgür olması gerektiğine inanıyorum.</p>
<p><strong>-- Web sitende ödeme duvarları açmış olan gazetelerin bir listesini derledin. Bunlar hakkında nasıl hissediyorsun?</strong></p>
<p>Onlara karşıyım, ama ödeme nedeniyle değil. Her ödeme duvarı bir kimlik saptama duvarıdır ve bu da bana uymaz. E-ticaret yapmam. Anonim olarak ödeme yapmayı sorun etmezdim -belki <a href="http://bitcoin.org/" target="_blank">Bitcoin</a> bir çözümdür- ama kredi kartı gibi kimliğimi saptayacak yollarla bir şeyler satın almam. Bir derginin basılı kopyası için ödeme yapmayı dert etmem ama nakit olarak öderim. Fakat internet üzerinde nakit ödeme yapmanın bir yolu yok.</p>
<p><strong>-- Özgür yazılım çalışmalarının özgürlüklerin genel savunusuna karşı daha geniş bir kavganın parçası olduğunu söyledin...</strong></p>
<p>Evet. Başladığımda [1983'te] bunu bu bağlamda görmüyordum ama mega şirketlerin imparatorluğu esas olarak 1990'lardan beri gelişmiş bir şey. Ve sözde özgür ülkelerde devletin insan hakları ve demokrasiye dönük saldırıları o zamandan beri çok çok arttı. ABD ve Britanya'da kitlesel kamusal protestolar esasen ezildiler. İnternette de kitlesel protesto istemiyorlar. İtaat istiyorlar. Zenginleri temsil ediyor ve yoksulları zaptediyorlar. Bunlar meşru hükümetler değiller.</p>
<p><strong>-- Okurlarımıza başka ne söylemek istersin?</strong></p>
<p>Gözetimle mücadele etmek için örgütlenmeye ihtiyacımız var. Özellikle de burada, gözetim devletinin öncülüğünü yapmış ve bugün daha da kötüye çekmeye çalışan Britanya'da. Bugün insanları suç şüphesine dayalı olarak hapse atabiliyorlar -mahkemeye verip şüpheli olmaktan suçlu buluyorlar. Ve bu gelip geçici bir şey değil.</p>
<p>Yine bugünlerde özel olarak ABD işkencecilerini mahkemelerden koruyacak gizli mahkemeler öneriyorlar. Sonra tek-yönlü suçluların iadesi anlaşması bariz bir adaletsizlik ve yırtılıp atılması lazım. ABD hükümeti karşısında tek taraflı bir teslim olma beyanı ki insan hakları ile ilgisi alakası yok. Yırt at!</p>
<p>(Kaynak: <a href="http://newint.org/features/web-exclusive/2012/12/05/richard-stallman-interview/#sthash.CDNp7k7K.dpuf" target="_blank">Yeni Enternasyonalist Dergi</a>)</p>
