---
layout: post
status: publish
published: true
title: 'Analitik Motor üzerine Çevirmenin Notları: Not A.1 — Ada Lovelace'
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "<em>Lovelace Kontesi Ada Augusta\r\nBibliothèque Universelle de Genève 82,
  Ekim 1892, <a href=\"http://www.fourmilab.ch/babbage/sketch.html\" target=\"_blank\">fourmilab.ch</a></em>\r\n\r\n[caption
  id=\"attachment_2104\" align=\"alignnone\" width=\"500\"]<a href=\"https://yersizseyler.files.wordpress.com/2014/10/analitical_engine_general_v.jpg\"><img
  class=\"size-full wp-image-2104\" src=\"https://yersizseyler.files.wordpress.com/2014/10/analitical_engine_general_v.jpg\"
  alt=\"Charles Babbage'ın icat ettiği Analitik Motorun şeması\" width=\"500\" height=\"279\"
  /></a> Charles Babbage'ın icat ettiği Analitik Motorun şeması[/caption]\r\n\r\nFark
  Motoru, <em>Δ<sup>^7</sup> u<sub>_x</sub> = 0</em> fonksiyonunun entegralini tablolamak
  için inşa edilmiştir. Bu motor, denizcilik ve gökbilimi tablolarının hesaplanması
  gereksinimi için özel olarak tasarlanmış ve uyarlanmıştır.\r\n\r\n"
wordpress_id: 583
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=583
date: '2014-10-22 04:23:39 +0300'
date_gmt: '2014-10-22 02:23:39 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments:
- id: 2281
  author: 'Analitik Motor üzerine Çevirmenin Notları: Not A.2 — Ada Lovelace | netdefteri'
  author_email: ''
  author_url: http://netdefteri.alternatifbilisim.org/2014/11/analitik-motor-uzerine-cevirmenin-notlari-not-a-2-ada-lovelace/
  date: '2014-11-04 18:02:21 +0200'
  date_gmt: '2014-11-04 16:02:21 +0200'
  content: "[&#8230;] (Not A.1) [&#8230;]"
---
<p><em>Lovelace Kontesi Ada Augusta<br />
Bibliothèque Universelle de Genève 82, Ekim 1892, <a href="http://www.fourmilab.ch/babbage/sketch.html" target="_blank">fourmilab.ch</a></em></p>
<p>[caption id="attachment_2104" align="alignnone" width="500"]<a href="https://yersizseyler.files.wordpress.com/2014/10/analitical_engine_general_v.jpg"><img class="size-full wp-image-2104" src="https://yersizseyler.files.wordpress.com/2014/10/analitical_engine_general_v.jpg" alt="Charles Babbage'ın icat ettiği Analitik Motorun şeması" width="500" height="279" /></a> Charles Babbage'ın icat ettiği Analitik Motorun şeması[/caption]</p>
<p>Fark Motoru, <em>Δ<sup>^7</sup> u<sub>_x</sub> = 0</em> fonksiyonunun entegralini tablolamak için inşa edilmiştir. Bu motor, denizcilik ve gökbilimi tablolarının hesaplanması gereksinimi için özel olarak tasarlanmış ve uyarlanmıştır.</p>
<p><a id="more"></a><a id="more-583"></a></p>
<p><em>Δ<sup>^7</sup> u<sub>_x</sub> = 0</em> fonksiyonunun entegrali şudur:</p>
<p style="text-align:center;"><em>u<sub>_z</sub></em> = <em>a</em>+<em>bx</em>+<em>cx</em><sup>^2</sup>+<em>dx</em><sup>^3</sup>+<em>ex</em><sup>^4</sup>+<em>fx</em><sup>^5</sup>+<em>gx</em><sup>^6</sup>.</p>
<p>a, b, c, vb. sabitler, motoru oluşturan yedi disk sütunuyla temsil edilir. Dolayısıyla bu motor, genel terimi yukardaki formülle kapsanan bütün serileri <em>isabetle </em>ve <em>sınırsız ölçekte </em>tablolayabilir; Farklar Yöntemiyle tablolanabilen diğer bütün serileri ise, <em>büyük ya da küçük aralıklar </em>içinde <em>yaklaşık olarak </em>tablolayabilir.</p>
<p>Analitik Motor ise aksine, salt belirli bir fonksiyonun sonuçlarını <em>tablolamak </em>(ve başka hiçbir fonksiyonunkileri tablolamamak) için değil, olabilecek herhangi bir fonksiyonun <em>geliştirilmesi ve tablolanması </em>için uyarlanmıştır. Aslında bu motor, herhangi bir genellik ve karmaşıklık derecesinde, herhangi sonsuz bir fonksiyonun maddi ifadesi olarak tarif edilebilir, örneğin,</p>
<p style="text-align:center;">F(<em>x</em>, <em>y</em>, <em>z</em>, log <em>x</em>, sin <em>y</em>, <em>x<sup> ^p</sup></em>, &amp;c.)</p>
<p>görülecektir ki bu, herhangi sayıda niceliğin imkanlı diğer tüm fonksiyonlarının bir fonksiyonudur.</p>
<p>Motor burada, <em>nötr/tarafsız </em>ya da <em>sıfır </em>durumu diyebileceğimiz hal içinde, mekanizmanın bir kısmını oluşturan (ve Jacquard dokuma tezgahında kullanılan kartların ilkesine göre uygulanan) kartlar aracılığıyla, geliştirmeyi ya da tablolamayı arzu edeceğimiz herhangi bir <em>özel </em>fonksiyona ait izleri herhangi bir anda alımlamaya hazırdır. Bu kartlar kendi içlerinde (bizzat Makalede açıklandığı tarzda) söz konusu olabilecek belirli bir fonksiyonun gelişim yasasını içerirler, ve mekanizmanın da buna karşılık gelen belirli sıraya uygun davranmasını icap ederler. En basit durumlardan birisi olarak, örneğin,</p>
<p style="text-align:center;">F(<em>x</em>, <em>y</em>, <em>z</em>, &amp;c. &amp;c.)</p>
<p>fonksiyonunun <em>Δ<sup>^n</sup> u<sub>_z</sub> = 0</em> olduğu varsayılırsa, Fark Motoru bu fonksiyonu <em>n</em>'nin yalnızca 7'ye kadarki değerleri için tablolayacaktır. Bu durumda kartların mekanizmanın izlemesini emredeceği işlemler dizisi şunu tablolayacaktır:</p>
<p style="text-align:center;"><em>u<sub>_z</sub></em> = <em>a</em> + <em>bx</em> + <em>cx</em><sup>^2</sup> + ··· + <em>mx</em><sup>^(n−1)</sup></p>
<p>Burada <em>n</em> herhangi bir sayı olabilir.</p>
<p>Öte yandan bu kartların belirli <em>sayısal </em>verilerin düzenlenmesiyle hiçbir ilgisi yoktur. Onlar yalnızca yapılacak <em>işlemleri</em>* belirlerler, ki bu işlemlerin uygulanabileceği belirli sayısal değerler elbette sonsuz çeşitlilikte olabilirler, ve eğer mekanizma hattındaki gerekli kısımlara soruna ait sayısal verilerin izleri bırakılmadıysa herhangi bir tanımlı sayısal sonuç getirmezler. Yukarıdaki örnekte, cebirsel bir sonuca yönelik ilk elzem adım, <em>n</em>'nin ve fonksiyona giren diğer ilkel niceliklerin yerine özgül sayıların geçirilmesidir.</p>
<p>Yine, F için, <em>x</em> ile <em>y</em> arasına dördüncü dereceden iki tam denklem koyduğumuzu varsayalım. Bu durumda denklemlerimizdeki ayıklama yasasını kartlar üzerinde ifade etmemiz gerekir. Motor bu yasaları yerine getirecek, ve nihayetinde böyle bir ayıklamanın sonuçlayacağı tek değişkenin denklemini verecektir. Ayıklamanın çeşitli <em>şekilleri </em>seçilebilir; ve elbette kartlar buna uygun olarak düzenlenmelidir. Benimsenebilecek ayıklama şekillerinden birini ele alalım. Motor şu biçimdeki herhangi iki fonksiyonun çarpımını yapabilir:</p>
<p style="text-align:center;"><em>a</em> + <em>bx</em> + <em>cx</em><sup>^2</sup> + ··· + <em>px</em><sup>^n</sup>.</p>
<p>Bu verildiğinde, iki denklem <em>y</em>'nin kuvvetlerine göre düzenlenebilir, <em>y</em>'nin kuvvetlerinin katsayıları da <em>x</em>'in kuvvetlerine göre düzenlenebilir. Bunun gibi birçok fonksiyonun birbirini izleyen çarpımları ve çıkarılmaları sonucunda <em>y</em> ayıklanmış olacaktır. Burada ve diğer bütün hallerde, yukarıda açıklanmış olduğu gibi, <em>sayısal </em>veriler ve <em>sayısal </em>sonuçlar, <em>işlemleri </em>düzenleyen araçlardan oldukça bağımsızca davranan bu mekanizma ve kısımlarının aracılığıyla belirlenmektedir.</p>
<p>Analitik Motorun eylemi üzerine çalıştığımızda şunu buluruz: matematiksel analiz açısından tamamen <em>işlemlere </em>ait olan değerlendirmelerin özgün ve bağımsız doğası, <em>işlemlerin uygulandığı nesneler </em>ve bunlara uygulanan işlemlerin <em>sonuçları </em>karşısında, çok çarpıcı derecede ayrık ve tanımlıdır.</p>
<p>Bu noktaya dikkat çekmek iyi olacaktır; hem Analitik Motorun güçleri ve eylem şekline dair yeterli ve adil herhangi bir genel kavrayışa ulaşılmasında bu noktanın eksiksiz değerlendirilmesinin elzem oluşundan dolayı, hem de genel olarak matematiksel bilimin çalışılmasında bunun çok az görünür kılınan bir nokta olmasından dolayı. Öte yandan bu değerlendirmenin diğer değerlendirmelerle karıştırılması imkansızdır, hem bu motorun sonuçlara ulaşma tarzının izlenmesi halinde, hem de bu sonuçlara ulaşılması için verilerin hazırlanması halinde. <em>İşlemlerle </em>bağlantılı akıl yürütmelerin, eşyanın zarureti gereği, matematiksel süreçler cansız mekanizmanın ortamı yerine insan beyni üzerinden geçtiğinde de, aynı şekilde —bilimin temel olsa da henüz bağımsız olmayan bir malzemesi olan— analiz konusunun açık ve iyi-tanımlı bir dalı olarak, aynı adil yeri tutmaları çok arzu edilir bir şeydir, ki motor üzerinde çalışarak bunun sağlanması gerekmektedir. Matematiğin negatif ve imkansız niceliklerin değerlendirilmesini içeren dallarına, özellikle bu hususta isabetli ayrımlar yapma isteği neticesinde, yakın döneme kadar bile ayakbağı olmuş olan kargaşa, zorluk ve çelişkiler, bu bilimde deneyimi olan her okuyucunun aklına gelecektir, ve bu da, bu noktanın böylesine ele alınmasının, Analitik Motorun bilhassa ikna edici örneğinin bağlantısı içinde bu meselenin ele alınmasının gerekçesi olmaya tek başına yetecektir. Açıklanması arzu ediliyor olabilir: <em>işlem </em>sözcüğüyle <em>iki ya da daha fazla şeyin müşterek ilişkisini başkalaştıran herhangi bir süreci </em>kastetmekteyiz, bu ilişki ne türde olursa olsun. Bu en genel tanımlamadır ve evrendeki bütün konuları içerecektir. Soyut matematikteki işlemler, elbette sayı ve uzay değerlendirmelerine dahil olan belirli ilişkileri başkalaştıracaktır, işlemlerin <em>sonuçları</em> ise işlem konularının doğasına karşılık gelen özgül sonuçlardır. Matematikten daha özel olarak türetilen işlemler bilimi ise kendi başına bir bilimdir ve bizzat kendi soyut hakikatine ve değerine sahiptir; aynı mantığın, mantığa ait akıl yürütme ve süreçlerin, uygulanabilecekleri konulardan bağımsız, kendine özgü hakikate ve değere sahip olması gibi. Yukarıdaki konuya dair bazı daha modern görüşlere aşina olanların bileceği gibi, birkaç temel ilişki hakiki olduğunda, belirli başka ilişki bileşimleri (ilksel ilişkilerden yapılan çıkarımlar yeterince sürdürüldüğünde çeşitlilik ve ölçek olarak sonsuz bileşimler) ister istemez bu ilişkileri izleyecektir. Bilindiği gibi, işlemler biliminin ayrık doğasının az hissedilmesinin ve genelde az ele alınmasının ana nedenlerinden biri de, matematiksel gösterimde kullanılan simgelerin birçoğunun geçirdiği anlam <em>kaymasıdır</em>. Birincisi, bir <em>işleme </em>ait simgeler, çoğu durumda <em>aynı zamanda </em>işlemlerin <em>sonuçlarına </em>da ait simgelerdir. Diyebiliriz ki bu simgeler hem <em>geriye dönük </em>hem de <em>ileriye dönük </em> olarak simgeleme eğilimindedir. Bunlar halihazırda uygulanmış bir dizi sürecin neticelediği ilişkileri simgeleyebilecekleri gibi, belirli süreçler üzerinden henüz gerçekleştirilmemiş ilişkileri de simgeleyebilirler. İkincisi, rakamlar, <em>sayısal genliklere </em>ait simgeler, çoğu durumda <em>aynı zamanda işlemlere </em>de ait simgelerdir, alınacak kuvvetleri belirttikleri durumlar gibi. Terimlerin anlam kayması geçirdiği her yerde, bağımsız değerlendirme kümeleri bir araya geldiklerinde karmaşıklaşma eğilimi gösterirler, akıl yürütmeler ve sonuçlar sık sık yanlışlanır. Analitik Motoru ele alırsak, yukarıdaki birinci başlık altında gelen işlemler, kendilerine özgü bir gösterim ve mekanizma hattı aracılığıyla sıralanır ve bileştirilirler; ikinci başlıkta ise, <em>nicelikten </em>ziyade <em>işlem </em>anlamına gelen (mesela kuvvet belirten) sayılar herhangi bir sütun ya da sütun kümesine yazıldığında, o sütunlar tamamen ayrı ve bağımsız bir tarzda davranırlar, sadece <em>işleyiş mekanizmasıyla </em>bağlantılanır ve bu mekanizmaya karşılık verirler. Diğer sütunlardaki <em>nicelik </em>anlamına gelen sayılarla hiçbir zaman bileşime girmezler; gerçi elbette, eğer <em>n</em> sütuna uygulanan <em>işlemler </em>anlamına gelen sayılar varsa bunlar <em>birbirleri arasında bileşebilirler </em>ve sık sık bunu yapmaları gerekecektir, aynı <em>nicelik </em>anlamındaki sayıların çeşitli bileşimlerinde olduğu gibi. <em>İşlem </em>anlamındaki sayıların, sayısal <em>niceliklerin </em>motorda sunulduğu kısımdan ayrı bir kısımda gözükmesinin sağlanması ayarlanabilirdi; fakat motorun mevcut şekli bazı durumlar için daha basittir ve gerçekten anlaşılması koşuluyla aynı ölçüde bir açık seçikliği sağlar.</p>
<p>İşleyiş mekanizması işlem yapılacak herhangi bir nesneden bağımsız olarak da eyleme geçirilebilir (gerçi elbette bu durumda hiçbir <em>sonuç </em>elde edilmez). Ve eğer müşterek temel ilişkileri soyut işlemler bilimininkiler ile ifade edilebilen nesneler bulunabilirse, motorun işleyiş gösterimine ve mekanizmasına uyarlanmaya müsait nesneler bulunabilirse, motorun <em>sayı </em>olmayan şeyler üzerine uygulanması da mümkündür. Örneğin armoni ve müzikal besteleme bilimindeki ses perdelerinin temel ilişkilerinin böyle bir ifade ve uyarlamaya müsait olduğu varsayılırsa, bu motor tarafından, herhangi bir ölçü ya da karmaşıklık derecesinde detaylı ve bilimsel müzik parçaları bestelenebilir.</p>
<p>Analitik Motor <em>işlemler biliminin bir bedenlenişidir</em>, ve bu işlemlerin konu aldığı soyut sayılara özgü olarak inşa edilmiştir. Fark Motoru <em>belirli ve çok sınırlı bir işlemler kümesinin </em>bedenlenişidir, ve bu işlemler (bkz. Not B'de kullanılan gösterim) şöyle ifade edilebilir (+, +, +, +, +, +), ya da şöyle, 6(+). Tek bir + işleminin altı tekrarı, aslında bu motorun bütün özeti ve nesnesidir. Yedi sütunu olan bu motorda herhangi bir sütundaki bir sayı, kendisini bir <em>sağındaki </em>sütundaki bir sayıya ekleyebilir. Böylece en soldaki sütundan başlayarak, altı toplama gerçekleştirilebilir, ve sonuç sağ tarafın en sonundaki yedinci sütunda gözükür. Bu motorun <em>işleyiş </em>mekanizması Analitik Motorunkinden ayrı ve bağımsız bir tarzda davranır; fakat tek bir değişmez ve kısıtlı bileşime müsait oluşu nedeniyle, <em>işlemler biliminin </em>özgün doğasına dair pek kuvvetli ya da ilginç bir örnek değildir. Analitik Motoru bu bakış açısı altında ele almanın önemi, M. Menabrea'nın açık ve ustaca yazılmış makalesi okunduğunda bizce daha da net olacaktır. İşlemler kalkülüsü de benzer olarak kendi içinde o kadar ilginç bir konudur ve son yıllarda önceki yıllara göre üzerine o kadar çok yazılmış ve düşünülmüştür ki, bu motorun bileşim şekli dolayısıyla matematiksel bilimin bu dalının aydınlatılmasında oynayabileceği rol gözden kaçırılmamalıdır. Bu motorun mucidi icat üzerine çalışırken aklında böyle görüşler var mıydı yok muydu, ya da bunu izleyen aşamada bunu hiç hesaba katmış mıdır katmamış mıdır bilmiyoruz; ama bu, mekanizmanın analitik bileşimlere eriştiği yollara dair aşinalığımızın bize dayattığı bir görüştür. Motorun kendine ait <em>işlemleri </em>sıralama ve bileştirmesindeki bağımsız tarzıyla büyük ölçüde kolaylaşmış olmasını bekleyeceğimiz pratik bir sonucu da önermeden edemeyeceğiz: kastettiğimiz, <em>sanal niceliklerin </em>girdiği bileşimlerin elde edilmesidir. İşlem süreçlerinin bu dalını soruşturma fırsatımız olmadı, ve dolayısıyla hipotezimiz, böyle sonuçların başarısının dayandırılabileceğini tasarladığımız ilke bakımından, çok muhtemeldir ki olguyla uyumlu değildir, ve bazı başka ilkelere göre amaca daha az yararı vardır, ya da en azından başkalarının işbirliğini gerektirmektedir. Yine de bize açık görünüyor ki, işlemlerin davranış şekliyle bu kadar bağımsız olduğu bir yerde, birkaç basit provizyon ve mekanizmanın düzenlenişine yapılacak eklemeler aracılığıyla <em>iki </em>tür <em>sonuç </em>kümesi edinilmesinin kolay olması gerekir: 1'incisi, <em>sayısal veriler </em>üzerinde uygulanan işlemlerin sonuçları olan <em>sayısal genlikler </em>(Bu sonuçlar motorun <em>birincil </em>nesnesidir). 2'ncisi, bu sayısal sonuçlara iliştirilmiş olacak <em>simgesel sonuçlar</em>, ki veriler sayısal olduğunda nasıl ki uygulanan işlemlerden sayısal sonuçlar elde edilmesi bunun gerekli ve mantıksal neticesiyse, <em>simgesel veriler </em>üzerinde uygulanan işlemlerden simgesel sonuçlar elde edilmesinde de aynısı geçerlidir.**</p>
<p>[caption id="attachment_2105" align="alignnone" width="500"]<a href="https://yersizseyler.files.wordpress.com/2014/10/babbage.jpg"><img src="https://yersizseyler.files.wordpress.com/2014/10/babbage.jpg" alt="Fark Motoru" width="500" height="375" class="size-full wp-image-2105" /></a> Fark Motoru[/caption]</p>
<p>Eğer Fark Motoru ve Analitik Motorun inşa ilkelerini ve güçlerini birbiriyle karşılaştırırsak, ikincisinin yeteneklerinin birinciye göre ölçülemez derecede daha geniş olduğunu ve aslında bu ikisinin birbiriyle analiz ve aritmetik arasındaki gibi bir ilişki içinde olduklarını algılarız. Fark Motoru yalnızca tek bir belirli işlem dizisini gerçekleştirebilir, yani <em>Δ<sup>^n </sup>u<sub>_z</sub> = 0</em> özel fonksiyonunun entegralinin tablolanması için gereken işlem dizisini; ve bunu yalnızca <em>n</em>'nin 7'ye kadar olan değerleri için yapabildiğinden,*** bütün genellik derecelerinden her imkanlı fonksiyonun ifadesi olması bir yana, <em>tek bir belirli </em>fonksiyonun bile en <em>genel </em>ifadesi olarak görülemez. Fark Motoru gerçekte (kısmen açıklanmış olduğu gibi) <em>toplama </em>dışında bir şey yapamaz; ve diğer herhangi bir sürecin bu motor tarafından uygulanması, basit çıkarma, çarpma, bölme de dahil olmak üzere, ancak bu sürecin akılcı matematiksel düzenleme hüneriyle <em>bir toplamalar dizisine </em>indirgenebildiği durumlarda mümkün olur. Farklar yöntemi aslında bir toplamalar yöntemidir; ve diğer herhangi bir matematiksel ilkeden ziyade salt <em>toplama </em>yoluyla erişebildiği sonuçlar çok daha fazla olduğundan, <em>bir Toplama Makinesinin </em>inşa edileceği temel olarak seçilmiş olması, böyle bir makineye mümkün olan en geniş menzilde güç verilmesi bakımından çok uygun olmuştur. Buna karşılık Analitik Motor ise, eşit bir beceriyle toplayabilir, çıkarabilir, çarpabilir ya da bölebilir; ve bu dört işlemin her birini, diğer üçünden herhangi birinin yardımı olmadan, dolaysız bir tarzda uygular. Bu olgu tek başına her şeyi kapsar; dolayısıyla belirtmek gereksizdir ki, örneğin, <em>geliştirme </em>becerisi olmayan Fark Motoru sadece <em>tablolama </em>yapabilirken, Analitik Motor <em>hem tablolama hem de geliştirme </em>yapabilir.</p>
<p>Motorlardan birincisi doğası gereği tam anlamıyla <em>aritmetiktir </em>ve ulaşabileceği sonuçlar çok açıkça tanımlı ve kısıtlı bir menzilin içinde bulunur, öte yandan Analitik Motorun güçlerini sınırlayan sonlu bir ayrım çizgisi bulunmamaktadır. Bu motorun güçleri bizzat analiz yasalarına dair bilgimizle eş kapsamlıdır, ve yalnızca bu bilgiye olan aşinalığımızla sınırlandırılırlar. Aslında, bu motoru analizin <em>maddi ve mekanik temsilcisi </em>olarak görebiliriz, ve insan çalışmasının bu bölümündeki gerçek işlevsel güçlerimiz, cebirsel ve sayısal simgelerin <em>idari manipülasyonunda </em>motorun bize sağladığı tam denetim yoluyla, bu ilke ve yasalara dair kuramsal bilgimize ayak uydurabilmemizi şimdiye dek olduğundan daha etkili olarak sağlayacaktır.</p>
<p>(<a href="http://netdefteri.alternatifbilisim.org/2014/11/analitik-motor-uzerine-cevirmenin-notlari-not-a-2-ada-lovelace/">Not A.2</a>)</p>
<p>* : Jacquard kartlarının <em>sadece </em>cebirsel <em>işlemleri </em>düzenlemeye yaradığını ima etmek istemiyoruz; açıklamak istediğimiz, bu <em>işlemleri düzenleyen </em>kartların ve mekanizma kısımlarının diğer amaçlarda kullanılan kart ve mekanizma kısımlarından tamamen bağımsız olduğudur. M. Menabrea'nın açıkladığı gibi üç ayrık nesne kümesi için motorda kullanılan <em>üç </em>kart sınıfı vardır: İşlemlerin Kartları, Değişkenlerin Kartları, ve belirli Sayıların Kartları.</p>
<p>** : Aslında burada kastettiğimiz gibi bir genişletme, <em>artı </em>ve <em>eksi </em>işaretlerinin doğru bileşimlerinin yapılması için sunulacak herhangi bir sistemin daha ileri ve mükemmel bir gelişimini oluşturabilir ancak. M. Menabrea'nın bu kısıtlı duruma nasıl beceriyle değindiğine Not B'de işaret edilmektedir.</p>
<p>*** : Makine <em>n</em>'nin yediden daha yüksek bir değerinin tablolanması için de inşa edilmiş olabilirdi. Ne var ki, <em>n</em>'ye eklenecek olan her birim, mekanizmanın gereksinimlerinin ölçeğini yükselteceğinden, bu hususta pratik olarak ötesine geçilemeyecek bir sınır bulunacaktır. Bütün olağan tabloların hesaplanması için yedi yeterince yüksektir.</p>
<p>Analitik Motorda, ister <em>n=7, n=100,000</em>, ya da <em>n=</em>herhangi bir sayı olsun, <em>Δ<sup>^n</sup> u<sub>_z</sub> = 0</em> fonksiyonunun çözümü için aynı mekanizma ölçeğinin yeterli oluşu, ilk elde ortaya koyar ki, uygulamalarıyla maddeyi bu iki motordaki soyut zihinsel işlemlerin işlevsel failine dönüştürmüş olan <em>iki ilkenin doğasının </em>birbirinden bütünüyle ayrık olması gerekir, ve eşit açıklıkla kabul etmek gerekir ki, Analitik Motorda, hem bu ilkeler kendi içlerinde daha yüksek ve daha kapsamlı bir tarife erişirler, hem de böylece temelini oluşturdukları motorun <em>pratik </em>değerini muazzam ölçüde genişletirler.</p>
<p>Türkçesi: Işık Barış Fidaner</p>
