---
layout: post
status: publish
published: true
title: Yeni Bir Dünya İçin Tasarımlar — McKenzie Wark
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "McKenzie Wark\r\n10/2014, <a href=\"http://www.e-flux.com/journal/designs-for-a-new-world/\"
  target=\"_blank\">e-flux.com</a>\r\n\r\nBugünlerde \"sanat\" türündeki şeylerin
  yer aldığı uzanım daha da uzarsa muhtemelen kopacak. Bir uçta sanat, parayı kökenli
  bir \"nesne\" olarak tekilleştirmeye dayalı bir tür finansal enstrümana dönmekte.
  Bu, herhangi bir tür —kavramsal, imgesel— nesne olabilir, mühim olan tek şey, kimin
  bunu kimden satın aldığını bildiren bir belgenin varlığıdır. Özellikle resimlerin
  böyle enstrümanlar olarak iyi iş gördüğünü unutmayalım, özellikle de potansiyel
  alıcının iPhone'una gönderilen .jpeg'de iyi gözüküyorlarsa. \"Sanat dünyası\" diyebileceğimiz
  şey, işte bu finansal yan pazardır. Sıkıntının dağıtılması, sanat-fuarı turizminin
  teşvik edilmesi ve günümüzün rantçı sınıfına konuşma konusu ve ev dekorasyonu sağlamak
  gibi yan etkileri de vardır. Artrank.com sanat dünyasının bu versiyonunun en kusursuz
  örneğidir.\r\n\r\n"
wordpress_id: 563
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=563
date: '2014-10-13 17:12:56 +0300'
date_gmt: '2014-10-13 15:12:56 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>McKenzie Wark<br />
10/2014, <a href="http://www.e-flux.com/journal/designs-for-a-new-world/" target="_blank">e-flux.com</a></p>
<p>Bugünlerde "sanat" türündeki şeylerin yer aldığı uzanım daha da uzarsa muhtemelen kopacak. Bir uçta sanat, parayı kökenli bir "nesne" olarak tekilleştirmeye dayalı bir tür finansal enstrümana dönmekte. Bu, herhangi bir tür —kavramsal, imgesel— nesne olabilir, mühim olan tek şey, kimin bunu kimden satın aldığını bildiren bir belgenin varlığıdır. Özellikle resimlerin böyle enstrümanlar olarak iyi iş gördüğünü unutmayalım, özellikle de potansiyel alıcının iPhone'una gönderilen .jpeg'de iyi gözüküyorlarsa. "Sanat dünyası" diyebileceğimiz şey, işte bu finansal yan pazardır. Sıkıntının dağıtılması, sanat-fuarı turizminin teşvik edilmesi ve günümüzün rantçı sınıfına konuşma konusu ve ev dekorasyonu sağlamak gibi yan etkileri de vardır. Artrank.com sanat dünyasının bu versiyonunun en kusursuz örneğidir.</p>
<p><a id="more"></a><a id="more-563"></a></p>
<p>Sanat uzanımının öbür ucunda, sanat dünyasının cephe gerisi için gereksinim duyduğu üretim mekanlarında — başka şeyler yapmak için bulunmak vardır. Bu, genelde bu mekanlarda günlük yaşam pratikleri üzerine deneyler yapılması biçimini alır. Bunun negatif, eleştirel bir işlevi olabilir ya da onaylayıcı, inşa edici bir işlevi olabilir. Kimi eski moda sanat kuramcıları sanatın negatif rolünde ısrar ederler, sanki yüksek modernizmin o endüstriyel solvent kokusuna hasretmişler gibi. Fakat dans bitmiştir. Muhtemelen onaylayıcı, inşa edici yana odaklanmaya başlamanın zamanıdır, Chris Kraus'un kısa ama aydınlatıcı metni <em>Kayıp Özelmülkler</em>'de yaptığı gibi. Tasarım bileşeni bir kenara atılamaz. Sanat-tarihsel geçmişe yeni baştan bakmaya başlanmasından itibaren, esasen ana mesele budur. "Güzel sanatlar" tarihsel bir çıkmazdı, artık pek ilginç değildir. Avangartlar gerçekten "yaşamı değiştir!"meyi hedeflemişlerdi — ve değiştirdiler.</p>
<p>[caption id="attachment_2034" align="alignnone" width="353"]<a href="https://yersizseyler.files.wordpress.com/2014/10/wark1.jpg"><img src="https://yersizseyler.files.wordpress.com/2014/10/wark1.jpg" alt="Asger Jorn, Fraternité avant tout, 1962. Yağlıboya tablo. Silkeborg Kunstmuseum. Fotoğraf: Lars Bay; Teğlifak: Donation Jorn, Silkeborg/VBK, Wien 2006." width="353" height="500" class="size-full wp-image-2034" /></a> Asger Jorn, <em>Fraternité avant tout</em>, 1962. Yağlıboya tablo. Silkeborg Kunstmuseum. Fotoğraf: Lars Bay; Teğlifak: Donation Jorn, Silkeborg/VBK, Wien 2006.[/caption]</p>
<p>Asger Jorn'a göre sanatçının rolü biçimler önericiliğidir. O, güzel sanatları geçici bir sapma olarak görmüştü, özellikle de modernist cisimlenişinde. Kapitalizm, üretimi iki ayrı muhite bölmüştür: biçim üretimi ve içerik üretimi. Emek, içerik üretimine, önceden-verili biçimlerin doldurulmasına indirgenmektedir. Sanatçılar başka bir sınıfa aittirler, biçim yapıcılar sınıfına, simgesel biçimin, ritüel biçimin, toplumsal biçimin vb. yapıcıları sınıfına aittirler. Sanat, tasarımın bir altkümesidir. Ama sanat, marjinalleşmiş bir tür tasarımdır. O halde strateji, ilk olarak sanatın tasarım olma rolünün öne sürülmesi, ikinci olarak üretimde biçim ve içerik ayrımının aşılmasıdır.</p>
<p>Jorn'un bu üretime dair imgesi, biçim ve içerik arasındaki ayrımın sınıra taşınması olarak, tenekedeki çorbaydı. Tenekeyi dolduran içeriğin ne olduğu önemli değildir, içerik tutkaldan ibarettir. Jorn bu konuda yazdığı zamanlarda, Warhol henüz yeni biçimler yapmaya çalıştığı yoldan çıkmamış, biçimin içerikten tamamen ayrılma halini temsil etmeye başlamamıştı. "Çağdaş sanat"ın sanat dünyası versiyonları, deneyci ve biçim önericisi olmanın zorlukları karşısındaki bu geri çekilmeden kaynaklanır. Warhol'un getirdiği şey finansal enstrüman olarak sanattır, konteyner/kapsayıcılık işlevi haricindeki şeylerden tamamen ayrılmış bir sanattır.</p>
<p>O halde sanatçılar hangi sınıfa aittirler? Yıllar önce hacker sınıfı dediğim sınıfa aittirler. Hacker figürü, önerdiğim zamankinden daha tehlikeli bir konuma gelmiş olabilir, ama bunun tek anlamı bu terimin önemli bir meseleye işaret etmiş olduğudur. Sanatçılar eski olandan yeni olanı yapan, biçimleri dönüştüren sınıfa aittirler. Bu yalnızca sanatçıları değil bilimcileri ve mühendisleri de içerir. Çabaları "fikirsel özelmülk" biçiminde ele geçirilen ve böyle eşdeğer kılınan herkesin sınıfıdır bu. Bu sınıf, "sanallığı" ne olursa olsun, kendilerinin yapmadıkları koşullarda çalışmak zorundadırlar yine.</p>
<p>Elbette emek yine mevcuttur. Dünyanın çoğu yine proleterleştirilmektedir. Ama bu, giderek daha detaylıca tasarlanan biçimler dahilinde içerik üreten bir emektir. Emek hem teknik hem estetik boyutları olan biçimler içinde ele geçirilmektedir, ve hacker sınıfı, "sanatçılar" ve kesinlikle tasarımcılar da dahil olmak üzere, emeği ele geçirecek bu biçimleri yapmak zorundadırlar. Bu biçimler zaman zaman yine çorba konservelerine benzerler, ama bazen de iPad'lere benzerler. iPad'i, Campbell'in çorba konservesinin gıda tutkalı yerine beyin tutkalı konan hali olarak düşünebilirsiniz. Beyninizin dijitalleştirilmiş bulamaca indirgenmiş halidir bu.</p>
<p>[caption id="attachment_2035" align="alignnone" width="500"]<a href="https://yersizseyler.files.wordpress.com/2014/10/wark2.jpg"><img src="https://yersizseyler.files.wordpress.com/2014/10/wark2.jpg" alt="Andrew Norman Wilson, Googleplex&#039;ten Çıkan İşçiler, 2011. Sanatçının kendi güzelliği. Daha bilgi için görülecek →" width="500" height="280" class="size-full wp-image-2035" /></a> Andrew Norman Wilson, <em>Googleplex'ten Çıkan İşçiler</em>, 2011. Sanatçının kendi güzelliği. Daha bilgi için görülecek <a href="https://vimeo.com/15852288" target="_blank">→</a>[/caption]</p>
<p>O halde düşünülecek mesele, iki tabi sınıf —işçi ve hacker— arasında ittifaklar veya çatışmalar olup olamayacağıdır. San Fransisco'da Google otobüslerini aksatma denemeleri aslında bu iki durumun da örneğidir. Bir yandan, işçiler hacker'lara karşı otobüsü taşlamışlardır. Öte yandan, mesele daha karmaşıktır. Otobüs protestocuları Google'da çalışan bazı insanlardan bilgi almışlardı. Kod tasarlayan her insan Ayn Rand'a tapan bir "brogrammer" değildir.</p>
<p>Bizzat Google da hacker-işçi ittifakı tehlikesinin farkındadır, Andrew Norman Wilson'ın <em>Googleplex'ten Çıkan İşçiler</em>'inde başarıyla yakaladığı gibi. Çalışanların, farklı ayrıcalık dereceleri sağlayan farklı renkte kimlikler verilerek yoğun olarak katmanlandırılmaları, başka şeylerin yanısıra, bu gibi ittifaklara dair belli bir tedirginliğin göstergesidir. Wilson, Google işçilerini —bütün gün kitap tarayan, otobüse ve ücretsiz öğle yemeğine alınmayan insanları— görüntülediğinde derhal işten kovulmuştu ve çektiği görüntüye el konulmuştu.</p>
<p>Belki şu an uğraştığımız şey artık aslında kapitalizm değildir — çok daha kötü bir şeydir. Google gibi şirketlerin işlettiği şey artakalan enformasyondur, artakalan emek gücü değildir. Gayesi, enformasyon bakışımsızlığına mecbur eden bir altyapı inşa etmek, böyle bir altyapı sahibi olmaktır. Burada kullanıcının elde ettiği enformasyon ne olursa olsun, karşılığında çok, çok daha fazla hasat toplanır. Artık bu enformasyonun iş kaynaklı olması bile önemli değildir. Günlük yaşamdan da çıkarılabilir. Google'ın uç örnek olduğu da düşünülmesin: Fortune 500 şirketlerine göz atarsanız, bugün çoğunun, kısmen ya da tamamen, enformasyon işletmecileri olduğunu görürsünüz. En büyükleri Walmart bile böyledir. Bu gibi mega mağazalar, finansal ve lojistik bir veri sisteminin fiziksel tezahürlerinden ibarettir. Para ve enformasyonun manzara üzerinde katılaşmış halidirler. Sanat dünyasındaki sanatsal işlere bu bakımdan oldukça benzerler.</p>
<p>Bizzat hakim sınıf biçim değiştirmiştir. Sanat dünyasının biçim değiştirmiş olmasının nedeni kısmen budur. Sanatın yeni türde bir efendisi vardır. Bu efendi yapılışlardan çok daha ziyade artakalan enformasyonun biçilmesiyle ilgilenir. Gayesi, enformasyon akışlarının metalaştırılmasıdır. Dolayısıyla bu efendi, enformasyonun akmasına eskiden beri aracılık eden şeyleri, ailedeki, topluluktaki, okullardaki bütün hediye mübadelelerini baltalar. Kapitalistlerin fiziki üretimde yaptıkları neyse, yeni hakim sınıfın enformasyon üretiminde yaptığı odur. Ben bu yeni efendilere vektörelist sınıf diyorum. Hakimiyetlerini enformasyon vektörlerinin sahipliği ve denetimi yoluyla, hisseleri, akışları ve tasarımı yoluyla kurarlar.</p>
<p>"Sanatın maddesizleşmesi", kapitalizmin (daha bile soyutlanmış) bu başka şeye dönüşmesiyle türdeştir. Kavramsal sanat, kavramsal işletmenin yükselişinin bir yan etkisidir. Ama olmuş olan şey, bir maddesizleşmeden ziyade, enformasyon ve onun maddi biçimi arasındaki ilişkideki bir kaymadır. Vuku bulmuş olan, enformasyonun herhangi bir belirli maddi ifadeden soyutlanmasıdır, genel olarak maddiyattan soyutlanması değildir.</p>
<p>Bu arada, Hardt ve Negri'nin popülerleştirdiği belli kategorilerden sürekli kaçınmam bu yüzdendi. "Maddi olmayan emek" bir saçmalıktan ibarettir. Kavram-olmayan bir şeydir. Hacker sınıfının yaptığı, ne geleneksel anlamdaki emektir, ne de "maddi olmayan" bir şeydir. Şu an içinde yaşamak zorunda olduğumuz enformasyon-soyutlayıcı altyapıdan daha maddi bir şey olamaz. Ne de emek artık daha işbirlikçi veya daha ortaklaşa olmuştur. Aksine, hacker sınıfının tasarlamak zorunda olduğu şey, bunun tam karşıtıdır: enformasyon mübadelesinin metalaştırılmış, bireyselleştirilmiş biçimleridir. Yani Hardt ve Negri'nin Aziz Paul üzerine homurdanmak yerine en azından doğru şeylere dikkat etmiş olmalarını selamlıyorsam da, yaptıkları çözümleme bence vakıanın ayırt edici hatlarına pek yakın düşmemiştir.</p>
<p>[caption id="attachment_2036" align="alignnone" width="500"]<a href="https://yersizseyler.files.wordpress.com/2014/10/wark3.jpg"><img src="https://yersizseyler.files.wordpress.com/2014/10/wark3.jpg" alt="Brezilya&#039;da bir fabrikada işçiler Anonymous&#039;un kullandığı Guy Fawkes maskelerini üretiyor. Fotoğraf: Reuters" width="500" height="303" class="size-full wp-image-2036" /></a> Brezilya'da bir fabrikada işçiler Anonymous'un kullandığı Guy Fawkes maskelerini üretiyor. Fotoğraf: Reuters[/caption]</p>
<p>İşçi de, hacker da, kendi iradelerine karşıt bir dünyayı üretmekle görevlendirilmişlerdir, hem de birbirleriyle topyekün bir savaş içinde yarışsınlar diye tasarlanmış bir tarz içinde. Eşitsizlik ve güvencesizlik, emeğin ve gündelik olanın altyapısına tasarlanarak entegre edilmiştir. Hatta hacker sınıfı kendi varoluş koşullarını, kazanan-hepsini-alır start-up (teknolojik girişim) kültürünün radikal çatallanışı içinde bulur. Biçim-tasarlayıcı pratiklerin "çıktı"sını gerçek anlamda ölçemeyen vektörel sınıf, bunları büsbütün outsource etmeyi (başkasına yaptırmayı) tercih edecektir. Kendini-sömürmenin kusursuz modeli olan start-up'ta, riskin neredeyse hepsini hacker üstlenirken, vektörel sınıf bahislerini garantiye alır ve sonuçta çıkabilecek bütün fikirsel özelmülkün rantını toplar.</p>
<p>Elizabeth Povinelli'nin biçim-tasarlayıcı her tür faaliyete dahil olan <em>çaba </em>meselesini ele alması beni sevindirdi. Emek vermek çabadır, ama genelde standart ve bölütlenmiş bir çabadır. Kapitalizm, emek zamanını ölçülebilir kılmakla, onu parçalara bölmek ve birim süre başına fiyat biçmekle ilgiliydi. Hackleme de çabayla ilgilidir, ama bu çabayı bölüp nicelemek öyle kolay değildir, çünkü nitel farkları yapan türde bir çabadır bu. Gregory Bateson'un deyişiyle "enformasyon bir fark yapan farktır". Bu iş çok, çok zordur. Ama koltukta uzun uyuklamaları, mahallede yürümeyi, gece yarısı uyanıp gün ağarana dek bilgisayar başında tosmayı içerebilir. Farklı türde bir çabadır bu, zamanla farklı bir ilişkisi vardır.</p>
<p>[caption id="attachment_2037" align="alignnone" width="500"]<a href="https://yersizseyler.files.wordpress.com/2014/10/wark4.jpg"><img src="https://yersizseyler.files.wordpress.com/2014/10/wark4.jpg" alt="Las Vegas&#039;ın hacker konferansı DefCon&#039;da sunulan Medeco anahtar hack&#039;i. Marc Weber Tobias ve kilit kıran ekibi, iddiaya göre bu şirketin yüksek-güvenlikli kilitlerini 2008 DefCon&#039;da madara etmişlerdi. Fotoğraf: Dave Bullock" width="500" height="331" class="size-full wp-image-2037" /></a> Las Vegas'ın hacker konferansı DefCon'da sunulan Medeco anahtar hack'i. Marc Weber Tobias ve kilit kıran ekibi, iddiaya göre bu şirketin yüksek-güvenlikli kilitlerini 2008 DefCon'da madara etmişlerdi. Fotoğraf: Dave Bullock[/caption]</p>
<p>Bu, "maddi olmayan" çaba değildir. Bu dil bizi ancak fikirlerin nereden geldikleri üzerine eski moda romantik fikirlere doğru kaydırır. Yeni fikirler, yeni biçimler, yeni tasarımlar üretmekten daha maddi bir şey yoktur. Gerçi burada maddi varlıkların standart dışı belirli bir kullanımı vardır. Buna oyun ya da deney diyebilirsiniz. Üretici olmayan yönü fetişleştirebilirsiniz, özellikle de sanat tarihinin bakış açısıyla. Ama tasarımın bakış açısına göre, bu çabanın sonuçları ancak ikincil olarak negatiftir. Sonuçta çıkan, yeni biçimlerdir, bizzat yeninin biçimidir. Avangartların yapmış olduğu her şey aslında tasarımdır.</p>
<p>Çaba enerji harcar. Hack artakalan enerji gerektirir. "Bataille haklıydı". Bu, bir uygarlığın, onu tanımlayan, onu şekillendiren, geleceğini oluşturan artakalan ile ne yaptığıdır. Bizim uygarlığımızın bu enerjiyle yapmayı seçtiği şey, onu ölçülebilir kılmaktır. Biz de bu ölçüye dayanarak biliyoruz ki bu uygarlık tutunamayacaktır. Zamanı çoktan dolmuştur. Kendisine olan güvenini tamamen yitirmiştir. Bu uygarlığın enerjisini ne yaptığı konusunda yanlış giden işleri tam olarak ölçebiliriz, ama bu uygarlığın hakim sınıfı, bu konuda herhangi bir çaba harcayamayacak ya da harcamayacaktır. Zulaladıkları sanat bunu gösteriyor: gerileme dönemindeki bir hakim sınıftır bu. "Eksenler" ve "bozuculuk" üzerine takıntılı ideolojik mızırdanma, buzul bir durağanlığın kılıfıdır.</p>
<p>Bu yüzden olabilecek olan, ancak, paralarını almamız, olabildiğince iyi yaşamamız, ve marjinlerde başka bir yaşam için prototipler inşa etmeye çalışmamızdır. Herhangi bir mekan, her mekan bunun alanı olabilir. Sonuçlar muhtemelen mütevazı olacaktır. Deney yapalım! Hangi yeni biçimlerin yükseleceğini ve tutacağını kim bilebilir ki? Gerçek yaratımları sanat dünyasıyla bağlantılayan uzanım kırılacaksa da kırılsın. Bizim ona duyduğumuzdan çok, o bize ihtiyaç duyuyor. Sanat ve dil akademisinden olanlarımız için, çözüm, belki de, özelleşmiş geleneklerimize gösterdiğimiz derinden muhafazakar, hatta reaksiyoner vefalılığımızdan sıyrılmaktır. Güzel sanatlar tarihiyle ve kıtasal yüksek kuramla artık işimizi bitirelim. Bunca Heidegger yetsin; bunca Duchamp yetsin. Yeni tür bir şimdilik için, şimdiki zamanın yeni bir arşivine ihtiyacımız var. Daha yaygın bir ortaklaşmaya, hem teknik hem de estetik karşı-üretimin çok farklı muhitleriyle diyalog içinde olmaya ihtiyacımız var.</p>
<p>Michèle Bernstein'ın deyişiyle: "bütün diyarların canavarları, birleşin!"</p>
<p>Türkçesi: Işık Barış Fidaner</p>
