---
layout: post
status: publish
published: true
title: Linux (ya da) Karmaşıklık Ne Zaman İşe Yarar? - Ulus Baker
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "Ulus Baker\r\nPC! 24\\ > 12/08/1997\r\n\r\nYan taraftaki yazı UNIX sisteminin
  \"doğal\" karmaşık niteliğini dışavuruyor. LINUX ise, bütün bu karmaşıklığı dev
  sistemlerin dünyasından PC'nize, kişisel bilgisayarınıza aktaran bir UNIX kopyasıdır.
  Çoğu kişi, elbette kişisel bilgisayarında böyle karmaşık ve zor bir programlar yığınını
  görme konusunda doğal bir isteksizlik gösterecektir. LINUX'un UNIX'ten tek farkı,
  ikincisinin X/Open'a ait bir marka oluşu, LINUX'un ise bir marka olmayışı, kısaca
  söylemek gerekirse \"beleş\" oluşudur. Space War ile Emacs'tan çok önce, bedava
  yazılım sanayiinin en güçlü örneğidir -iş, eğitim ve kişisel üretim alanında...
  Intel 80386 bilgisayarlardan itibaren LINUX vardır ve gelişmesini sürdürmektedir.
  TeX'den X Windows'a, GNU C/C++ derleyiciden TCP/IP'ye (yani INTERNET denen şeyin
  \"özü\") varıncaya kadar bir dizi yazılım LINUX'un \"doğal\" parçasıdır. Kısaca
  söylemek gerekirse, LINUX'u önemli kılan tek özelliği, UNIX işletim sisteminin bütününü
  \"bedava\" sunmasıdır.\r\n\r\n"
wordpress_id: 505
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=505
date: '2014-07-14 19:09:58 +0300'
date_gmt: '2014-07-14 17:09:58 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>Ulus Baker<br />
PC! 24\ > 12/08/1997</p>
<p>Yan taraftaki yazı UNIX sisteminin "doğal" karmaşık niteliğini dışavuruyor. LINUX ise, bütün bu karmaşıklığı dev sistemlerin dünyasından PC'nize, kişisel bilgisayarınıza aktaran bir UNIX kopyasıdır. Çoğu kişi, elbette kişisel bilgisayarında böyle karmaşık ve zor bir programlar yığınını görme konusunda doğal bir isteksizlik gösterecektir. LINUX'un UNIX'ten tek farkı, ikincisinin X/Open'a ait bir marka oluşu, LINUX'un ise bir marka olmayışı, kısaca söylemek gerekirse "beleş" oluşudur. Space War ile Emacs'tan çok önce, bedava yazılım sanayiinin en güçlü örneğidir -iş, eğitim ve kişisel üretim alanında... Intel 80386 bilgisayarlardan itibaren LINUX vardır ve gelişmesini sürdürmektedir. TeX'den X Windows'a, GNU C/C++ derleyiciden TCP/IP'ye (yani INTERNET denen şeyin "özü") varıncaya kadar bir dizi yazılım LINUX'un "doğal" parçasıdır. Kısaca söylemek gerekirse, LINUX'u önemli kılan tek özelliği, UNIX işletim sisteminin bütününü "bedava" sunmasıdır.</p>
<p><a id="more"></a><a id="more-505"></a></p>
<p>"Bedava" ne anlama geliyor? LINUX'u "bedava" kılan şey, gelişim tarihinin bilgisayar şirketlerinin araştırma-geliştirme tercihleri ve pazar dinamikleri, ya da uluslararası rekabet dünyası açısından değil, dünyanın dört bir yanındaki "LINUX hacker"ların, başka bir deyişle "gönüllü yazılım geliştiricilerin" kollektif çabalarının toplamı açısından yazılmasıdır. Kısacası, LINUX bir "işletim sistemi" olmakla kalmaz, "gönüllü bir katılım" yaşantısıdır da... Her şey, Finlandiya'da Helsinki Üniversitesi'nde Linus Torvalds adlı birinin başlattığı bir çabadan kaynaklanıyor. UNIX işletim sistemlerinin, özellikle kişisel bilgisayarların yaygınlaşmaya başladığı dönemde, oldukça yüksek fiyatlara sahip oluşu (bunun nedeni kuşkusuz UNIX işletim sisteminin dev sistemlerde kullanılıyor olmasıydı) dünyanın dört bir yanından UNIX programcılarını Torvalds'ın çabasına kulak vermeye iter. Massachussetts Serbest Yazılım Vakfı tarafından ortaya atılan GNU projesi, LINUX'un gelişiminde ve sistemleştirilmesinde öncü bir konuma yükselir. Ancak yazılım katkılarının ve "bug"ların giderilme sürecinin dünyanın dört bir yanından "kernel hacker"lar tarafından gerçekleştirildiğini de asla unutmamak gerekiyor.</p>
<p>LINUX'un bu "kolektif" gelişiminin en önemli safhası ise, UNIX tabanlı klasik grafik arayüz olan XWindows'u da güncelleştirmesi, yani "bedavalaştırmasıdır". Böylece, Linux artı X formülü önünüzdeki PC'yi bir anda bir "iş istasyonuna" dönüştürecektir. Linux'un GUI'si, XFree86 adını alır. İkinci bir formül, LINUX'u INTERNET'in doğal ortamı haline getirir -Kermit, Zmodem gibi dosya aktarımı standartları, FTP, TCP/IP, NFS gibi protokoller, bu doğal ortamı oluştururlar. Üçüncü bir formül ise, LINUX'u "emülatörler" aracılığıyla başka işletim sistemleriyle birlikte kullanmayı sağlar: MSDOS emülasyonu, Microsoft Windows dışındaki DOS uygulamalarını doğrudan doğruya LINUX'un içine çekmektedir. Emülatörlerden ayrı olarak, XWindows altında Microsoft Windows uygulamalarını işletmeyi amaçlayan yine "bedava" ve "kolektif" bir proje Wine projesi de gündemdedir ve gelişmesini sürdürmektedir.</p>
<p>Kısaca söylemek gerekirse LINUX evrensel bir katılımın ürünüdür, PC üzerinde UNIX kadar karmaşık ve güçlü bir işletim sisteminin çalışabilmesini sağlamaktadır ve INTERNET'in "doğal ortamı"dır.</p>
<p>***</p>
<p><a href="http://www.korotonomedya.net/kor/index.php?id=21,202,0,0,1,0" target="_blank">Ek 1: İktidar, Güç Eksikliğimizdir</a> via @otonomusti</p>
<p><em>Halkın işletim sistemi Linux!</em></p>
<p>Microsoft'un istihdam modeli, ideolojik açıdan küresel sermayenin istihdam modelidir. Microsoft hâlâ oraya kapattığı 26 bin kişiyle çalışır ve şifrelediği programları satar. Buna karşı Linux açık bir modeldir. Globalleşmenin sol yorumu bu olabilir. Linuxçuları imparatorluğa karşı, çokluk olarak tanımlayabiliriz.</p>
