---
layout: post
status: publish
published: true
title: Makine-Öğrenmesi Üstadı Michael Jordan ile Büyük Veri Hülyaları ve Diğer Dev
  Mühendislik Çabaları Üzerine — Lee Gomes
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "<em>Boşbeleş Büyük-Veri işleri ve beyinden-esinlenmiş yongalar yanlış anladığımız
  şeylerden iki tanesi sadece</em>\r\n\r\n<em>Lee Gomes\r\n20 Ekim 2014, <a href=\"http://spectrum.ieee.org/robotics/artificial-intelligence/machinelearning-maestro-michael-jordan-on-the-delusions-of-big-data-and-other-huge-engineering-efforts/?utm_source=techalert&amp;utm_medium=email&amp;\"
  target=\"_blank\">spectrum.ieee.org</a></em>\r\n\r\n[caption id=\"attachment_2115\"
  align=\"alignnone\" width=\"500\"]<a href=\"https://yersizseyler.files.wordpress.com/2014/10/jordan.jpg\"><img
  class=\"size-full wp-image-2115\" src=\"https://yersizseyler.files.wordpress.com/2014/10/jordan.jpg\"
  alt=\"Fotoğraf-İllüstrasyon: Randi Klett\" width=\"500\" height=\"375\" /></a> Fotoğraf-İllüstrasyon:
  Randi Klett[/caption]\r\n\r\nBüyük verilerin böyle aşırı istekle benimsenmesi muhtemelen
  ulusal köprü çökmeleri salgınıyla kıyaslanacak düzeyde bir dizi analiz felaketiyle
  sonuçlanacak. İnsan beynine dayanan yongalar yaratan donanım tasarımcılarının angaje
  olduğu girişim muhtemelen abesle iştigal olduğu anlaşılacak bir inanca dayanmakta.
  Son zamanlardaki tersi yöndeki iddialara rağmen, bilgisayar görmesinde kat etmiş
  olduğumuz ilerleme, Isaac Newton'ın elma ağacının altında oturduğundan bugüne fizikteki
  ilerleme kadardır ancak.\r\n\r\nBu sözler IEEE konferansında güvenliği kırıp abuk
  sabuk konuşan bir makinekırıcı çatlağın sözlerini andırıyor olabilir. Gerçekteyse
  bu görüşler bir IEEE Fellow'una, Kaliforniya/Berkeley Üniversitesi Pedong Chen Seçkin
  Profesörü Michael I. Jordan'a ait. Jordan, makine öğrenmesi üzerine dünyanın en
  saygın otoritelerinden birisi ve alanında uyanık bir gözlemci. Özgeçmişi tek başına
  dev bir veritabanı gerektirir, ve alanındaki konumu, 2013 Ulusal Araştırma Konseyi
  raporunun (\"Dev Veri Analizinin Hudutları\") giriş yazısını yazmasına elveren bir
  düzeydedir. San Fransiscolu yazar Lee Gomes, IEEE Spectrum için 3 Ekim 2014'te onunla
  görüştü.\r\n\r\nMichael Jordan'a sorduk...\r\n— Hesaplamadan Bahsederken Neden Beyin
  Metaforları Kullanmayı Bırakmalıyız\r\n— Makine Görmesine Dair Sisli Görüşümüz\r\n—
  Büyük Veri Neden Büyük Bir Yıkım Olabilir\r\n— 1 Milyar ABD Dolarıyla Ne Yapardı\r\n—
  Tekillik Üzerine Nasıl Konuşmamak Gerekir\r\n— P = NP Olup Olmamasından Daha Çok
  Neyi Önemsiyor\r\n— Turing Testi Gerçekte Ne Anlama Geliyor\r\n\r\n"
wordpress_id: 594
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=594
date: '2014-10-24 05:45:19 +0300'
date_gmt: '2014-10-24 03:45:19 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p><em>Boşbeleş Büyük-Veri işleri ve beyinden-esinlenmiş yongalar yanlış anladığımız şeylerden iki tanesi sadece</em></p>
<p><em>Lee Gomes<br />
20 Ekim 2014, <a href="http://spectrum.ieee.org/robotics/artificial-intelligence/machinelearning-maestro-michael-jordan-on-the-delusions-of-big-data-and-other-huge-engineering-efforts/?utm_source=techalert&amp;utm_medium=email&amp;" target="_blank">spectrum.ieee.org</a></em></p>
<p>[caption id="attachment_2115" align="alignnone" width="500"]<a href="https://yersizseyler.files.wordpress.com/2014/10/jordan.jpg"><img class="size-full wp-image-2115" src="https://yersizseyler.files.wordpress.com/2014/10/jordan.jpg" alt="Fotoğraf-İllüstrasyon: Randi Klett" width="500" height="375" /></a> Fotoğraf-İllüstrasyon: Randi Klett[/caption]</p>
<p>Büyük verilerin böyle aşırı istekle benimsenmesi muhtemelen ulusal köprü çökmeleri salgınıyla kıyaslanacak düzeyde bir dizi analiz felaketiyle sonuçlanacak. İnsan beynine dayanan yongalar yaratan donanım tasarımcılarının angaje olduğu girişim muhtemelen abesle iştigal olduğu anlaşılacak bir inanca dayanmakta. Son zamanlardaki tersi yöndeki iddialara rağmen, bilgisayar görmesinde kat etmiş olduğumuz ilerleme, Isaac Newton'ın elma ağacının altında oturduğundan bugüne fizikteki ilerleme kadardır ancak.</p>
<p>Bu sözler IEEE konferansında güvenliği kırıp abuk sabuk konuşan bir makinekırıcı çatlağın sözlerini andırıyor olabilir. Gerçekteyse bu görüşler bir IEEE Fellow'una, Kaliforniya/Berkeley Üniversitesi Pedong Chen Seçkin Profesörü Michael I. Jordan'a ait. Jordan, makine öğrenmesi üzerine dünyanın en saygın otoritelerinden birisi ve alanında uyanık bir gözlemci. Özgeçmişi tek başına dev bir veritabanı gerektirir, ve alanındaki konumu, 2013 Ulusal Araştırma Konseyi raporunun ("Dev Veri Analizinin Hudutları") giriş yazısını yazmasına elveren bir düzeydedir. San Fransiscolu yazar Lee Gomes, IEEE Spectrum için 3 Ekim 2014'te onunla görüştü.</p>
<p>Michael Jordan'a sorduk...<br />
— Hesaplamadan Bahsederken Neden Beyin Metaforları Kullanmayı Bırakmalıyız<br />
— Makine Görmesine Dair Sisli Görüşümüz<br />
— Büyük Veri Neden Büyük Bir Yıkım Olabilir<br />
— 1 Milyar ABD Dolarıyla Ne Yapardı<br />
— Tekillik Üzerine Nasıl Konuşmamak Gerekir<br />
— P = NP Olup Olmamasından Daha Çok Neyi Önemsiyor<br />
— Turing Testi Gerçekte Ne Anlama Geliyor</p>
<p><a id="more"></a><a id="more-594"></a></p>
<p><strong>~~~ Hesaplamadan Bahsederken Neden Beyin Metaforları Kullanmayı Bırakmalıyız ~~~</strong></p>
<p><strong>IEEE Spectrum:</strong> Yazılarınızdan çıkardığıma göre derin öğrenme, büyük veri, bilgisayar görmesi ve benzeri şeylere dair ortalıkta bir sürü yanlış bilgi olduğuna inanıyorsunuz.</p>
<p><strong>Michael Jordan:</strong> Doğrusu ortalıkta her akademik konuya dair bir sürü yanlış bilgi var. Medya insanların okuyacağı konular bulabilmek için elinden geleni yapmaya çalışıyor. Bunlar bazen kaydedilen gerçek başarıların ötesine geçiyor. Özellikle derin öğrenme konusunda, ki bu konu 1980'lerin nöral ağlarının yeniden piyasaya sürülmesidir büyük ölçüde. Nöral ağlar aslında 1960'lardan gelir; görünüşe göre 20 yılda bir bunlarla alakalı yeni bir dalga oluyor. Şimdiki dalganın esas başarı öyküsü evrişimsel nöral ağ, ama bu fikir zaten önceki dalgada da mevcuttu. Ve hem önceki dalgada hem de şimdiki dalgada inatla varolan sorunlardan birisi, insanların bunların arkasında nörobilimle alakalı bir şey olduğuna dair çıkarımlar yapmalarıdır. Buna göre sanki derin öğrenmede, bilginin beyin süreçlerindeki işlenişine, öğrenilişine, karar verme süreçlerine dair, ya da beynin büyük miktarda veriyle nasıl başa çıktığına dair bir anlayıştan istifade edilmektedir. Bu çıkarımlar tamamen ve açıkça yanlıştır.</p>
<p><strong>Spectrum:</strong> Bir medya mensubu olarak demin söylediğinize şerh koyuyorum, çünkü akademisyenler de çoğu zaman onlardan bahseden öyküler yazacak insanlara muhtaç oluyorlar.</p>
<p><strong>Michael Jordan:</strong> Evet bu bir ortaklık.<br />
<strong><br />
Spectrum:</strong> Hep edindiğim bir izlenim, bilgisayar bilimindeki insanlar ne zaman beynin nasıl çalıştığını tarif etseler, nörobilimcilerden asla duymayacağınız korkunç indirgemeci beyanlarda bulunuyorlar. Bunlara beynin "karikatür modelleri" dediniz.<br />
<strong><br />
Michael Jordan:</strong> İnsanlara etiket yapıştırmak, bütün bilgisayar bilimcileri şöyle çalışırlar ya da bütün nörobilimciler böyle çalışırlar demek istemem. Ama şurası doğru ki nörobilimdeki derin ilkeler anlaşılana dek onlarca, hatta yüzlerce yıl geçecektir. İlerlemeler nörobilimin en düşük düzeylerinde yapılmakta. Yüksek biliş —nasıl algılarız, nasıl hatırlarız, nasıl edimde bulunuruz— meselelerinde ise nöronların nasıl bilgi sakladıklarına, nasıl hesaplama yaptıklarına, kuralların ne olduğuna, algoritmaların ne olduğuna, temsillerin ne olduğuna ve bu gibi şeylere dair hiçbir fikrimiz yok. Yani akıllı sistemlerin inşasında beyne dair bir anlayışı rehber alabileceğimiz bir çağda değiliz henüz.<br />
<strong><br />
Spectrum:</strong> Beynin karikatür modellerini eleştirmenizin yanısıra esasen daha ileri gidiyorsunuz ve "nöral gerçekçilik" fikrini —belirli bir donanım ya da yazılım sisteminin sırf beynin şu veya bu varsayımsal karakteristiğini paylaştığı için daha akıllı olacağı fikrini— tamamen eleştiriyorsunuz. Mesela "benim sistemim beyne benziyor çünkü çok paralel" diyen bilgisayar bilimcileri hakkında ne düşünürsünüz?<br />
<strong><br />
Michael Jordan:</strong> Yani bunlar metafordur ve kullanışlı olabilirler. Akışlar ve geçiş hatları çeşitli devre türlerinden çıkmış metaforlardır. Sanırım 1980'lerin başında, bilgisayar bilimi ardışık mimarilerin, saklanmış bir programın ardışık olarak yürütüldüğü von Neumann paradigmasının egemenliğinde olduğundan, bunun neticesi olarak, bu paradigmanın dışına çıkmaya ihtiyaç vardı. Bu yüzden de insanların aradıkları yüksek paralellikte beyin metaforlarıydı. Bu da kullanışlı bir şeydi.</p>
<p>Ama konu evrimleştikçe, ulaşılan çoğu ilerlemenin nöral gerçekçilikten gelmediği görüldü. Derin öğrenmedeki en başarılı algoritma, geri yayılım denilen bir tekniğe dayanır. Elinizde işleyici birimlerden oluşan katmanlar vardır, bu katmanların bitiş yerinde bulunan bir çıktıyı alırsınız, ve sinyali katmanlar üzerinden geriye doğru yayarak bütün parametreleri değiştirirsiniz. Beynin böyle bir şey yapmadığı gün gibi açıktır. Bu adım kesinlikle nöral gerçekçiliğe mesafe koymuş ama belirgin bir ilerlemeye yol açmıştır. Fakat insanlar bu belirli başarı öyküsünü, diğer bütün beyinsi sistem inşa denemeleriyle aynı kefeye koyma eğilimindeler, bu inşa denemeleri başarıdan yana geri yayılımın eline su dökemeyecek olsa bile.<br />
<strong><br />
Spectrum:</strong> Nöral gerçekçiliğin başarısızlığı konusunda bir de nöral ağların hiç de nöral olmadıklarına değindiniz.<br />
<strong><br />
Michael Jordan:</strong> Derin-öğrenme sistemlerinde spayklar [spike] yoktur, dendritler yoktur. Bunlarda bulunan ikiyönlü sinyaller de beyinde yoktur.</p>
<p>Nöronların nasıl öğrendiğini bilmiyoruz. Acaba öğrenmenin sorumlusu aslında sinaptik ağırlıktaki küçük bir değişiklik midir? Yapay nöral ağlar bunu yapıyor. Beyindeki öğrenmenin nasıl gerçekleştiği hakkında pek az fikrimiz var.<br />
<strong><br />
Spectrum:</strong> Mühendislerin yeni tasarladıkları yongaları —bence dili inanılmaz istismar ederek— tarif edişlerini hep okuyorum. Yongalarındaki "nöron" ya da "sinaps"lardan bahsediyorlar. Ama böyle bir şey mümkün değil; nöron dediğimiz, inanılmaz karmaşıklıkta, yaşayan, nefes alan bir hücredir. Biyolojinin dilini kendine maleden bu mühendislerin tarif ettiği yapıların biyolojik sistemlerdeki karmaşıklıkla ne ilgisi olabilir ki?<br />
<strong><br />
Michael Jordan:</strong> Doğrusu burada biraz dikkatli olmak isterim. Nöral sözcüğünü kullanmayı sürdüren iki alanı ayırt etmenin önemli olduğunu düşünüyorum.</p>
<p>Bunlardan biri derin öğrenmedir ki burada her "nöron" gerçekten karikatürdür. Nonlineer bir işlemden geçen lineer-ağırlıklı bir toplamdır bu. Herhangi bir elektrik mühendisi bu tür nonlineer sistemleri tanıyacaktır. Buna nöron demek, açıktır ki, olsa olsa, kısa bir gösterimdir. Bu gerçekten karikatürdür. 1950'ler istatistiğinin lojistik regresyon denilen yordamı, nöronlarla hiçbir ilgisi olmasa da, tam olarak aynı küçük mimari parçadır.</p>
<p>Tarif ettiğiniz şeyle alakalı ikinci alan, doğru anlıyorsam, gerçek bir beyin benzetimine ya da en azından gerçek nöral devre sisteminin basitleştirilmiş bir modeline yaklaşmayı hedeflemekte. Benim gördüğüm sorunsa araştırmaların bu sistemin algoritmik olarak neler yapabileceğinin anlaşılmasıyla eşleştirilmemesidir. Görmede olduğu gibi verileri alıp sorunları çözen bir öğrenme sistemiyle eşleştirilmiş değildir. Bu esasında insanların bir gün kullanışlı algoritmalar keşfedeceği umuduna yaslanan küçük bir mimari parçadır. Bu umudun teyit edilmesini gerektiren açık bir sebep de yoktur. Sanıyorum bunun dayanağı, "eğer beyne benzeyen bir şey inşa edersem bu şeyin neler yapabileceği açığa çıkacaktır" gibi bir inançtır.<br />
<strong><br />
Spectrum:</strong> Elinizde olsa beynin biyolojisinin hesaplamada model alınmasını yasaklar mıydınız?<br />
<strong><br />
Michael Jordan:</strong> Hayır. Bulabildiğiniz her yerden ilham almalısınız. Önceden dediğim gibi, 1980'lerde "hadi ardışık von Neumann paradigmasının dışına çıkıp daha ziyade yüksek paralellikte sistemleri düşünelim" demek gerçekten yararlıydı. Ama içinde bulunduğumuz çağda, beynin ayrıntılı işleyişinin algoritmik süreçlere dair bilgimizi beslemediği bu kadar açıkken, gösterdiğimiz başarılarda beyni kullandığımızı iddia etmek uygunsuzdur diye düşünüyorum. Beynin görsel bilgiyi nasıl işlediğini bilmiyoruz.</p>
<p><strong>~~~ Makine Görmesine Dair Sisli Görüşümüz ~~~</p>
<p>Spectrum:</strong> Görme sistemi araştırması üzerine konuşurken hayp [hype] sözcüğünü kullandınız. Son zamanlarda bilgisayarların görme sorununu hallettiğini ve artık insanlar kadar iyi görebildiğini anlatan bir öyküler salgını var gibi görünüyor. Bunlar hakikate yakın bile olabilir mi sizce?<br />
<strong><br />
Michael Jordan:</strong> Doğrusu insanlar darmadağın sahnelerle başa çıkabiliyorlar. Muazzam sayıda kategoriyle başa çıkabiliyorlar. Sahneden yapacakları çıkarımlarla başa çıkabiliyorlar: "Bunun üstüne otursam?" "Bir şeyin üstüne bir şey koysam?" Bunlar bugünkü makinelerin yetkinliğinin çok ötesindedir. Derin öğrenme belirli türdeki imge sınıflandırmalarında iyidir. "Hangi nesne bu sahnede?"</p>
<p>Ama hesaplamalı görme sorunu çok büyüktür. Bu sanki elma ağaçtan düştüğünde fiziğin hepsini anlamışız demeye benzer. Evet, yani, kuvvetler ve ivmeye dair bir şeyler daha anladık. Bu önemliydi. Görmede de belirli sorun sınıflarını çözen bir araç şu anda elimizde var. Ama bunun bütün sorunları çözdüğünü söylemek aptalcadır.<br />
<strong><br />
Spectrum:</strong> Şu anda görmede ne kadar büyük bir sorun sınıfını çözebiliyoruz, insanların toplamda yapabildikleriyle kıyaslanırsa?<br />
<strong><br />
Michael Jordan:</strong> Yüz tanıma için, bunun çözülebilir olduğu bir süredir açıktır. Yüzlerin ötesinde, başka nesne kategorilerinden de bahsedebilirsiniz: "Sahnede bir bardak var." "Sahnede bir köpek var." Ama birçok türden farklı nesnelerin aynı sahnede oluşlarını, birbirleriyle ilişkilenme şekillerini, bir kişi veya robotun bu sahneyle etkileşim şekillerini ele almak halen zor bir sorundur. Çözülmekten uzak zor sorunlar vardır ve bunlar çok, çok fazladır.<br />
<strong><br />
Spectrum:</strong> İzlenimim o ki, yüz tanıma bile, halen, elinizdeki imgeler çok temizse çalışıyor sadece.<br />
<strong><br />
Michael Jordan:</strong> Bunu daha iyi yapmak bir mühendislik sorunudur. Zamanla bunun iyileştiğini görürsünüz. Ama bu "devrimcilik" işleri aşırı zorlamadır.</p>
<p><strong>~~~ Büyük Veri Neden Büyük Bir Yıkım Olabilir ~~~</p>
<p>Spectrum:</strong> Şimdi büyük veri meselesine dönebilirsek, anlattığınız şeyler boyunca süren bir temaya göre mevcut büyük veri takıntısında belirli bir ahmak altını öğesi bulunuyor. Örneğin büyük-veri projelerinden çıkan yanlış pozitiflerin salgınlaşacağını ve toplumun bunu deneyimlemek üzere olduğunu tahmin ettiniz.<br />
<strong><br />
Michael Jordan:</strong> Büyük miktarlarda veriniz olduğunda hipotezlere yönelik iştahınız da büyüme eğilimindedir. Ve eğer bu verilerin miktarı, istatistiksel sağlamlıklarından daha hızlı büyüyorsa, o zaman çıkarımlarınızın birçoğunun yanlış olması, beyaz gürültü olması muhtemeldir.<br />
<strong><br />
Spectrum:</strong> Nasıl yani?<br />
<strong><br />
Michael Jordan:</strong> Klasik bir veritabanında, elinizde diyelim ki birkaç bin insan var. Bunları veritabanının satırları olarak düşünün. Sütunlar da bu insanların özellikleri olsun: yaşları, boyları, ağırlıkları, gelirleri, vesaire.</p>
<p>Şimdi, bu sütunların bileşimlerinin sayısı, sütun sayısına göre üstel olarak artar. Yani bir sürü, bir sürü sütununuz varsa —modern veritabanlarında olacağı gibi— o zaman her bir kişiye ait milyonlarca ve milyonlarca vasıfla karşılaşacaksınız.</p>
<p>Şimdi, eğer bu özelliklerin bütün bileşimlerine bakma iznini kendime tanıyacak olursam — Pekin'de yaşıyorsa, ve işe bisikletle gidiyorsa, ve belirli bir işte çalışıyorsa, ve belirli bir yaştaysa — belirli bir hastalığı taşıma ya da benim reklamımı sevme olasılığı nedir? Şimdiyse milyonlarca vasfın bileşimlerine bakıyorum ve bu bileşimlerden de üstel sayıda var; böylece evrendeki atomların sayısı mertebesine ulaşırız.</p>
<p>Dikkate almak istediğim hipotezler bunlar. Verilmiş herhangi bir veritabanında herhangi bir sonucu —sadece şans yoluyla— mükemmelen kestirecek sütunlar bileşimini arıyorum. Kalp krizini kestirecek sütun bileşimlerini arıyorsam eğer, kalp krizi geçiren bütün kişileri kalp krizi geçirmeyen bütün kişilerle karşılaştırsam bile, türlü türlü yalancı sütun bileşimleri bulurum, çünkü bunlardan muazzam sayıda vardır.</p>
<p>Yani milyarlarca maymunun daktilo yazması gibi bir şey bu. Birinden birisi Shakespeare'i yazacaktır.<br />
<strong><br />
Spectrum:</strong> Büyük verinin bu yönünün şu anda az mı değer gördüğünü düşünüyorsunuz?<br />
<strong><br />
Michael Jordan:</strong> Kesinlikle.<br />
<strong><br />
Spectrum:</strong> İnsanların büyük veride vaat ettikleri halde yerine getiremeyeceklerini düşündüğünüz şeyler nelerdir?<br />
<strong><br />
Michael Jordan:</strong> Veri analizinde belirli nitelik düzeylerinde çıkarım yapılabildiğini düşünüyorum. Ama bu nitelik düzeylerinin ne olduğu hakkında net olmamız lazım. Yaptığımız kestirimlerin hepsinin etrafında hata çizgileri olmalı. Mevcut makine öğrenmesi literatürünün çoğunda eksik bir şey bu.<br />
<strong><br />
Spectrum:</strong> Eğer verilerle çalışan insanlar bu öğüdünüze uymazlarsa ne olacak?<br />
<strong><br />
Michael Jordan:</strong> Köprü inşası analojisini kullanmayı seviyorum. Eğer ilkelerim yoksa, gerçek bir bilim olmadan binlerce köprü inşa ettiysem, bunlardan bir sürüsü yıkılacak ve büyük felaketler yaşanacaktır.</p>
<p>Bunun gibi, eğer insanlar verileri kullanırken, veriyle yapabildikleri çıkarımları kullanırken, hata çizgilerini, heterojenliği, gürültülü verileri, örnekleme örüntüsünü dert etmezlerse, yani mühendis ya da istatistikçiyseniz ciddiye almanız gerekecek olan bütün şeyleri dert etmezlerse — o zaman bir sürü kestirim yapılacaktır, ve kimi zaman gerçekten ilginç sorunların çözülmesi şansı da vardır. Ama bazen de felaket kötü kararlar verilir. Aradaki farkı önsel [a priori] olarak bilmeyeceksiniz. Sadece bu çıktıları üreteceksiniz ve umudunuzu yüksek tutacaksınız.</p>
<p>İşte bugün burada bulunuyoruz. Bir sürü insan işe yaramasını umduğu şeyleri inşa ediyor, ki bunlar bazen işe yarıyor da. Bir açıdan bakarsak, bunda yanlış hiçbir şey yoktur; bu keşifseldir. Ama toplumun bütünü buna tahammül edemez; bunların işe yarayacağını ummakla yetinemeyiz. İnşaat mühendisleri, ayakta durma güvencesi verilebilen köprülerin nasıl inşa edildiğini zamanla öğrendi. Yani büyük veriye yönelik gerçek bir mühendislik yaklaşımına ulaşılması, akılcı yanıtlar sunulduğundan emin olunması, hataların olabilirliğinin nicelendiğinden emin olunması, zannediyorum ki onlarca yıl alacaktır.<br />
<strong><br />
Spectrum:</strong> Bu hata çizgilerini sağlayacak araçlara şu anda sahip miyiz?<br />
<strong><br />
Michael Jordan:</strong> Bu mühendislik bilimini daha ancak toparlıyoruz. İstatistik ve bilgisayar biliminin yüzlerce yıllık çalışmasından gelen birçok fikre sahibiz. Bunları bir araya koymaya, ölçeklenebilir hale getirmeye çalışıyoruz. Birçok hipoteze ait hata oranını belirten ailevari hata [familywise error] denilen niceliklerin denetlenmesine dair bir sürü fikir son 30 yıl içinde çıkmış. Ama bunların birçoğu üzerine hesaplamalı çalışma yapılmamış. Bunların halledilmesinin matematiği zordur, mühendisliği de zordur, zaman alacaktır.</p>
<p>Bir ya da iki yıl değil. Bu işi doğrultmak onlarca yıl alacaktır. Büyük veri işini iyi yapmayı öğreniyoruz halen.<br />
<strong><br />
Spectrum:</strong> Büyük veri ve sağlık üzerine yazılanlarda sanki her üç öyküden biri, neredeyse otomatikman elde edeceğimiz harika klinik içgörülerden bahsediyor, sırf herkesten veri toplayarak, özellikle de bulut üzerinde.<br />
<strong><br />
Michael Jordan:</strong> Buna konuda tamamen kuşkucu ya da tamamen iyimser olamazsınız. Ortada bir yerlerdedir. Bir verinin analizinden çıkan hipotezlerin hepsi listelenirse, bunların bir kısmı kullanışlı olacaktır. Ama işte bunun hangi kısım olduğunu bilmezsiniz. Yani eğer onlardan birkaç tanesini çekiyorsanız —diyelim ki yulaf kepeği yerseniz mide kanseri olmayacaksınız, veri bunu belirtiyor olsun— bir ihtimal şansınız yaver gidebilir. Bu veri bir destek sağlayabilir.</p>
<p>Ama gerçekten hata çizgileri sağlayacak ve hataları niceleyecek tam-ölçekli mühendislikle istatistiksel bir analiz yapmıyorsanız bu bir kumar oyunudur. Kumarı hiçbir veri olmadan oynamaktan iyidir. O saf bir rulet olurdu. Buysa bir nevi kısmi bir rulettir.<br />
<strong><br />
Spectrum:</strong> Tarif ettiğiniz yörüngeyi izlemeyi sürdürürsek büyük-veri alanını ne gibi olumsuz neticeler bekliyor olabilir?<br />
<strong><br />
Michael Jordan:</strong> Esas netice bir "büyük-veri kışı" olacaktır. İnsanların yatırım yaptığı ve bir sürü şirketin ciddi analizler sağlamadan büyük vaatler verdiği bu balon, daha sonra patlayacaktır. Kısa süre —iki ila beş yıl— içinde insanlar "Bütün bu büyük-veri olayı geldi ve gitti. Öldü. Yanlıştı." diyecekler. Bunu tahmin ediyorum. Çok fazla hayp olduğunda bu döngüler böyle olur. Yani gerçek sorunların ne olduğuna dair bir anlayışa dayanmayan, sorunların çözülmesinin onlarca yıl alacağının anlaşılmasına dayanmayan, düzenli ilerleme kaydedecek olsak bile teknik ilerlemede büyük bir sıçrama yapmamış olduğumuzun anlaşılmasına dayanmayan savların neticesi budur. Daha sonraysa veri analizi için vasıtalar bulmanın çok zor olacağı bir dönem olacaktır. Alan ileriye doğru gitmeye devam edecektir, çünkü gerçektir ve ihtiyaç vardır. Ama bu geri tepme çok sayıda önemli projenin canını yakacaktır.</p>
<p><strong>~~~ 1 Milyar ABD Dolarıyla Ne Yapardı ~~~</p>
<p>Spectrum:</strong> Buna harcanan para miktarını düşünürsek, sunulan reklamların arkasındaki bilim halen inanılmaz ilkel görünüyor. Saçma Kickstarter projelerini araştırma hobim var, genelde ne kadar akıldışı olduklarını görmek için, aynı şirketin aylarca sunduğu reklamları izlerim.<br />
<strong><br />
Michael Jordan:</strong> Yani yine, bu bir spektrum. Bir sistemdeki mühendisliğin ne olduğuna, hangi sahadan bahsettiğimize bağlıdır. Belirli dar sahalarda çok iyiyken, semantiğin çok daha bulanık olduğu daha kapsamlı sahalarda çok kötü olabilir. Ben kişisel olarak Amazon'un kitap ve müzik tavsiye sistemini çok, çok iyi buluyorum. Bunun nedeni büyük miktarlarda veriye sahip olmaları ve sahanın sınırlarının çok belirli olmasıdır. Gömlek ya da ayakkabı gibi sahaların semantiği daha bulanıktır ve daha az veri vardır, bu yüzden çok daha kötüdür.</p>
<p>Halen birçok sorun bulunuyor ama bu sistemleri inşa eden insanlar da çok çalışıyorlar. Bu noktada karıştığımız olay semantik ve insan tercihleridir. Eğer ben bir buzdolabı satın almışsam, bu benim genel olarak buzdolaplarıyla ilgilendiğimi göstermez. Zaten buzdolabımı satın almışımdır ve olasılıkla bunlarla ilgilenmeyi sürdürmem muhtemel değildir. Oysa Taylor Swift'in bir şarkısını satın aldıysam, başka şarkılarını da satın almam muhtemeldir. Şarkıcıların ve ürünlerin ve öğelerin özgül semantiğiyle ilgili bir şey bu. İnsan ilgilerinin geniş spektrumu boyunca bunu doğrultmak, büyük miktarda veriye ve büyük miktarda mühendisliğe gereksinim duyuyor.<br />
<strong><br />
Spectrum:</strong> "Kısıtlamasız 1 milyar dolarlık hibeye sahip olsam doğal dil işleme üzerine çalışırdım" dediniz. Google'ın Google Translate'le yaptığı şeylerin ötesinde ne yapardınız?<br />
<strong><br />
Michael Jordan:</strong> Eminim Google benim yapacağım her şeyi yapıyordur. Ama Google Translate'in, yani makine çevirisinin, tek dil sorunu olduğunu düşünmüyorum. Başka bir dil sorunu örneği soru yanıtlamasıdır, mesela "Kaliforniya'da bir nehrin yanında olmayan ikinci büyük şehir hangisidir?" Şu anda bu cümleyi Google'a yazarsam kullanışlı bir yanıt almam muhtemel değildir.<br />
<strong><br />
Spectrum:</strong> Yani bir milyar dolar karşılığında en azından doğal dil meselesinde genelleştirilmiş bilgi sorununu çözebilirim ve büyük yapay zeka kodamanına —insan gibi düşünen makineye— ulaşabilirim mi diyorsunuz?<br />
<strong><br />
Michael Jordan:</strong> Tabi her şeyi konu almasa da ilerlemenize izin veren daha küçük bir problemi kenara koymak istersiniz. Araştırmada yaptığımız şey budur. Özgül bir sahayı alırım. Biz esasen coğrafyadaki soru-yanıtlaması üzerine çalıştık. Bu benim belirli tür ilişkilere, belirli tür verilere odaklanmama izin verir, dünyadaki her şeye değil.<br />
<strong><br />
Spectrum:</strong> Yani soru yanıtlamasında gelişim yapabilmek için bunu özgül bir sahayla mı sınırlandırmak lazım?<br />
<strong><br />
Michael Jordan:</strong> Ne kadar ilerleme yapabileceğinize dair ampirik bir soru bu. Sahalarda ne kadar verinin müsait olduğuyla ilgilidir. İnsanların bu sahalardaki bilgilerinin bir kısmını yazıya geçirmeye hemen başlamaları için ne kadar ödeme yapabileceğinizle ilgilidir. Ne kadar etiketiniz olduğuyla ilgilidir.<br />
<strong><br />
Spectrum:</strong> Bir milyar dolarla bile elimizde kalanın, yine genelleştirilmemiş, yalnızca tek bir sahada çalışan bir sistem olacak olması hayal kırıcı görünüyor.<br />
<strong><br />
Michael Jordan:</strong> Her bir teknolojideki evrimleşme tipik olarak böyle olmuştur. Görme üzerine konuşmuştuk. İlk görme sistemleri yüz-tanıma sistemleriydi. Sahaya bağlıydılar. Ama bu saha, bazı ilk ilerlemeleri görmeye başladığımız ve işe yarayacaklarını hissettiğimiz yer olmuştur. Benzeri şekilde konuşmada, ilk ilerlemeler bağlantısız tek sözcükler üzerineydi. Ardından yavaş yavaş tam cümleleri yapabildiğiniz yere gelmeye başladı. Her zaman olan bu türde bir ilerlemedir, sınırlanmış bir şeyden, daha az ve daha az sınırlanmış bir şeye doğru.<br />
<strong><br />
Spectrum:</strong> Neden daha iyi soru-yanıtlamasına ihtiyacımız var ki? Google bu haliyle yeterince iyi çalışmıyor mu?<br />
<strong><br />
Michael Jordan:</strong> Google'ın tam olarak bunu çalışan çok sağlam bir doğal dil işleme grubu var çünkü belirli türdeki sorgularda çok kötü olduğunun farkındalar. Mesela değil/olmayan sözcüklerinin kullanımında. İnsanlar değil/olmayan sözcüklerini kullanmak istiyorlar. Mesela "Bana bir nehrin yanında olmayan bir şehir ver." Mevcut Google arama motorunda bu sorgu pek hoş karşılanmıyor.</p>
<p><strong>~~~ Tekillik Üzerine Nasıl Konuşmamak Gerekir ~~~</p>
<p>Spectrum:</strong> Şimdi diğer kimi konulara dönersek, Silikon Vadisindeki biriyle konuşuyor olsaydınız ve size "biliyorsun, profesör Jordan, ben hakikaten tekilliğe çok inanıyorum" deseydi, ona dair görüşünüz artar mıydı azalır mıydı?<br />
<strong><br />
Michael Jordan:</strong> Şanslıyım ki böyle insanlarla asla karşılaşmıyorum.<br />
<strong><br />
Spectrum:</strong> Eh, hadi canım.<br />
<strong><br />
Michael Jordan:</strong> Gerçekten karşılaşmıyorum. Mühendis ve matematikçilerden oluşan entelektüel bir kabuk içinde yaşıyorum.<br />
<strong><br />
Spectrum:</strong> Ama ya böyle biriyle karşılaşsaydınız, ne yapardınız?<br />
<strong><br />
Michael Jordan:</strong> Akademik şapkamı çıkarırdım ve önümüzdeki onlarca yılda neler olacağını düşünen bir insan olarak davranırdım sadece, ve bilim kurgu okuduğumda olduğu gibi eğlenirdim. Yaptığım akademik herhangi bir şeyin bilgisini beslemez bu.<br />
<strong><br />
Spectrum:</strong> Peki ama yaptığınız akademik şeylerin bilgisiyle buna dair ne düşünürsünüz?<br />
<strong><br />
Michael Jordan:</strong> Anladığıma göre bu akademik bir disiplin değil. Bu daha ziyade, kısmen, toplumun nasıl değiştiğine, bireylerin nasıl değiştiğine dair felsefe, kısmen edebiyat, bilim kurgu gibi, bir teknoloji değişiminin neticelerini enine boyuna düşünmek. Ama bunlar algoritmik fikirler üretmiyor benim bildiğim kadarıyla, çünkü böyle fikirler görmüyorum, teknolojik ilerlemeyi nasıl yapacağımıza dair bilgimizi besleyen bir şey görmüyorum.</p>
<p><strong>~~~ P = NP Olup Olmamasından Daha Çok Neyi Önemsiyor ~~~</p>
<p>Spectrum:</strong> P = NP olup olmadığına dair bir tahmininiz var mı? Önemsiyor musunuz?<br />
<strong><br />
Michael Jordan: </strong>Polinomyal ve üstel arasındaki farkı genelde fazla dert etmiyorum. Daha çok düşük-dereceli polinomyal —lineer zaman ve lineer uzay— ile ilgileniyorum. P ve NP, algoritmaların polinomyal ve üstel olarak kategorize edilmesiyle ilgilidir, burada polinomyal çözülebilir demektir, üstel ise çözülemez demektir.</p>
<p>P'nin NP'ye muhtemelen eşit olmadığını çoğu kişinin kabul edeceğini düşünüyorum. Bir parça matematik olarak bunu bilmek çok ilginçtir. Ama bu katı ve keskin bir ayrım değildir. Üstel zamanlı algoritmaların birçoğu, biraz da modern bilgisayarların gelişimiyle, belirli sınırlandırılmış sahalarda uygulanabilir olmuştur. Dahası, polinomyal, en büyük sorunların çözümünde yetersiz kalır. Polinomyal, belirli bir lineerüstü oranda —mesela kuadrik ya da kübik— artış olduğu anlamına gelir sadece. Ama esas ihtiyaç duyulan şey, lineer artış olmasıdır. Yani beş veri noktası daha aldığınız zaman, beş tane daha işleme ihtiyaç duyulacak olmasıdır. Hatta lineeraltı —mesela logaritmik— olmasıdır. Logaritmik, 100 yeni veri noktası aldığımda, iki kat büyür; 1000 tane aldığımda, üç kat büyür.</p>
<p>İdeal olan budur. Bu türdeki algoritmaların üzerine odaklanmamız lazımdır. Buysa P ve NP meselesinin çok uzağındadır. P ve NP önemli ve ilginç bir entelektüel sorudur ama üzerine çalıştığımız şeylerin bilgisini fazla beslememektedir.<br />
<strong><br />
Spectrum:</strong> Kuantum hesaplaması için aynı soru.<br />
<strong><br />
Michael Jordan:</strong> Bütün bu şeylere akademik olarak merak duyuyorum. Bunlar gerçek. Bunlar ilginç. Araştırma alanım üzerinde hiçbir tesirleri yok aslında.</p>
<p><strong>~~~ Turing Testi Gerçekte Ne Anlama Geliyor ~~~</p>
<p>Spectrum:</strong> Bir makinenin Turing testini geçtiğini görmeye ömrünüz yetecek mi?<br />
<strong><br />
Michael Jordan:</strong> Yeteneklerin yavaş yavaş biriktirileceğini düşünüyorum, konuşma ve görme ve doğal dil gibi sahalar dahil. "İşte şimdi evrende yeni bir zeki varlık bulunuyor" demek isteyeceğimiz bir an muhtemelen hiçbir zaman gelmeyecek. Google gibi sistemlerin halihazırda belirli bir düzeyde yapay zeka sağladığını düşünüyorum.<br />
<strong><br />
Spectrum:</strong> Kesinlikle kullanışlılar ama bir insanla asla karıştırılmazlar.<br />
<strong><br />
Michael Jordan:</strong> Kesinlikle karıştırılmazlar. Çoğumuz açısından Turing testinde çok açık bir sınır çizgisi bulunduğunu sanmıyorum. Daha ziyade hepimiz zekayı gördüğümüzde tanıyoruz ve etrafımızdaki bütün cihazlarda bu yavaş yavaş ortaya çıkıyor. Tek bir varlıkta bedenlenmesi gerekmiyor. Çevremdeki altyapının önceye göre daha zeki olduğunu fark etmem yeterli. Hepimiz bunu her zaman fark ediyoruz.<br />
<strong><br />
Spectrum:</strong> "Zeki" dediğinizde bunu sadece "kullanışlı"nın eş anlamlısı olarak mı kullanıyorsunuz?<br />
<strong><br />
Michael Jordan:</strong> Evet. Bizim kuşağımızın şaşırtıcı bulduğu şeyleri —bilgisayarın ihtiyaç ve istek ve arzularımızı tanıyabiliyor oluşunu— çocuklarımız daha az şaşırtıcı bulacaktır, çocuklarımızın çocuklarıysa buna daha az şaşıracaklardır. Çevremizdeki ortamın kendini uyarladığı, kestirimci olduğu, dayanıklı olduğu zaten varsayılacaktır. Ortamınızla doğal dil yoluyla etkileşme yeteneğinizi de içerecektir bu. Bir noktada, ortamınızla doğal bir konuşma sürdürebiliyor olmak sizi şaşırtabilir. Ama zaman geçtikçe, böyle şeylerin daha incelikli, daha dayanıklı, daha kapsamlı olduğunu göreceğiz. Bir noktada "vay be, bunlar ben çocukken çok farklıydı" diyeceğiz. Turing testi alandaki ilk çalışmalara yardım etti, ama sonuçta bu, Kunduz Festivali gibi bir çeşit medya olayı olacaktır, gerçekte önemi olmayan bir şey olacaktır.</p>
<p><em>Yazar Hakkında: Lee Gomes, eski Wall Street Journal muhabiri, yirmi yılı aşkın süredir Silikon Vadisini konu alıyor.</em></p>
<p>Türkçesi: Işık Barış Fidaner</p>
<p>Not: Michael Jordan görüşmenin yayınlanmasının ardından <a href="https://amplab.cs.berkeley.edu/2014/10/22/big-data-hype-the-media-and-other-provocative-words-to-put-in-a-title/" target="_blank">yazdığı blog yazısında</a> görüşme yapan Lee Gomes'in yaptığı çarpıtmaları kınadı. Aktaran: Amaç Herdağdelen</p>
