---
layout: post
status: publish
published: true
title: 'Menkıbe: Mevcut, menkul ve müşterek komünizmde ısrar beyanı'
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "<p style=\"text-align: center;\"><a href=\"/images/content/menkibe1.jpg\"><img
  class=\"alignright size-medium wp-image-571\" src=\"/images/content/menkibe1-211x300.jpg\"
  alt=\"menkibe\" width=\"211\" height=\"300\" /></a>(Üstünkörü okumalar, cehalet
  ve öfkeden doğmuş,\r\nneşeyle karışık bir serzeniş çiziktirmesi)</p>\r\n<p style=\"text-align:
  center;\">Şubat/Mart 2013</p>\r\n<p style=\"text-align: center;\">Bu broşürle ne
  haliniz varsa görün.</p>\r\n<p style=\"text-align: center;\">Sanal veya gerçek ortamda
  herhangi bir ulaşım adresi yoktur, asla olmayacaktır, bunu kullananlar veya bunu
  ima edenler kendi kendilerine bir şeyler yapmış olur ama bu satırlarla fiili alakaları
  yoktur, olmayacaktır.</p>\r\n<p style=\"text-align: center;\">İmla hataları, düşük
  cümleler ve kopukluklar affola.</p>\r\n<p style=\"text-align: center;\">"
wordpress_id: 568
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=568
date: '2014-10-18 22:51:12 +0300'
date_gmt: '2014-10-18 20:51:12 +0300'
categories:
- Kategorilendirilmemiş
tags: []
comments:
- id: 23521
  author: Neverland&#8217;e Yolculuk, Paramaz Kızılbaş&#8217;ı (Suphi Nejat Ağırnaslı)
    ANIYORUZ | YERSİZ ŞEYLER
  author_email: ''
  author_url: https://yersizseyler.wordpress.com/2015/09/26/neverlande-yolculuk-paramaz-kizilbasi-suphi-nejat-agirnasli-aniyoruz/
  date: '2015-09-26 23:54:13 +0300'
  date_gmt: '2015-09-26 21:54:13 +0300'
  content: "[&#8230;] Menkıbe: Mevcut, menkul ve müşterek komünizmde ısrar beyanı
    [&#8230;]"
---
<p style="text-align: center;"><a href="/images/content/menkibe1.jpg"><img class="alignright size-medium wp-image-571" src="/images/content/menkibe1-211x300.jpg" alt="menkibe" width="211" height="300" /></a>(Üstünkörü okumalar, cehalet ve öfkeden doğmuş,<br />
neşeyle karışık bir serzeniş çiziktirmesi)</p>
<p style="text-align: center;">Şubat/Mart 2013</p>
<p style="text-align: center;">Bu broşürle ne haliniz varsa görün.</p>
<p style="text-align: center;">Sanal veya gerçek ortamda herhangi bir ulaşım adresi yoktur, asla olmayacaktır, bunu kullananlar veya bunu ima edenler kendi kendilerine bir şeyler yapmış olur ama bu satırlarla fiili alakaları yoktur, olmayacaktır.</p>
<p style="text-align: center;">İmla hataları, düşük cümleler ve kopukluklar affola.</p>
<p style="text-align: center;"><a id="more"></a><a id="more-568"></a>~~~</p>
<p style="text-align: center;"><strong>Menkıbe:</strong> Yollar, geçitler, bir kimsenin erdem ve kahramanlıklarını<br />
anlatan hikaye, epos, dar yol, dağ geçidi. Bkz. nakip</p>
<p style="text-align: center;"><strong>Nakip:</strong> Önder, lider; delme, delip geçme; yol aşma, dağ geçidi aşma</p>
<p style="text-align: center;">~~~</p>
<p><strong>İçindekiler:</strong><br />
— Halkların demokratları kimlerdir?<br />
— Proletarya: amele değil emel<br />
— Hatunların asırlık ihtişamı<br />
— ◎</p>
<p style="text-align: center;">~~~</p>
<p style="text-align: center;"><em>“Ben basit bir zanaatkarım; örs üzerindeki çekiç vuruşlarımın yankısı uzak mesafelerden duyulur.”<br />
</em>Augusto Calderón Sandino</p>
<p style="text-align: center;">~~~</p>
<p style="text-align: center;"><strong>Think differential.</strong></p>
<p style="text-align: center;">~~~</p>
<p><strong>Halkların Demokratları Kimlerdir?<br />
</strong>        Bilgi dolaşımının ‘demokratikleşmesi’ yakın tarihlere bakacak olursak matbaaya kadar uzanır aslında. Chester Carlton fotokopi makinesinin ilkel halini icat etti ve sonradan <em>Xerox </em>ismini alacak olan <em>Haloid Company</em>, bu makineyi geliştirdi ve faks makinelerinin ilk tiplerini üretti. O faks makineleri ki, Tiananmen Meydanı’nda simgeleşecek kargaşaların örgütlenmesinde büyük bir rol oynayacaktı. Zaten matbaanın icadının nelere yol açtığını az buçuk biliyoruz. Bir eylem tarzı olarak basın açıklamalarının artık seri üretime geçmesi herhalde biraz da ozalit pankartların marifetidir. İkinci Dünya Savaşı esnasında işçi hareketlerinin ABD’de durulmasıyla rahat hareket edebilen <em>Xerox</em>’un en büyük müşterisi ABD ordusu oldu. Xerox, IBM’in yanı sıra kurumsal iş makineleri üretimi konusunda suyun başını tutan şirketlerden biriydi; ufak birlikler, dere kenarlarına taciz ateşleri açana dek.</p>
<p>Kişisel bilgisayarların ilkel hali olan devre setleri, başlangıçta garajlarında elektronik aletlerle hobi icabı uğraşan bir kitleye göre düşünülmüş, basit kasalara konulmuş ve programlanabilir mikro-işlemciler taşıyan birer ‘makine’ olarak ortaya çıkmıştı. <em>Commodore </em>şirketi için 650x mikro-işlemcilerini üretecek olan Chuck Peddle önce <em>General Electric </em>ve sonra da <em>Motorola</em>’da çalıştı. Gel gör ki, <em>Motorola </em>ile anlaşamayınca <em>MOS Technologies </em>şirketini kurarak mühendisliğini yapmış olduğu 6800 işlemcisini çok daha ucuza 650x serisi adı altında üretti. Piyasanın temel itkilerinden birini –düşük fiyat– arkasına alarak mikro-işlemci dünyasını ‘halka arz’ etti. Bu ucuzluk yeni olanaklara mahal verdi. Bir mikro-işlemci üreticisi bu şirket, yani <em>MOS Technologies </em>hesap makineleri üreten <em>Commodore </em>şirketi tarafından karambolle ‘yutuverildi’ ve bilgisayar üreticisine dönüşen <em>Commodore </em>ilkel bir ‘kişisel bilgisayar’ üretti. <em>Commodore</em>, KIM-1’i ve PET serisini üreterek entegre bir ‘kişisel bilgisayara’ doğru bir adım attı. Steve Wozniak, Peddle’in ucuzlattığı mikro-işlemciyi kullanarak, tam da bu dönemlerde kendi garajında <em>Apple I</em>’i geliştirdi. Steve Jobs ve Steve Wozniak daha sonra geliştirdikleri <em>Apple II</em>’yi Commodor’e satmak istedi, ancak iki şirket anlaşmadı.</p>
<p>...</p>
<p>&nbsp;</p>
<p style="text-align: center;">(<a href="https://drive.google.com/file/d/0B16n8kemV3Y2d3lWaDQ5ZWU3NUE/view?pli=1" target="_blank">PDF</a>)</p>
<p style="text-align: center;">(<a href="http://www.jadaliyya.com/pages/index/19629/suphi-nejat-agirnasli%E2%80%99nin-anisinan" target="_blank">kaynak</a>)</p>
<p>&nbsp;</p>
<p style="text-align: center;">Kitapta atıflanan görüntüler: (1) <a href="http://www.youtube.com/watch?v=lSiQA6KKyJo" target="_blank">1983 Apple Keynote-The "1984" Ad Introduction</a>, (2) <a href="http://www.youtube.com/watch?v=0quHs9UPqBc" target="_blank">Steve Jobs - Meşhur Stanford Konuşması [Türkçe Altyazılı]</a> , (3) <a href="http://www.youtube.com/watch?v=SswMzUWOiJg" target="_blank">Apple - Think Different Commercial</a>, (4) <a href="http://www.youtube.com/watch?v=9LAzSZKJ3o0" target="_blank">The History Of Amiga</a>, (5) <a href="http://www.youtube.com/watch?v=nymVNhy4dw8" target="_blank">Revolution - NewTek (Video Toaster Demonstration)</a>, (6) <a href="http://www.youtube.com/watch?v=po0jY4WvCIc" target="_blank">Michael Jackson Pepsi Generation</a>, (7) <a href="http://www.youtube.com/watch?v=jSTWy25hRiI" target="_blank">The Sorcerer's Apprentice [HD] (VHS Version)</a></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: center;"><strong>Menkıbe<br />
</strong>Olup bitenden kurtulmanın ve komünizmde örgütlenmenin beyannamesidir. Statükoya ve iktidara aşık bir solun içinden çıkıp ona sırt dönmenin adımıdır. Kısa devredir: Ayşe Paşalı’da Deniz Gezmiş’i görme girişimidir. Kapitalizme, yani demokrasiye başkaldırı çağrısıdır. Candır, evrendir, armağandır.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
