---
layout: post
status: publish
published: true
title: İnternetler — çeviri derlemesi
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
wordpress_id: 623
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=623
date: '2014-11-08 09:27:00 +0200'
date_gmt: '2014-11-08 07:27:00 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p style="text-align:left;"><a href="http://www.sakareller.net/insan/baris/internetler.pdf"><img class="alignright  wp-image-2187" src="https://yersizseyler.files.wordpress.com/2014/11/borromean-kapak.jpg?w=500" alt="borromean-kapak" width="202" height="303" /></a>Son versiyon: 8 Kasım 2014</p>
<p style="text-align:left;">(<a href="http://www.sakareller.net/insan/baris/internetler.pdf" target="_blank">PDF</a> — <a href="http://www.sakareller.net/insan/baris/internetler-src.zip" target="_blank">LaTeX</a>)</p>
<p style="text-align:left;"><strong>İçindekiler</strong></p>
<p>— Başkan Reif Aaron Swartz üzerine MIT topluluğuna yazdı (Rafael Reif)</p>
<p>— Matematikçiler, neden konuşmuyorsunuz? (Charles Seife)</p>
<p>— NSA Üzerine (Matthew Green)</p>
<p>— AMS, NSA İle Bağlarını Koparmalıdır (Alexander Beilinson)</p>
<p>— Özgür yazılım bir politik felsefedir (Richard Stallman ile görüşme)</p>
<p>— Apple tarihin en sıkı dijital kelepçelerine sahip (Richard Stallman ile görüşme)</p>
<p>— “Etkin Yönetim Teknolojisi”: Intel donanımlarında bulunabilen müphem uzaktan kumanda (Vandewege, Garrett, Stallman)</p>
<p>— Bulutta Özgürlük (Slavoj Žižek)</p>
<p>— WikiLeaks özgürlük yanılsaması karşısında nasıl gözlerimizi açtı (Slavoj Žižek)</p>
<p>— İstanbul’da İnternet Yönetişim Forumu’nda nasıl ayakta kalınır ve ne gereği var? (Maria Farrell)</p>
<p>— İnternet ulusu? (Milton Müller)</p>
<p>— İlkeler Bildirgesi (Radiobubble)</p>
