---
layout: post
status: publish
published: true
title: Stallman ile görüşme, Mayıs 2001
author:
  display_name: Işık Barış Fidaner
  login: fidaner
  email: fidaner@alternatifbilisim.com
  url: http://fidaner.wordpress.com
author_login: fidaner
author_email: fidaner@alternatifbilisim.com
author_url: http://fidaner.wordpress.com
excerpt: "Louis Suarez-Potts ve Richard M. Stallman arasında <a href=\"http://www.gnu.org/philosophy/luispo-rms-interview.html\"
  target=\"_blank\">Mayıs 2001 tarihli görüşme</a>:\r\n\r\nRichard M. Stallman <a
  href=\"http://www.gnu.org/philosophy/free-sw.html\" target=\"_blank\">özgür yazılımın</a>
  (ismini de koymuş olan) en ünlü pratisyeni/kuramcısıdır. \"Özgür\" burada \"ifade
  özgürlüğü\" anlamındadır. Stallman'ın \"özgür yazılım\" hareketindeki en ünlü müdahalesi
  tabi ki GNU Genel Kamusal Lisansı'ydı (<a href=\"http://www.gnu.org/licenses/gpl.html\"
  target=\"_blank\">GPL</a> - 1985'te herhangi bir programa uygulanabilecek genel
  bir lisans olarak GPL'i yarattı). Lisansın kodladığı \"<a href=\"http://www.gnu.org/copyleft/copyleft.html\"
  target=\"_blank\">copyleft</a>\" kavramının \"merkezi fikri\" Stallman'ın tarifiyle
  \"herkese programı çalıştırma, kopyalama, değiştirme ve türetilmiş versiyonlarını
  dağıtma hakkı vermesi, ama kendi kısıtlamalarını ekleme hakkı vermemesidir. Yani
  'özgür yazılım'ı tanımlayan elzem özgürlükler kopya sahibi olan herkes için güvencededir;
  bunlar vazgeçilemez haklar olurlar.\" (Stallman, \"GNU İşletim Sistemi ve Özgür
  Yazılım Hareketi\", DiBona, Açık Kaynaklar: Açık Kaynak Devriminden Sesler)\r\n\r\n"
wordpress_id: 472
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=472
date: '2014-02-09 12:18:17 +0200'
date_gmt: '2014-02-09 10:18:17 +0200'
categories:
- Kategorilendirilmemiş
tags: []
comments: []
---
<p>Louis Suarez-Potts ve Richard M. Stallman arasında <a href="http://www.gnu.org/philosophy/luispo-rms-interview.html" target="_blank">Mayıs 2001 tarihli görüşme</a>:</p>
<p>Richard M. Stallman <a href="http://www.gnu.org/philosophy/free-sw.html" target="_blank">özgür yazılımın</a> (ismini de koymuş olan) en ünlü pratisyeni/kuramcısıdır. "Özgür" burada "ifade özgürlüğü" anlamındadır. Stallman'ın "özgür yazılım" hareketindeki en ünlü müdahalesi tabi ki GNU Genel Kamusal Lisansı'ydı (<a href="http://www.gnu.org/licenses/gpl.html" target="_blank">GPL</a> - 1985'te herhangi bir programa uygulanabilecek genel bir lisans olarak GPL'i yarattı). Lisansın kodladığı "<a href="http://www.gnu.org/copyleft/copyleft.html" target="_blank">copyleft</a>" kavramının "merkezi fikri" Stallman'ın tarifiyle "herkese programı çalıştırma, kopyalama, değiştirme ve türetilmiş versiyonlarını dağıtma hakkı vermesi, ama kendi kısıtlamalarını ekleme hakkı vermemesidir. Yani 'özgür yazılım'ı tanımlayan elzem özgürlükler kopya sahibi olan herkes için güvencededir; bunlar vazgeçilemez haklar olurlar." (Stallman, "GNU İşletim Sistemi ve Özgür Yazılım Hareketi", DiBona, Açık Kaynaklar: Açık Kaynak Devriminden Sesler)</p>
<p><a id="more"></a><a id="more-472"></a>Bütün özgür-yazılım lisansları muhtemelen varoluşunu Stallman'ın görüşüne borçlu, OpenOffice.org kodunu idare eden lisanslar da dahil olmak üzere. Stallman'ın çalışması tabi ki pratik bir kararlılıktır. Kendisinin yazdığı veya yardım ettiği kodlama başarılarının kısa bir listesi Emacs'ın yanısıra GNU/Linux sisteminin çoğu kısmını içerir. Stallman 1990'da <a href="http://www.macfound.org/programs/fel/fel_overview.htm" target="_blank">McArthur Vakfı</a>'nın fellowship fonlarını kullanarak özgür yazılım çalışmalarını daha da ilerletti. (Moody, İsyancı Kod'da Stallman'ın görevinin iyi bir anlatımını bulabilirsiniz.)</p>
<p>Bu görüşme fırsatı, Mayıs'ta Sun Cupertion kampüsündeki dersini Stallman görmemle ortaya çıktı. O zaman Stallman'la bir e-posta görüşmesi yapmak istemiştim. Kabul etti ve kısa süre sonra aşağıdaki sorular dizisini ona gönderdim, uzun uzun cevapladı. Fakat sonraki çabalarım sonuç vermediği için bu görüşme yalnızca ilk geçişten oluşuyor. Sonuç olarak bazı ilginç ve zorlu yollara doğru uzanamadım. Ek bağlantılar vererek Stallman'ın politikasına dair bir bağlam oluşturmaya çalıştım. Tabi söylemek gereksiz ama Stallman'ın görüşleri kendine aittir ve ne benimkileri ne de OpenOffice.org'unkileri temsil eder.</p>
<p>Daha fazla bilgi için okuyucuların <a href="http://www.gnu.org/home.html" target="_blank">GNU web sitesini</a> ve <a href="http://www.stallman.org/" target="_blank">Stallman'ın kişisel sitesini </a>ziyaret etmelerini öneririz.</p>
<p><em>Bu görüşmede şu anki çalışmanıza odaklanmak ve ne çeşit bir toplumda yaşamamız gerektiği sorunsalına odaklanmak isterim. Şu anki -ve en azından son onyedi yılki- odağınız yazılım kullanarak toplumsal düzenlemeleri daha etik yapmaya çalışmak oldu. </em></p>
<p><em>Fakat, özetle, burada benim daha etik toplum dediğim bu nosyon ile ne kastediyorsunuz?</em></p>
<p>Başka insanların işbirliği yapma özgürlüğüne saygı duyarak ortaklaşa çalışma ruhunu cesaretlendirmeye ihtiyacımız var, onları bölerek hakimiyet kuracak tezgahlar geliştirmeye değil.</p>
<p><em>Bu bizi oldukça önemli ve okuyucularımız için açıklayabileceğinizi umduğum bir noktaya getiriyor. Etiğinizi "özgür yazılım" terimi ile ifade etmeyi seçiyorsunuz ve buradaki "özgür" ele geçirme özgürlüğü değil kısıtlamalardan muaf olmak anlamında. Ama insanlar giderek daha çok "Açık Kaynak" demeye başladılar ve sizin perspektifinize göre daha yakın zamanda çıkan (1998) bu terimin belirgin sorunları var. Bu ikisi arasında, özgür yazılım bir yaşama etiğini ifade ediyor ve daha adil bir toplum vaadini öne çıkarıyor, diğeri, "açık kaynak" ise böyle değil. </em></p>
<p><em>Acaba bu şekilde belirtmek adilce mi? Bu meseleye yanıt verebilir misiniz ve bu ayrımları okurlarımız için açıklayabilir misiniz?</em></p>
<p>Bu tam olarak doğru. Bir zamanlar biri şöyle demişti: açık kaynak bir geliştirme metodolojisidir; özgür yazılım bir politik felsefedir (veya toplumsal harekettir).</p>
<p><a href="http://www.opensource.org/" target="_blank">Açık kaynak hareketinin</a> odaklandığı şey, kullanıcıların yazılımı paylaşma ve değiştirme özgürlüklerine saygı duyarak kazanç sağlayabileceklerine iş dünyasını ikna etmektir. Biz <a href="http://www.fsf.org/" target="_blank">özgür yazılım hareketi</a> olarak bu çabalara değer veriyoruz, ama biz daha önemli bir meselenin sözkonusu olduğuna inanıyoruz: bütün programcılar diğer insanların özgürlüklerine saygı duymaya etik olarak mecburdurlar. Kazanç sağlamak kendi içinde yanlış değildir, ama başka insanlara kötü davranılmasını gerekçelendiremez.</p>
<p><em>Bu yolu izlersek, etik toplum fikrinizin nasıl adlandırılabileceğine dair dikkate değer bir kafa karışıklığı var. Çoğu kişi, hatalı olarak, bir <a href="http://www.marxists.org/archive/marx/works/1840/prin-com.htm" target="_blank">komünizm</a> ileri sürdüğünüzü varsayıyor.</em></p>
<p>Belirli iş pratiklerini eleştiren herhangi birisi zaman zaman "komünist" olarak adlandırılmayı bekleyebilir. Bu, konuyu değiştirerek meseleyi atlatmanın bir yoludur. Eğer insanlar yapılan suçlamaya inanırlarsa eleştirmenlerin gerçekten söylediklerini dinlemezler. (Komünizme saldırmak, özgür yazılım hareketinin görüşlerine saldırmaktan çok daha kolaydır.)</p>
<p><em>Pekka Himanen, yakın zamandaki çalışması Hacker Etiği'nde haklı olarak bu iddialara karşı çıktı. Daha ileri gideceğim: ileri sürdüğünüz şey <a href="http://web.archive.org/web/20010604041229/http://www.gwu.edu/~ccps/etzioni/index.html" target="_blank">Amitai Etzioni</a> gibi politik kuramcıların komünitaryanizm olarak tarif edeceği şeylere yakın (mesela <a href="http://communitariannetwork.org/about-communitarianism/" target="_blank">http://communitariannetwork.org/about-communitarianism/</a>). Ve komünitaryanizm, çoğu kişinin kapitalizm ile ilişkilendirdiği pazar ekonomisine hiç de düşmanca değil. Hatta tam tersi. Etik sisteminizin politikası denebilecek bu konuda ne dersiniz?</em></p>
<p>Yaşamda iş için bir yer vardır, ama iş'in herkesin yaşamına hükmetmesine izin verilmemelidir. Demokrasinin esas fikri, çoğunluğun eline zengin azınlığın gücünü denetleyebileceği bir yol vermekti.</p>
<p>Bugün iş sahipleri çok fazla politik güç sahibi, ve bu ABD ve diğer ülkelerde demokrasinin altını oymakta. Adaylar iş dünyası tarafından veto edilme ihtimali ile karşı karşıya olduklarından iş dünyasının emirlerine itaat etmemeyi göze alamıyorlar.</p>
<p>Kanun yapma gücü seçilmiş meclislerden <a href="https://www.citizen.org/trade/wto/Qatar/seattle_mini/articles.cfm?ID=5468" target="_blank">kamu sağlığı, çevre koruması, emek standartları ve genel yaşam standartlarını iş dünyasının çıkarlarına tabi kılmak </a>üzere tasarlanmış WTO (<a href="http://www.fpif.org/reports/world_trade_organization" target="_blank">Dünya Ticaret Örgütü</a>) gibi demokratik olmayan kuruluşlara aktarılıyor. NAFTA (<a href="https://www.citizen.org/trade/nafta/votes/articles.cfm?ID=6473" target="_blank">Kuzey Amerika Serbest Ticaret Ortaklığı</a>) altında Mississipi'de rekabet karşıtı pratiklerden suçlu bulunmuş Kanadalı bir firma, bu karardan kaynaklanan iş kayıpları için tazminat almak üzere Federal bir <a href="https://www.citizen.org/trade/nafta/chapter11/articles.cfm?ID=1173" target="_blank">dava açıyor</a>. Rekabet karşıtı pratiklere karşı kanun yapma hakkını NAFTA'nın devletlerin elinden aldığı söyleniyor.</p>
<p>Ama iş dünyası henüz tatmin olmadı. Önerilen FTAA (<a href="http://www.ftaa-alca.org/" target="_blank">Amerikaların Serbest Ticaret Bölgesi</a>) bütün hükümetlerin kendi kamusal olanaklarını (okullar, su temini, kayıt tutulması, hatta toplumsal güvenlik gibi) özelleştirmesini gerektirecek. Bush'un "<a href="https://en.wikipedia.org/wiki/Fast_track_%28trade%29" target="_blank">hızlı</a>" yetkilerle geçirmek istedikleri işte bunlardır.</p>
<p><a href="http://web.archive.org/web/20130607095126/http://www.canadians.org/trade/issues/FTAA/Quebec/index.html" target="_blank">Quebec'te FTAA'ya karşı barışcıl protestoculara polis vahşice saldırdı</a>, sonra da protestocuları kavgacılıkla suçladı. Sokakta ayakta duran bir protestocu 6 metre mesafeden plastik mermiyle boğazından vuruldu. Yaşam boyu sakatlandı. Cinayete teşebbüsten dava açacak -tabi polisler onu vuranın kim olduğunu ortaya çıkarırlarsa.</p>
<p>Protesto örgütleyenlerden birisi, sokakta kamyonetle gelen bir çetenin saldırısına uğradı ve dövüldü. Arkadaşları onu kurtarmaya geldiğinde çetedekiler sivil polis olduklarını açıklayıp onu götürdüler.</p>
<p>Küresel anlaşmalardan sonra artık nasıl bir demokrasi kaldıysa, bu anlaşmalar <a href="http://web.archive.org/web/20010515200253/http://stopftaa.org/" target="_blank">karşısındaki muhalefeti</a> bastırma çabalarıyla ezilmekte.</p>
<p><em>Etik konusundaki ısrarınızın en doğrudan eleştirisi şöyle: özgür yazılım etiği iyidir ama iş dünyasının gerçek dünyasıyla bir alakası yoktur.</em></p>
<p>Dünyadaki web sitelerinin yarıdan fazlasının GNU/Linux ve <a href="http://www.apache.org/" target="_blank">Apache</a> ile çalıştığını düşünürsek, bu dediğiniz bariz bir FUD [fear-uncertainty-doubt = korku-belirsizlik-şüphe, bir satış ve propaganda taktiği http://en.wikipedia.org/wiki/Fear,_uncertainty_and_doubt]. Kendiniz ciddiye alıyor gözükerek böyle yanlış/sahte şeylere itibar vermemelisiniz.</p>
<p><em>Örtük yalanları cevapsız bırakmak onları doğrudan yanıtlamaktan daha kötüdür diye düşünüyorum. Şu yüzden diyorum, mesela Microsoft'un öne sürebileceği ve sürdüğü iddialara göre özgür yazılım para getirmez hatta para kaybettirir. Tamamen kötü bir fikir olduğunu savunuyorlar. Microsoft'u görmezden gelemeyiz diye düşünüyorum, nasıl ki WTO'yu görmezden gelmemeliysek. Yani bu bariz FUD taktiğinin yanlış olduğunu kanıtlayabilir miyiz diye sormuştum, yoksa hatalarına itibar vermek için değil.</em></p>
<p><em>O zaman sorumu yeniden kurayım: Microsoft, iş dünyası açısından aptalcadır ve "Amerika" (her ne demekse) için kötüdür diyerek GPL'e saldırdı. Topluluk etiği umurlarında değil. O zaman onların FUD'una veya Microsoft'un görüşlerini paylaşanların FUD'larına nasıl karşı çıkılacak?</em></p>
<p><em>Stallman bu açıklama isteğine yanıt vermedi, ama yakın zamanda New York Üniversitesi'nde yaptığı bir <a href="http://www.gnu.org/events/rms-nyu-2001-transcript.txt" target="_blank">konuşmada</a> Microsoft'un propagandasına yanıt vermişti. Ayrıca Özgür Yazılım Vakfı da özgür yazılım için bir <a href="http://www.gnu.org/press/2001-05-04-GPL.html" target="_blank">savunma</a> sunmuştu.</em></p>
<p><em>(görüşmeye dönersek...)</em></p>
<p><em>Daha bireysel bir düzeyde, etik standartlarınıza uymak isteyen ama aynı zamanda entelektüel çalışmasından para kazanmak istediği için bunlara uyamadığını hisseden birinin eleştirisini nasıl yanıtlardınız?</em></p>
<p>Görünüşe göre bu varsayılan kişi özgür yazılım geliştirmenin ödeme/maaş almakla uyumsuz olduğuna inanıyor. Eğer öyleyse yanlış bilgilendirilmiş -bugün yüzlerce kişi özgür yazılım geliştirmek için ödeme/maaş almakta. Bazıları Sun'da çalışıyor. Demek ki bu kişinin çözmemizi istediği bu mesele gerçekte mevcut değildir.</p>
<p>Peki bu özgür yazılım işlerinden birini alamazsa ne olacak? Olabilir -bugün herkes bu işleri bulamıyor. Ama bu hususi yazılım geliştirmeye mazeret değildir. Kazanç arzusu kendi içinde yanlış değil, ama bu başkalarına kötü davranmanın mazereti olabilecek acil ve hükümsüz kılan türden bir amaç olamaz. Hususi yazılım, kullanıcıları böler ve onları çaresiz bırakır, bu da yanlıştır. Kimse bunu yapmamalıdır.</p>
<p>O zaman bunun yerine ne yapmalıdır? Bundan başka herhangi bir şey yapabilir. Başka bir alanda iş bulabilir. O kadar uzaklaşmasına da gerek yok -birçok yazılım istek üzerine geliştiriliyor, özgür yazılım veya hususi yazılım olarak yayınlanmak üzere değil. Böyle işler çoğu zaman etik bir sorun olmadan yapılabilir. Ne bir kahramanlık, ne de bir kötülük.</p>
<p><em>Ama telif hakkı yazar/sanatçı dostu olarak düşünülebilir.</em></p>
<p>Matbaa çağında bu dediğiniz doğruydu: <a href="http://www.ipo.gov.uk/types/copy/c-about/c-history.htm" target="_blank">telif hakkı</a> endüstriyel olarak yayıncıların kitap yazarlarına ödeme yapmasını gerektiren bir kısıtlamaydı. Okuyucuları kısıtlamıyordu çünkü kısıtladığı eylemler yalnızca yayıncıların yapabileceği şeylerdi.</p>
<p>Ama artık bu doğru değil. Bugün telif hakkı kamu aleyhinde ve yayıncılar yararına bir kısıtlama. Yayıncılar, küçük sadakalar vererek yazar/sanatçıların kamu aleyhine onlara vereceği desteği satın alıyorlar.</p>
<p><em>O zaman mevcut durumda telif hakkından en çok kim fayda sağlıyor?</em></p>
<p>Yayıncılar.</p>
<p><em>Serbest iş yapıyor olsaydım emeğim karşılığında telif hakkının bana sağlayacağı asgari ödeme güvencesi olmadan çalışmalarımı yayınlamak istemezdim.</em></p>
<p>Telif hakkı olmadan da bunu yapabilirsiniz. Çalıştığınız derginin iş anlaşmalarının bir parçasıdır bu.</p>
<p>Ama lütfen dikkat, telif hakkı tamamen kaldırılmalıdır demiyorum. Söylediğime katılmayabilirsiniz, ama söylemediğim şeyler için saldırmanız anlamlı değildir. Konuşmamda şunu dedim: yayınlanmış yazılım özgür olmalıdır.</p>
<p><em>Stallman'ın telif haklarına dair görüşlerinin yazılım alanının dışına uzanan daha detaylı bir anlatımı için okurlara <a href="http://www.gnu.org/home.html" target="_blank">GNU web sitesine</a> ve Stallman'ın <a href="http://www.stallman.org/" target="_blank">kişisel sitesine</a> gitmelerini öneriyoruz. Okuyucularımız, özellikle 19 Nisan 2001'de Cambridge, Massachusetts'te bulunan MIT'de (Massachusetts Teknoloji Enstitüsü) yaptığı "<a href="http://www.gnu.org/philosophy/copyright-and-globalization.html" target="_blank">Bilgisayar Ağları Çağında Telif hakkı ve Küreselleşme</a>" sunumuna bakabilirler. Telif haklarına dair görüşlerini yazılım dışı alanlara uzanarak tartışan Stallman görüşmede şöyle diyor "Yıllar içinde özgür yazılımda çalışarak bu fikirlere ulaştım. 'Bu fikirler nasıl başka türden bilgilere uzanıyor' diye bana soruyorlardı, işte 90'larda bu soruyu düşünmeye başladım. Bu meseleyle ilgili düşüncem bu konuşmadadır."</em></p>
<p>Başka bir noktaya dair: yakınlarda Arjantin, bütün hükümet bürolarına özgür yazılım kullanma gerekliliği getirmeyi öneren ilk ülke oldu (mesela <a href="http://www.wired.com/techbiz/media/news/2001/05/43529" target="_blank">http://www.wired.com/techbiz/media/news/2001/05/43529</a>).</p>
<p>Sanırım düzenleme hala tartışılıyor, henüz benimsenmiş değil.</p>
<p><em>Bildiğim kadarıyla evet hala tartışıyor... Ama kanunlar yapılmış da olsa yapılmamış da olsa cesaret veren bir haber, en azından özgür yazılım meşru bir seçenek olarak ciddiye alınıyor. Bu ve benzeri haberler gelecekteki çabalarınıza dair ne gösteriyor? Yani gelişmekte olan ulusların da güçlü olarak sahip çıkması için amacınızı ortaya koyacak mısınız?</em></p>
<p>Evet. İki hafta içinde Güney Afrika'ya gidiyorum [bu yazı Mayıs ortasında yazıldı] ve Hindistan'da bir Özgür Yazılım Vakfı başlatılıyor. Brezilya'da da büyük ilgi var.</p>
<p><em>Son bir nokta. "Açık Kaynak" denilen hareket genel olarak mizahtan yoksun. "Özgür Yazılım" hareketi ise hiç de öyle değil. Sizin derslerinizde ve şarkınızda mutlu eden bir mizah var. Son olarak bunu sorayım, Bununla neyi başarıyorsunuz?</em></p>
<p>Neşeyi başarıyorum. Hacker ruhu budur - Ha Ha, Valla!</p>
