---
layout: post
status: publish
published: true
title: "#Seçim2015 SMS ile Tweet"
author:
  display_name: aliriza
  login: aliriza
  email: ali.r.keles@gmail.com
  url: http://alternatifbilisim.org
author_login: aliriza
author_email: ali.r.keles@gmail.com
author_url: http://alternatifbilisim.org
wordpress_id: 653
wordpress_url: http://netdefteri.alternatifbilisim.org/?p=653
date: '2015-06-07 09:17:00 +0300'
date_gmt: '2015-06-07 07:17:00 +0300'
categories:
- Kategorilendirilmemiş
tags:
- twitter
- Seçim2015
- sms2tweet
- sms
comments: []
---
<p>ESB'nin Internet Servis Sağlayıcılarından seçimlerin ertesi gününe kadar bir teknik bir de hukukçuyu 24 saat boyunca hazır bulundurmalarını istemesi çeşitli şüphelere yol açtı. Özetle seçimler sırasında Internet'in kesilebileceğinden endişe ediyoruz. Detaylar şuralarda: <a href="http://www.turk-internet.com/portal/yazigoster.php?yaziid=50119" target="_blank">Turk-Internet Haberi</a>, <a href="http://www.alternatifbilisim.org/wiki/Internet_Se%C3%A7imlerin_Adil_Ge%C3%A7mesinin_G%C3%BCvencesidir" target="_blank">Alternatif Bilişim Derneği Açıklaması</a></p>
<p>Dernek üye listemizde neler yapabiliriz diye konuşuyorken, düşen bir eposta basit bir çözüm önermiş. Çözümü geliştiren üyemizin adını iznini almadığım için buraya koymuyorum. Mesaj, burası için gereksiz bölümleri hariç aşağıda.</p>
<p><strong>Internet kesintisi durumunda nasıl kullanılacağı detaylı şekilde mesajın içinde bulunuyor.</strong></p>
<blockquote><p>Merhaba,</p>
<p>Dün yazdığım sms ile tweet atma özelliğiyle birlikte çalışabilecek bir bot geliştirdim. @seffafsecim15 adresindeki bot, basitçe atılan mention'ı alıntılayarak retweetliyor.</p>
<p>İnternet erişimi kesilirse sms yoluyla mention atabilir, takip edip diğer kişilerin sms yoluyla attıkları mentionları yine sms olarak alabilirsiniz.</p>
<p>Böylelikle "internet yoksa tweet atmamızın ne mantığı var." ve benzer argümanlarla gelen eleştirileri kısmen aşabiliriz.</p>
<p>--------------<br />
Bu yöntemi kullanmak için:<br />
1- Sms yoluyla twitter uygulamasına kayıt olun:</p>
<p>Turkcell için: BASLA yazıp 2555'e gönderin.<br />
Avea için: BASLA yazıp, 2444’e gönderin.<br />
Vodafone için: START yazıp, 2444'e gönderin</p>
<p>2- Gelen sorgu mesajına kullanıcı adı/şifre girişini yapın.</p>
<p>3- Bot hesabını takip etmek ve diğerlerinin gönderdiği mention'ları sms olarak almak için:<br />
Turkcell için: TAKIP seffafsecim15 yazıp 2555'e gönderin.<br />
Avea için: TAKIP seffafsecim15 yazıp 2444'e gönderin.<br />
Vodafone için: FOLLOW seffafsecim15 yazıp 2444'e gönderin.</p>
<p>4- Bot hesabı aracılığıyla takip eden kişilere sms yoluyla tweet atmak için:<br />
Turkcell için: @seffafsecim15 [mesajınız] yazıp 2555'e gönderin.<br />
Avea için: @seffafsecim15 [mesajınız] yazıp 2444'e gönderin.<br />
Vodafone için: @seffafsecim15 [mesajınız] 2444'e gönderin.</p></blockquote>
