---
layout: page
status: publish
published: true
title: Nedir
author:
  display_name: admin
  login: admin
  email: bilgi@alternatifbilisim.org
  url: ''
author_login: admin
author_email: bilgi@alternatifbilisim.org
wordpress_id: 2
wordpress_url: http://notdefteri.alternatifbilisim.org/?page_id=2
date: '2011-06-05 21:36:59 +0300'
date_gmt: '2011-06-05 21:36:59 +0300'
categories: []
tags: []
comments: []
---
<p>Notdefteri, Alternatif Bilişim Derneği'nin üye ve takipçilerinin birlikte yazdığı serbest günlüğüdür.</p>
<p>Aklınıza gelen herşeyi yazın!...</p>
